<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.collaborate.CollaborateBatchProduceMaterialMapper">


    <update id="updateProduceInfo">
        UPDATE ${tableName}
        SET
        <trim prefix="produce_info =case" suffix="end">
            <foreach collection="updates" item="update" index="index">
                when primary_key=#{update.dataCode} then #{update.produceInfo}::varchar
            </foreach>
        </trim>
        WHERE
        enterprise_code = #{enterpriseCode}
        AND primary_key IN
        <foreach collection="updates" index="index" item="update" separator="," open="(" close=")">
            #{update.dataCode}
        </foreach>
    </update>

</mapper>