<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.collaborate.produce.CollaborateProduceBatchInfoMapper">

    <insert id="createOneData">

        INSERT INTO ${dynamicTableNameProxy.collaborateProduceBatchInfo}
            (contract_code, enterprise_code, produce_batch_number, enter_staff, primary_key)

        SELECT #{contractCode},
               ${dynamicTableNameProxy.enterpriseCode},
               #{batchNum},
               ${dynamicTableNameProxy.currentCode},
               ${dynamicTableNameProxy.nextPrimaryKey} WHERE NOT EXISTS (
                SELECT 1 FROM ${dynamicTableNameProxy.collaborateProduceBatchInfo}
            WHERE contract_code = #{contractCode} for update
            );

    </insert>

</mapper>