<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.collaborate.CollaborateOutSendMaterialMapper">


    <update id="batchUpdateAfterSend">
        UPDATE ${tableName}
        SET
        <trim prefix="out_send_quantity =case" suffix="end">
            <foreach collection="updaters" item="updater" index="index">
                <if test="updater.sendSumNeedAdd !=null">
                    when primary_key=#{updater.outSendCode} then (out_send_quantity + #{updater.sendSumNeedAdd})
                </if>
            </foreach>
        </trim>
        ,
        <trim prefix="demand_quantity_last_send =case" suffix="end">
            <foreach collection="updaters" item="updater" index="index">
                <if test="updater.demandQuantityLastSend !=null">
                    when primary_key=#{updater.outSendCode} then #{updater.demandQuantityLastSend}
                </if>
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="updaters" index="index" item="updater" separator="," open="(" close=")">
            #{updater.outSendCode}
        </foreach>
    </update>


    <update id="updateReceiveMaterial">
        UPDATE ${tableName}
        SET receive_material = #{updater.receiveMaterial}
        where primary_key = #{updater.outSendCode}
          AND delete_flag = false
          AND enterprise_code = #{updater.enterpriseCode}
    </update>

</mapper>