<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.collaborate.produce.CollaborateProduceRecordMapper">


    <select id="selectPageListByCondition" resultType="com.futurecraftsmen.pms.technical.api.domain.collaborate.produce.CollaborateProduceRecord">

        select *
        from ${dynamicTableNameProxy.collaborateProduceProcessReport} a

        where enterprise_code=${dynamicTableNameProxy.enterpriseCode}
        and delete_flag=false

        and ${dynamicTableNameProxy.getProductPartSearchObj("a.product_code",data.keyWord)}

        <if test="data.procedureName!=null and  data.procedureName!=''">

            and exists (
            select 1 from ${dynamicTableNameProxy.productPartProcedure} b where a.procedure_code=b.primary_key

            and b.enterprise_code=${dynamicTableNameProxy.enterpriseCode}
            and b.delete_flag=false

            and b.product_part_procedure_sign like '%'||#{data.procedureName}||'%'
            )
        </if>


        <if test="data.procedureNo!=null and  data.procedureNo!=''">
            and exists (
            select 1 from ${dynamicTableNameProxy.productPartProcedure} b where a.procedure_code=b.primary_key
            and b."number" like '%'||#{data.procedureNo}||'%'
            and b.enterprise_code=${dynamicTableNameProxy.enterpriseCode}
            and b.delete_flag=false
            )
        </if>

        <if test="data.queryUserCodeList!=null and  data.queryUserCodeList.size() &gt; 0 ">
            and report_user_code in
            <foreach collection="data.queryUserCodeList" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>


        <if test="userIds!=null and  userIds.size() &gt; 0 ">
            and operation_user_code in
            <foreach collection="userIds" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>


        <if test="data.startTime!=null  ">
            and create_time &gt;= #{ data.startTime}
        </if>


        <if test="data.endTime!=null  ">
            and create_time &lt;= #{ data.endTime}
        </if>


        order by create_time desc ,id desc

    </select>


    <select id="selectSumByCondition" resultType="com.futurecraftsmen.pms.technical.api.domain.collaborate.produce.CollaborateProduceRecord">

        select COALESCE(sum(work_num) ,0 ) work_num , COALESCE( sum(total_Work_Time)/60,0 ) total_Work_Time
        from ${dynamicTableNameProxy.collaborateProduceProcessReport} a

        where enterprise_code=${dynamicTableNameProxy.enterpriseCode}
        and delete_flag=false

        <if test="data.procedureName!=null and  data.procedureName!=''">

            and exists (
            select 1 from ${dynamicTableNameProxy.productPartProcedure} b where a.procedure_code=b.primary_key
            and b.product_part_procedure_sign like '%'||#{data.procedureName}||'%'
            and b.enterprise_code=${dynamicTableNameProxy.enterpriseCode}
            and b.delete_flag=false
            )
        </if>


        <if test="data.procedureNo!=null and  data.procedureNo!=''">
            and exists (
            select 1 from ${dynamicTableNameProxy.productPartProcedure} b where a.procedure_code=b.primary_key
            and b."number" like '%'||#{data.procedureNo}||'%'
            and b.enterprise_code=${dynamicTableNameProxy.enterpriseCode}
            and b.delete_flag=false
            )
        </if>

        <if test="data.queryUserCodeList!=null and  data.queryUserCodeList.size() &gt; 0 ">
            and report_user_code in
            <foreach collection="data.queryUserCodeList" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>


        <if test="userIds!=null and  userIds.size() &gt; 0 ">
            and operation_user_code in
            <foreach collection="userIds" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>


        <if test="data.startTime!=null  ">
            and create_time &gt;= #{ data.startTime}
        </if>


        <if test="data.endTime!=null  ">
            and create_time &lt;= #{ data.endTime}
        </if>

    </select>


    <select id="selectProductListByCondition" resultType="com.futurecraftsmen.pms.technical.api.domain.collaborate.produce.CollaborateProduceRecord">

        select primary_key, CONCAT_WS('-', product_part_sign, NULLIF(model, '')) product_Info, primary_key product_Code
        from ${dynamicTableNameProxy.productPart} a
        where exists (select 1
                      from ${dynamicTableNameProxy.productPartRouteRelationshipModel} b
                      where a.primary_key = b.product_part_code

                        and b.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                        and b.delete_flag = false
                        and exists (select 1
                                    from (SELECT ttdmprd.primary_key,
                                                 CAST(TRIM(BOTH ' ' FROM elem) as bigint) AS procedure_data_value -- 清理空格
                                          FROM ${dynamicTableNameProxy.processRouteDataModel} ttdmprd

                                                   CROSS JOIN LATERAL UNNEST(
                                                                             STRING_TO_ARRAY(
		            REPLACE(REPLACE(ttdmprd.procedure_data, '[', ''), ']', ''),  -- 移除方括号
		            ','  -- 按逗号分割
		        )
                                              ) AS elem
                                          where ttdmprd.primary_key =b.process_route_data_code
                                            and ttdmprd.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                                            and ttdmprd.delete_flag = false) c,
                                         ${dynamicTableNameProxy.productPartProcedure} d
                                    where c.procedure_data_value = d.primary_key
                                      and d.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                                      and d.delete_flag = false
                                      and d.nature = 310920141775044609))


          and a.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
          and a.delete_flag = false
          and a.attribute = 1

          and (
            ${dynamicTableNameProxy.getProductPartKeywordCondition("a.primary_key",data.keyWord)}
            )


    </select>

</mapper>