<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.DepartmentDao">
    <resultMap id="departmentModel" type="com.futurecraftsmen.pms.dm.service.po.DepartmentModel">
        <result column="primary_key" property="departmentCode"/>
        <result column="manager" property="manager"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="department_sign" property="departmentName"/>
        <result column="parent_business" property="parentBusiness"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="getDepartNameByCode" resultType="string">
        SELECT department_sign
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key = #{departmentCode}
    </select>

    <select id="getSubordinateDepartments" resultMap="departmentModel">
        SELECT primary_key,
               enterprise_code,
               manager,
               department_sign,
               parent_business,
               enable_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        <if test="parentBusiness != null">
            AND  parent_business = #{parentBusiness}
        </if>
        <if test="parentBusiness == null">
            AND parent_business IS NULL
        </if>
    </select>


    <select id="getDepartmentAllChildren" resultMap="departmentModel">


        WITH RECURSIVE sub_departments AS (
            -- 初始查询，选择根节点
            SELECT *
            FROM ${tableName}
            WHERE
              enterprise_code = #{enterpriseCode}
              and delete_flag = false
              and primary_key = #{parentBusiness}
            UNION ALL
            -- 递归查询，选择子节点
            SELECT d.*
            FROM ${tableName} d
                     INNER JOIN sub_departments sd ON d.parent_business = sd.primary_key
            where d.enterprise_code = #{enterpriseCode}
              and d.delete_flag = false)
        SELECT *
        FROM sub_departments
        WHERE enterprise_code = #{enterpriseCode};


    </select>


    <select id="getDepartmentByCode" resultMap="departmentModel">
        SELECT primary_key,
               enterprise_code,
               manager,
               department_sign,
               parent_business,
               enable_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND primary_key = #{departmentCode}
    </select>


    <select id="getDepartmentsByEnterpriseCode" resultMap="departmentModel">
        SELECT primary_key,
               enterprise_code,
               manager,
               department_sign,
               parent_business,
               enable_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
        ORDER BY create_time
    </select>

    <select id="getDepartmentsByCodeList" resultMap="departmentModel">
        SELECT primary_key,
        enterprise_code,
        manager,
        department_sign,
        parent_business,
        enable_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE  delete_flag = false
        <if test="departmentCodeList != null and !departmentCodeList.isEmpty()">
           AND primary_key IN
            <foreach collection="departmentCodeList" index="index" item="departmentCode" open="(" separator="," close=")">
                #{departmentCode}
            </foreach>
        </if>
        <if test="departmentCodeList == null or departmentCodeList.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>

    <insert id="saveDepartment">
        insert into ${tableName} (primary_key, enterprise_code, manager, department_sign, parent_business)
        values (#{department.departmentCode}, #{department.enterpriseCode}, #{department.manager},
                #{department.departmentName}, #{department.parentBusiness})
    </insert>

    <update id="updateDepartment">
        UPDATE ${tableName}
        SET parent_business = #{department.parentBusiness},
        manager = #{department.manager}
        <if test="department.departmentName != null and department.departmentName != ''">
            , department_sign = #{department.departmentName}
        </if>
        <if test="department.enableFlag != null">
            , enable_flag = #{department.enableFlag}
        </if>
        WHERE delete_flag = false
        AND primary_key = #{department.departmentCode}
    </update>

    <update id="deleteDepartment">
        UPDATE
         ${tableName}
        set delete_flag = true
        WHERE primary_key = #{departmentCode}
    </update>

    <update id="resetManager">
        UPDATE ${tableName}
        SET manager = #{manager}
        WHERE primary_key = #{departmentCode}
          AND enterprise_code = #{enterpriseCode}
    </update>

    <select id="getDepartmentsByDepartmentName" resultMap="departmentModel">
        SELECT primary_key,
        enterprise_code,
        manager,
        department_sign,
        parent_business,
        enable_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        <if test="departmentName!=null and departmentName!=''">
            AND department_sign LIKE '%'|| #{departmentName} ||'%'
        </if>
        order by create_time desc
    </select>

    <select id="getAllParentDepartmentByCode">
        WITH RECURSIVE department AS (SELECT *
                                      FROM ${tableName}
                                      WHERE primary_key = #{departmentCode}
                                      UNION ALL
                                      SELECT a.*
                                      FROM ${tableName} a
                                               INNER JOIN department b ON a.primary_key = b.parent_business)
        SELECT *
        FROM department
        where enterprise_code = #{enterpriseCode}
        AND delete_flag = false
    </select>
</mapper>