<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.DmBaseDQLDao">
    <select id="executeDQL" resultType="java.util.Map">
        ${statement}
    </select>
    <select id="executeCount" resultType="java.lang.Long">
        ${statement}
    </select>
    <select id="executeCountDQL" resultType="java.lang.Long">
        ${statement}
    </select>

    <select id="executeDQLByPage" resultType="java.util.Map">
        ${statement}
    </select>
</mapper>