<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.DmBaseDMLDao">
    <insert id="insertData">
        INSERT INTO ${tableName}
        <foreach collection="fieldValueInfos" index="index" item="fieldValueInfo" open="(" separator="," close=")">
            ${fieldValueInfo.fieldName}
        </foreach>
        VALUES
        <foreach collection="fieldValueInfos" index="index" item="fieldValueInfo" open="(" separator="," close=")">
            ${fieldValueInfo.fieldValue}
        </foreach>
    </insert>
    <insert id="insertBatchData">
        INSERT INTO ${tableName}
        <foreach collection="fieldNameList" index="index" item="fieldName" open="(" separator="," close=")">
            ${fieldName}
        </foreach>
        VALUES
        <foreach collection="fieldValueList" index="index" item="fieldValue" separator=",">
            ${fieldValue}
        </foreach>
    </insert>
    <update id="updateData">
        UPDATE ${tableName}
        <foreach collection="fieldValueInfos" index="index" item="fieldValueInfo" open="SET " separator="," close="">
            ${fieldValueInfo.fieldName} = ${fieldValueInfo.fieldValue}
        </foreach>
        WHERE delete_flag = false
        AND primary_key = ${primaryKey}
    </update>
    <insert id="updateBatchData">
        INSERT INTO ${tableName}
        <foreach collection="fieldNameList" index="index" item="fieldName" open="(" separator="," close=")">
            ${fieldName}
        </foreach>
        VALUES
        <foreach collection="fieldValueList" index="index" item="fieldValue" separator=",">
            ${fieldValue}
        </foreach>
        ON CONFLICT (primary_key) DO UPDATE SET
        <foreach collection="fieldNameList" index="index" item="fieldName" separator=",">
            ${fieldName} = EXCLUDED. ${fieldName}
        </foreach>
    </insert>
</mapper>