<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.EnumDao">
    <insert id="addEnum">
        INSERT INTO dm_base.t_dm_base_enum
        (enum_code, enum_num, enum_name, enum_group_code, enum_group_name, create_user_code, enum_state, remark)
        VALUES (#{enumModule.enumCode}, #{enumModule.enumNum}, #{enumModule.enumName}, #{enumModule.enumGroupCode},
                #{enumModule.enumGroupName}, #{enumModule.createUserCode}, #{enumModule.enumState},
                #{enumModule.remark})
    </insert>
    <update id="updateEnumName">
        UPDATE dm_base.t_dm_base_enum
        SET enum_name = #{enumRpcDTO.enumName}
        WHERE delete_flag = false
          AND enum_code = #{enumRpcDTO.enumCode}
    </update>
    <update id="updateEnumGroupName">
        UPDATE dm_base.t_dm_base_enum
        SET enum_group_name = #{enumRpcDTO.enumGroupName}
        WHERE delete_flag = false
          AND enum_group_code = #{enumRpcDTO.enumGroupCode}
    </update>
    <update id="changeEnumStatus">
        UPDATE dm_base.t_dm_base_enum
        SET enum_state =
                CASE
                    WHEN enum_state = true THEN false
                    WHEN enum_state = false THEN true
                    END
        WHERE delete_flag = false
          AND enum_code = #{enumCode}
    </update>
    <select id="getAllEnum" resultType="com.futurecraftsmen.pms.dm.service.po.base.EnumModule">
        SELECT enum_code,
               enum_num,
               enum_name,
               enum_group_code,
               enum_group_name,
               create_user_code,
               enum_state,
               remark,
               create_time,
               update_time,
               delete_flag
        FROM dm_base.t_dm_base_enum
        WHERE delete_flag = false
    </select>
    <select id="getEnumPaging" resultType="com.futurecraftsmen.pms.dm.service.po.base.EnumModule">
        SELECT
        enum_code,
        enum_num,
        enum_name,
        enum_group_code,
        enum_group_name,
        create_user_code,
        enum_state,
        remark,
        create_time,
        update_time,
        delete_flag
        FROM dm_base.t_dm_base_enum
        WHERE delete_flag = false
        <if test="enumName != null and enumName != ''">
            AND ( enum_group_name LIKE '%'|| #{enumName} ||'%' OR enum_name LIKE '%'|| #{enumName} ||'%' )
        </if>
        ORDER BY enum_group_code
    </select>
    <select id="getEnumByEnumNum" resultType="com.futurecraftsmen.pms.dm.service.po.base.EnumModule">
        SELECT enum_code,
               enum_num,
               enum_name,
               enum_group_code,
               enum_group_name,
               create_user_code,
               enum_state,
               remark,
               create_time,
               update_time,
               delete_flag
        FROM dm_base.t_dm_base_enum
        WHERE delete_flag = false
          AND enum_num = #{enumNum}
    </select>
    <select id="getEnumByEnumGroupCode" resultType="com.futurecraftsmen.pms.dm.service.po.base.EnumModule">
        SELECT enum_code,
               enum_num,
               enum_name,
               enum_group_code,
               enum_group_name,
               create_user_code,
               enum_state,
               remark,
               create_time,
               update_time,
               delete_flag
        FROM dm_base.t_dm_base_enum
        WHERE delete_flag = false
          AND enum_group_code = #{enumGroupCode}
    </select>
    <select id="getEnumsByEnumCodes" resultType="com.futurecraftsmen.pms.dm.service.po.base.EnumModule">
        SELECT enum_code,
        enum_num,
        enum_name,
        enum_group_code,
        enum_group_name,
        create_user_code,
        enum_state,
        remark,
        create_time,
        update_time,
        delete_flag
        FROM dm_base.t_dm_base_enum
        WHERE delete_flag = false
        AND enum_code IN
        <foreach collection="enumCodes" index="index" item="enumCode" open="(" separator="," close=")">
            #{enumCode}
        </foreach>
    </select>
</mapper>