<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.ModuleTableFieldDao">
    <insert id="addModuleTableFieldModel">
        INSERT INTO dm_base.t_dm_base_module_table_field (field_code, field_name_en, field_name_chn, field_type,
                                                          collection_field_flag, collection_length,
                                                          field_size, field_scale, min_value, max_value,
                                                          check_expression, auto_trim, time_type, time_format,
                                                          section_flag, table_code, nullable, default_value, index_type,
                                                          associated_type, associated_table, associated_up_level_table,
                                                          boolean_value, create_user_code, field_status, ectype_flag,
                                                          remark, table_field_type)
        VALUES (#{moduleTableFieldModel.fieldCode}, #{moduleTableFieldModel.fieldNameEn},
                #{moduleTableFieldModel.fieldNameChn}, #{moduleTableFieldModel.fieldType},
                #{moduleTableFieldModel.collectionFieldFlag}, #{moduleTableFieldModel.collectionLength},
                #{moduleTableFieldModel.fieldSize}, #{moduleTableFieldModel.fieldScale},
                #{moduleTableFieldModel.minValue}, #{moduleTableFieldModel.maxValue},
                #{moduleTableFieldModel.checkExpression}, #{moduleTableFieldModel.autoTrim},
                #{moduleTableFieldModel.timeType}, #{moduleTableFieldModel.timeFormat},
                #{moduleTableFieldModel.sectionFlag},
                #{moduleTableFieldModel.tableCode}, #{moduleTableFieldModel.nullable},
                #{moduleTableFieldModel.defaultValue}, #{moduleTableFieldModel.indexType},
                #{moduleTableFieldModel.associatedType}, #{moduleTableFieldModel.associatedTable},
                #{moduleTableFieldModel.associatedUpLevelTable},
                #{moduleTableFieldModel.booleanValue}, #{moduleTableFieldModel.createUserCode},
                #{moduleTableFieldModel.fieldStatus},
                #{moduleTableFieldModel.ectypeFlag}, #{moduleTableFieldModel.remark},
                #{moduleTableFieldModel.tableFieldType})
    </insert>
    <delete id="deleteModuleTableField">
        DELETE
        FROM dm_base.t_dm_base_module_table_field
        WHERE field_code = #{tableFieldCode}
          AND field_status IN (0, 10)
          AND delete_flag = false
    </delete>
    <update id="startModuleTableFields">
        UPDATE dm_base.t_dm_base_module_table_field
        SET field_status = 20
        WHERE field_code IN
            <foreach collection="fieldCodes" index="index" item="fieldCode" open="(" separator="," close=")">
                #{fieldCode}
            </foreach>
        AND delete_flag = false
    </update>
    <update id="startModuleTableField">
        UPDATE dm_base.t_dm_base_module_table_field
        SET field_status = #{fieldStatus}
        WHERE field_code = #{fieldCode}
            AND delete_flag = false
    </update>
    <update id="updateModuleTableFieldModel">
        UPDATE dm_base.t_dm_base_module_table_field
        SET
            <if test="moduleTableFieldModel.fieldNameChn != null">
                field_name_chn = #{moduleTableFieldModel.fieldNameChn},
            </if>
            remark = #{moduleTableFieldModel.remark}
            <if test="updateAll">
                , field_name_en = #{moduleTableFieldModel.fieldNameEn},
                field_type = #{moduleTableFieldModel.fieldType},
                collection_field_flag = #{moduleTableFieldModel.collectionFieldFlag},
                collection_length = #{moduleTableFieldModel.collectionLength},
                field_size = #{moduleTableFieldModel.fieldSize},
                field_scale = #{moduleTableFieldModel.fieldScale},
                min_value = #{moduleTableFieldModel.minValue},
                max_value = #{moduleTableFieldModel.maxValue},
                check_expression = #{moduleTableFieldModel.checkExpression},
                auto_trim = #{moduleTableFieldModel.autoTrim},
                time_type = #{moduleTableFieldModel.timeType},
                time_format = #{moduleTableFieldModel.timeFormat},
                section_flag = #{moduleTableFieldModel.sectionFlag},
                nullable = #{moduleTableFieldModel.nullable},
                default_value = #{moduleTableFieldModel.defaultValue},
                index_type = #{moduleTableFieldModel.indexType},
                associated_type = #{moduleTableFieldModel.associatedType},
                associated_table = #{moduleTableFieldModel.associatedTable},
                associated_up_level_table = #{moduleTableFieldModel.associatedUpLevelTable},
                boolean_value = #{moduleTableFieldModel.booleanValue},
                table_field_type = #{moduleTableFieldModel.tableFieldType}
            </if>
        WHERE field_code = #{moduleTableFieldModel.fieldCode}
        AND delete_flag = false
    </update>
    <update id="updateTableFieldStatus">
        UPDATE dm_base.t_dm_base_module_table_field
        SET field_status = #{fieldStatus}
        WHERE field_code = #{fieldCode}
            AND delete_flag = false
    </update>
    <update id="softDeleteModuleTableField">
        UPDATE dm_base.t_dm_base_module_table_field
        SET delete_flag = true
        WHERE field_code = #{fieldCode}
          AND delete_flag = false
          AND field_status = 10
    </update>
    <update id="softDeleteModuleTableFields">
        UPDATE dm_base.t_dm_base_module_table_field
        SET delete_flag = true
        WHERE field_code IN
            <foreach collection="fieldCodes" item="fieldCode" open="(" separator="," close=")">
                #{fieldCode}
            </foreach>
            AND delete_flag = false
            AND field_status = 10
    </update>
    <delete id="deleteModuleTableFields">
        DELETE
        FROM dm_base.t_dm_base_module_table_field
        WHERE field_code IN
        <foreach collection="tableFieldCodes" index="index" item="tableFieldCode" open="(" separator="," close=")">
            #{tableFieldCode}
        </foreach>
        AND field_status IN (0, 10)
        AND delete_flag = false
    </delete>
    <select id="getModuleTableFieldModelByTableCode" resultMap="moduleTableFieldModel">
        SELECT t.field_code,
               t.field_name_en,
               t.field_name_chn,
               t.field_type,
               t.collection_field_flag,
               t.collection_length,
               t.field_size,
               t.field_scale,
               t.min_value,
               t.max_value,
               t.check_expression::VARCHAR[],
               t.auto_trim,
               t.time_type,
               t.time_format,
               t.section_flag,
               t.table_code,
               t.nullable,
               t.default_value,
               t.index_type,
               t.associated_type,
               t.associated_table,
               t.associated_up_level_table,
               t.boolean_value,
               t.create_user_code,
               t.field_status,
               t.ectype_flag,
               t.remark,
               t.base_flag,
               t.create_time,
               t.update_time,
               t.delete_flag,
               t.table_field_type
        FROM dm_base.t_dm_base_module_table_field t
        WHERE t.delete_flag = false
          AND t.table_code = #{tableCode}
          AND t.ectype_flag = false
    </select>
    <resultMap id="moduleTableFieldModel" type="com.futurecraftsmen.pms.dm.service.po.base.ModuleTableFieldModel">
        <result column="field_code" property="fieldCode"/>
        <result column="field_name_en" property="fieldNameEn"/>
        <result column="field_name_chn" property="fieldNameChn"/>
        <result column="field_type" property="fieldType"/>
        <result column="collection_field_flag" property="collectionFieldFlag"/>
        <result column="collection_length" property="collectionLength"/>
        <result column="field_size" property="fieldSize"/>
        <result column="field_scale" property="fieldScale"/>
        <result column="min_value" property="minValue"/>
        <result column="max_value" property="maxValue"/>
        <result column="check_expression" property="checkExpression" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="auto_trim" property="autoTrim"/>
        <result column="time_type" property="timeType"/>
        <result column="time_format" property="timeFormat"/>
        <result column="section_flag" property="sectionFlag"/>
        <result column="table_code" property="tableCode"/>
        <result column="nullable" property="nullable"/>
        <result column="default_value" property="defaultValue"/>
        <result column="index_type" property="indexType"/>
        <result column="associated_type" property="associatedType"/>
        <result column="associated_table" property="associatedTable"/>
        <result column="associated_up_level_table" property="associatedUpLevelTable"/>
        <result column="boolean_value" property="booleanValue"/>
        <result column="create_user_code" property="createUserCode"/>
        <result column="field_status" property="fieldStatus"/>
        <result column="ectype_flag" property="ectypeFlag"/>
        <result column="remark" property="remark"/>
        <result column="base_flag" property="baseFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="table_field_type" property="tableFieldType"/>
    </resultMap>
    <select id="getAllModuleTableFieldModel" resultMap="moduleTableFieldModel">
        SELECT t.field_code,
               t.field_name_en,
               t.field_name_chn,
               t.field_type,
               t.collection_field_flag,
               t.collection_length,
               t.field_size,
               t.field_scale,
               t.min_value,
               t.max_value,
               t.check_expression::VARCHAR[],
               t.auto_trim,
               t.time_type,
               t.time_format,
               t.section_flag,
               t.table_code,
               t.nullable,
               t.default_value,
               t.index_type,
               t.associated_type,
               t.associated_table,
               t.associated_up_level_table,
               t.boolean_value,
               t.create_user_code,
               t.field_status,
               t.ectype_flag,
               t.remark,
               t.base_flag,
               t.create_time,
               t.update_time,
               t.delete_flag,
               t.table_field_type
        FROM dm_base.t_dm_base_module_table_field t
        WHERE t.delete_flag = false
    </select>
    <select id="getModuleTableFieldsModelByCodes"
            resultMap="moduleTableFieldModel">
        SELECT t.field_code,
            t.field_name_en,
            t.field_name_chn,
            t.field_type,
            t.collection_field_flag,
            t.collection_length,
            t.field_size,
            t.field_scale,
            t.min_value,
            t.max_value,
            t.check_expression::VARCHAR[],
            t.auto_trim,
            t.time_type,
            t.time_format,
            t.section_flag,
            t.table_code,
            t.nullable,
            t.default_value,
            t.index_type,
            t.associated_type,
            t.associated_table,
            t.associated_up_level_table,
            t.boolean_value,
            t.create_user_code,
            t.field_status,
            t.ectype_flag,
            t.remark,
            t.base_flag,
            t.create_time,
            t.update_time,
            t.delete_flag,
            t.table_field_type
        FROM dm_base.t_dm_base_module_table_field t
        WHERE t.delete_flag = false
        AND t.field_code IN
            <foreach collection="tableFieldCodes" index="index" item="tableFieldCode" open="(" separator="," close=")">
                #{tableFieldCode}
            </foreach>
    </select>
</mapper>