<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.ModuleTableDao">
    <insert id="addModuleTableModel">
        INSERT INTO dm_base.t_dm_base_module_table (table_code, table_name_en, table_name_chn, module_code, sign,
                                                    unique_sign, global_table_flag,
                                                    owned_enterprise_code, sharding_strategy, hot_data,
                                                    dynamic_sorting, create_user_code,
                                                    table_status, remark, daily_data_volume, business_flag)
        VALUES (#{moduleTableModel.tableCode}, #{moduleTableModel.tableNameEn},
                #{moduleTableModel.tableNameChn}, #{moduleTableModel.moduleCode},
                #{moduleTableModel.sign}, #{moduleTableModel.uniqueSign}, #{moduleTableModel.globalTableFlag},
                #{moduleTableModel.ownedEnterpriseCode}, #{moduleTableModel.shardingStrategy},
                #{moduleTableModel.hotData}, #{moduleTableModel.dynamicSorting},
                #{moduleTableModel.createUserCode}, #{moduleTableModel.tableStatus},
                #{moduleTableModel.remark}, #{moduleTableModel.dailyDataVolume}, #{moduleTableModel.businessFlag})
    </insert>
    <update id="globalize">
        UPDATE dm_base.t_dm_base_module_table
        SET global_table_flag = true
        WHERE delete_flag = false
          AND global_table_flag = false
          AND table_code = #{tableCode}
    </update>
    <select id="getModuleTableModelPaging" resultType="com.futurecraftsmen.pms.dm.service.po.base.ModuleTableModel">
        SELECT t1.id, t1.table_code, t1.table_name_en, t1.table_name_chn, t1.module_code, t1.sign, t1.unique_sign,
        t1.global_table_flag, t1.owned_enterprise_code, t1.sharding_strategy,
        t1.hot_data, t1.dynamic_sorting, t1.create_user_code, t1.table_status, t1.remark, t.base_flag,
        t1.update_time, t1.create_time, t1.delete_flag, t1.daily_data_volume, t1.business_flag
        FROM dm_base.t_dm_base_module_table t1
        WHERE t1.delete_flag = false
        <if test="moduleTableFilterConditionDTO.publicPrivateFlag != null">
            <choose>
                <when test="moduleTableFilterConditionDTO.publicPrivateFlag == false">
                    AND t1.owned_enterprise_code is null
                </when>
                <otherwise>
                    <choose>
                        <when test="moduleTableFilterConditionDTO.ownedEnterpriseCode == null">
                            AND t1.owned_enterprise_code is not null
                        </when>
                        <otherwise>
                            AND t1.owned_enterprise_code = #{moduleTableFilterConditionDTO.ownedEnterpriseCode}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </if>
        <if test="moduleTableFilterConditionDTO.tableStatus != null">
            AND t1.table_status = #{moduleTableFilterConditionDTO.tableStatus}
        </if>
        <if test="moduleTableFilterConditionDTO.moduleCode != null">
            AND t1.module_code = #{moduleTableFilterConditionDTO.moduleCode}
        </if>
        <if test="moduleTableFilterConditionDTO.tableName != null and moduleTableFilterConditionDTO.tableName != ''">
            AND (t1.table_name_en LIKE '%' || #{moduleTableFilterConditionDTO.tableName} || '%' OR t1.table_name_chn
            LIKE
            '%'|| #{moduleTableFilterConditionDTO.tableName} || '%')
        </if>
        <if test="moduleTableFilterConditionDTO.hotData != null">
            AND t1.hot_data = #{moduleTableFilterConditionDTO.hotDataValue}
        </if>
        <if test="moduleTableFilterConditionDTO.dynamicSorting != null">
            AND t1.dynamic_sorting = #{moduleTableFilterConditionDTO.dynamicSorting}
        </if>
        <if test="moduleTableFilterConditionDTO.businessFlag != null">
            AND t1.business_flag = #{moduleTableFilterConditionDTO.businessFlag}
        </if>
    </select>
    <select id="countModuleTableByTableCode" resultType="int">
        SELECT count(*)
        FROM dm_base.t_dm_base_module_table t
        WHERE t.table_code = #{tableCode}
          AND t.delete_flag = false
    </select>
    <select id="countModuleTableByTableNameAndModuleCode" resultType="int">
        SELECT count(*)
        FROM dm_base.t_dm_base_module_table t
        WHERE t.table_name_en = #{tableNameEn}
          AND t.module_code = #{moduleCode}
          AND t.delete_flag = false
    </select>
    <select id="getModuleTableModelByCodes" resultType="com.futurecraftsmen.pms.dm.service.po.base.ModuleTableModel">
        SELECT t1.id,
        t1.table_code,
        t1.table_name_en,
        t1.table_name_chn,
        t1.module_code,
        t1.sign,
        t1.unique_sign,
        t1.global_table_flag,
        t1.owned_enterprise_code,
        t1.sharding_strategy,
        t1.hot_data,
        t1.dynamic_sorting,
        t1.create_user_code,
        t1.table_status,
        t1.daily_data_volume,
        t1.remark,
        t1.base_flag,
        t1.business_flag,
        t1.update_time,
        t1.create_time,
        t1.delete_flag
        FROM dm_base.t_dm_base_module_table t1
        WHERE t1.delete_flag = false
        AND t1.table_code IN
        <foreach collection="tableCodes" index="index" item="tableCode" open="(" separator="," close=")">
            #{tableCode}
        </foreach>
    </select>
    <select id="getModuleTableModelByTableAndModel"
            resultType="com.futurecraftsmen.pms.dm.service.po.base.ModuleTableModel">
        SELECT t1.id,
               t1.table_code,
               t1.table_name_en,
               t1.table_name_chn,
               t1.module_code,
               t1.sign,
               t1.unique_sign,
               t1.global_table_flag,
               t1.owned_enterprise_code,
               t1.sharding_strategy,
               t1.hot_data,
               t1.dynamic_sorting,
               t1.create_user_code,
               t1.table_status,
               t1.daily_data_volume,
               t1.remark,
               t1.business_flag,
               t1.update_time,
               t1.create_time,
               t1.delete_flag
        FROM dm_base.t_dm_base_module_table t1
        WHERE t1.delete_flag = false
          AND t1.table_code = #{tableCode}
          AND t1.module_code = #{moduleCode}
    </select>
    <select id="getAllModuleTable" resultType="com.futurecraftsmen.pms.dm.service.po.base.ModuleTableModel">
        SELECT t1.id,
               t1.table_code,
               t1.table_name_en,
               t1.table_name_chn,
               t1.module_code,
               t1.sign,
               t1.unique_sign,
               t1.global_table_flag,
               t1.owned_enterprise_code,
               t1.sharding_strategy,
               t1.hot_data,
               t1.dynamic_sorting,
               t1.create_user_code,
               t1.table_status,
               t1.daily_data_volume,
               t1.remark,
               t1.base_flag,
               t1.business_flag,
               t1.update_time,
               t1.create_time,
               t1.delete_flag
        FROM dm_base.t_dm_base_module_table t1
        WHERE t1.delete_flag = false
    </select>
    <update id="updateModuleTableModel">
        UPDATE dm_base.t_dm_base_module_table
        SET
        hot_data = #{moduleTableUpdatePDTO.hotData},
        dynamic_sorting = #{moduleTableUpdatePDTO.dynamicSorting},
        remark = #{moduleTableUpdatePDTO.remark}
        <if test="moduleTableUpdatePDTO.tableNameChn != null and moduleTableUpdatePDTO.tableNameChn != ''">
            , table_name_chn = #{moduleTableUpdatePDTO.tableNameChn}
        </if>
        <if test="updateAll">
            , table_name_en = #{moduleTableUpdatePDTO.tableNameEn},
            sign = #{moduleTableUpdatePDTO.sign},
            unique_sign = #{moduleTableUpdatePDTO.uniqueSign},
            daily_data_volume = #{moduleTableUpdatePDTO.dailyDataVolume},
            owned_enterprise_code = #{moduleTableUpdatePDTO.ownedEnterpriseCode},
            business_flag = #{moduleTableUpdatePDTO.businessFlag}
        </if>
        WHERE table_code = #{moduleTableUpdatePDTO.tableCode} AND delete_flag = false
    </update>
    <delete id="deleteModuleTable">
        DELETE
        FROM dm_base.t_dm_base_module_table
        WHERE table_code = #{tableCode}
          AND table_status = 0
          AND delete_flag = false
    </delete>
    <update id="startModuleTable">
        <!--        UPDATE dm_base.t_dm_base_module_table-->
        <!--        SET over_started = true,-->
        <!--        table_status =-->
        <!--        CASE-->
        <!--        WHEN table_status = true THEN false-->
        <!--        WHEN table_status = false THEN true-->
        <!--        END-->
        <!--        WHERE table_code = #{tableCode}-->
        <!--        <if test="tableStatus != null">-->
        <!--            AND table_status = #{tableStatus}-->
        <!--        </if>-->
        <!--        AND delete_flag = false-->

        UPDATE dm_base.t_dm_base_module_table
        SET table_status = #{tableStatus}
        WHERE table_code = #{tableCode}
        AND delete_flag = false
    </update>
    <update id="softDeleteModuleTable">
        UPDATE dm_base.t_dm_base_module_table
        SET delete_flag = true
        WHERE table_code = #{tableCode}
          AND delete_flag = false
    </update>
</mapper>