<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.NewProductDao">
    <resultMap id="productModel" type="com.futurecraftsmen.pms.dm.service.po.base.NewProductModel">
        <result column="primary_key" property="productCode"/>
        <result column="unity_no" property="unityNo"/>
        <result column="model" property="model"/>
        <result column="product_part_sign" property="productName"/>
        <result column="product_part_type" property="productSeriesCode"/>
        <result column="sync_status" property="synchronizeStatus"/>
        <result column="state" property="state"/>
        <result column="update_count" property="changeCount"/>
        <result column="remark" property="remark"/>
        <result column="pcs" property="pcs"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="optionalEnabledProductMaterials"
            resultMap="productModel">
        SELECT
        primary_key,
        unity_no,
        model,
        product_part_sign,
        enterprise_code,
        remark,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        <if test="keyword!=null and keyword!=''">
            AND (model LIKE '%'|| #{keyword} ||'%'
            OR product_part_sign LIKE '%'|| #{keyword} ||'%'
            OR unity_no LIKE '%'|| #{keyword} ||'%')
        </if>
        AND state = 't'
        AND delete_flag = 'f'
        AND attribute IN
        <foreach collection="productMaterialAttributes" index="index" item="attribute" open="(" separator="," close=")">
            #{attribute}
        </foreach>
        <if test="usingTypeCodes !=null and !usingTypeCodes.isEmpty()">
            AND product_part_type IN
            <foreach collection="usingTypeCodes" index="index" item="usingTypeCode" open="(" separator="," close=")">
                #{usingTypeCode}
            </foreach>
        </if>
        ORDER BY id DESC
    </select>

    <select id="queryEnabledProductByModelOrUnityNos"
            resultMap="productModel">
        SELECT
        primary_key,
        unity_no,
        model,
        product_part_sign,
        enterprise_code,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND state = 't'
        AND attribute IN
        <foreach collection="productMaterialAttributes" index="index" item="attribute" open="(" separator="," close=")">
            #{attribute}
        </foreach>
        <if test="modelOrUnityNo == false and  keywords!=null and !keywords.isEmpty()">
            AND (
                model IN
            <foreach collection="keywords" index="index" item="model" open="(" separator="," close=")">
                #{model}
            </foreach>
            OR
            product_part_sign IN
            <foreach collection="keywords" index="index" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
                )
        </if>
        <if test="modelOrUnityNo == true and  keywords!=null and !keywords.isEmpty()">
            AND (
                unity_no IN
            <foreach collection="keywords" index="index" item="unityNo" open="(" separator="," close=")">
                #{unityNo}
            </foreach>
            OR
            product_part_sign IN
            <foreach collection="keywords" index="index" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>
                )
        </if>
        <if test="modelOrUnityNo == null and  keywords!=null and !keywords.isEmpty()">
            AND (
            model IN
            <foreach collection="keywords" index="index" item="model" open="(" separator="," close=")">
                #{model}
            </foreach>
            OR
            unity_no IN
            <foreach collection="keywords" index="index" item="unityNo" open="(" separator="," close=")">
                #{unityNo}
            </foreach>
            OR
            product_part_sign IN
            <foreach collection="keywords" index="index" item="name" open="(" separator="," close=")">
                #{name}
            </foreach>

            )
        </if>
        <if test="keywords ==null or keywords.isEmpty()">
            AND model IS NULL
        </if>
    </select>



    <select id="queryEnabledProductByCode"
            resultMap="productModel">
        SELECT
        primary_key,
        unity_no,
        model,
        product_part_sign,
        enterprise_code,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND state = 't'
        AND attribute IN
        <foreach collection="productMaterialAttributes" index="index" item="attribute" open="(" separator="," close=")">
            #{attribute}
        </foreach>
        <if test="productCode !=null">
            AND primary_key = #{productCode}
        </if>
    </select>

    <select id="queryEnabledProductByCodes"
            resultMap="productModel">
        SELECT
        primary_key,
        unity_no,
        model,
        product_part_sign,
        enterprise_code,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND state = 't'
        AND attribute IN
        <foreach collection="productMaterialAttributes" index="index" item="attribute" open="(" separator="," close=")">
            #{attribute}
        </foreach>
        <if test="productCodes!=null and !productCodes.isEmpty()">
            AND primary_key IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        <if test="productCodes ==null or productCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>



    <select id="queryProductByCodes"
            resultMap="productModel">
        SELECT
        primary_key,
        unity_no,
        model,
        product_part_sign,
        enterprise_code,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND attribute IN
        <foreach collection="productMaterialAttributes" index="index" item="attribute" open="(" separator="," close=")">
            #{attribute}
        </foreach>
        <if test="productCodes!=null and !productCodes.isEmpty()">
            AND primary_key IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        <if test="productCodes ==null or productCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>


    <select id="getCountForSync" resultType="int">
        SELECT count(*)
        FROM ${tableName}
        WHERE delete_flag = false
          AND attribute = 1
          AND enterprise_code = #{enterpriseCode}
          AND sync_status &lt;&gt; 1
    </select>

    <select id="getSyncProductPaging" resultMap="productModel">
        SELECT primary_key,
        unity_no,
        enterprise_code,
        model,
        product_part_sign,
        sync_status,
        state,
        product_part_type,
        update_count,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND attribute = 1
        AND sync_status &lt;&gt; 1
        <if test="condition.productName != null and condition.productName != ''">
            AND product_part_sign LIKE '%'|| #{condition.productName} ||'%'
        </if>
        <if test="condition.productTypeCode != null">
            AND product_part_type = #{condition.productTypeCode}
        </if>
        <if test="codeList != null and codeList.size() > 0">
            AND primary_key IN
            <foreach collection="codeList" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        ORDER BY sync_status DESC,id DESC
    </select>

    <update id="lockSyncData">
        UPDATE ${tableName}
        SET sync_status = 4
        WHERE primary_key IN (SELECT primary_key
        FROM ${tableName}
        WHERE delete_flag = false
        AND attribute = 1
        AND enterprise_code = #{enterpriseCode}
        AND sync_status &lt;&gt; 1
        <if test="condition.productName != null and condition.productName != ''">
            AND product_part_sign LIKE '%'|| #{condition.productName} ||'%'
        </if>
        <if test="condition.productTypeCode != null">
            AND product_part_type = #{condition.productTypeCode}
        </if>
        <if test="codeList != null and codeList.size() > 0">
            AND primary_key IN
            <foreach collection="codeList" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        ORDER BY sync_status DESC,id DESC
        limit #{count});
    </update>

    <select id="getLockedSyncData" resultMap="productModel">
        SELECT primary_key,
               unity_no,
               enterprise_code,
               model,
               product_part_sign,
               sync_status,
               state,
               product_part_type,
               update_count,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND sync_status = 4
          AND attribute = 1
    </select>

    <update id="releaseLockedData">
        UPDATE ${tableName}
        SET sync_status = 1,
            update_count = 0
        WHERE enterprise_code = #{enterpriseCode}
          AND sync_status = 4
          AND attribute = 1
    </update>


</mapper>