<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.NewProductSeriesDao">

    <resultMap id="productSeriesModel" type="com.futurecraftsmen.pms.dm.service.po.base.ProductSeriesModel">
        <result column="primary_key" property="productSeriesCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="product_part_type_sign" property="productSeriesName"/>
        <result column="superior" property="superior"/>
        <result column="sync_status" property="synchronizeStatus"/>
        <result column="creator" property="creator"/>
        <result column="update_count" property="changeCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="findWithChildren" resultType="java.lang.Long">
        WITH RECURSIVE PartType AS (SELECT primary_key
                                    FROM ${tableName}
                                    WHERE primary_key = #{partTypeCode} AND delete_flag = false
                                    UNION ALL
                                    SELECT t.primary_key
                                    FROM ${tableName} t
                                             INNER JOIN PartType pt ON t.superior = pt.primary_key
                                    WHERE  t.delete_flag = false)
        SELECT *
        FROM PartType
    </select>

    <update id="lockSyncData">
        UPDATE ${tableName}
        SET sync_status = 4
        WHERE primary_key IN (SELECT primary_key
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND sync_status &lt;&gt; 1
        AND attribute = 1
        AND primary_key IN
        <foreach collection="codes" index="index" item="productSeriesCode" open="(" separator="," close=")">
            #{productSeriesCode}
        </foreach>);
    </update>

    <select id="getLockedSyncData" resultMap="productSeriesModel">
        SELECT primary_key,
               enterprise_code,
               product_part_type_sign,
               superior,
               sync_status,
               update_count,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND sync_status = 4
          AND attribute = 1
    </select>

    <update id="releaseLockedData">
        UPDATE ${tableName}
        SET sync_status = 1,
            update_count = 0
        WHERE enterprise_code = #{enterpriseCode}
          AND sync_status = 4
          AND attribute = 1
    </update>

    <select id="getAllData" resultMap="productSeriesModel">
        SELECT primary_key,
               enterprise_code,
               product_part_type_sign,
               superior,
               sync_status,
               update_count,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = false
          AND attribute = 1
    </select>
</mapper>