<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.OperationLogDao">
    <resultMap id="operationLogModel" type="com.futurecraftsmen.pms.service.model.OperationLogModel">
        <result column="primary_key" property="logCode"/>
        <result column="type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="result" property="result"/>
        <result column="business_type" property="businessType"/>
        <result column="remark" property="remark"/>
        <result column="source" property="source"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <insert id="addOperationLog">
        INSERT INTO ${tableName} (primary_key, type, user_id, enterprise_code, result, business_type, remark, source)
        VALUES (#{operationLogModel.logCode}, #{operationLogModel.type}, #{operationLogModel.userId},
                #{operationLogModel.enterpriseCode}, #{operationLogModel.result}, #{operationLogModel.businessType},
                #{operationLogModel.remark}, #{operationLogModel.source})
    </insert>

    <delete id="cleanExpiredLogs">
        DELETE
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND create_time &lt;= now() - INTERVAL '#{timeFrame} month'
    </delete>

    <select id="getOperationLogPaging" resultMap="operationLogModel">
        SELECT
        primary_key,
        type,
        user_id,
        enterprise_code,
        result,
        business_type,
        remark,
        source,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="businessType != null">
            AND business_type = #{businessType}
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>