<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.PostDao">
    <resultMap id="postModel" type="com.futurecraftsmen.pms.dm.service.po.PostModel">
        <result column="primary_key" property="postCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="post_sign" property="postName"/>
        <result column="department_code" property="departmentCode"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="manager_flag" property="managerFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="getPostsByDepartmentCode" resultMap="postModel">
        SELECT primary_key,
        enterprise_code,
        post_sign,
        department_code,
        enable_flag,
        manager_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        <if test="departmentCode != null">
            AND department_code = #{departmentCode}
        </if>
        order by create_time
    </select>

    <select id="getPostsByDepartmentCodes" resultMap="postModel">
        SELECT primary_key,
        enterprise_code,
        post_sign,
        department_code,
        enable_flag,
        manager_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        AND department_code IN
        <foreach collection="departmentCodes" index="index" item="departmentCode" open="(" separator="," close=")">
            #{departmentCode}
        </foreach>
    </select>

    <select id="getManagerPostByDepartmentCode" resultMap="postModel">
        SELECT primary_key,
               enterprise_code,
               post_sign,
               department_code,
               enable_flag,
               manager_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE department_code = #{departmentCode}
          AND enterprise_code = #{enterpriseCode}
          AND delete_flag = false
          AND manager_flag = true
    </select>

    <select id="getManagerPostByDepartmentCodes" resultMap="postModel">
        SELECT primary_key,
               enterprise_code,
               post_sign,
               department_code,
               enable_flag,
               manager_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        AND manager_flag = true
        and department_code IN
        <foreach collection="departmentCodes" index="index" item="departmentCode" open="(" separator="," close=")">
            #{departmentCode}
        </foreach>
    </select>


    <select id="getPostsByPostName" resultMap="postModel">
        SELECT primary_key,
        enterprise_code,
        post_sign,
        department_code,
        enable_flag,
        manager_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        <if test="postName!=null and postName!=''">
            AND post_sign LIKE '%'|| #{postName} ||'%'
        </if>
        order by create_time desc
    </select>

    <select id="getPostsByPostCodeList" resultMap="postModel">
        SELECT primary_key,
        enterprise_code,
        post_sign,
        department_code,
        enable_flag,
        manager_flag,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE primary_key IN
        <foreach collection="postCodeList" index="index" item="postCode" open="(" separator="," close=")">
            #{postCode}
        </foreach>
        AND delete_flag = false
        order by create_time desc
    </select>

    <insert id="savePost">
        insert into ${tableName} (primary_key, enterprise_code, post_sign, department_code, manager_flag)
        values (#{post.postCode}, #{post.enterpriseCode}, #{post.postName}, #{post.departmentCode}, #{post.managerFlag})
    </insert>

    <update id="updatePost">
        UPDATE ${tableName}
        SET delete_flag = false
        <if test="post.postName != null and post.postName != ''">
            , post_sign = #{post.postName}
        </if>
        <if test="post.departmentCode != null">
            , department_code = #{post.departmentCode}
        </if>
        WHERE delete_flag = false
        AND primary_key = #{post.postCode}
    </update>

    <select id="getPostsByPostCode" resultMap="postModel">
        SELECT primary_key,
               enterprise_code,
               post_sign,
               department_code,
               enable_flag,
               manager_flag,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE primary_key = #{postCode}
        AND    delete_flag = false
    </select>

    <update id="deletePost">
        update
        ${tableName}
        set delete_flag = true
        WHERE primary_key = #{postCode}
          AND    delete_flag = false
    </update>

    <update id="deletePostByDepartmentCode">
        update
        ${tableName}
        set delete_flag = true
        WHERE department_code = #{departmentCode}
          AND    delete_flag = false
          AND enterprise_code = #{enterpriseCode}
    </update>

    <select id="getDepartmentCodeByPostCodeList">
        SELECT distinct department_code
        FROM ${tableName}
        WHERE primary_key IN
        <foreach collection="postCodeList" index="index" item="postCode" open="(" separator="," close=")">
            #{postCode}
        </foreach>
        AND enterprise_code = #{enterpriseCode}
        AND delete_flag = false
    </select>
</mapper>