<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.ProductDao">
    <resultMap id="productModel" type="com.futurecraftsmen.pms.dm.service.po.base.ProductModel">
        <result column="primary_key" property="productCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="product_sign" property="model"/>
        <result column="product_name" property="productName"/>
        <result column="price" property="price"/>
        <result column="series" property="productSeriesCode"/>
        <result column="synchronize_status" property="synchronizeStatus"/>
        <result column="state" property="state"/>
        <result column="modified_times" property="changeCount"/>
        <result column="remark" property="remark"/>
        <result column="pcs" property="pcs"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="optionalEnabledProducts"
            resultMap="productModel">
        SELECT
        primary_key,
        product_sign,
        product_name,
        enterprise_code,
        price,
        remark,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        <if test="keyword!=null and keyword!=''">
            AND (product_sign LIKE '%'|| #{keyword} ||'%'
            OR product_name LIKE '%'|| #{keyword} ||'%')
        </if>
        AND state = 't'
        AND delete_flag = 'f'
        ORDER BY create_time DESC
    </select>

    <select id="queryEnabledProductByModels"
            resultMap="productModel">
        SELECT
        primary_key,
        product_sign,
        product_name,
        enterprise_code,
        price,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND state = 't'
        <if test="models!=null and !models.isEmpty()">
            AND product_sign IN
            <foreach collection="models" index="index" item="model" open="(" separator="," close=")">
                #{model}
            </foreach>
        </if>
        <if test="models ==null or models.isEmpty()">
            AND product_sign IS NULL
        </if>
    </select>

    <select id="queryEnabledProductByCode"
            resultMap="productModel">
        SELECT
        primary_key ,
        product_sign,
        product_name,
        enterprise_code,
        price,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND state = 't'
        <if test="productCode !=null">
            AND primary_key = #{productCode}
        </if>
    </select>
    <select id="queryProductByCodes"
            resultMap="productModel">
        SELECT
        primary_key,
        product_sign,
        product_name,
        enterprise_code,
        price,
        remark,
        pcs,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'

        <if test="productCodes!=null and !productCodes.isEmpty()">
            AND primary_key IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        <if test="productCodes ==null or productCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>

    <select id="getSyncProductPaging" resultMap="productModel">
        SELECT primary_key,
        enterprise_code,
        product_sign,
        product_name,
        synchronize_status,
        state,
        series,
        modified_times,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND synchronize_status &lt;&gt; 1
        <if test="condition.productName != null and condition.productName != ''">
            AND product_name LIKE '%'|| #{condition.productName} ||'%'
        </if>
        <if test="condition.productTypeCode != null">
            AND series = #{condition.productTypeCode}
        </if>
        <if test="codeList != null and codeList.size() > 0">
            AND primary_key IN
            <foreach collection="codeList" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        ORDER BY synchronize_status DESC,id DESC
    </select>

    <update id="lockSyncData">
        UPDATE ${tableName}
        SET synchronize_status = 4
        WHERE primary_key IN (SELECT primary_key
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND synchronize_status &lt;&gt; 1
        <if test="condition.productName != null and condition.productName != ''">
            AND product_name LIKE '%'|| #{condition.productName} ||'%'
        </if>
        <if test="condition.productTypeCode != null">
            AND series = #{condition.productTypeCode}
        </if>
        <if test="codeList != null and codeList.size() > 0">
            AND primary_key IN
            <foreach collection="codeList" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        ORDER BY synchronize_status DESC,id DESC
        limit #{count});
    </update>

    <select id="getLockedSyncData" resultMap="productModel">
        SELECT primary_key,
               enterprise_code,
               product_sign,
               product_name,
               synchronize_status,
               state,
               series,
               modified_times,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND synchronize_status = 4
    </select>

    <update id="releaseLockedData">
        UPDATE ${tableName}
        SET synchronize_status = 1,
            modified_times = 0
        WHERE enterprise_code = #{enterpriseCode}
          AND synchronize_status = 4
    </update>

    <select id="getCountForSync" resultType="int">
        SELECT count(*)
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND synchronize_status &lt;&gt; 1
    </select>
</mapper>