<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.ResumeDao">
    <resultMap id="resumeModel" type="com.futurecraftsmen.pms.dm.service.po.site.ResumeModel">
        <result column="primary_key" property="resumeCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="name" property="leaveUserName"/>
        <result column="phone" property="contactTel"/>
        <result column="id_number" property="idNumber"/>
        <result column="marital_status" property="isMarried"/>
        <result column="sex" property="gender"/>
        <result column="education" property="highestDegree"/>
        <result column="job_name" property="jobName"/>
        <result column="job_detail" property="jobDetail"/>
        <result column="resume_files" property="resumeFiles" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="remark" property="remark"/>
        <result column="is_read" property="isRead"/>
        <result column="is_employed" property="isEmployed"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>
    <insert id="saveResume">
        insert into ${tableName} (primary_key, enterprise_code, name, phone, id_number, marital_status,
                                  sex, education, job_name, job_detail, resume_files, remark, is_read, is_employed)
        values (#{resume.resumeCode}, #{resume.enterpriseCode}, #{resume.leaveUserName},
                #{resume.contactTel}, #{resume.idNumber}, #{resume.isMarried}, #{resume.gender},
                #{resume.highestDegree}, #{resume.jobName}, #{resume.jobDetail}, #{resume.resumeFiles},
                #{resume.remark}, false, false)
    </insert>

    <select id="getResumeByCodes" resultMap="resumeModel">
        SELECT primary_key,
        enterprise_code,
        name,
        phone,
        id_number,
        marital_status,
        sex,
        education,
        job_name,
        job_detail,
        resume_files,
        remark,
        is_read,
        is_employed
        FROM ${tableName}
        WHERE primary_key IN
        <foreach collection="resumeCodes" index="index" item="resumeCode" open="(" separator="," close=")">
            #{resumeCode}
        </foreach>
        AND delete_flag = false
        AND enterprise_code = #{enterpriseCode}
    </select>

    <delete id="batchDeleteResume">
        delete
        from ${tableName}
        where primary_key IN
        <foreach collection="resumeCodes" index="index" item="resumeCode" open="("
                 separator="," close=")">
            #{resumeCode}
        </foreach>
    </delete>
</mapper>