<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.SalaryDao">
    <resultMap id="salaryModel" type="com.futurecraftsmen.pms.dm.service.po.SalaryModel">
        <result column="primary_key" property="salaryCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="salary" property="salary"/>
        <result column="net_payroll" property="netPayroll"/>
        <result column="base_pay" property="basePay"/>
        <result column="post_performance" property="postPerformance"/>
        <result column="overtime_wage" property="overtimeWage"/>
        <result column="seniority_pay" property="seniorityPay"/>
        <result column="employee_benefits" property="employeeBenefits"/>
        <result column="all_the_work" property="allTheWork"/>
        <result column="other_deductions" property="otherDeductions"/>
        <result column="social_security" property="socialSecurity"/>
        <result column="reserved_funds" property="reservedFunds"/>
        <result column="month" property="month"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="getStaffSalaryByCodePaging" resultMap="salaryModel">
        SELECT primary_key,
               enterprise_code,
               salary,
               net_payroll,
               base_pay,
               post_performance,
               overtime_wage,
               seniority_pay,
               employee_benefits,
               all_the_work,
               other_deductions,
               social_security,
               reserved_funds,
               month,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND salary_belong = #{staffCode}
        ORDER BY create_time DESC
    </select>
</mapper>