<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.SealDao">
    <resultMap id="sealModel" type="com.futurecraftsmen.pms.dm.service.po.SealModel">
        <result column="primary_key" property="sealCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="son_enterprise_code" property="sonEnterpriseCode"/>
        <result column="seal_name" property="sealName"/>
        <result column="record_number" property="recordNumber"/>
        <result column="seal_type" property="sealType"/>
        <result column="template_type" property="templateType"/>
        <result column="center_star" property="centerStar"/>
        <result column="data" property="data"/>
        <result column="seal_id" property="sealId"/>
        <result column="height" property="height"/>
        <result column="width" property="width"/>
        <result column="post_code_list" property="postCodeList" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="staff_code_list" property="staffCodeList" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="seal_belong" property="sealBelong"/>
    </resultMap>

    <select id="getSealByCode" resultMap="sealModel">
        SELECT primary_key,
        enterprise_code,
        son_enterprise_code,
        seal_name,
        record_number,
        seal_type,
        template_type,
        center_star,
        data,
        seal_id,
        height,
        width,
        post_code_list,
        staff_code_list,
        enable_flag,
        create_time,
        update_time,
        delete_flag,
        seal_belong
        FROM ${tableName}
        WHERE delete_flag = false
        AND primary_key = #{sealCode}
        <if test="enableFlag != null">
            AND enable_flag = #{enableFlag}
        </if>
    </select>

    <select id="getSealsByEnterpriseCode" resultMap="sealModel">
        SELECT primary_key,
        enterprise_code,
        son_enterprise_code,
        seal_name,
        record_number,
        seal_type,
        template_type,
        center_star,
        data,
        seal_id,
        height,
        width,
        post_code_list,
        staff_code_list,
        enable_flag,
        create_time,
        update_time,
        delete_flag,
        seal_belong
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        <if test="sonEnterpriseCode != null">
            AND son_enterprise_code = #{sonEnterpriseCode}
        </if>
        <if test="sonEnterpriseCode == null">
            AND son_enterprise_code IS NULL
        </if>
        order by create_time desc
    </select>

    <insert id="saveSeal">
        insert into ${tableName} (primary_key, enterprise_code, seal_name, record_number, seal_type, template_type,
                                  center_star, data, seal_id, height, width, enable_flag, son_enterprise_code,
                                  seal_belong)
        values (#{seal.sealCode}, #{seal.enterpriseCode}, #{seal.sealName}, #{seal.recordNumber}, #{seal.sealType},
                #{seal.templateType}, #{seal.centerStar}, #{seal.data}, #{seal.sealId}, #{seal.height},
                #{seal.width}, true, #{seal.sonEnterpriseCode}, #{seal.sealBelong})
    </insert>

    <update id="updateSeal">
        UPDATE ${tableName}
        SET delete_flag = false
        <if test="seal.sealName != null and seal.sealName != ''">
            , seal_name = #{seal.sealName}
        </if>
        <if test="seal.recordNumber != null and seal.recordNumber != ''">
            , record_number = #{seal.recordNumber}
        </if>
        <if test="seal.templateType != null">
            , template_type = #{seal.templateType}
        </if>
        <if test="seal.sealBelong != null">
            , seal_belong = #{seal.sealBelong}
        </if>
        <if test="seal.data != null and seal.data != ''">
            , data = #{seal.data}
        </if>
        <if test="seal.sealId != null and seal.sealId != ''">
            , seal_id = #{seal.sealId}
        </if>
        <if test="seal.height != null">
            , height = #{seal.height}
        </if>
        <if test="seal.width != null">
            , width = #{seal.width}
        </if>
        <if test="seal.centerStar != null">
            , center_star = #{seal.centerStar}
        </if>
        WHERE delete_flag = false
        AND primary_key = #{seal.sealCode}
        AND enable_flag = true
    </update>

    <update id="changeSealStatus">
        UPDATE ${tableName}
        SET enable_flag =
                CASE
                    WHEN enable_flag = true THEN false
                    WHEN enable_flag = false THEN true
                    END
        WHERE delete_flag = false
          AND primary_key = #{sealCode}
    </update>

    <update id="sealAuthorization">
        UPDATE ${tableName}
        SET post_code_list  = #{postCodes},
            staff_code_list = #{staffCodes}
        WHERE delete_flag = false
          AND primary_key = #{sealCode}
          AND enable_flag = true
    </update>

    <update id="revokeSealAuthorization">
        UPDATE ${tableName}
        SET post_code_list = (SELECT array_agg(elem)
                              FROM unnest(post_code_list) AS elem(value)
                              WHERE elem.value &lt;&gt; #{postCode})
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
    </update>
</mapper>