<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.StaffRecordDao">
    <resultMap id="staffRecordModel" type="com.futurecraftsmen.pms.dm.service.po.base.StaffRecordModel">
        <result column="id" property="id"/>
        <result column="primary_key" property="primaryKey"/>
        <result column="technical_level" property="technicalLevel"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="sex" property="sex"/>
        <result column="degree" property="degree"/>
        <result column="major" property="major"/>
        <result column="age" property="age"/>
        <result column="speciality" property="speciality"/>
        <result column="contract_allotted" property="contractAllotted"/>
        <result column="address" property="address"/>
        <result column="unity_no" property="unityNo"/>
        <result column="remark" property="remark"/>
        <result column="birth_date" property="birthDate"/>
        <result column="contract_date" property="contractDate"/>
        <result column="photo" property="photo"/>
        <result column="graduate_school" property="graduateSchool"/>
        <result column="id_card" property="idCard"/>
        <result column="staff_code" property="staffCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <sql id="columns">
        id,primary_key,technical_level,enterprise_code,sex,degree,major,age,speciality,contract_allotted,
         address,unity_no,remark,birth_date,contract_date,photo,graduate_school,id_card,staff_code,create_time,update_time,delete_flag

    </sql>

    <select id="countByUnityNo" resultType="int">
        SELECT COUNT(id)
        FROM ${staffRecordTableName}
        WHERE enterprise_code = #{enterpriseCode}
          <if test="excludeStaffCode !=null">
              AND staff_code != #{excludeStaffCode}
          </if>
          AND unity_no = #{unityNo}
          AND delete_flag = 'f'
    </select>


    <select id="queryByStaffCode" resultMap="staffRecordModel">
        SELECT
        <include refid="columns"/>
        from
        ${staffRecordTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND staff_code = #{staffCode}
    </select>



    <select id="queryByStaffCodes" resultMap="staffRecordModel">
        SELECT
        <include refid="columns"/>
        from
        ${staffRecordTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND staff_code IN
        <foreach collection="staffCodes" index="index" item="staffCode" open="(" separator="," close=")">
            #{staffCode}
        </foreach>
    </select>


    <insert id="initCreateStaffRecord">
        INSERT INTO  ${staffRecordTableName}
        (primary_key,staff_code,unity_no,enterprise_code)
        VALUES
        <foreach collection="models" item="model" separator=",">
            (#{model.primaryKey},  #{model.staffCode}, #{model.unityNo},#{model.enterpriseCode})
        </foreach>
    </insert>


    <update id="updateUnityNo">
        UPDATE ${staffRecordTableName}
        SET unity_no = #{unityNo}
        WHERE enterprise_code = #{enterpriseCode}
          AND staff_code = #{staffCode}
          AND delete_flag = false
    </update>


    <select id="queryUnityNos" resultType="java.lang.String">
        SELECT DISTINCT unity_no
        FROM ${staffRecordTableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND unity_no IN
        <foreach collection="unityNos" index="index" item="unityNo" open="(" separator="," close=")">
            #{unityNo}
        </foreach>
        AND delete_flag = 'f'
    </select>

</mapper>