<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.TimelineDao">
    <resultMap id="timelineModel" type="com.futurecraftsmen.pms.dm.service.po.TimelineModel">
        <result column="primary_key" property="timelineCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="node_type" property="nodeType"/>
        <result column="node_status" property="nodeStatus"/>
        <result column="belong_code" property="belongCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <insert id="batchAddTimeline">
        insert into ${tableName} (primary_key, enterprise_code, node_type, node_status, belong_code)
        values
        <foreach collection="modelList" index="index" item="model" separator=",">
            (#{model.timelineCode}, #{model.enterpriseCode}, #{model.nodeType}, #{model.nodeStatus},
            #{model.belongCode})
        </foreach>
    </insert>

    <update id="batchUpdateTimeline">
        <foreach collection="modelList" item="model" separator=";">
            UPDATE ${tableName}
            SET node_status = #{model.nodeStatus}
            WHERE primary_key = #{model.timelineCode}
        </foreach>
    </update>

    <select id="getTimelineByBelongCode" resultMap="timelineModel">
        SELECT primary_key,
               enterprise_code,
               node_type,
               node_status,
               belong_code,
               create_time,
               update_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND belong_code = #{belongCode}
    </select>

    <select id="getTimelineByBelongCodeList" resultMap="timelineModel">
        SELECT primary_key,
        enterprise_code,
        node_type,
        node_status,
        belong_code,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND belong_code IN
        <foreach collection="belongCodeList" index="index" item="belongCode" open="(" separator="," close=")">
            #{belongCode}
        </foreach>
    </select>

    <update id="updateNodeDeletFalg">
        update ${tableName}
        set delete_flag = true
        where enterprise_code = #{enterpriseCode}
        and belong_code = #{belongCode}
        and node_type in
        <foreach collection="nodeTypes" index="index" item="nodeType" open="(" separator="," close=")">
            #{nodeType}
        </foreach>
    </update>
</mapper>