<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.UserJobConfigDao">

    <!-- 定义resultMap -->
    <resultMap id="userJobConfigModel" type="com.futurecraftsmen.pms.dm.service.po.base.UserJobConfigModel">
        <id column="primary_key" property="primaryKeyValue"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="page_code" property="pageCode"/>
        <result column="right_sort_code" property="rightSortCode"/>
        <result column="show_text" property="showText"/>
        <result column="bind_table_code" property="bindTableCode"/>
        <result column="bind_field_code" property="bindFieldCode"/>

        <result column="bean_name" property="beanName"/>
        <result column="allow_list" property="allowList"/>

        <result column="push_text" property="pushText"/>

    </resultMap>

    <!-- 插入操作 -->
    <insert id="insert" parameterType="com.futurecraftsmen.pms.dm.service.po.base.UserJobConfigModel">
        INSERT INTO dm_base.t_dm_base_module_job_config (primary_key,
                                                         enterprise_code,
                                                         page_code,
                                                         right_sort_code,
                                                         show_text,
                                                         bind_table_code,
                                                         bind_field_code)
        VALUES (#{primaryKeyValue},
                #{enterpriseCode},
                #{pageCode},
                #{rightSortCode},
                #{showText},
                #{bindTableCode},
                #{bindFieldCode})
    </insert>


    <select id="getConfigByPageCodeAndRightSoftCode" resultMap="userJobConfigModel">
        select *
        from dm_base.t_dm_base_module_job_config
        where page_code = #{pageCode}
    </select>


    <select id="getConfigByIds" resultMap="userJobConfigModel">
        select * from dm_base.t_dm_base_module_job_config
        where primary_key in
        <foreach collection="ids" item="o" open="(" close=")" separator=",">
            ${o}
        </foreach>
    </select>

    <select id="getConfigAll" resultMap="userJobConfigModel">
        select *
        from dm_base.t_dm_base_module_job_config
    </select>


</mapper>