<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.futurecraftsmen.pms.dm.service.dao.UserJobDao">

    <!-- Result Map for JobModel -->
    <resultMap id="jobModelResultMap" type="com.futurecraftsmen.pms.dm.service.po.base.UserJobModel">
        <result column="primary_key" property="primaryKeyValue"/>
        <result column="task_description" property="taskDescription"/>
        <result column="run_mode" property="runMode"/>
        <result column="status" property="status"/>
        <result column="select_table" property="selectTable"/>
        <result column="select_field" property="selectField"/>
        <result column="select_page_code" property="selectPageCode"/>
        <result column="select_right_sort_code" property="selectRightSortCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="days" property="days"/>
        <result column="remark" property="remark"/>
        <result column="post_list" property="postList"/>
        <result column="config_id" property="configId"/>
        <result column="headline" property="headline"/>
        <result column="unit" property="unit"/>
        <result column="department_code" property="departmentCode"/>
        <result column="job_execute_time" property="jobExecuteTime"/>
        <result column="assigned_date" property="assignedDate"/>
        <result column="early_unit" property="earlyUnit"/>

        <result column="date_model" property="dateModel"/>

        <result column="assigned_time_scope" property="assignedTimeScope"/>
    </resultMap>

    <!-- Insert a new job -->
    <insert id="insertJob">
        INSERT INTO ${tableName} (task_description,
                                  run_mode,
                                  status,
                                  select_table,
                                  select_field,
                                  select_page_code,
                                  select_right_sort_code,
                                  enterprise_code, primary_key, days, post_list, config_id, unit,
                                  department_code, update_time, create_time, job_execute_time, assigned_date,
                                  early_unit, headline
            , assigned_time_scope, date_model)
        VALUES (#{data.taskDescription},
                #{data.runMode},
                #{data.status},
                #{data.selectTable},
                #{data.selectField},
                #{data.selectPageCode},
                #{data.selectRightSortCode}, #{data.enterpriseCode}, #{data.primaryKeyValue}, #{data.days},
                #{data.postList},
                #{data.configId}, #{data.unit}, #{data.departmentCode}, now(), now(), #{data.jobExecuteTime},
                #{data.assignedDate}, #{data.earlyUnit}, #{data.headline}, #{data.assignedTimeScope}, #{data.dateModel})
    </insert>


    <!-- Update a job by primary key -->
    <update id="updateJobByPrimaryKey">
        UPDATE ${tableName}
        SET task_description       = #{data.taskDescription},
            run_mode               = #{data.runMode},
            status                 = #{data.status},
            select_table           = #{data.selectTable},
            select_field           = #{data.selectField},
            select_page_code       = #{data.selectPageCode},
            days                   = #{data.days},
            post_list              = #{data.postList},
            unit                   = #{data.unit},
            config_id              = #{data.configId},
            department_code        =#{data.departmentCode},
            update_time            =now(),
            assigned_time_scope    =#{data.assignedTimeScope},
            job_execute_time       =#{data.jobExecuteTime},
            assigned_date          =#{data.assignedDate},
            early_unit             =#{data.earlyUnit},
            date_model             =#{data.dateModel},
            headline               =#{data.headline},
            select_right_sort_code = #{data.selectRightSortCode}
        WHERE primary_key = #{data.primaryKeyValue}
    </update>

    <update id="switchStatus">
        UPDATE ${tableName}
        SET status     = #{status},
            update_time=now()
        WHERE primary_key = #{id}
    </update>




    <delete id="configDelete">
        delete
        from ${tableName}
        WHERE primary_key = #{id}
    </delete>


    <!-- Select a job by primary key -->
    <select id="selectJobByPrimaryKey" resultMap="jobModelResultMap">
        SELECT *
        FROM ${tableName}
        WHERE primary_key = #{primaryKeyValue}
          AND enterprise_code = #{enterpriseCode}
    </select>


    <select id="selectByPageCodeAndTableCode" resultMap="jobModelResultMap">
        SELECT *
        FROM ${tableName}
        WHERE select_page_code = #{selectPageCode}
          AND department_code = #{departmentCode}
          AND enterprise_code = #{enterpriseCode}
    </select>

    <!-- Select all jobs -->
    <select id="selectAllJobs" resultMap="jobModelResultMap">
        SELECT *
        FROM ${tableName}
    </select>


    <select id="selectJobByPrimaryKeys" resultMap="jobModelResultMap">
        SELECT *
        FROM ${tableName} where primary_key in
        <foreach collection="ids" index="index"   item="o" open="(" close=")"   separator=",">
            ${o}
        </foreach>
        and enterprise_code = #{enterpriseCode}
    </select>


    <select id="selectJobByConfigIdAndDepartmentCode" resultMap="jobModelResultMap">
        SELECT *
        FROM ${tableName}
        where config_id = #{configId}
          and department_code = #{departmentCode}
          and enterprise_code = #{enterpriseCode}
    </select>

    <select id="selectDynamicSql" resultType="map">
        ${sql}
    </select>

</mapper>