<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProductPartCompMapper">
    <sql id="parentChildColumns">
        c.parent_code                  as parent_code,
        c.parent_attribute             as parent_attribute,
        p.product_part_sign            as parent_name,
        p.model                        as parent_model,
        p.product_part_type            as parent_type,
        p.pcs                          as parent_pcs,
        COALESCE(c.parent_number, 1) as parent_number,
        p.unity_no                     as parent_unity_no,
        c.child_code                   as child_code,
        c.child_attribute              as child_attribute,
        ch.product_part_sign           as child_name,
        ch.model                       as child_model,
        ch.product_part_type           as child_type,
        ch.pcs                         as child_pcs,
        ch.remark                      as child_remark,
        COALESCE(c.child_number, 1)  as child_number,
        ch.unity_no                    as child_unity_no
    </sql>

    <sql id="resultColumns">
        parent_code,
        parent_attribute,
        parent_name,
        parent_model,
        parent_type,
        parent_pcs,
        parent_number,
        parent_unity_no,
        child_code,
        child_attribute,
        child_name,
        child_model,
        child_type,
        child_pcs,
        child_number,
        child_unity_no,
        child_remark,
        tree_depth,
        tree_path
    </sql>

    <!-- 正向查询：根据 parent_code 查找所有下级 child_code -->
    <select id="getProductConsistList"
            resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.comp.ProductPartConsistModel">
        WITH RECURSIVE product_tree AS (
        SELECT
        <include refid="parentChildColumns"/>,
                                                 1                           AS tree_depth,
        CAST(c.parent_code AS TEXT) AS tree_path,
        ARRAY[c.parent_code, c.child_code] as visited_nodes
    FROM ${productPartCompTableName} c
             LEFT JOIN ${productPartTableName} p ON c.parent_code = p.primary_key
             LEFT JOIN ${productPartTableName} ch ON c.child_code = ch.primary_key
    WHERE c.enterprise_code = #{enterpriseCode}
      AND c.parent_code = #{data.parentCode}
      AND c.delete_flag = false
      AND c.child_code IS NOT NULL
    UNION ALL
    SELECT
        <include refid="parentChildColumns"/>,
        pt.tree_depth + 1 AS tree_depth,
        pt.tree_path || '->' || c.child_code AS tree_path,
        pt.visited_nodes || c.child_code
    FROM ${productPartCompTableName} c
             INNER JOIN product_tree pt ON c.parent_code = pt.child_code
        AND c.child_code  <![CDATA[ <> ]]> ALL(pt.visited_nodes)
             LEFT JOIN ${productPartTableName} p ON c.parent_code = p.primary_key
             LEFT JOIN ${productPartTableName} ch ON c.child_code = ch.primary_key
        WHERE
        pt.visited_nodes[array_length(pt.visited_nodes,1)] IS NOT NULL
        AND c.enterprise_code = #{enterpriseCode}
      AND c.delete_flag = false
        AND pt.tree_depth <![CDATA[ <= ]]> COALESCE(#{data.treeDepth}, 5)
      AND c.child_code IS NOT NULL
    )
        SELECT
        <include refid="resultColumns"/>
        FROM product_tree
        WHERE true
        <if test="data.treeDepth != null">
            AND tree_depth <![CDATA[ <= ]]> #{data.treeDepth}
        </if>
        <if test="data.treeDepth == null">
            AND tree_depth <![CDATA[ <= ]]> 5
        </if>
        AND child_code IS NOT NULL;
    </select>

    <!-- 反向查询：根据 child_code 查找所有上级 parent_code -->
    <select id="getPartConsistList" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.comp.ProductPartConsistModel">
        WITH RECURSIVE product_tree AS (
        SELECT <include refid="parentChildColumns"/>,
                                                        1                           AS tree_depth,
        CAST(c.parent_code AS TEXT) AS tree_path,
        ARRAY[c.child_code,
        c.parent_code] as visited_nodes
    FROM ${productPartCompTableName} c
        INNER JOIN ${productPartTableName} p
        ON c.parent_code = p.primary_key
        INNER JOIN ${productPartTableName} ch
        ON c.child_code = ch.primary_key
    WHERE c.enterprise_code = #{enterpriseCode}
        <if test="data.childCode != null">
            AND c.child_code = #{data.childCode} -- 输入的child_code
        </if>
        <if test="data.childCodeList != null and data.childCodeList.size > 0">
            AND c.child_code IN
            <foreach collection="data.childCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND c.delete_flag = false
        AND c.parent_code IS NOT NULL
        UNION ALL
        SELECT<include refid="parentChildColumns"/>,
        pt.tree_depth + 1 AS tree_depth,
        pt.tree_path || '->' || c.parent_code AS tree_path,
        pt.visited_nodes || c.parent_code
    FROM ${productPartCompTableName} c
        INNER JOIN product_tree pt
        ON c.child_code = pt.parent_code
        AND c.parent_code <![CDATA[ <> ]]> ALL (pt.visited_nodes)
        LEFT JOIN ${productPartTableName} p
        ON c.parent_code = p.primary_key
        LEFT JOIN ${productPartTableName} ch
        ON c.child_code = ch.primary_key
    WHERE c.enterprise_code = #{enterpriseCode}
        <if test="data.childCode != null">
            AND c.child_code = #{data.childCode} -- 输入的child_code
        </if>
        <if test="data.childCodeList != null and data.childCodeList.size > 0">
            AND c.child_code IN
            <foreach collection="data.childCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND c.delete_flag = false
        AND pt.tree_depth <![CDATA[ <= ]]> COALESCE(#{data.treeDepth}, 5)
        AND c.parent_code IS NOT NULL)
        SELECT
        <include refid="resultColumns"/>
        FROM product_tree
        WHERE true
        <if test="data.treeDepth != null">
            AND tree_depth <![CDATA[ <= ]]> #{data.treeDepth}
        </if>
        <if test="data.treeDepth == null">
            AND tree_depth <![CDATA[ <= ]]> 5
        </if>
        AND child_code IS NOT NULL;
    </select>

    <!-- ProductPartCompMapper.xml -->
    <select id="selectMaxDepth" resultType="java.lang.Integer">
        SELECT MAX(depth)
        FROM ${productPartCompTableName}  <!-- 动态表名由 MyBatis 拦截器处理 -->
        WHERE child_code = #{parentCode}
        AND enterprise_code = #{enterpriseCode}
        AND delete_flag = false
    </select>

    <!-- 批量查询产品零件组成关系数量 -->
    <select id="batchSelectCount"
            resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.comp.ProductPartConsistQueryResult">
        SELECT
        CONCAT(parent_code, '_', parent_attribute) AS key,
        COUNT(*) AS count
        FROM ${tableName}
        WHERE
        enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        AND (
        <foreach collection="queryConditions" item="condition" separator="OR">
            parent_code = #{condition.parentCode}
            AND parent_attribute = #{condition.parentAttribute}
        </foreach>
        )
        GROUP BY parent_code, parent_attribute, enterprise_code
    </select>
</mapper>