<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProduceSubDistributeMapper">
    <resultMap id="getAllByProduceMainIdResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.produce.ProduceSubDistributeModel">
        <result column="receive_user_code_list" property="receiveUserCodeList" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <!-- 插入新记录 -->
    <insert id="batchAdd">
        INSERT INTO ${tableName} (
        primary_key,
        main_id,
        enterprise_code,
        distribute_num,
        distribute_user_code,
        receive_user_code_list)

        VALUES
        <foreach collection="produceSublist" item="data" separator=",">
            (
            #{data.primaryKeyValue},
            #{data.mainId},
            #{data.enterpriseCode},
            #{data.distributeNum},
            #{data.distributeUserCode},
            #{data.receiveUserCodeList,jdbcType=ARRAY, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
            )
        </foreach>
    </insert>


    <select id="getAllByProduceMainId" resultMap="getAllByProduceMainIdResultMap">
        select *
        from ${tableName}
        where main_id = #{mainId}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
        order by create_time desc
    </select>
    <delete id="deleteByMainIdAndReceiveUserCode">
        delete from ${tableName}
        where main_id = #{mainId}
        and enterprise_code = #{enterpriseCode}
        and receive_user_code in
        <foreach collection="receiveUserCodeList" index="index" item="receiveUserCode" open="(" separator="," close=")">
            #{receiveUserCode}
        </foreach>

    </delete>


</mapper>