<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProduceSubReportMapper">

    <resultMap id="ProduceSubReportModelResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.produce.ProduceSubReportModel">
        <id property="primaryKeyValue" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="reportDate" column="report_date"/>
        <result property="finishNum" column="finish_num"/>
        <result property="scrapNum" column="scrap_num"/>
        <result property="creator" column="creator"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="finishedProduct" column="finished_product"/>
        <result property="mainId" column="main_id"/>
        <result property="discardNum" column="scrap_num"/>
        <result property="receiveUserCodeList" column="receive_user_code_list" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <insert id="report">
        insert into ${tableName}
        (primary_key,
         report_date,
         enterprise_code,
         creator,
         remark,
         status,
         finished_product,
         finish_num,
         scrap_num,
         main_id,
         receive_num,
         receive_user_code_list,
         inspect_type,
         procedure_code_list)
        values (#{data.primaryKeyValue},
                #{data.reportDate},
                #{data.enterpriseCode},
                #{data.creator},
                #{data.remark},
                #{data.status},
                #{data.finishedProduct},
                #{data.finishNum},
                #{data.scrapNum},
                #{data.mainId},
                #{data.receiveNum},
                #{data.receiveUserCodeList},
                #{data.inspectType},
                #{data.procedureCodeList})
    </insert>


    <select id="queryListByMainIds" resultMap="ProduceSubReportModelResultMap">
        select *
        from ${tableName}
        where
        enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        and main_id in
        <foreach collection="mainIds" item="mainId" open="(" close=")" separator=",">
            #{mainId}
        </foreach>

        order by create_time desc ,id desc
    </select>

    <select id="queryListByMainIdsAndOperator" resultMap="ProduceSubReportModelResultMap">
        select *
        from ${tableName}
        where
        enterprise_code = #{enterpriseCode}
        AND delete_flag = false
        and main_id in
        <foreach collection="mainIds" item="mainId" open="(" close=")" separator=",">
            #{mainId}
        </foreach>
        and creator = #{operator}

        order by create_time desc ,id desc
    </select>


    <select id="allFinished">
        WITH a as (SELECT COUNT(1) as num
                   FROM (SELECT creator, main_id, status
                         FROM ${reportTableName}
                         where main_id = #{mainId}
                           and status = 50
                           and delete_flag = FALSE
                         GROUP BY creator, main_id, status)),
             b as (SELECT COUNT(1) as num
                   FROM (select "operator", main_id, status
                         from ${dispatchTableName}
                         WHERE main_id = #{mainId}
                           and delete_flag = FALSE
                           and status not in (10, 20)
                         GROUP BY "operator", main_id, status))
        select a.num = b.num
        from a,
             b
    </select>

    <update id="updateStatusByMainIdAndUserCode">
        update ${reportTableName}
        set status = #{status}
        where enterprise_code = #{enterpriseCode}
          and main_id = #{mainId}
          and creator = #{userCode}
          and delete_flag = false
    </update>

</mapper>