<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IPurchaseMainMapper">

    <!-- 定义 resultMap -->
    <resultMap id="purchaseMainResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.purchase.PurchaseMainModel">
        <id property="primaryKeyValue" column="primary_key"/>
        <result property="taskSourceName" column="task_source_name"/>
        <result property="taskSourceCode" column="task_source_code"/>
        <result property="batchNum" column="batch_num"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="productOrPart" column="product_or_part"/>
        <result property="ProductOrPartName" column="product_or_part_name"/>
        <result property="ProductOrPartModel" column="product_or_part_model"/>
        <result property="needNum" column="need_num"/>
        <result property="pcsName" column="pcs_name"/>
        <result property="pcsCode" column="pcs_code"/>
        <result property="leader" column="leader"/>
        <result property="purchaseType" column="purchase_type"/>
        <result property="enterpriseCode" column="enterprise_code"/>
    </resultMap>


    <!-- 插入新记录 -->
    <insert id="saveDataList">
        INSERT INTO ${tableName} (task_source_name, task_source_code, batch_num, delivery_date,
        product_or_part, product_or_part_name, product_or_part_model, need_num, pcs_name,
        pcs_code, leader, purchase_type, primary_key, enterprise_code,business_belong)
        VALUES

        <foreach collection="list" item="data" separator=",">
            (
            #{data.taskSourceName}, #{data.taskSourceCode}, #{data.batchNum}, #{data.deliveryDate},
            #{data.productOrPart}, #{data.productOrPartName}, #{data.productOrPartModel}, #{data.needNum},
            #{data.pcsName}, #{data.pcsCode}, #{data.leader}, #{data.purchaseType}, #{data.primaryKeyValue},
            #{data.enterpriseCode},#{data.businessBelong}
            )
        </foreach>
    </insert>

</mapper>