<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.LackMaterialTaskDao">
    <resultMap id="LackMaterialTaskModel"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.LackMaterialTaskModel">
        <result column="primary_key" property="lackMaterialTaskCode"/>
        <result column="source" property="source"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="contract_code" property="contractCode"/>
        <result column="buss_number" property="bussNumber"/>
        <result column="product_delivery" property="productDelivery"/>
        <result column="material" property="material"/>
        <result column="procedure" property="procedure"/>
        <result column="product_belong" property="productBelong"/>
        <result column="name" property="name"/>
        <result column="model" property="model"/>
        <result column="demand" property="demand"/>
        <result column="state" property="state"/>
        <result column="purchaser" property="purchaser"/>
        <result column="out_parts" property="outParts" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="remark" property="remark"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="batch_global_code" property="batchGlobalCode"/>
        <result column="enquired" property="enquired"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>


    <!--所有的字段-->
    <sql id="columns">
        primary_key, source,batch_number,contract_code,buss_number,product_delivery,
    material,procedure,product_belong,name ,model,demand,state,purchaser,out_parts::BIGINT[], remark,business_belong,batch_global_code,enquired,
    enterprise_code,delete_flag
    </sql>

    <insert id="addTask">
        INSERT INTO ${tableName} (primary_key, source,batch_number,contract_code,buss_number,product_delivery,
                                  material,procedure,product_belong,name ,model,demand,state,purchaser,out_parts,remark,business_belong,batch_global_code,
                                  enterprise_code,enquired,delete_flag,contract_Code,buss_Number)
        VALUES
            ( #{model.lackMaterialTaskCode}, #{model.source}, #{model.batchNumber},
              #{model.contractCode},#{model.bussNumber},
              #{model.productDelivery}, #{model.material},#{model.procedure},
              #{model.productBelong},#{model.name},#{model.model},
              #{model.demand},#{model.state},#{model.purchaser},
              #{model.outParts,jdbcType=ARRAY},#{model.remark},#{model.businessBelong}, #{model.batchGlobalCode},
              #{model.enterpriseCode},#{model.enquired},'f',#{model.contractCode},#{model.bussNumber})
    </insert>


    <insert id="addOutPartTasks">
        INSERT INTO ${tableName} (primary_key, material,out_sum,send_sum,schedule_outbound,
        remark,self_apply,business_belong,enterprise_code,delete_flag)
        VALUES
        <foreach collection="outPartDetailModels" index="index" item="model" separator=",">
            ( #{model.outPartDetailCode}, #{model.material}, #{model.outSum},
            #{model.sendSum}, #{model.scheduleOutbound},#{model.remark},
            #{model.selfApply},#{model.businessBelong},
            #{model.enterpriseCode}, 'f')
        </foreach>
    </insert>

    <insert id="addTasks">
        INSERT INTO ${tableName} (primary_key, source,batch_number,contract_code,buss_number,product_delivery,
        material,procedure,product_belong,name ,model,demand,state,purchaser,out_parts,remark,business_belong,batch_global_code,
        enterprise_code,enquired,delete_flag,dispatcher)
        VALUES
        <foreach collection="lackMaterialTaskModels" index="index" item="model" separator=",">
            ( #{model.lackMaterialTaskCode}, #{model.source}, #{model.batchNumber},
            #{model.contractCode},#{model.bussNumber},
            #{model.productDelivery}, #{model.material},#{model.procedure},
            #{model.productBelong}, #{model.name},#{model.model},
            #{model.demand},#{model.state},#{model.purchaser},
            #{model.outParts,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.remark},#{model.businessBelong}, #{model.batchGlobalCode},
            #{model.enterpriseCode}, #{model.enquired},'f', #{model.dispatcher})
        </foreach>
    </insert>



</mapper>