<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IInboundOrderDetailMapper">
    <resultMap id="inOrderDetailsModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.InboundOrderDetailModel">
        <result property="inboundOrderDetailCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="inboundOrder" column="inbound_order"/>
        <result property="stock" column="stock"/>
        <result property="productOrPart" column="product_or_part"/>
        <result property="storedNum" column="stored_num"/>
        <result property="inStorageStaff" column="in_storage_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="applyDetails" column="apply_details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="awaitQualified" column="await_qualified"/>
        <result property="awaitUnQualified" column="await_un_qualified"/>
        <result property="inQualified" column="in_qualified"/>
        <result property="inUnQualified" column="in_un_qualified"/>
        <result property="state" column="state"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="isLockStock" column="is_lock_stock"/>
        <result property="batchNum" column="batch_num"/>
        <result property="accrualAwaitQualified" column="accrual_await_qualified"/>
        <result property="accrualAwaitUnQualified" column="accrual_await_un_qualified"/>
        <result property="componentCode" column="component_code"/>
        <result property="componentName" column="component_name"/>
        <result property="genOutboundOrderFlag" column="gen_outbound_order_flag"/>
    </resultMap>

    <resultMap id="warehouseInboundDetailPageRpcDTO"
               type="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInboundDetailPageRpcDTO">
        <result property="inboundOrderDetailCode" column="primary_key"/>
        <result property="productOrPartName" column="product_part_sign"/>
        <result property="model" column="model"/>
        <result property="storedNum" column="stored_num"/>
        <result property="awaitUnQualified" column="await_un_qualified"/>
        <result property="awaitQualified" column="await_qualified"/>
        <result property="inQualified" column="in_qualified"/>
        <result property="inUnQualified" column="in_un_qualified"/>
        <result property="pcs" column="pcs"/>
        <result property="state" column="state"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="productPartCode" column="productPartCode"/>
        <result property="applyDetails" column="apply_details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="inStorageStaff" column="in_storage_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="stockInitState" column="stock_init_state"/>
        <result property="stock" column="stock"/>
        <result property="businessCode" column="business_code"/>
        <result property="barCodeNumber" column="bar_code_number"/>
        <result property="componentCode" column="component_code"/>
        <result property="componentName" column="component_name"/>
        <result property="positionCodes" column="shipping_space" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <select id="getDetailLimitOne" resultMap="inOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        inbound_order,
        stock,
        product_or_part,
        stored_num,
        in_storage_staff::BIGINT[],
        apply_details::BIGINT[],
        await_qualified,
        await_un_qualified,
        in_qualified,
        in_un_qualified,
        state,
        update_time,
        create_time,
        delete_flag,
        is_lock_stock
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND product_or_part = #{productPartCode}
        AND state IN
        <foreach collection="stateList" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
        ORDER BY update_time DESC
        LIMIT 1
    </select>

    <update id="distribute">
        <foreach collection="inboundOrderModels" item="item" index="index" separator=";">
            UPDATE ${tableName}
            SET in_storage_staff = #{item.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
            WHERE inbound_order = #{item.inboundOrderCode}
        </foreach>
    </update>

    <update id="distributeNew">
        UPDATE ${tableName}
        SET in_storage_staff = #{inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        WHERE primary_key in
        <foreach collection="inboundOrderDetailCodes" item="inboundOrderDetailCode" open="(" close=")" separator=",">
            #{inboundOrderDetailCode}
        </foreach>
    </update>

    <select id="getDetailByDetailCode" resultMap="inOrderDetailsModel">
        SELECT primary_key,
               enterprise_code,
               inbound_order,
               stock,
               product_or_part,
               stored_num,
               in_storage_staff::BIGINT[],
               await_qualified,
               await_un_qualified,
               in_qualified,
               in_un_qualified,
               state,
               update_time,
               create_time,
               delete_flag,
               is_lock_stock,
               batch_num,
               component_code,
               component_name,
               gen_outbound_order_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key = #{detailCode}
    </select>

    <update id="updateInboundOrderDetail">
        update ${tableName}
        set await_qualified    = #{awaitQualifiedAmout},
            await_un_qualified = #{awaitNoQualifiedAmout},
            in_qualified       = #{inQualifiedAmout},
            in_un_qualified    = #{inUnQualifiedAmout},
            state = #{state}
        where enterprise_code = #{enterpriseCode}
          and primary_key = #{detailCode}
    </update>

    <select id="list" resultMap="warehouseInboundDetailPageRpcDTO">
        select
            t.primary_key,
            p.product_part_sign,
            p.model,
            t.stored_num,
            t.await_un_qualified,
            t.await_qualified,
            t.in_qualified,
            t.in_un_qualified,
            p.pcs,
            t.state,
            t.apply_details::BIGINT[],
            p.primary_key as productPartCode,
            t.in_storage_staff::BIGINT[],
            t.accrual_await_qualified,
            t.accrual_await_un_qualified,
            t1.contract_number,
        t1.business_code,
        t1.in_storage_type,
            t2.stock_init_state,
            t2.primary_key as stock,
            t2.bar_code_number,
            t.component_code,
            t.component_name,
            t2.shipping_space::BIGINT[]
        from
            ${inboundOrderDetailTableName} t
        left join
            ${productPartTableName} p on t.product_or_part = p.primary_key
        left join
            ${inboundOrderTableName} t1 on t1.primary_key = t.inbound_order
        left join
            ${stockTableName} t2 on t2.product_part_code = p.primary_key
        where t.enterprise_code = #{enterpriseCode}
        and t.inbound_order = #{requestData.inboundOrderCode}
        and t.delete_flag = false
        <if test="requestData.partUnityNo != null and requestData.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t.product_or_part","xihang",requestData.partUnityNo)}
        </if>
        <if test="requestData.searchName != null and requestData.searchName !=''">
            AND (p.model like '%'|| #{requestData.searchName} ||'%' or  p.product_part_sign like '%'|| #{requestData.searchName} ||'%')
        </if>
        <if test="requestData.barCodeNumber != null and requestData.barCodeNumber != ''">
            and t2.bar_code_number LIKE '%'|| #{requestData.barCodeNumber} ||'%'
        </if>
        <if test="requestData.stateList != null and requestData.stateList.size() > 0">
            and t.state in
            <foreach collection="requestData.stateList" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        order by t.create_time desc,t.id desc
    </select>

    <insert id="batchInsert">
        INSERT INTO ${inboundOrderDetailTableName} (
        is_lock_stock,
        enterprise_code,
        in_storage_staff,
        stored_num,
        await_un_qualified,
        product_or_part,
        await_qualified,
        inbound_order,
        in_qualified,
        in_un_qualified,
        stock,
        apply_details,
        state,
        primary_key,
        create_time,
        update_time,
        delete_flag,
        accrual_await_qualified,
        accrual_await_un_qualified,
        batch_num,
        component_code,
        component_name,
        gen_outbound_order_flag
        )
        VALUES
        <foreach collection="list" index="index" item="model" separator=",">
            (
            #{model.isLockStock},
            #{enterpriseCode},
            #{model.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.storedNum},
            #{model.awaitUnQualified},
            #{model.productOrPart},
            #{model.awaitQualified},
            #{model.inboundOrder},
            #{model.inQualified},
            #{model.inUnQualified},
            #{model.stock},
            #{model.applyDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.state},
            #{model.inboundOrderDetailCode},
            now(),
            now(),
            'f',
            #{model.accrualAwaitQualified},
            #{model.accrualAwaitUnQualified},
            #{model.batchNum},
            #{model.componentCode},
            #{model.componentName},
             #{model.genOutboundOrderFlag}
            )
        </foreach>
    </insert>

    <select id="getDetailByProductPartCodesAndInboundOrderCode" resultMap="inOrderDetailsModel">
        SELECT primary_key,
               enterprise_code,
               inbound_order,
               stock,
               product_or_part,
               stored_num,
               in_storage_staff::BIGINT[],
                await_qualified,
               await_un_qualified,
               in_qualified,
               in_un_qualified,
               state,
               update_time,
               create_time,
               delete_flag,
               is_lock_stock,
               batch_num,
               accrual_await_qualified,
               accrual_await_un_qualified,
               apply_details::BIGINT[]
        FROM ${inboundOrderDetailTableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND inbound_order = #{inboundOrderCode}
          AND product_or_part in
        <foreach collection="list" item="productPartCode" open="(" close=")" separator=",">
            #{productPartCode}
        </foreach>
    </select>

    <update id="batchUpdateInboundOrderDetail">
        <foreach collection="list" item="item" index="index" separator=";">
            update ${tableName}
            <set>
                <if test="item.awaitUnQualified!= null">
                    await_un_qualified = #{item.awaitUnQualified},
                </if>
                <if test="item.awaitQualified!= null">
                    await_qualified = #{item.awaitQualified},
                </if>
                <if test="item.accrualAwaitQualified!= null">
                    accrual_await_qualified = #{item.accrualAwaitQualified},
                </if>
                <if test="item.accrualAwaitUnQualified!= null">
                    accrual_await_un_qualified = #{item.accrualAwaitUnQualified},
                </if>
                <if test="item.state!= null">
                    state = #{item.state},
                </if>
                <if test="item.applyDetails!= null">
                    apply_details = #{item.applyDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                </if>
                <if test="item.inStorageStaff!= null">
                    in_storage_staff = #{item.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                </if>
                <if test="item.genOutboundOrderFlag!= null">
                    gen_outbound_order_flag = #{item.genOutboundOrderFlag}
                </if>
            </set>
            where
            enterprise_code = #{enterpriseCode}
            and primary_key = #{item.inboundOrderDetailCode}
        </foreach>
    </update>


    <select id="queryByMaterialCodesAndOrderCode" resultMap="inOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        inbound_order,
        stock,
        product_or_part,
        stored_num,
        in_storage_staff::BIGINT[],
        await_qualified,
        await_un_qualified,
        in_qualified,
        in_un_qualified,
        state,
        update_time,
        create_time,
        delete_flag,
        is_lock_stock
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND product_or_part IN
        <foreach collection="materialCodes" item="materialCode" open="(" close=")" separator=",">
            #{materialCode}
        </foreach>
        AND inbound_order IN
        <foreach collection="inboundOrderCodes" item="inboundOrderCode" open="(" close=")" separator=",">
            #{inboundOrderCode}
        </foreach>
    </select>

    <update id="updateInboundOrderDetailStaffAndProductPart">
        UPDATE ${tableName}
        <set>
            <if test="requestData.inStorageStaff != null and requestData.inStorageStaff.length > 0">
                in_storage_staff = #{requestData.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="requestData.productOrPart != null">
                product_or_part = #{requestData.productOrPart},
            </if>
            <if test="requestData.stock != null">
                stock = #{requestData.stock},
            </if>
        </set>
        WHERE primary_key = #{requestData.inboundOrderDetailCode}
        and enterprise_code = #{enterpriseCode}
    </update>

    <select id="componentInboundOrderDetails" resultMap="inOrderDetailsModel">
        SELECT t.primary_key,
               t.enterprise_code,
               t.inbound_order,
               t.stock,
               t.product_or_part,
               t.stored_num,
               t.in_storage_staff::BIGINT[],
               t.await_qualified,
               t.await_un_qualified,
               t.in_qualified,
               t.in_un_qualified,
               t.state,
               t.update_time,
               t.create_time,
               t.delete_flag,
               t.is_lock_stock,
               t.batch_num,
               t.component_code,
               t.component_name
        FROM ${inboundOrderDetailTableName} t
        inner join ${inboundOrderTableName} t1 on t1.primary_key = t.inbound_order
        WHERE t.delete_flag = false
          AND t.enterprise_code = #{enterpriseCode}
          AND t1.business_code = #{contractCode}
          AND t.component_code IS NOT NULL
    </select>


    <select id="componentInboundOrderDetailsByCodes" resultMap="inOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        inbound_order,
        stock,
        product_or_part,
        stored_num,
        in_storage_staff::BIGINT[],
        await_qualified,
        await_un_qualified,
        in_qualified,
        in_un_qualified,
        state,
        update_time,
        create_time,
        delete_flag,
        is_lock_stock,
        component_code,
        component_name
        FROM ${inboundOrderDetailTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND component_code IN
        <foreach collection="componentCodes" item="componentCode" open="(" close=")" separator=",">
            #{componentCode}
        </foreach>
    </select>

    <select id="queryByCodes" resultMap="inOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        inbound_order,
        stock,
        product_or_part,
        stored_num,
        in_storage_staff::BIGINT[],
        await_qualified,
        await_un_qualified,
        in_qualified,
        in_un_qualified,
        state,
        update_time,
        create_time,
        delete_flag,
        is_lock_stock,
        component_code,
        component_name
        FROM ${inboundOrderDetailTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND primary_key IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryByOrderCodes" resultMap="inOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        inbound_order,
        stock,
        product_or_part,
        stored_num,
        in_storage_staff::BIGINT[],
        await_qualified,
        await_un_qualified,
        in_qualified,
        in_un_qualified,
        state,
        update_time,
        create_time,
        delete_flag,
        is_lock_stock,
        component_code,
        component_name
        FROM ${inboundOrderDetailTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND inbound_order IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND primary_key not IN
        <foreach collection="detailList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="productInboundQuantity" resultMap="inOrderDetailsModel">
        select
            t.product_or_part,
            t.stored_num,
            t.in_storage_staff::BIGINT[],
            t.await_qualified,
            t.await_un_qualified,
            t.in_qualified,
            t.in_un_qualified,
            t.state,
            t.update_time,
            t.create_time
        from ${inboundOrderDetailTableName} t
        inner join ${inboundOrderTableName} t1 on t.inbound_order = t1.primary_key
        where t.delete_flag = false
          AND t.enterprise_code = #{enterpriseCode}
        and t.product_or_part IN
        <foreach collection="materialCodesNeedQuery" item="materialCode" open="(" close=")" separator=",">
            #{materialCode}
        </foreach>
        and t1.business_code = #{purchaseContractCode}
    </select>

    <select id="listByContractCode" resultMap="inOrderDetailsModel">
        select
            t.primary_key,
            t.product_or_part,
            t.apply_details::BIGINT[]
        from
            ${inboundOrderDetailTableName} t
            inner join ${inboundOrderTableName} t1 on t1.primary_key = t.inbound_order
        where
            t.delete_flag = false
            and t.enterprise_code = #{enterpriseCode}
            and t1.business_code = #{businessCode}
    </select>

    <select id="queryPurchaseInboundInQualified">
        SELECT SUM(inboundOrderDetail.in_qualified)
        FROM ${inboundOrderTableName} inboundOrder
                 LEFT JOIN ${inboundOrderDetailTableName} inboundOrderDetail
                           ON inboundOrder.primary_key = inboundOrderDetail.inbound_order
        WHERE inboundOrder.in_storage_type = #{inStorageType}
          AND inboundOrder.delete_flag = 'f'
          AND inboundOrderDetail.delete_flag = 'f'
          AND inboundOrder.enterprise_code = #{enterpriseCode}
          AND inboundOrderDetail.enterprise_code = #{enterpriseCode}
          AND inboundOrderDetail.product_or_part = #{materialCode}

    </select>

    <update id="distributeNew">
        UPDATE ${tableName}
        SET in_storage_staff = #{inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        WHERE primary_key in
        <foreach collection="inboundOrderDetailCodes" item="inboundOrderDetailCode" open="(" close=")" separator=",">
            #{inboundOrderDetailCode}
        </foreach>
    </update>


    <update id="updateWhileProductQuantityChangedAfterSigned">
        UPDATE ${tableName}
        SET stored_num = #{mergedContractQuantity}
        WHERE enterprise_code = #{enterpriseCode}
          AND inbound_order = #{inboundOrder}
          AND product_or_part = #{materialCode}
          AND delete_flag = 'false'
    </update>
    
    <update id="batchUpdateWhileContractQuantityChangedAfterSigned">
        UPDATE ${tableName}
        SET stored_num = CASE product_or_part
        <foreach collection="latestMergedContractQuantityInfo" index="productOrPart" item="quantity" separator="">
            WHEN #{productOrPart} THEN #{quantity}
        </foreach>
        END
        WHERE enterprise_code = #{enterpriseCode}
          AND inbound_order = #{inboundOrder}
          AND product_or_part IN
        <foreach collection="latestMergedContractQuantityInfo" index="productOrPart" item="quantity" open="(" close=")" separator=",">
            #{productOrPart}
        </foreach>
          AND delete_flag = 'false'
    </update>

</mapper>