<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IInboundApplyDetailMapper">

    <select id="list" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInboundApplyDetailRpcDTO">
        select
            apply_num,
            qualified,
            un_qualified,
            apply_staff,
            apply_time,
            remark,
            batch,
            primary_key as inboundApplyDetailCode,
            COALESCE(in_apply_num,0) in_apply_num,
            batch_global_code
        from
            ${tableName}
        where enterprise_code = #{enterpriseCode}
        and primary_key in
        <foreach collection="list" item="item" open="(" close=")" separator="," index="index">
            #{item}
        </foreach>
        order by create_time desc
    </select>

    <insert id="batchInsert">
        INSERT INTO ${tableName} (
        apply_num,
        enterprise_code,
        remark,
        qualified,
        apply_time,
        apply_staff,
        un_qualified,
        primary_key,
        create_time,
        update_time,
        delete_flag,
        batch,
        in_apply_num,
        batch_global_code
        )
        VALUES
        <foreach collection="list" index="index" item="model" separator=",">
            (
            #{model.applyNum},
            #{enterpriseCode},
            #{model.remark},
            #{model.qualified},
            #{model.applyTime},
            #{model.applyStaff},
            #{model.unQualified},
            #{model.orderApplyDetailCode},
            now(),
            now(),
            'f',
            #{model.batch},
             #{model.inApplyNum},
             #{model.batchGlobalCode}
            )
        </foreach>
    </insert>

    <update id="updateBatchInApplyNumByCode">
        <foreach collection="upList" item="item" index="index" separator=";">
            UPDATE ${tableName}
            SET
            in_apply_num = #{item.inApplyNum}
            WHERE primary_key = #{item.orderApplyDetailCode}
        </foreach>
    </update>

</mapper>