<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IInboundOrderMapper">


    <resultMap id="InboundOrderModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.InboundOrderModel">
        <result property="inboundOrderCode" column="primary_key"/>
        <result property="inStorageStatus" column="in_storage_status"/>
        <result property="inStorageStaff" column="in_storage_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="details" column="details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="businessCode" column="business_code"/>
        <result property="inStorageCode" column="in_storage_code"/>
        <result property="inStorageType" column="in_storage_type"/>
        <result property="remark" column="remark"/>
        <result property="businessBelong" column="business_belong"/>
        <result property="relatedParty" column="related_party"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="batchNum" column="batch_num"/>
    </resultMap>

    <resultMap id="inboundOrderDetailForProductOrPart"
               type="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInboundProductOrPartPageRpcDTO">
        <result property="inboundOrderCode" column="inbound_order"/>
        <result property="inboundOrderDetailCode" column="inboundOrderDetailCode"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="inStorageType" column="in_storage_type"/>
        <result property="productOrPartName" column="product_part_sign"/>
        <result property="productPartCode" column="productPartCode"/>
        <result property="partUnityNo" column="unity_no"/>
        <result property="model" column="model"/>
        <result property="barCodeNumber" column="bar_code_number"/>
        <result property="storedNum" column="stored_num"/>
        <result property="awaitUnQualified" column="await_un_qualified"/>
        <result property="awaitQualified" column="await_qualified"/>
        <result property="inQualified" column="in_qualified"/>
        <result property="inUnQualified" column="in_un_qualified"/>
        <result property="neededInStorageNum" column="neededInStorageNum"/>
        <result property="pcs" column="pcs"/>
        <result property="state" column="state"/>
        <result property="applyDetails" column="apply_details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="accrualAwaitUnQualified" column="accrual_await_un_qualified"/>
        <result property="accrualAwaitQualified" column="accrual_await_qualified"/>
        <result property="inStorageStaff" column="in_storage_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="businessCode" column="business_code"/>
        <result property="remark" column="remark"/>
        <result property="batchNum" column="batch_num"/>
        <result property="stockInitState" column="stock_init_state"/>
        <result property="stock" column="stock"/>
        <result property="componentCode" column="component_code"/>
        <result property="componentName" column="component_name"/>
        <result property="positionCodes" column="shipping_space" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <select id="queryByCodes" resultMap="InboundOrderModel">
        SELECT primary_key,
        in_storage_status,
        in_storage_staff::BIGINT[],
        enterprise_code
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND primary_key IN
        <foreach collection="inboundOrderCodes" item="inboundOrderCode" open="(" close=")" separator=",">
            #{inboundOrderCode}
        </foreach>
    </select>


    <update id="distribute">
        <foreach collection="models" item="item" index="index" separator=";">
            UPDATE ${tableName}
            SET in_storage_status = #{item.inStorageStatus},
            in_storage_staff = #{item.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
            WHERE primary_key  = #{item.inboundOrderCode}
            AND in_storage_status != #{inOrderStatusFinished}
        </foreach>
    </update>

    <select id="list" resultMap="InboundOrderModel">
        SELECT primary_key,
        in_storage_status,
        in_storage_staff::BIGINT[],
        enterprise_code,
        details::BIGINT[],
        business_code,
        in_storage_code,
        in_storage_type,
        remark,
        business_belong,
        related_party,
        contract_number,
        batch_num
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        <if test="requestData.oddNumbers != null and requestData.oddNumbers !=''">
            AND contract_number like '%'|| #{requestData.oddNumbers} ||'%'
        </if>
        <if test="requestData.inStorageStaff != null and !requestData.inStorageStaff.isEmpty()">
            AND in_storage_staff &amp;&amp; ARRAY[
            <foreach collection="requestData.inStorageStaff" item="item" separator=",">
                #{item}
            </foreach>
            ]::bigint[]
        </if>
        <if test="requestData.inStorageStatus != null and requestData.inStorageStatus.size() > 0">
            AND in_storage_status IN
            <foreach collection="requestData.inStorageStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="requestData.inStorageTypes != null and requestData.inStorageTypes.size() > 0">
            AND in_storage_type IN
            <foreach collection="requestData.inStorageTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataScopeParams.dataScope != null">
             ${dataScopeParams.dataScope}
        </if>
        order by create_time desc
    </select>

    <update id="updateInboundOrderState">
        UPDATE ${inboundOrderTableName}
        SET in_storage_status = #{inStorageStatus}
        WHERE primary_key  = #{inboundOrderCode}
        and enterprise_code = #{enterpriseCode}
    </update>

    <select id="getInboundOrderByInboundOrderCode" resultMap="InboundOrderModel">
        select
            in_storage_staff::BIGINT[],
                business_code,
            details::BIGINT[],
                in_storage_status,
            in_storage_code,
            in_storage_type,
            remark,
            related_party,
            contract_number,
            batch_num
        from ${tableName}
        where primary_key = #{inboundOrder}
        and enterprise_code = #{enterpriseCode}
    </select>

    <select id="getInboundOrderByOddNumbers" resultMap="InboundOrderModel">
        SELECT primary_key,
               in_storage_status,
               in_storage_staff::BIGINT[],
                enterprise_code,
               details::BIGINT[],
               business_code,
               in_storage_code,
               in_storage_type,
               remark,
               business_belong,
               business_code,
               related_party,
               contract_number
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND (business_code = #{oddNumbers} or batch_num = #{oddNumbers})
          AND in_storage_type = #{inStorageType}
    </select>


    <select id="getByInboundOrderTypeAndContractCodes" resultMap="InboundOrderModel">
        select
            primary_key,
            in_storage_staff::BIGINT[],
                business_code,
            details::BIGINT[],
                in_storage_status,
            in_storage_code,
            in_storage_type,
            remark,
            related_party,
            contract_number,
            batch_num
        from ${tableName}
        where in_storage_type = #{inStorageType}
        AND business_code IN
        <foreach collection="contractCodes" item="contractCode" open="(" close=")" separator=",">
            #{contractCode}
        </foreach>
        AND enterprise_code = #{enterpriseCode}
    </select>

    <insert id="insert">
        INSERT INTO ${inboundOrderTableName}(in_storage_staff,
                                 enterprise_code,
                                 business_code,
                                 details,
                                 in_storage_status,
                                 in_storage_code,
                                 in_storage_type,
                                 remark,
                                 primary_key,
                                 create_time,
                                 update_time,
                                 delete_flag,
                                 related_party,
                                 contract_number,
                                 batch_num)
        values (#{model.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{enterpriseCode},
                #{model.businessCode},
                #{model.details,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{model.inStorageStatus},
                #{model.inStorageCode},
                #{model.inStorageType},
                #{model.remark},
                #{model.inboundOrderCode},
                now(),
                now(),
                'f',
                #{model.relatedParty},
                #{model.contractNumber},
                #{model.batchNum})
    </insert>

    <update id="updateInboundOrderStateAndDetailCode">
        UPDATE ${inboundOrderTableName}
        SET in_storage_status = #{inOrderStatus},
            details = #{detailsArray,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        WHERE primary_key  = #{inboundOrderCode}
        and enterprise_code = #{enterpriseCode}
    </update>

    <select id="listForProductOrPart" resultMap="inboundOrderDetailForProductOrPart">
        select
            t.inbound_order,
            t.primary_key inboundOrderDetailCode,
            t1.contract_number,
            t1.in_storage_type,
            p.product_part_sign,
            p.primary_key productPartCode,
            p.model,
            t2.bar_code_number,
            t.stored_num,
            t.await_un_qualified,
            t.await_qualified,
            t.in_qualified,
            t.in_un_qualified,
            p.pcs,
            t.state,
            t.apply_details::BIGINT[],
            t.accrual_await_un_qualified,
            t.accrual_await_qualified,
            t.in_storage_staff::BIGINT[],
            t1.business_code,
            t1.remark,
            t1.batch_num,
            t2.stock_init_state,
            t2.primary_key as stock,
            t.component_code,
            t.component_name,
            t2.shipping_space::BIGINT[]
        from
            ${inboundOrderDetailTableName} t
                left join
            ${productPartTableName} p on t.product_or_part = p.primary_key
                left join
            ${inboundOrderTableName} t1 on t1.primary_key = t.inbound_order
                left join
            ${stockTableName} t2 on t2.product_part_code = p.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.delete_flag = false

        <if test="requestData.partUnityNo != null and requestData.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t.product_or_part","xihang",requestData.partUnityNo)}
        </if>
        <if test="requestData.contractNumber != null and requestData.contractNumber !=''">
            AND t1.contract_number like '%'|| #{requestData.contractNumber} ||'%'
        </if>
        <if test="requestData.inStorageStaff != null and !requestData.inStorageStaff.isEmpty()">
            AND t.in_storage_staff &amp;&amp; ARRAY[
            <foreach collection="requestData.inStorageStaff" item="item" separator=",">
                #{item}
            </foreach>
            ]::bigint[]
        </if>
        <if test="requestData.productOrPartName != null and requestData.productOrPartName !=''">
            AND p.product_part_sign like '%'|| #{requestData.productOrPartName} ||'%'
        </if>
        <if test="requestData.model != null and requestData.model !=''">
            AND p.model like '%'|| #{requestData.model} ||'%'
        </if>
        <if test="requestData.searchName != null and requestData.searchName !=''">
            AND (p.model like '%'|| #{requestData.searchName} ||'%' or  p.product_part_sign like '%'|| #{requestData.searchName} ||'%')
        </if>
        <if test="requestData.stateList != null and requestData.stateList.size() > 0">
            AND t.state IN
            <foreach collection="requestData.stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="requestData.inStorageTypes != null and requestData.inStorageTypes.size() > 0">
            AND t1.in_storage_type IN
            <foreach collection="requestData.inStorageTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        order by t.create_time desc,t.id desc
    </select>

    <update id="updateInboundOrderStaff">
        UPDATE ${inboundOrderTableName}
        <set>
            <if test="requestData.inStorageStaff != null and requestData.inStorageStaff.length > 0">
                in_storage_staff = #{requestData.inStorageStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
            </if>
        </set>
        WHERE primary_key = #{requestData.inboundOrderCode}
        and enterprise_code = #{enterpriseCode}
    </update>

    <update id="updateInboundOrderRemarkByPrimaryKey">
        update
        ${inboundOrderTableName}
        set remark = #{requestData.remark}
        where primary_key = #{requestData.primaryKey}
        and enterprise_code = #{enterpriseCode}
    </update>

    <select id="pageForReport" resultMap="inboundOrderDetailForProductOrPart">
        SELECT
        pp.unity_no,
        pp.product_part_sign,
        pp.model,
        SUM(COALESCE(iod.accrual_await_qualified, 0)) AS accrual_await_qualified,
        SUM(COALESCE(iod.in_qualified, 0) + COALESCE(iod.in_un_qualified, 0)) AS neededInStorageNum,
        SUM(COALESCE(iod.accrual_await_qualified, 0)) - (SUM(COALESCE(iod.in_qualified, 0)) + SUM(COALESCE(iod.in_un_qualified, 0))) AS difference
        FROM ${inboundOrderDetailTableName} iod
        LEFT JOIN ${productPartTableName} pp ON iod.product_or_part = pp.primary_key
        WHERE iod.state != #{state}
        and iod.enterprise_code = #{enterpriseCode}
        and iod.delete_flag = false
        <if test="requestData.startTime != null">
            AND iod.create_time &gt;= #{requestData.startTime}
        </if>
        <if test="requestData.endTime != null">
            AND iod.create_time &lt;= #{requestData.endTime}
        </if>
        GROUP BY
        pp.unity_no,
        pp.product_part_sign,
        pp.model
        order by difference  desc
    </select>
</mapper>