<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IInboundBatchMapper">
    <resultMap id="inboundBatchModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.InboundBatchModel">

    </resultMap>

    <select id="getInboundBatchByDetailCodeAndBatch" resultType="com.futurecraftsmen.pms.technical.service.domain.warehouse.InboundBatchModel">
        select
            *
        from
            ${inboundBatchTableName}
        where delete_flag = false
        and enterprise_code = #{enterpriseCode}
        and detail_code = #{detailCode}
        and batch = #{batch}
    </select>

</mapper>