<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IInOrOutOperationDetailRecordMapper">

    <resultMap id="InOrOutOperationDetailRecordRpcDTO"
               type="com.futurecraftsmen.pms.technical.api.domain.warehouse.InOrOutOperationDetailRecordRpcDTO">
        <result property="businessCode" column="business_code"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="name" column="name"/>
        <result property="model" column="model"/>
        <result property="relatedParty" column="related_party"/>
        <result property="inStorageType" column="in_storage_type"/>
        <result property="accrualAwaitQualified" column="accrual_await_qualified"/>
        <result property="accrualAwaitUnQualified" column="accrual_await_un_qualified"/>
        <result property="actInQualified" column="act_in_qualified"/>
        <result property="actInUnQualified" column="act_in_un_qualified"/>
        <result property="positionOperationCodes" column="position_operation_codes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="operationVersion" column="operation_version"/>
        <result property="piecesChn" column="pieces_chn"/>
        <result property="operator" column="operator"/>
        <result property="operatorName" column="operator_name"/>
        <result property="operationTime" column="operation_time"/>
        <result property="detailCode" column="detail_code"/>
        <result property="operationVersion" column="operation_version"/>
        <result property="picture" column="picture" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="productOrPart" column="product_or_part"/>
        <result property="batchNum" column="batch_num"/>
        <result property="storedNum" column="stored_num"/>
        <result property="outTotal" column="out_total"/>
        <result property="operatorReal" column="operator_real"/>
        <result property="operationRealTime" column="operation_real_time"/>
        <result property="operationNum" column="operation_num"/>
        <result property="positionName" column="position_name"/>
        <result property="positionType" column="position_type"/>
        <result property="remark" column="remark"/>
        <result property="accrualOutTotal" column="accrual_out_total"/>
        <result property="outboundType" column="outbound_type"/>
        <result property="stockInitState" column="stock_init_state"/>
        <result property="barCodeNumber" column="bar_code_number"/>
        <result property="checkBatchNumber" column="check_batch_number"/>
        <result property="partUnityNo" column="part_Unity_No"/>
        <result property="positionOperationCode" column="positionOperationCode"/>
        <result property="stageArea" column="stage_Area"/>

    </resultMap>

    <insert id="insert">
        INSERT INTO ${tableName} (operation_time,
                                  enterprise_code,
                                  product_or_part,
                                  operator,
                                  stock,
                                  position_operation_codes,
                                  pieces_chn,
                                  act_in_un_qualified,
                                  accrual_await_qualified,
                                  pcs,
                                  operator_name,
                                  name,
                                  act_in_qualified,
                                  business_code,
                                  in_storage_type,
                                  accrual_await_un_qualified,
                                  model,
                                  primary_key,
                                  create_time,
                                  update_time,
                                  delete_flag,
                                  detail_code,
                                  related_party,
                                  operation_version,
                                  contract_number,
                                  outbound_type,
                                  accrual_out_total,
                                  act_out_num,remark,
                                  batch_num,
                                  receive_type)
        VALUES (#{model.operationTime}, #{model.enterpriseCode}, #{model.productOrPart}, #{model.operator}, #{model.stock},
                #{model.positionOperationCodes,jdbcType=ARRAY},
                #{model.piecesChn}, #{model.actInUnQualified}, #{model.accrualAwaitQualified}, #{model.pcs},
                #{model.operatorName}, #{model.name}, #{model.actInQualified}, #{model.businessCode},
                #{model.inStorageType},
                #{model.accrualAwaitUnQualified}, #{model.model}, #{model.operationCode}, now(), now(), 'f',
                #{model.detailCode}, #{model.relatedParty}, #{model.operationVersion}, #{model.contractNumber},
                #{model.outboundType}, #{model.accrualOutTotal}, #{model.actOutNum}, #{model.remark},#{model.batchNum},#{model.receiveType})
    </insert>

    <select id="inList" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t.business_code,
        t.contract_number,
        t.name,
        t.model,
        t.related_party,
        t.in_storage_type,
        t1.accrual_await_qualified,
        t1.accrual_await_un_qualified,
        t.act_in_qualified,
        t.act_in_un_qualified,
        t.position_operation_codes::BIGINT[],
        t.operation_version,
        t.pieces_chn,
        t.operator_name,
        t.operation_time,
        t.related_party,
        t.detail_code,
        t.operation_version,
        t2.picture::BIGINT[],
        t.product_or_part,
        t.batch_num,
        t1.stored_num
        from
        ${inOrOutOperationDetailRecordTableName} t
        inner join
        ${inboundOrderDetailTableName} t1 on t.detail_code = t1.primary_key
        left join ${stockTableName} t2 on t1.stock = t2.primary_key
        where t.enterprise_code = #{enterpriseCode}
        <if test="request.oddNumbers != null and request.oddNumbers !=''">
            AND t.contract_number = #{request.oddNumbers}
        </if>
        <if test="request.name != null and request.name !=''">
            and t.name = #{request.name}
        </if>
        <if test="request.model != null and request.model !=''">
            and t.model = #{request.model}
        </if>
        <if test="request.relatedParty != null and request.relatedParty !=''">
            and t.related_party LIKE '%' || #{request.relatedParty} || '%'
        </if>
        <if test="request.inStorageTypes != null and request.inStorageTypes.size() > 0">
            AND t.in_storage_type IN
            <foreach collection="request.inStorageTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null">
            and t.operator = #{request.operator}
        </if>
        <if test="request.operator != null">
            AND t.operation_time &gt;= #{request.startTime}
        </if>
        <if test="request.operator != null">
            AND t.operation_time &lt;= #{request.endTime}
        </if>
        order by t1.create_time desc
    </select>

    <select id="inListNew" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t1.business_code,
        t1.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        t1.related_party,
        t1.in_storage_type,
        t.stored_num,
        p.operation_num,
        COALESCE(t5.pieces_sign,'-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        t.accrual_await_qualified,
        t.accrual_await_un_qualified,
        t.primary_key as detail_code,
        t2.picture::BIGINT[],
        t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode
        from
        ${positionOperationTableName} p
        inner join ${inboundOrderDetailTableName} t on p.detail_code = t.primary_key
        inner join ${inboundOrderTableName} t1 on t.inbound_order = t1.primary_key
        left join ${stockTableName} t2 on t.stock = t2.primary_key
        left join ${productPartTableName} t3 on t2.product_part_code = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode} and p.detail_code is not null and p.delete_flag = false and t.delete_flag = false and t1.delete_flag = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t2.product_part_code","xihang",request.partUnityNo)}
        </if>
        <if test="request.contractNum != null and request.contractNum !=''">
            AND t1.contract_number like '%'|| #{request.contractNum} ||'%'
        </if>
        <if test="request.name != null and request.name !=''">
            and t3.product_part_sign LIKE '%' || #{request.name} || '%'
        </if>
        <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
            and t2.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
        </if>
        <if test="request.model != null and request.model !=''">
            and t3.model LIKE '%' || #{request.model} || '%'
        </if>
        <if test="request.searchName != null and request.searchName !=''">
            AND (t3.model like '%'|| #{request.searchName} ||'%' or  t3.product_part_sign like '%'|| #{request.searchName} ||'%')
        </if>
        <if test="request.relatedParty != null and request.relatedParty !=''">
            and t1.related_party LIKE '%' || #{request.relatedParty} || '%'
        </if>
        <if test="request.inStorageTypes != null and request.inStorageTypes.size() > 0">
            AND t1.in_storage_type IN
            <foreach collection="request.inStorageTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null and request.operator.size() > 0">
            and p.operator IN
            <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.startTime != null">
            AND p.operation_time::date &gt;= #{request.startTime}::date
        </if>
        <if test="request.endTime != null">
            AND p.operation_time::date &lt;= #{request.endTime}::date
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        <if test="request.batch != null and request.batch !=''">
            and p.check_batch_number LIKE '%' || #{request.batch} || '%'
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by p.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by p.operation_time desc NULLS LAST
            </otherwise>
        </choose>
    </select>

    <select id="inListNewExport" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t1.business_code,
        t1.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        t1.related_party,
        t1.in_storage_type,
        t.stored_num,
        p.operation_num,
        COALESCE(t5.pieces_sign,'-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        t.accrual_await_qualified,
        t.accrual_await_un_qualified,
        t.primary_key as detail_code,
        t2.picture::BIGINT[],
        t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number
        from
            ${positionOperationTableName} p
        inner join ${inboundOrderDetailTableName} t on p.detail_code = t.primary_key
        inner join ${inboundOrderTableName} t1 on  t.inbound_order = t1.primary_key
        left join ${stockTableName} t2 on t.stock = t2.primary_key
        left join ${productPartTableName} t3 on t2.product_part_code = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode} and p.detail_code is not null and p.delete_flag = false and t.delete_flag = false and t1.delete_flag = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t2.product_part_code","xihang",request.partUnityNo)}
        </if>
        <if test="request.contractNum != null and request.contractNum !=''">
            AND t1.contract_number = #{request.contractNum}
        </if>
        <if test="request.name != null and request.name !=''">
            and t3.product_part_sign LIKE '%' || #{request.name} || '%'
        </if>
        <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
            and t2.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
        </if>
        <if test="request.model != null and request.model !=''">
            and t3.model LIKE '%' || #{request.model} || '%'
        </if>
        <if test="request.searchName != null and request.searchName !=''">
            AND (t3.model like '%'|| #{request.searchName} ||'%' or  t3.product_part_sign like '%'|| #{request.searchName} ||'%')
        </if>
        <if test="request.relatedParty != null and request.relatedParty !=''">
            and t1.related_party LIKE '%' || #{request.relatedParty} || '%'
        </if>
        <if test="request.inStorageTypes != null and request.inStorageTypes.size() > 0">
            AND t1.in_storage_type IN
            <foreach collection="request.inStorageTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null and request.operator.size() > 0">
            and p.operator IN
            <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.startTime != null">
            AND p.operation_time::date &gt;= #{request.startTime}::date
        </if>
        <if test="request.endTime != null">
            AND p.operation_time::date &lt;= #{request.endTime}::date
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        <if test="request.batch != null and request.batch !=''">
            and p.check_batch_number LIKE '%' || #{request.batch} || '%'
        </if>
        <if test="request.codes !=null and request.codes.size() > 0">
            AND p.primary_key IN
            <foreach collection="request.codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by p.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by p.operation_time desc NULLS LAST
            </otherwise>
        </choose>
        <if test="request.pageSize != null and request.offset != null
              and request.pageSize > 0 and request.offset >=0">
            LIMIT #{request.pageSize} OFFSET #{request.offset}
        </if>
    </select>

    <select id="outList" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t.business_code,
        t.contract_number,
        t.name,
        t.model,
        t.outbound_type,
        t1.accrual_out_total,
        t.act_out_num,
        t.position_operation_codes::BIGINT[],
        t.operation_version,
        t.pieces_chn,
        t.operator_name,
        t.operation_time,
        t.detail_code,
        t.operation_version,
        t2.picture::BIGINT[],
        t.remark,
        t.batch_num,
        t.product_or_part,
        t1.out_total
        from
        ${inOrOutOperationDetailRecordTableName} t
        inner join
        ${outboundOrderDetailTableName} t1 on t.detail_code = t1.primary_key
        left join ${stockTableName} t2 on t1.stcok = t2.primary_key
        where t.enterprise_code = #{enterpriseCode}
        <if test="request.oddNumbers != null and request.oddNumbers !=''">
            AND t.contract_number = #{request.oddNumbers}
        </if>
        <if test="request.name != null and request.name !=''">
            and t.name = #{request.name}
        </if>
        <if test="request.model != null and request.model !=''">
            and t.model = #{request.model}
        </if>
        <if test="request.outboundType != null and request.outboundType.size() > 0">
            AND t.outbound_type IN
            <foreach collection="request.outboundType" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null">
            and t.operator = #{request.operator}
        </if>
        <if test="request.startTime != null">
            AND t.operation_time &gt;= #{request.startTime}
        </if>
        <if test="request.endTime != null">
            AND t.operation_time &lt;= #{request.endTime}
        </if>
        order by t1.create_time desc
    </select>

    <select id="outListNew" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t1.business_code,
        t1.contract_number,
        t3.product_part_sign as name,
        t3.model,
        t3.Unity_No part_Unity_No,
        t1.outbound_type,
        t.out_total,
        p.operation_num,
        COALESCE(t5.pieces_sign,'-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        t.accrual_out_total,
        t.primary_key as detail_code,
        t2.picture::BIGINT[],
        p.remark,
        t1.batch_num,
        t3.primary_key as product_or_part,
        t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode
        from
        ${positionOperationTableName} p
        inner join ${outboundOrderDetailTableName} t on p.detail_code = t.primary_key
        inner join ${outboundOrderTableName} t1 on  t.outbound_order = t1.primary_key
        left join ${stockTableName} t2 on t.stcok = t2.primary_key
        left join ${productPartTableName} t3 on t2.product_part_code = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        left join ${inOrOutOperationDetailRecordTableName} t6 on p.operation_version = t6.operation_version
        where p.enterprise_code = #{enterpriseCode} and p.detail_code is not null and p.delete_flag = false and t.delete_flag = false and t1.delete_flag = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t2.product_part_code","xihang",request.partUnityNo)}
        </if>
        <if test="request.contractNum != null and request.contractNum !=''">
            AND t1.contract_number like '%'|| #{request.contractNum} ||'%'
        </if>
        <if test="request.name != null and request.name !=''">
            and t3.product_part_sign LIKE '%' || #{request.name} || '%'
        </if>
        <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
            and t2.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
        </if>
        <if test="request.model != null and request.model !=''">
            and t3.model LIKE '%' || #{request.model} || '%'
        </if>
        <if test="request.searchName != null and request.searchName !=''">
            AND (t3.model like '%'|| #{request.searchName} ||'%' or  t3.product_part_sign like '%'|| #{request.searchName} ||'%')
        </if>
        <if test="request.relatedParty != null and request.relatedParty !=''">
            and t1.related_party LIKE '%' || #{request.relatedParty} || '%'
        </if>
        <if test="request.outboundType != null and request.outboundType.size() > 0">
            AND t1.outbound_type IN
            <foreach collection="request.outboundType" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null and request.operator.size() > 0">
            and p.operator IN
            <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.startTime != null">
            AND p.operation_time::date &gt;= #{request.startTime}::date
        </if>
        <if test="request.endTime != null">
            AND p.operation_time::date &lt;= #{request.endTime}::date
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        <if test="request.batch != null and request.batch !=''">
            and p.check_batch_number LIKE '%' || #{request.batch} || '%'
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by p.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by p.operation_time desc NULLS LAST
            </otherwise>
        </choose>
    </select>

    <select id="outListNewExport" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        t1.business_code,
        t1.contract_number,
        t3.product_part_sign as name,
        t3.model,
        t3.Unity_No part_Unity_No,
        t1.outbound_type,
        t.out_total,
        p.operation_num,
        COALESCE(t5.pieces_sign,'-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        t.accrual_out_total,
        t.primary_key as detail_code,
        t2.picture::BIGINT[],
        p.remark,
        t1.batch_num,
        t3.primary_key as product_or_part,
        t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number
        from
        ${positionOperationTableName} p
        inner join ${outboundOrderDetailTableName} t on p.detail_code = t.primary_key
        inner join ${outboundOrderTableName} t1 on  t.outbound_order = t1.primary_key
        left join ${stockTableName} t2 on t.stcok = t2.primary_key
        left join ${productPartTableName} t3 on t2.product_part_code = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        left join ${inOrOutOperationDetailRecordTableName} t6 on p.operation_version = t6.operation_version
        where p.enterprise_code = #{enterpriseCode} and p.detail_code is not null and p.delete_flag = false and t.delete_flag = false and t1.delete_flag = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t2.product_part_code","xihang",request.partUnityNo)}
        </if>
        <if test="request.contractNum != null and request.contractNum !=''">
            and t1.contract_number LIKE '%' || #{request.contractNum} || '%'
        </if>
        <if test="request.name != null and request.name !=''">
            and t3.product_part_sign LIKE '%' || #{request.name} || '%'
        </if>
        <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
            and t2.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
        </if>
        <if test="request.model != null and request.model !=''">
            and t3.model LIKE '%' || #{request.model} || '%'
        </if>
        <if test="request.searchName != null and request.searchName !=''">
            AND (t3.model like '%'|| #{request.searchName} ||'%' or  t3.product_part_sign like '%'|| #{request.searchName} ||'%')
        </if>
        <if test="request.relatedParty != null and request.relatedParty !=''">
            and t1.related_party LIKE '%' || #{request.relatedParty} || '%'
        </if>
        <if test="request.outboundType != null and request.outboundType.size() > 0">
            AND t1.outbound_type IN
            <foreach collection="request.outboundType" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.operator != null and request.operator.size() > 0">
            and p.operator IN
            <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.startTime != null">
            AND p.operation_time::date &gt;= #{request.startTime}::date
        </if>
        <if test="request.endTime != null">
            AND p.operation_time::date &lt;= #{request.endTime}::date
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        <if test="request.batch != null and request.batch !=''">
            and p.check_batch_number LIKE '%' || #{request.batch} || '%'
        </if>
        <if test="request.codes !=null and request.codes.size() > 0">
            AND p.primary_key IN
            <foreach collection="request.codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by p.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by p.operation_time desc NULLS LAST
            </otherwise>
        </choose>
        <if test="request.pageSize != null and request.offset != null
              and request.pageSize > 0 and request.offset >=0">
            LIMIT #{request.pageSize} OFFSET #{request.offset}
        </if>
    </select>



    <select id="queryListByBusAndPart" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select t.* ,b."operator" operator_real,b.operation_time operation_real_time ,b.operation_num ,b.check_batch_number
        ,b.remark stage_Area
        from
        ${tableName} t ,${positionOperation} b
        where t.enterprise_code = #{enterpriseCode}

        and t.operation_version=b.operation_version

        and ( business_code ,product_or_part ) in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            (#{item.name},#{item.code})
        </foreach>
        and outbound_type is not null

        and b.batch_global_code= #{batchGlobalCode}
        and b.stock_type in ('SCLL','SCBL')
        order by create_time desc
    </select>


    <select id="remarkList" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select t.* ,b."operator" operator_real,b.operation_time operation_real_time ,b.operation_num ,b.check_batch_number,b.remark stage_Area
        from
        ${dynamicTableNameProxy.inOrOutOperationDetailRecord} t ,${dynamicTableNameProxy.positionOperation} b
        where t.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}

        and t.operation_version=b.operation_version

        and ( business_code ,product_or_part ) in
        <foreach collection="partCodes" item="item" index="index" open="(" separator="," close=")">
            ( cast( #{contractCode} as varchar ), #{item})
        </foreach>
        and b.stock_type='FGFXBL'
        and b.batch_global_code= #{batchGlobalCode}
        and outbound_type is not null
        order by create_time desc
    </select>


    <select id="outboundNumForProduce">
        -- select product_or_part, business_code, sum(a.operation_num) num, count(1)
        select sum(a.operation_num) num

        from ${positionOperation} a,
        ${inOrOutOperationDetailRecordTableName} b
        where a.operation_version = b.operation_version
        and b.outbound_type is not null
        and business_code = #{contractCodeString}
        and product_or_part = #{id}
        and batch_global_code = #{batchGlobalCode}


        <choose>
            <when test="receiveType">
                and a.stock_type in ('FGFXBL')
            </when>
            <otherwise>
                and a.stock_type in ('SCLL','SCBL')
            </otherwise>
        </choose>

        group by product_or_part, business_code
    </select>

    <select id="inStockDetailList" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        *
        from (
        select t.contract_code as business_code,
        t.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        t.related_party,
        t.order_quantity as stored_num,
        p.operation_num,
        COALESCE(t5.pieces_sign, '-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        p.detail_code as detail_code,
        t2.picture::BIGINT[], t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode
        from ${positionOperationTableName} p
        inner join ${dynamicTableNameProxy.collaborateInboundItem} t on p.detail_code = t.primary_key
        left join ${stockTableName} t2 on t.collaborate_material = t2.product_part_code
        left join ${productPartTableName} t3 on t.collaborate_material = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode}
        and p.detail_code is not null
        and p.delete_flag = false
        and t.delete_flag = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t3.primary_key","xihang",request.partUnityNo)}
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        union all
        select p.contract_code as business_code,
        p.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        p.related_party,
        p.apply_num as stored_num,
        p.operation_num,
        COALESCE(t5.pieces_sign, '-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        p.detail_code as detail_code,
        t2.picture::BIGINT[], t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode
        from ${positionOperationTableName} p
        left join ${stockTableName} t2 on p.material = t2.product_part_code
        left join ${productPartTableName} t3 on p.material = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode}
        and p.detail_code is not null
        and p.delete_flag = false
        and p.contract_code is not null
        and p.operation_type = false
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t3.primary_key","xihang",request.partUnityNo)}
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        ) a
        <where>
            <if test="request.contractNum != null and request.contractNum !=''">
                AND a.contract_number = #{request.contractNum}
            </if>
            <if test="request.name != null and request.name !=''">
                and a.name LIKE '%' || #{request.name} || '%'
            </if>
            <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
                and a.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
            </if>
            <if test="request.model != null and request.model !=''">
                and a.model LIKE '%' || #{request.model} || '%'
            </if>
            <if test="request.searchName != null and request.searchName !=''">
                AND (a.model like '%'|| #{request.searchName} ||'%' or a.name like '%'|| #{request.searchName} ||'%')
            </if>
            <if test="request.relatedParty != null and request.relatedParty !=''">
                and a.related_party LIKE '%' || #{request.relatedParty} || '%'
            </if>
            <if test="request.operator != null and request.operator.size() > 0">
                and a.operator IN
                <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.startTime != null">
                AND a.operation_time::date &gt;= #{request.startTime}::date
            </if>
            <if test="request.endTime != null">
                AND a.operation_time::date &lt;= #{request.endTime}::date
            </if>
            <if test="request.batch != null and request.batch !=''">
                and a.check_batch_number LIKE '%' || #{request.batch} || '%'
            </if>
            <if test="request.codes !=null and request.codes.size() > 0">
                AND a.positionOperationCode IN
                <foreach collection="request.codes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="dataScopeParams.dataScope != null">
                ${dataScopeParams.dataScope}
            </if>
        </where>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by a.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by a.operation_time desc NULLS LAST
            </otherwise>
        </choose>
        <if test="request.pageSize != null and request.offset != null
              and request.pageSize > 0 and request.offset >=0">
            LIMIT #{request.pageSize} OFFSET #{request.offset}
        </if>
    </select>

    <select id="outStockDetailList" resultMap="InOrOutOperationDetailRecordRpcDTO">
        select
        *
        from (
        WITH apply_summary AS (
        SELECT
        data_key,
        COALESCE(SUM(apply_num), 0) AS apply_num_sum,
        COALESCE(SUM(CASE WHEN type = 'SCBL' THEN apply_num ELSE 0 END), 0) AS scbl_apply_num_sum
        FROM
        ${dynamicTableNameProxy.outStockApply}
        WHERE
        delete_flag = false
        GROUP BY
        data_key
        )

        select t.contract_code as business_code,
        t.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        p.related_party,
        case when t.collaborate_type = 0 then t.order_quantity else
        GREATEST((COALESCE(t.order_quantity,0) -  COALESCE(t.schedule_quantity,0) + COALESCE(a.scbl_apply_num_sum,0)), 0)  end as out_total,
        p.operation_num,
        COALESCE(t5.pieces_sign, '-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        p.detail_code as detail_code,
        t2.picture::BIGINT[], t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode,
        p.remark
        from ${positionOperationTableName} p
        inner join ${dynamicTableNameProxy.collaborateScheduleItem} t on p.detail_code = t.primary_key
        left join apply_summary a on t.primary_key = a.data_key
        left join ${stockTableName} t2 on t.collaborate_material = t2.product_part_code
        left join ${productPartTableName} t3 on t.collaborate_material = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode}
        and p.detail_code is not null
        and p.delete_flag = false
        and t.delete_flag = false
        and p.operation_type = true
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t3.primary_key","xihang",request.partUnityNo)}
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        union all
        select p.contract_code as business_code,
        p.contract_number,
        t3.product_part_sign as name,
        t3.primary_key as product_or_part,
        t3.model,
        t3.Unity_No part_Unity_No,
        p.related_party,
        p.apply_num as out_total,
        p.operation_num,
        COALESCE(t5.pieces_sign, '-') pieces_chn,
        t4.position_sign as position_name,
        t4.type as position_type,
        p.operator,
        p.operation_time,
        p.detail_code as detail_code,
        t2.picture::BIGINT[], t2.stock_init_state,
        t2.bar_code_number,
        p.check_batch_number,
        p.primary_key as positionOperationCode,
        p.remark
        from ${positionOperationTableName} p
        left join ${stockTableName} t2 on p.material = t2.product_part_code
        left join ${productPartTableName} t3 on p.material = t3.primary_key
        left join ${positionTableName} t4 on p.position = t4.primary_key
        left join ${piecesTableName} t5 on t3.pcs = t5.primary_key
        where p.enterprise_code = #{enterpriseCode}
        and p.detail_code is not null
        and p.delete_flag = false
        and p.contract_code is not null
        and p.operation_type = true
        <if test="request.partUnityNo != null and request.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t3.primary_key","xihang",request.partUnityNo)}
        </if>
        <if test="request.positionName != null and request.positionName !=''">
            and t4.position_sign LIKE '%' || #{request.positionName} || '%'
        </if>
        ) a
        <where>
            <if test="request.contractNum != null and request.contractNum !=''">
                AND a.contract_number = #{request.contractNum}
            </if>
            <if test="request.name != null and request.name !=''">
                and a.name LIKE '%' || #{request.name} || '%'
            </if>
            <if test="request.barCodeNumber != null and request.barCodeNumber !=''">
                and a.bar_code_number LIKE '%' || #{request.barCodeNumber} || '%'
            </if>
            <if test="request.model != null and request.model !=''">
                and a.model LIKE '%' || #{request.model} || '%'
            </if>
            <if test="request.searchName != null and request.searchName !=''">
                AND (a.model like '%'|| #{request.searchName} ||'%' or a.name like '%'|| #{request.searchName} ||'%')
            </if>
            <if test="request.relatedParty != null and request.relatedParty !=''">
                and a.related_party LIKE '%' || #{request.relatedParty} || '%'
            </if>
            <if test="request.operator != null and request.operator.size() > 0">
                and a.operator IN
                <foreach collection="request.operator" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.startTime != null">
                AND a.operation_time::date &gt;= #{request.startTime}::date
            </if>
            <if test="request.endTime != null">
                AND a.operation_time::date &lt;= #{request.endTime}::date
            </if>
            <if test="request.batch != null and request.batch !=''">
                and a.check_batch_number LIKE '%' || #{request.batch} || '%'
            </if>
            <if test="request.codes !=null and request.codes.size() > 0">
                AND a.positionOperationCode IN
                <foreach collection="request.codes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="dataScopeParams.dataScope != null">
                ${dataScopeParams.dataScope}
            </if>
        </where>
        <choose>
            <when test="request.orderFlag != null and request.orderFlag">
                order by a.operation_time asc NULLS LAST
            </when>
            <otherwise>
                order by a.operation_time desc NULLS LAST
            </otherwise>
        </choose>
        <if test="request.pageSize != null and request.offset != null
              and request.pageSize > 0 and request.offset >=0">
            LIMIT #{request.pageSize} OFFSET #{request.offset}
        </if>
    </select>



</mapper>