<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IOutOrderDetailsMapper">
    <resultMap id="outOrderDetailsModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.OutOrderDetailsModel">
        <result property="orderDetailCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="ownTaskList" column="own_task_list"/>
        <result property="operationPhone" column="operation_phone"/>
        <result property="assignNum" column="assign_num"/>
        <result property="processDetail" column="process_detail"/>
        <result property="operator" column="operator"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="outboundOrder" column="outbound_order"/>
    </resultMap>

    <resultMap id="outboundOrderDetailModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.OutboundOrderDetailModel">
        <result property="outboundOrderDetailCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="outboundOrder" column="outbound_order"/>
        <result property="outTotal" column="out_total"/>
        <result property="outNum" column="out_num"/>
        <result property="outboundStatus" column="outbound_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>


    <resultMap id="warehouseOutboundDetailPageRpcDTO"
               type="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseOutboundDetailPageRpcDTO">
        <result property="outboundOrderDetailCode" column="primary_key"/>
        <result property="productOrPartName" column="product_part_sign"/>
        <result property="model" column="model"/>
        <result property="outTotal" column="out_total"/>
        <result property="awaitNum" column="await_num"/>
        <result property="outNum" column="out_num"/>
        <result property="pcs" column="pcs"/>
        <result property="outboundStatus" column="outbound_status"/>
        <result property="productPartCode" column="productPartCode"/>
        <result property="applyDetails" column="apply_details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="positionCodes" column="shipping_space" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="totalInventory" column="total_inventory"/>
        <result property="accrualOutTotal" column="accrual_out_total"/>
        <result property="accrualLockInInventory" column="accrual_lock_in_inventory"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="outboundStaff" column="outbound_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="stockInitState" column="stock_init_state"/>
        <result property="barCodeNumber" column="bar_code_number"/>
        <result property="businessCode" column="business_code"/>
        <result property="outboundType" column="outbound_type"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <select id="getDetailByOperator" resultMap="outOrderDetailsModel">
        SELECT primary_key,
        enterprise_code,
        own_task_list,
        operation_phone,
        assign_num,
        process_detail,
        operator,
        status,
        update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND operator = #{operator}
        AND own_task_list IN
        <foreach collection="orderCodeList" item="orderCode" open="(" close=")" separator=",">
            #{orderCode}
        </foreach>
    </select>

    <select id="getDetailByCode" resultMap="outOrderDetailsModel">
        SELECT primary_key,
               enterprise_code,
               own_task_list,
               operation_phone,
               assign_num,
               process_detail,
               operator,
               status,
               update_time,
               create_time,
               delete_flag,
               outbound_order
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key = #{orderDetailCode}
    </select>

    <update id="distribute">
        <foreach collection="newOutboundOrderModels" item="item" index="index" separator=";">
            UPDATE ${tableName}
            SET outbound_staff = #{item.outboundStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
            WHERE outbound_order = #{item.outboundOrderCode}
        </foreach>
    </update>

    <update id="distributeNew">
        UPDATE ${tableName}
        SET outbound_staff = #{outboundStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        WHERE primary_key in
        <foreach collection="outboundOrderDetailCodes" item="outboundOrderDetailCode" open="(" close=")" separator=",">
            #{outboundOrderDetailCode}
        </foreach>
    </update>

    <update id="updateOutboundOrderDetailState">
        update ${tableName}
        set outbound_status = #{state}
        where enterprise_code = #{enterpriseCode} and primary_key = #{primaryKey}
    </update>

    <select id="list" resultMap="warehouseOutboundDetailPageRpcDTO">
        select t.primary_key,
               p.product_part_sign,
               p.model,
               t.out_total,
               t.await_num,
               t.out_num,
               p.pcs,
               t.outbound_status,
               t.apply_details::BIGINT[],
               p.primary_key as productPartCode,
               s.total_inventory,
               s.lock_in_inventor,
               t.accrual_out_total,
               t.outbound_staff,
               t.accrual_lock_in_inventory,
               s.shipping_space::BIGINT[],
               t1.contract_number,
               s.stock_init_state,
               s.bar_code_number,
               t1.business_code,
               t1.outbound_type,
               s.primary_key stock
        from ${outboundOrderDetailTableName} t
                 left join
             ${productPartTableName} p on t.product_or_part = p.primary_key
                 left join
             ${stockTableName} s on t.product_or_part = s.product_part_code
                 left join
             ${outboundOrderTableName} t1 on t.outbound_order = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.outbound_order = #{requestData.outboundOrderCode}
          and t.delete_flag = false
        <if test="requestData.partUnityNo != null and requestData.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t.product_or_part","xihang",requestData.partUnityNo)}
        </if>
        <if test="requestData.searchName != null and requestData.searchName !=''">
            AND (p.model like '%'|| #{requestData.searchName} ||'%' or  p.product_part_sign like '%'|| #{requestData.searchName} ||'%')
        </if>
        <if test="requestData.barCodeNumber != null and requestData.barCodeNumber != ''">
            and s.bar_code_number LIKE '%'|| #{requestData.barCodeNumber} ||'%'
        </if>
        <if test="requestData.outboundDetailStatus != null and requestData.outboundDetailStatus.size() > 0">
            and t.outbound_status in
            <foreach collection="requestData.outboundDetailStatus" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
          <if test="dataScopeParams.dataScope != null">
              ${dataScopeParams.dataScope}
          </if>
        order by t.create_time desc,t.id desc
    </select>

    <select id="listNew" resultMap="warehouseOutboundDetailPageRpcDTO">
        select t.primary_key,
               p.product_part_sign,
               p.model,
               t.out_total,
               t.await_num,
               t.out_num,
               p.pcs,
               t.outbound_status,
               t.apply_details::BIGINT[],
               p.primary_key as productPartCode,
               s.total_inventory,
               s.lock_in_inventor,
               t.accrual_out_total,
               t.outbound_staff,
               t.accrual_lock_in_inventory,
               s.shipping_space::BIGINT[],
               t1.contract_number,
               s.stock_init_state,
               s.bar_code_number,
               t1.business_code,
               t1.outbound_type,
               s.primary_key stock
        from ${outboundOrderDetailTableName} t
                 left join
             ${productPartTableName} p on t.product_or_part = p.primary_key
                 left join
             ${stockTableName} s on t.product_or_part = s.product_part_code
                 left join
             ${outboundOrderTableName} t1 on t.outbound_order = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.delete_flag = false
          <!-- 🔥 核心修改：支持单个或多个 outboundOrderCode -->
          <choose>
            <when test="requestData.outboundOrderCodes != null and requestData.outboundOrderCodes.size() > 0">
              and t.outbound_order IN
              <foreach collection="requestData.outboundOrderCodes" item="code" open="(" separator="," close=")">
                #{code}
              </foreach>
            </when>
            <when test="requestData.outboundOrderCode != null">
              and t.outbound_order = #{requestData.outboundOrderCode}
            </when>
          </choose>
        and (
        t1.outbound_type != #{typeCode}
        OR
        (t1.outbound_type = #{typeCode} AND t.accrual_out_total > 0)
        )
        <if test="requestData.partUnityNo != null and requestData.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("t.product_or_part","xihang",requestData.partUnityNo)}
        </if>
        <if test="requestData.searchName != null and requestData.searchName !=''">
            AND (p.model like '%'|| #{requestData.searchName} ||'%' or  p.product_part_sign like '%'|| #{requestData.searchName} ||'%')
        </if>
        <if test="requestData.barCodeNumber != null and requestData.barCodeNumber != ''">
            and s.bar_code_number LIKE '%'|| #{requestData.barCodeNumber} ||'%'
        </if>
        <if test="requestData.outboundDetailStatus != null and requestData.outboundDetailStatus.size() > 0">
            and t.outbound_status in
            <foreach collection="requestData.outboundDetailStatus" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
          <if test="dataScopeParams.dataScope != null">
              ${dataScopeParams.dataScope}
          </if>
        order by t.create_time desc,t.id desc
    </select>

    <select id="checkData" resultType="int">
        select
            count(1)
        from
            ${tableName}
        where enterprise_code = #{enterpriseCode}
          and primary_key = #{primaryKey}
          and delete_flag = false
    </select>

    <select id="getDetailsByOutboundOrderCode" resultMap="outboundOrderDetailModel">
        select
            primary_key,
            enterprise_code,
            outbound_order,
            out_total,
            out_num,
            outbound_status,
            create_time,
            update_time,
            delete_flag
        from
            ${tableName}
        where enterprise_code = #{enterpriseCode}
          and outbound_order = #{outboundOrderCode}
          and delete_flag = false
        order by create_time asc
    </select>

    <!-- 🔥 新增：专用于树查询，不过滤 accrual_out_total=0 的记录 -->
    <select id="listForTreeQuery" resultMap="warehouseOutboundDetailPageRpcDTO">
        select t.primary_key,
               p.product_part_sign,
               p.model,
               t.out_total,
               t.await_num,
               t.out_num,
               p.pcs,
               t.outbound_status,
               t.apply_details::BIGINT[],
               p.primary_key as productPartCode,
               s.total_inventory,
               s.lock_in_inventor,
               t.accrual_out_total,
               t.outbound_staff,
               t.accrual_lock_in_inventory,
               s.shipping_space::BIGINT[],
               t1.contract_number,
               s.stock_init_state,
               s.bar_code_number,
               t1.business_code,
               t1.outbound_type,
               s.primary_key stock
        from ${outboundOrderDetailTableName} t
                 left join
             ${productPartTableName} p on t.product_or_part = p.primary_key
                 left join
             ${stockTableName} s on t.product_or_part = s.product_part_code
                 left join
             ${outboundOrderTableName} t1 on t.outbound_order = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.delete_flag = false
          <choose>
            <when test="requestData.outboundOrderCodes != null and requestData.outboundOrderCodes.size() > 0">
              and t.outbound_order IN
              <foreach collection="requestData.outboundOrderCodes" item="code" open="(" separator="," close=")">
                #{code}
              </foreach>
            </when>
            <when test="requestData.outboundOrderCode != null">
              and t.outbound_order = #{requestData.outboundOrderCode}
            </when>
          </choose>
        <if test="requestData.searchName != null and requestData.searchName !=''">
            AND (p.model like '%'|| #{requestData.searchName} ||'%' or  p.product_part_sign like '%'|| #{requestData.searchName} ||'%')
        </if>
        ORDER BY t.create_time desc
    </select>

</mapper>