<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IOutboundOrderDetailMapper">
    <resultMap id="outboundOrderDetailModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.OutboundOrderDetailModel">
        <result property="outboundOrderDetailCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="outboundOrder" column="outbound_order"/>
        <result property="productOrPart" column="product_or_part"/>
        <result property="outTotal" column="out_total"/>
        <result property="outboundStaff" column="outbound_staff" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="awaitNum" column="await_num"/>
        <result property="outNum" column="out_num"/>
        <result property="outboundStatus" column="outbound_status"/>
        <result property="isLockStock" column="is_lock_stock"/>
        <result property="applyDetails" column="apply_details" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>

        <result property="accrualLockInInventory" column="accrual_lock_in_inventory"/>
        <result property="batchNum" column="batch_Num"/>
        <result property="accrualOutTotal" column="accrual_out_total"/>
    </resultMap>

    <select id="getOutDetailLimitOne" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
        enterprise_code,
        outbound_order,
        product_or_part,
        product_or_part,
        out_total,
        outbound_staff::BIGINT[],
        await_num,
        out_num,
        outbound_status,
        is_lock_stock,
        apply_details::BIGINT[],
        update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND product_or_part = #{productOrPart}
        AND apply_details IS NOT NULL
        AND array_length(apply_details, 1) > 0
        AND outbound_status IN
        <foreach collection="stateList" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
        ORDER BY update_time DESC
        LIMIT 1
    </select>

    <select id="getDetailByCode" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
               enterprise_code,
               outbound_order,
               product_or_part,
               out_total,
               outbound_staff::BIGINT[],
               await_num,
               out_num,
               outbound_status,
               is_lock_stock,
               apply_details::BIGINT[],
               update_time,
               create_time,
               delete_flag,
               batch_num,
               accrual_out_total,
               accrual_lock_in_inventory
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key = #{orderDetailCode}
    </select>


    <insert id="saveData">
        INSERT INTO ${tableName} (primary_key,
                                  enterprise_code,
                                  outbound_order,
                                  product_or_part,
                                  out_total,
                                  outbound_staff,
                                  await_num,
                                  out_num,
                                  outbound_status,
                                  is_lock_stock,
                                  apply_details,
                                  stcok ,accrual_out_total,accrual_lock_in_inventory)
        VALUES (#{data.outboundOrderDetailCode},
                #{data.enterpriseCode},
                #{data.outboundOrder},
                #{data.productOrPart},
                #{data.outTotal},
                #{data.outboundStaff, jdbcType=ARRAY, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.awaitNum},
                #{data.outNum},
                #{data.outboundStatus},
                #{data.isLockStock},
                #{data.applyDetails, jdbcType=ARRAY, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.stcok},#{data.accrualOutTotal},#{data.accrualLockInInventory})
    </insert>

    <update id="updateApplyDetailAndAwaitNumById">

        <![CDATA[
        update ${tableName}
        set apply_details            = #{applyDetails, jdbcType=ARRAY, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},

            accrual_out_total=${accrualOutTotal},
            accrual_lock_in_inventory=${accrualLockInInventory},
            await_Num=${awaitNum},
            outbound_Status=357345743574663168,
            is_Lock_Stock= true,
            out_total                = ${outNum}
        where primary_key = #{id}
        ]]>

    </update>


    <select id="selectByIds" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
        enterprise_code,
        outbound_order,
        product_or_part,
        out_total,
        outbound_staff::BIGINT[], await_num,
        out_num,
        outbound_status,
        is_lock_stock,
        apply_details::BIGINT[], update_time,
        create_time,
        accrual_lock_in_inventory,accrual_out_total,batch_Num,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND primary_key in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>


    <select id="selectByOutboundOrderAndProductOrPart" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
        enterprise_code,
        outbound_order,
        product_or_part,
        out_total,
        outbound_staff::BIGINT[], await_num,
        out_num,
        outbound_status,
        is_lock_stock,
        apply_details::BIGINT[], update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND outbound_order  =#{outboundOrderCode}
        and product_or_part  =#{productCode}
        and enterprise_code =#{enterpriseCode}
    </select>

    <select id="getOutboundOrderDetailListByCode" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
               enterprise_code,
               outbound_order,
               product_or_part,
               out_total,
               outbound_staff::BIGINT[], await_num,
               out_num,
               outbound_status,
               is_lock_stock,
               apply_details::BIGINT[], update_time,
               create_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND outbound_order  =#{outboundOrder}
          and enterprise_code =#{enterpriseCode}
    </select>

    <update id="updateOutboundOrderDetail">
        update ${tableName}
        set await_num = #{awaitNum},
            out_num = #{outNum},
            outbound_status = #{outboundStatus},
            accrual_lock_in_inventory = #{accrualLockInInventory}
        where enterprise_code = #{enterpriseCode}
          and primary_key = #{outboundOrderDetailCode}
    </update>


    <select id="getDetailByProductPartCodesAndOutboundOrderCode" resultMap="outboundOrderDetailModel">
        SELECT  primary_key,
        enterprise_code,
        outbound_order,
        product_or_part,
        out_total,
        outbound_staff::BIGINT[],
        await_num,
        out_num,
        outbound_status,
        is_lock_stock,
        apply_details::BIGINT[],
        update_time,
        create_time,
        delete_flag,
        batch_num,
        accrual_out_total,
        accrual_lock_in_inventory
        FROM ${outboundOrderDetailTableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND outbound_order = #{outboundOrderCode}
        AND product_or_part in
        <foreach collection="productPartCodes" item="productPartCode" open="(" close=")" separator=",">
            #{productPartCode}
        </foreach>
    </select>


    <insert id="batchInsert">
        INSERT INTO ${outboundOrderDetailTableName} (
        primary_key,
        enterprise_code,
        outbound_order,
        product_or_part,
        out_total,
        outbound_staff,
        await_num,
        out_num,
        outbound_status,
        is_lock_stock,
        apply_details,
        stcok,
        accrual_out_total,
        batch_num,
        accrual_lock_in_inventory
        )
        VALUES
        <foreach collection="outboundOrderDetailModels" index="index" item="model" separator=",">
            (
            #{model.outboundOrderDetailCode},
            #{model.enterpriseCode},
            #{model.outboundOrder},
            #{model.productOrPart},
            #{model.outTotal},
            #{model.outboundStaff,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.awaitNum},
            #{model.outNum},
            #{model.outboundStatus},
            #{model.isLockStock},
            #{model.applyDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.stcok},
            #{model.accrualOutTotal},
            #{model.batchNum},
            #{model.accrualLockInInventory}
            )
        </foreach>
    </insert>


    <update id="batchUpdateOutboundOrderDetail">
        UPDATE ${tableName}
        SET
        <trim prefix="out_total =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.outTotal}
            </foreach>
        </trim>
        ,
        <trim prefix="await_num =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.awaitNum}
            </foreach>
        </trim>
        ,
        <trim prefix="outbound_status =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.outboundStatus}
            </foreach>
        </trim>
        ,
        <trim prefix="apply_details =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.applyDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}::bigint[]
            </foreach>
        </trim>
        ,
        <trim prefix="accrual_out_total =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.accrualOutTotal}
            </foreach>
        </trim>
        ,
        <trim prefix="accrual_lock_in_inventory =case" suffix="end">
            <foreach collection="list" item="model" index="index">
                when primary_key=#{model.outboundOrderDetailCode} then #{model.accrualLockInInventory}
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="list" index="index" item="model" separator="," open="(" close=")">
            #{model.outboundOrderDetailCode}
        </foreach>
        AND enterprise_code = #{enterpriseCode}
    </update>

    <select id="queryByCodes" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
               enterprise_code,
               outbound_order,
               product_or_part,
               out_total,
               outbound_staff::BIGINT[],
                await_num,
               out_num,
               outbound_status,
               is_lock_stock,
               apply_details::BIGINT[],
                update_time,
               create_time,
               delete_flag,
               batch_num,
               accrual_out_total,
               accrual_lock_in_inventory
        FROM ${outboundOrderDetailTableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryByOrderCodes" resultMap="outboundOrderDetailModel">
        SELECT primary_key,
               enterprise_code,
               outbound_order,
               product_or_part,
               out_total,
               outbound_staff::BIGINT[],
                await_num,
               out_num,
               outbound_status,
               is_lock_stock,
               apply_details::BIGINT[],
                update_time,
               create_time,
               delete_flag,
               batch_num,
               accrual_out_total,
               accrual_lock_in_inventory
        FROM ${outboundOrderDetailTableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND outbound_order in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND primary_key not IN
        <foreach collection="detailList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="listByContractCode" resultMap="outboundOrderDetailModel">
        select
            t.primary_key,
            t.product_or_part,
            t.apply_details::BIGINT[]
        from
            ${outboundOrderDetailTableName} t
                inner join ${outboundOrderTableName} t1 on t1.primary_key = t.outbound_order
        where
            t.delete_flag = false
          and t.enterprise_code = #{enterpriseCode}
          and t1.business_code = #{businessCode}
    </select>

</mapper>