<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IPositionStockMapper">
    <resultMap id="positionStockModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.PositionStockModel">
        <result property="positionStockCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="positionCode" column="position_code"/>
        <result property="material" column="material"/>
        <result property="stock" column="stock"/>
        <result property="positionStockNum" column="position_stock_num"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <select id="getStocksByPositionCodeList" resultMap="positionStockModel">
        SELECT primary_key,
        enterprise_code,
        position_code,
        material,
        stock,
        position_stock_num,
        update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND position_code IN
        <foreach collection="positionCodeList" index="index" item="positionCode" open="(" separator="," close=")">
            #{positionCode}
        </foreach>
        <if test="material != null">
            AND material = #{material}
        </if>
    </select>

    <insert id="addPositionStock">
        insert into ${tableName} (primary_key, enterprise_code, position_code, material, stock, position_stock_num)
        values (#{positionStockModel.positionStockCode}, #{positionStockModel.enterpriseCode},
                #{positionStockModel.positionCode}, #{positionStockModel.material}, #{positionStockModel.stock},
                #{positionStockModel.positionStockNum})
    </insert>

    <select id="getStocksByProductPartCode" resultMap="positionStockModel">
        SELECT primary_key,
               enterprise_code,
               position_code,
               material,
               stock,
               position_stock_num,
               update_time,
               create_time,
               delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND material = #{productPartCode}
    </select>

    <insert id="insertBatch">
        insert into ${tableName} (primary_key, stock, enterprise_code, position_code, position_stock_num, material)
        VALUES
        <foreach collection="addList" index="index" item="model" separator=",">
            (
            #{model.positionStockCode},
            #{model.stock},
            #{model.enterpriseCode},
            #{model.positionCode},
            #{model.positionStockNum},
            #{model.material}
            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="upList" item="item" index="index" separator=";">
            UPDATE ${tableName}
            SET
            position_stock_num = #{item.positionStockNum}
            WHERE primary_key = #{item.positionStockCode}
        </foreach>
    </update>

    <select id="getPositionStockListByProductPartCode" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehousePositionStockRpcDTO">
        SELECT t.primary_key positionStockCode,
               t.enterprise_code,
               t.position_code,
               t.material,
               t.stock,
               t.position_stock_num,
               t1.warehorse || '-' || t1.position_sign  as position_sign,
               t1.type
        FROM ${positionStockTableName} t
        LEFT JOIN ${positionTableName} t1 ON t.position_code = t1.primary_key
        WHERE t.delete_flag = false
          AND t1.state = true
          AND t.enterprise_code = #{enterpriseCode}
          AND t.material = #{productPartCode}
    </select>

    <insert id="addPositionStockBatch">
        insert into ${positionStockTableName} (primary_key, stock, enterprise_code, position_code, position_stock_num,
        material)
        VALUES
        <foreach collection="addList" index="index" item="model" separator=",">
            (
            #{model.positionStockCode},
            )
        </foreach>
    </insert>

    <select id="getProductPartPositionStockList" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseProductPartPositionStockRpcDTO">
        SELECT
            t2.product_part_sign,
            t2.model,
            t1.position_sign,
            t.position_stock_num,
            t3.pieces_sign pcsChn,
            t.position_code,
            t.primary_key
        FROM ${positionStockTableName} t
        LEFT JOIN ${positionTableName} t1 ON t.position_code = t1.primary_key
        LEFT JOIN ${productPartTableName} t2 ON t.material = t2.primary_key
        LEFT JOIN ${piecesTableName} t3 ON t2.pcs = t3.primary_key
        WHERE t.delete_flag = false
          AND t.enterprise_code = #{enterpriseCode}
          AND t1.primary_key = #{positionCode}
        order by t.create_time desc
    </select>

    <select id="getProductPartPositionStockListByStockCode" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseProductPartPositionStockRpcDTO">
        SELECT t2.product_part_sign,
               t2.model,
               t1.position_sign,
               t.position_stock_num,
               t3.pieces_sign pcsChn,
               t.position_code,
               t.primary_key,
               t2.unity_no,
               t4.bar_code_number
        FROM ${positionStockTableName} t
                 LEFT JOIN ${positionTableName} t1 ON t.position_code = t1.primary_key
                 LEFT JOIN ${productPartTableName} t2 ON t.material = t2.primary_key
                 LEFT JOIN ${piecesTableName} t3 ON t2.pcs = t3.primary_key
                 LEFT JOIN ${stockTableName} t4 on t.stock = t4.primary_key
        WHERE t.delete_flag = false
          AND t.enterprise_code = #{enterpriseCode}
          AND t.stock = #{stockCode}
        order by t.create_time desc
    </select>

    <delete id="deleteByStockCodeList">
        delete from ${positionStockTableName}
        where material in
        <foreach collection="stockCodeList" index="index" item="stockCode" open="(" separator="," close=")">
            #{stockCode}
        </foreach>
        and enterprise_code = #{enterpriseCode}
    </delete>

    <select id="getStockInboundRecordPageList" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseStockInboundRecordPageRpcDTO">
        select
               t2.warehorse || '-' ||t2.position_sign as positionChn,
               t.operation_type,
               t.operation_num,
               COALESCE(t3.pieces_sign,'-') pcsChn,
               t.operator,
               t.operation_time,
               t.check_batch_number,
               t.primary_key,
               t.check_version
        from ${positionOperationTableName} t
                 left join ${productPartTableName} t1 on t.material = t1.primary_key
                 left join ${positionTableName} t2 on t.position = t2.primary_key
                 left join ${piecesTableName} t3 on t1.pcs = t3.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.stock = #{requestData.stockCode}
          and t.delete_flag = false
          --- 过滤掉batch='系统导入' 且 operation_num = 0 且 detail_code is null 且 check_version is null
--           and not (t.check_batch_number = '系统导入' and t.operation_num = 0 and t.detail_code is null and t.check_version is null and t.operation_type = false)
        <if test="requestData.batch != null and requestData.batch !=''">
            and t.check_batch_number like '%'|| #{requestData.batch} ||'%'
        </if>
        <if test="requestData.staffCode != null">
            and t.operator = #{requestData.staffCode}
        </if>
        order by t.operation_time desc
    </select>

    <update id="updatePositionCodeByStockAndOldPositionCode">
        update ${positionStockTableName}
        set position_code = #{requestData.changePositionCode}
        where stock = #{requestData.stockCode}
          and position_code = #{requestData.unChangePositionCode}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>

    <update id="updatePositionStockDeleteState">
        update ${positionStockTableName}
        set delete_flag = true
        where stock = #{stockCode}
        and enterprise_code = #{enterpriseCode}
        and delete_flag = false
        and position_code IN
        <foreach collection="toBeDeletePositionCodes" index="index" item="positionCode" open="(" separator="," close=")">
            #{positionCode}
        </foreach>
    </update>

    <select id="getStockBingPositionNumByStockCode"
            resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehousePositionStockRpcDTO">
        select
        t.position_code,
        t.position_stock_num,
        COALESCE(t3.pieces_sign,'-') piecesChn
        from ${positionStockTableName} t
        left join ${stockTableName} t1 on t.stock = t1.primary_key
        left join ${productPartTableName} t2 on t1.product_part_code = t2.primary_key
        left join ${piecesTableName} t3 on t2.pcs = t3.primary_key
        where t.enterprise_code = #{enterpriseCode}
          and t.stock = #{stockCode}
        and t.delete_flag = false
        and t.position_code in
        <foreach collection="positionCodes" index="index" item="positionCode" open="(" separator="," close=")">
            #{positionCode}
        </foreach>
        order by t.create_time desc,t.id desc
    </select>

    <select id="getProductByPositionList" resultMap="positionStockModel">
        SELECT primary_key,
        enterprise_code,
        position_code,
        material,
        stock,
        position_stock_num,
        update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}

        <if test="positionCodeList != null and positionCodeList.size() > 0">
            AND position_code IN
            <foreach collection="positionCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="productPartCodeList != null and productPartCodeList.size() > 0">
            AND material IN
            <foreach collection="productPartCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateById">
        UPDATE ${tableName}
        SET position_stock_num = #{positionStockNum}
        WHERE position_code = #{positionStockId}
        and material = #{material}
        and delete_flag=false
    </update>

</mapper>