<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IPositionStockBatchMapper">
    <resultMap id="positionStockBatchModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.PositionStockBatchModel">
        <result property="positionCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <select id="queryBatchByPositionCodeAndProductOrPartAndCheckVersion"
            resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.PositionStockBatchRpcDTO">
        select
        t.*,
        COALESCE(t1.position_batch_intact_num,0) as positionBatchIntactNum,
        COALESCE(t1.position_batch_damage_num,0) as positionBatchDamageNum,
        t1.remark
        from
        ${positionStockBatchTableName} t
        left join
        (select * from
        ${stockCheckPositionBatchRecordTableName} where check_version = #{requestData.checkVersion}) t1
        on
        t.batch_code = t1.batch_code
        where t.enterprise_code = #{enterpriseCode}
        and t.product_or_part = #{requestData.productOrPart}
        and t.delete_flag = false
        AND (
        (t.batch != '系统导入' AND t.position_stock_batch_num > 0)
        OR
--         (t.batch = '系统导入' AND t.position_stock_batch_num > 0)
        (t.batch = '系统导入' AND t.position_stock_batch_num >= 0)
        )
        and t.position_code in
        <foreach collection="requestData.positionCodes" index="index" item="positionCode" open="(" separator="," close=")">
            #{positionCode}
        </foreach>
        order by t.create_time asc ,t.id asc
    </select>

    <select id="getStockPositionBatchNumList" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.PositionStockBatchRpcDTO">
        select
        t4.warehorse || '-' || t4.position_sign as positionName,
        t.batch,
        t.position_stock_batch_num,
        COALESCE(t3.pieces_sign,'-') pieces_chn
        from
        ${positionStockBatchTableName} t
        left join ${stockTableName} t1 on t.stock_code = t1.primary_key
        left join ${productPartTableName} t2 on t1.product_part_code = t2.primary_key
        left join ${piecesTableName} t3 on t2.pcs = t3.primary_key
        left join ${positionTableName} t4 on t.position_code = t4.primary_key
        where t.stock_code = #{requestData.stockCode}
        and t.enterprise_code = #{enterpriseCode}
        and t.delete_flag = false
        and t.position_code in
        <foreach collection="positionCodes" index="index" item="positionCode" open="(" separator="," close=")">
            #{positionCode}
        </foreach>
        <if test="requestData.batch != null and requestData.batch != ''">
            and t.batch like '%'|| #{requestData.batch} ||'%'
        </if>
        ORDER BY t.create_time DESC
        </select>

</mapper>