<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IPositionOperationMapper">

    <insert id="insertBatch">
        insert into ${tableName}
        (
        primary_key,
        position,
        stock,
        enterprise_code,
        operation_num,
        check_batch_number,
        batch_code,
        remark,
        operator,
        operation_type,
        operation_time,
        material,
        detail_code,
        apply_num,
        operation_version,
         check_version,
         batch_global_code,
        apply_detail_code,
        stock_type,
         contract_number,
         contract_code,
         related_party,
        parent_material_data_key,
        warehouse_stock_detail_code
        )
        VALUES
        <foreach collection="models" index="index" item="model" separator=",">
            (
            #{model.positionOperationCode},
            #{model.position},
            #{model.stock},
            #{model.enterpriseCode},
            #{model.operationNum},
            #{model.checkBatchNumber},
            #{model.batchCode},
            #{model.remark},
            #{model.operator},
            #{model.operationType},
            #{model.operationTime},
            #{model.material},
            #{model.detailCode},
            #{model.applyNum},
            #{model.operationVersion},
             #{model.checkVersion},
             #{model.batchGlobalCode},
             #{model.applyDetailCode},
             #{model.stockType},
             #{model.contractNumber},
              #{model.contractCode},
             #{model.relatedParty},
             #{model.parentMaterialDataKey},
             #{model.warehouseStockDetailCode}
            )
        </foreach>
    </insert>

    <select id="listByCode" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInPositionOperationRpcDTO">
        select
            t.apply_num,
            t.operation_num,
            t1.position_sign,
            t.check_batch_number,
            t.operator,
            t.operation_time,
            t.remark,
            t.primary_key as positionOperationCode,
            t.operation_version,
            t.operation_time
        from
            ${positionOperationTableName} t
        inner join ${positionTableName} t1 on t.position = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
        and t.detail_code = #{code}
        order by t.create_time desc
    </select>

    <select id="listByOperationVersion" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInPositionOperationRpcDTO">
        select
            t.apply_num,
            t.operation_num,
            t1.position_sign,
            t.check_batch_number,
            t.operator,
            t.operation_time,
            t.remark,
            t.primary_key as positionOperationCode,
            t.operation_version,
            t.operation_time
        from
            ${positionOperationTableName} t
        inner join ${positionTableName} t1 on t.position = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
        and t.operation_version = #{operationVersion}
        order by t.create_time desc
    </select>

    <!-- 根据新库存表主键查询出库操作记录 -->
    <select id="listByWarehouseStockDetailCode" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInPositionOperationRpcDTO">
        select
            t.apply_num,
            t.operation_num,
            t1.position_sign,
            t.check_batch_number,
            t.operator,
            t.operation_time,
            t.remark,
            t.primary_key as positionOperationCode,
            t.operation_version,
            t.operation_time
        from
            ${positionOperationTableName} t
        inner join ${positionTableName} t1 on t.position = t1.primary_key
        where t.enterprise_code = #{enterpriseCode}
        and t.warehouse_stock_detail_code = #{warehouseStockDetailCode}
        order by t.create_time desc
    </select>

    <!-- 更新 position_operation 的 warehouse_stock_detail_code 字段 -->
    <update id="updateWarehouseStockDetailCode">
        update ${positionOperationTableName}
        set warehouse_stock_detail_code = #{warehouseStockDetailCode}
        where detail_code = #{detailCode}
        and enterprise_code = #{enterpriseCode}
    </update>

    <select id="countByPositionOperation" resultType="long">
        SELECT COUNT(*) FROM ${positionOperationTableName} t
        WHERE t.enterprise_code = #{enterpriseCode}
        AND t.primary_key = #{positionOperationCode}
    </select>

    <select id="selectListByApplyCode" resultType="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInPositionOperationRpcDTO">
        select t.apply_num,
               t.operation_num,
               t.check_batch_number,
               t.operator,
               t.operation_time,
               t.remark,
               t.primary_key as positionOperationCode,
               t.operation_version,
               t.operation_time
        from ${dynamicTableNameProxy.positionOperation} t
        where apply_detail_code = #{id}
        order by t.operation_time desc nulls last
    </select>

    <!-- 查询合同的第一次出库时间 -->
    <select id="getFirstOutboundTimeByContract" resultType="java.util.Date">
        SELECT MIN(po.create_time) as first_outbound_time
        FROM ${positionOperationTableName} po
        WHERE po.detail_code IN (
            SELECT od.primary_key
            FROM ${outboundOrderDetailTableName} od
            INNER JOIN ${outboundOrderTableName} oo ON od.outbound_order = oo.primary_key
            WHERE oo.contract_number = #{contractNumber}
              AND oo.enterprise_code = #{enterpriseCode}
              AND od.delete_flag = false
        )
          AND po.operation_type = true
          AND po.enterprise_code = #{enterpriseCode}
          AND po.delete_flag = false
    </select>

</mapper>