<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IStocktakingMapper">
    <resultMap id="stocktakingModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.StocktakingModel">
        <result property="stocktakingCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="positionCode" column="position_Code"/>
        <result property="productPartCode" column="product_part_code"/>
        <result property="inventoryCode" column="inventory_code"/>
        <result property="intactQty" column="intact_qty"/>
        <result property="damagedQty" column="damaged_qty"/>
        <result property="stockSnapQty" column="stock_snap_qty"/>
        <result property="bookTotCntQty" column="book_tot_cnt_qty"/>
        <result property="physCntSnapQty" column="phys_cnt_snap_qty"/>
        <result property="operator" column="operator"/>
        <result property="stocktakingType" column="stocktaking_type"/>
        <result property="remark" column="remark"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into ${tableName}
        (primary_key, enterprise_code, position_Code, product_part_code, inventory_code, intact_qty, damaged_qty,
        stock_snap_qty, book_tot_cnt_qty, phys_cnt_snap_qty, operator, stocktaking_type, remark) values
        <foreach collection="stocktakingModels" index="index" item="stocktaking" separator=",">
            (#{stocktaking.stocktakingCode}, #{stocktaking.enterpriseCode}, #{stocktaking.positionCode},
            #{stocktaking.productPartCode}, #{stocktaking.inventoryCode}, #{stocktaking.intactQty},
            #{stocktaking.damagedQty}, #{stocktaking.stockSnapQty}, #{stocktaking.bookTotCntQty},
            #{stocktaking.physCntSnapQty},#{stocktaking.operator}, #{stocktaking.stocktakingType},
            #{stocktaking.remark})
        </foreach>
    </insert>
</mapper>