<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.IStockMapper">
    <resultMap id="stockModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.StockModel">
        <result property="stockCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="totalInventory" column="total_inventory"/>
        <result property="productPartCode" column="product_part_code"/>
        <result property="lockInInventor" column="lock_in_inventor"/>
        <result property="remark" column="remark"/>
        <result property="safeInventory" column="safe_inventory"/>
        <result property="countCycle" column="count_cycle"/>
        <result property="unqualifiedInventory" column="unqualified_inventory"/>
        <result property="picture" column="picture" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="state" column="state"/>
        <result property="shippingSpace" column="shipping_space" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="stockInitState" column="stock_init_state"/>
        <result property="barCodeNumber" column="bar_code_number"/>
        <result property="checkVersion" column="check_version"/>
        <result property="checkFlag" column="check_flag"/>
    </resultMap>

    <resultMap id="stockProductPartNameModel"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.StockProductPartNameModel">
        <result property="stockCode" column="primary_key"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="productPartCode" column="product_part_code"/>
        <result property="productPartName" column="product_part_sign"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <resultMap id="StockResultMap" type="com.futurecraftsmen.pms.technical.service.domain.inventory.WarehouseStockModel">
        <id property="stockCode" column="primary_key" />
        <result property="unqualifiedInventory" column="unqualified_inventory" />
        <result property="enterpriseCode" column="enterprise_code" />
        <result property="lockInInventor" column="lock_in_inventor" />
        <result property="totalInventory" column="total_inventory" />
        <result property="shippingSpace" column="shipping_space" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="safeInventory" column="safe_inventory" />
        <result property="picture" column="picture" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="remark" column="remark" />
        <result property="productPartCode" column="product_part_code" />
        <result property="countCycle" column="count_cycle" />
        <result property="state" column="state" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="deleteFlag" column="delete_flag" />
    </resultMap>

    <resultMap id="warehouseInventoryPageRpcDTO" type="com.futurecraftsmen.pms.technical.api.domain.warehouse.WarehouseInventoryPageRpcDTO">
        <result column="stock" property="stock"/>
        <result column="product_part_code" property="productPartCode"/>
        <result column="product_part_sign" property="productPartSign"/>
        <result column="model" property="model"/>
        <result column="pcs" property="pcs"/>
        <result column="pcsChn" property="pcsChn"/>
        <result column="total_inventory" property="totalInventory"/>
        <result column="canUseInventory" property="canUseInventory"/>
        <result column="positionCodes" property="positionCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="count_cycle" property="countCycle"/>
        <result column="state" property="state"/>
        <result column="stateChn" property="stateChn"/>
        <result column="safe_inventory" property="safeInventory"/>
        <result column="remark" property="remark"/>
        <result column="stock_init_state" property="stockInitState"/>
        <result column="bar_code_number" property="barCodeNumber"/>
        <result column="type_name" property="typeName"/>
        <result column="productPartTypeCode" property="productPartTypeCode"/>
        <result column="check_flag" property="checkFlag"/>
        <result column="check_version" property="checkVersion"/>
    </resultMap>


    <select id="getStockByProductPartCode" resultMap="stockModel">
        SELECT primary_key,
               enterprise_code,
               total_inventory,
               product_part_code,
               lock_in_inventor,
               remark,
               safe_inventory,
               count_cycle,
               unqualified_inventory,
               picture,
               state,
               shipping_space::BIGINT[],
            update_time,
               create_time,
               delete_flag,
               stock_init_state,
               bar_code_number,
               check_flag,
               check_version
        FROM ${tableName}
        WHERE delete_flag = false
          AND stock_init_state = true
          AND enterprise_code = #{enterpriseCode}
          AND product_part_code = #{productPartCode}
    </select>

    <select id="getStocksPaging" resultMap="stockProductPartNameModel">
        SELECT
        t.id,
        t.product_part_code,
        t1.product_part_sign,
        t.update_time,
        t.create_time,
        t.delete_flag
        FROM ${stockTableName} t
        LEFT JOIN ${productPartTableName} t1 ON t.product_part_code = t1.primary_key
        WHERE t.delete_flag = false
        AND t.state = true
        AND t.stock_init_state = true
        AND t.enterprise_code = #{enterpriseCode}
        <if test="productPartName != null and productPartName != ''">
            AND t1.product_part_sign LIKE '%'|| #{productPartName} ||'%'
        </if>
        <if test="excludeCodeList!=null and !excludeCodeList.isEmpty()">
            AND t.product_part_code NOT IN
            <foreach item="excludeCode" index="index" collection="excludeCodeList" open="(" separator="," close=")">
                #{excludeCode}
            </foreach>
        </if>
        ORDER BY t.create_time DESC, t.id DESC
    </select>

    <update id="updateShippingSpace">
        UPDATE ${tableName}
        SET shipping_space = #{shippingSpace}
        WHERE delete_flag = false
          AND primary_key = #{stockCode}
          AND enterprise_code = #{enterpriseCode}
    </update>


    <select id="getStockByStockCode" resultMap="stockModel">
        SELECT primary_key,
               enterprise_code,
               total_inventory,
               product_part_code,
               lock_in_inventor,
               remark,
               safe_inventory,
               count_cycle,
               unqualified_inventory,
               picture::BIGINT[] picture,
            state,
               shipping_space::BIGINT[],
            update_time,
               create_time,
               delete_flag,
               bar_code_number,
               stock_init_state,
               check_flag
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND primary_key = #{stock}
    </select>

    <update id="updateStock">
        update ${tableName}
        SET total_inventory = #{totalInventory},
        <if test="lockInventory!= null">
            lock_in_inventor = #{lockInventory},
        </if>
        unqualified_inventory = #{unqualifiedInventory},
        shipping_space = #{positionCodeArray,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        where primary_key = #{stock}
        and enterprise_code = #{enterpriseCode}
    </update>

    <update id="updateMaterialPicture">
        update ${tableName}
        SET picture = #{pictures,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        where primary_key = #{primaryKeyValue}
          and enterprise_code = #{enterpriseCode}
    </update>

    <update id="updateStockNum">

    <![CDATA[
        update ${tableName}
        SET lock_In_Inventor=lock_In_Inventor + #{num}
          , update_time=now()
        where primary_key = #{id}  and  lock_In_Inventor + #{num}<=total_inventory and state = true and stock_init_state = true
        ]]>


    </update>


    <select id="getStockByProductPartCodeIn" resultMap="stockModel">
        SELECT primary_key,
        enterprise_code,
        total_inventory,
        product_part_code,
        lock_in_inventor,
        remark,
        safe_inventory,
        count_cycle,
        unqualified_inventory,
        picture::BIGINT[] picture, state,
        shipping_space::BIGINT[], update_time,
        create_time,
        delete_flag,
        stock_init_state,
        bar_code_number
        FROM ${tableName}
        WHERE delete_flag = false
        AND state = true
        AND stock_init_state = true
        AND enterprise_code = #{enterpriseCode}
        AND product_part_code in
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getStockByProductPartCodeInNew" resultMap="stockModel">
        SELECT primary_key,
        enterprise_code,
        total_inventory,
        product_part_code,
        lock_in_inventor,
        remark,
        safe_inventory,
        count_cycle,
        unqualified_inventory,
        picture::BIGINT[] picture, state,
        shipping_space::BIGINT[], update_time,
        create_time,
        delete_flag,
        stock_init_state,
        bar_code_number
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND product_part_code in
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateStockBaseInfo">
        UPDATE ${tableName}
        <set>
            safe_inventory = #{model.safeInventory},
            remark = #{model.remark},
            count_cycle = #{model.countCycle},
            state = #{model.state},
            bar_code_number = #{model.barCodeNumber},
            stock_limit = #{model.stockLimit},
            picture = #{model.picture}
        </set>
        where
        enterprise_code = #{enterpriseCode}
        and primary_key = #{model.stockCode}
    </update>

    <update id="batchUpdateStock">
        <foreach collection="list" item="item" index="index" separator=";">
            update ${tableName}
            <set>
                <if test="item.safeInventory!= null">
                    safe_inventory = #{item.safeInventory},
                </if>
                <if test="item.remark!= null and item.remark!= ''">
                    remark = #{item.remark},
                </if>
                <if test="item.totalInventory!= null">
                    total_inventory = #{item.totalInventory},
                </if>
                <if test="item.positionCodes!= null">
                    shipping_space = #{item.positionCodes,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                </if>
                <if test="item.barCodeNumber!= null">
                    bar_code_number = #{item.barCodeNumber},
                </if>
                <if test="item.countCycleCode!= null">
                    count_cycle = #{item.countCycleCode},
                </if>
                <if test="item.stockLimit!= null">
                    stock_limit = #{item.stockLimit},
                </if>
                <if test="item.stockLimit!= null">
                    stock_limit = #{item.stockLimit},
                </if>
            </set>
            where
            enterprise_code = #{enterpriseCode}
            and product_part_code = #{item.productPartCode}
        </foreach>
    </update>

    <update id="newBatchUpdateStock">
        <foreach collection="list" item="item" index="index" separator=";">
            update ${tableName}
            <set>
                <if test="item.safeInventory!= null">
                    safe_inventory = #{item.safeInventory},
                </if>
                <if test="item.remark!= null and item.remark!= ''">
                    remark = #{item.remark},
                </if>
                <if test="item.totalInventory!= null">
                    total_inventory = #{item.totalInventory},
                </if>
                <if test="item.positionCodes!= null">
                    shipping_space = #{item.positionCodes,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                </if>
                <if test="item.barCodeNumber!= null">
                    bar_code_number = #{item.barCodeNumber},
                </if>
                <if test="item.countCycleCode!= null">
                    count_cycle = #{item.countCycleCode},
                </if>
                <if test="item.stockLimit!= null">
                    stock_limit = #{item.stockLimit}
                </if>
            </set>
            where
            enterprise_code = #{enterpriseCode}
            and product_part_code = #{item.productPartCode}
        </foreach>
    </update>

    <select id="queryWarehouseInventoryByCodes" resultMap="StockResultMap">
        select
        unqualified_inventory,
        enterprise_code,
        lock_in_inventor,
        total_inventory,
        shipping_space::BIGINT[],
        safe_inventory,
        picture::BIGINT[],
        remark,
        product_part_code,
        count_cycle,
        state,
        dynamic_sort,
        primary_key,
        create_time,
        update_time,
        delete_flag
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
        and primary_key in
        <foreach collection="stockCodes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <update id="updateStockInitStateByCodes">
        update ${stockTableName}
        set stock_init_state = #{stockInitState}
        where enterprise_code = #{enterpriseCode}
        and product_part_code in
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
    </update>

    <select id="checkBarCode" resultType="int">
        select count(1)
        from ${stockTableName}
        where bar_code_number = #{barCodeNumber}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </select>

    <select id="getBarCodeNumberList" resultType="string">
        select distinct bar_code_number
        from ${stockTableName}
        where enterprise_code = #{enterpriseCode}
          and delete_flag = false
          and bar_code_number is not null
    </select>

    <select id="getStocksPageInfo" resultMap="warehouseInventoryPageRpcDTO">
        select
            t.primary_key stock,
            t.product_part_code,
            t1.product_part_sign,
            t1.model,
            t1.pcs,
            t2.pieces_sign pcsChn,
            t.total_inventory,
            t.total_inventory - t.lock_in_inventor canUseInventory,
            t.shipping_space::BIGINT[] positionCodes,
            t.count_cycle,
            t.state,
            case when t.state then '启用' else '停用' end stateChn,
            t.safe_inventory,
            t.remark,
            t.stock_init_state,
            t.bar_code_number,
            t3.type_name,
            t3.primary_key productPartTypeCode,
            t.check_version,
            t.check_flag
        from
            ${stockTableName} t
                left join ${productPartTableName} t1 on t.product_part_code = t1.primary_key
                left join ${piecesTableName} t2 on t1.pcs = t2.primary_key
                left join ${productPartTypeTableName} t3 on t1.product_part_type = t3.primary_key
        where
            t.delete_flag = false
          and t.enterprise_code = #{enterpriseCode}
          and t.product_part_code = #{productPartCode}
    </select>


</mapper>