<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.operation.service.dao.OperationPermissionDao">
    <select id="getAllOperationPermission"
            resultType="com.futurecraftsmen.pms.operation.service.po.base.OperationPermissionModel">
        SELECT id,
               operation_permission_code,
               minimum_role_level,
               uri_match,
               remark,
               create_time,
               update_time,
               delete_flag
        FROM operation_base.t_operation_base_permission
        WHERE delete_flag = false
    </select>
</mapper>