<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dp.service.dao.GlobalNumberConfigDao">

    <select id="querySystemAll" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number
        where status = 1
        <if test="rightCode!=null">
            and right_Code = #{rightCode}
        </if>


    </select>


    <select id="queryEnterpriseSystemAll" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number_model
        where status = 1
        <if test="rightCode!=null">
            and right_Code = #{rightCode}
        </if>
        and enterprise_code=${dynamicTableNameProxy.enterpriseCode}

    </select>


    <select id="querySystemConfigByTableCodeAndPageCode" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number
        where 1=1
        <if test="!status">
            and status = 1
        </if>

        <if test="tableCode!=null and tableCode !=  0">
            and table_code = #{tableCode}
        </if>

        <if test="pageCode!=null and pageCode   != 0">
            and page_Code = #{pageCode}
        </if>

    </select>


    <select id="queryEnterpriseSystemConfigByTableCodeAndPageCode" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number_model
        where status = 1

        <if test="tableCode!=null and tableCode  != 0">
            and table_code = #{tableCode}
        </if>

        <if test="pageCode!=null and pageCode   != 0">
            and page_Code = #{pageCode}
        </if>


        and enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
    </select>


    <select id="querySystemConfigByPageCode" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number
        where page_code = #{pageCode}

    </select>


    <select id="queryEnterpriseSystemConfigByPageCode" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        select *
        from dm_base.t_dm_base_global_number_model
        where page_code = #{pageCode}
          and enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
    </select>


    <select id="queryEnterpriseConfigByTableCode"
            resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalSerialNumberResponse">

        select *
        from ${dynamicTableNameProxy.globalNumberGenerate}
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
          and table_Code = #{tableCode}
    </select>


    <select id="queryEnterpriseConfigByPageCode"
            resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalSerialNumberResponse">

        select *
        from ${dynamicTableNameProxy.globalNumberGenerate}
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
          and page_Code = #{pageCode}
        order by id desc
    </select>


    <select id="queryAllEnterpriseConfig"
            resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalSerialNumberResponse">
        select *
        from ${dynamicTableNameProxy.globalNumberGenerate}
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
    </select>


    <update id="updateEnterpriseConfig">

        update ${dynamicTableNameProxy.globalNumberGenerate}
        set update_time=now(),
            generate_Way=#{data.generateWay},
            creator=${dynamicTableNameProxy.currentCode},
            pic_Size=#{data.picSize},
            status=#{data.status},
            field_Show_Name=#{data.fieldShowName},
            page_code=#{data.pageCode},
            rule=#{data.rule},
            formula_Config=#{data.formulaConfig}
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
          and table_code = #{data.tableCode}

    </update>


    <insert id="saveEnterpriseConfig">
        insert into ${dynamicTableNameProxy.globalNumberGenerate} (page_Code, formula_Config, creator, create_Time,
                                                                   update_Time, enterprise_Code, generate_Way,
                                                                   primary_key, pic_Size, status, field_Show_Name, table_code, rule)
        values (#{data.pageCode}, #{data.formulaConfig}, ${dynamicTableNameProxy.currentCode}, now(), now(),
                ${dynamicTableNameProxy.enterpriseCode}, #{data.generateWay}, #{data.primaryKey}, #{data.picSize}, #{data.status},
                #{data.fieldShowName}, #{data.tableCode}, #{data.rule})
    </insert>


    <insert id="saveHistoryConfig">
        insert into ${dynamicTableNameProxy.serialGeneratedRecord} (primary_key, sno, create_Data, enterprise_code, table_code)
        values (#{configCode}, #{resultNo}, #{data}, ${dynamicTableNameProxy.enterpriseCode}, #{tableCode})
    </insert>

    <update id="updateHistoryConfig">
        UPDATE ${dynamicTableNameProxy.serialGeneratedRecord}
            SET  sno = #{resultNo},
                 create_data= #{data}
            WHERE  primary_key = #{configCode}
            AND enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
    </update>


    <select id="queryHistoryConfig" resultType="com.futurecraftsmen.pms.dp.api.domain.SerialGeneratedRecordDto">
        select *
        from ${dynamicTableNameProxy.serialGeneratedRecord}
        where primary_key = #{configCode}
    </select>

    <select id="queryHistoryConfigByRawNo" resultType="com.futurecraftsmen.pms.dp.api.domain.SerialGeneratedRecordDto">
        select *
        from ${dynamicTableNameProxy.serialGeneratedRecord}
        where sno = #{rawNo}
          AND table_code = #{tableCode}
          AND enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
    </select>


    <select id="queryCityByCode" resultType="com.futurecraftsmen.pms.dp.service.domain.CityBean">
        select *
        from dm_base.t_dm_base_city_case
        where enum_code = #{id} limit 1
    </select>


    <select id="queryPageUnfoldByCondition" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberUnfold">
        select *
        from ${dynamicTableNameProxy.globalNumberUnfold}
        where enterprise_Code = ${dynamicTableNameProxy.enterpriseCode}
        and table_code = #{data.tableCode}

        <if test="data.pageCode!=null and data.pageCode   !=  0 ">
            and page_code = #{data.pageCode}
        </if>


        <if test="data.queryValue!=null and data.queryValue!=''">
            and query_Value like '%'|| #{data.queryValue} ||'%'
        </if>

        <if test="data.queryKey!=null and data.queryKey!=''">
            and query_key = #{data.queryKey} ||''
        </if>
        and delete_flag=false order by id desc
    </select>


    <delete id="globalNumberUnfoldDelete">
        delete from ${dynamicTableNameProxy.globalNumberUnfold}
        where primary_key in
        <foreach collection="ids" close=")" open="(" item="i" separator=",">
            #{i}
        </foreach>
    </delete>


    <!-- Insert 语句 -->
    <insert id="globalNumberUnfoldAdd" parameterType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberUnfold">
        INSERT INTO ${dynamicTableNameProxy.globalNumberUnfold}
        (query_key, query_value, page_code, creator, generate_way, formula, pic_size, table_code, primary_key, enterprise_Code, rule)
        VALUES (#{data.queryKey},
                #{data.queryValue},
                #{data.pageCode},
                #{data.creator},
                #{data.generateWay},
                #{data.formula},
                #{data.picSize},
                #{data.tableCode},
                #{data.primaryKey}, ${dynamicTableNameProxy.enterpriseCode}, #{data.rule})
    </insert>

    <!-- Update 语句 -->
    <update id="globalNumberUnfoldUpdate" parameterType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberUnfold">
        UPDATE ${dynamicTableNameProxy.globalNumberUnfold}
        SET query_key    = #{data.queryKey},
            query_value  = #{data.queryValue},
            page_code    = #{data.pageCode},
            creator      = #{data.creator},
            generate_way = #{data.generateWay},
            formula      = #{data.formula},
            pic_size     = #{data.picSize},
            rule = #{data.rule},
            table_code   = #{data.tableCode}
        WHERE primary_key = #{data.primaryKey}
    </update>


    <select id="queryLevelData"
            resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberConfigDto">

        with aa as (
        ${dynamicTableNameProxy.generateSql(data.tableCode,data.queryKey)}

        )


        select *
        from (select a.page_code,
        a.enterprise_code,
        a.generate_way,
        a.formula,
        a.pic_size,
        a.query_key,
        a.primary_key,
        a.table_code,
        a."rule",
        aa.level "order" ,1 status
        from ${dynamicTableNameProxy.globalNumberUnfold} a,
        aa
        where aa.primary_key = a.query_key::BIGINT
        and a.delete_flag =false
        and a.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        <if test="data.tableCode!=null and data.tableCode  != 0">
            and table_code = #{data.tableCode}
        </if>

        <if test="data.pageCode!=null and data.pageCode   != 0">
            and page_Code = #{data.pageCode}
        </if>

        union all


        select page_code, enterprise_code, generate_way, formula_config, pic_size, null, primary_key, table_code, "rule", 2000 "order",
        case when status then 1 else 0 end
        from ${dynamicTableNameProxy.globalNumberGenerate} b

        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}

        and b.delete_flag =false

        <if test="data.tableCode!=null and data.tableCode  != 0">
            and table_code = #{data.tableCode}
        </if>

        <if test="data.pageCode!=null and data.pageCode   != 0">
            and page_Code = #{data.pageCode}
        </if>
        union all

        select page_code, enterprise_code, null, formula, null, null, 2, table_code, 'no', 3000 "order",status
        from dm_base.t_dm_base_global_number_model tdbgnm
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        and status =1

        <if test="data.tableCode!=null and data.tableCode  != 0">
            and table_code = #{data.tableCode}
        </if>

        <if test="data.pageCode!=null and data.pageCode   != 0">
            and page_Code = #{data.pageCode}
        </if>

        union all
        select page_code, null, null, formula, null, null, 2, table_code, 'no', 40000 "order",1
        from dm_base.t_dm_base_global_number tdbgnm

        where 1=1
        <if test="data.tableCode!=null and data.tableCode  != 0">
            and table_code = #{data.tableCode}
        </if>

        <if test="data.pageCode!=null and data.pageCode   != 0">
            and page_Code = #{data.pageCode}
        </if>

        )
        order by "order"


    </select>


    <select id="checkNo" resultType="java.lang.Long">
        select primary_key
        from ${dynamicTableNameProxy.serialGeneratedRecord}
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        and table_code in
        <foreach collection="tableCode" item="code" separator="," close=")" open="(">
            #{code}
        </foreach>
          and sno = #{id}
    </select>


    <select id="dyncSqlQueryByTableCode" resultType="java.lang.String">

        select dync_sql
        from (select dync_sql, 1 level
              from dm_base.t_dm_base_global_number
              where table_code = #{tableCode}
                and dync_sql is not null
              union all
              select dync_sql, 2 level
              from dm_base.t_dm_base_global_number
              where table_code = -1)
        order by level limit 1


    </select>


    <select id="queryPageUnfoldByConditionLimitOne" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberUnfold">
        select *
        from ${dynamicTableNameProxy.globalNumberUnfold}
        where enterprise_Code = ${dynamicTableNameProxy.enterpriseCode}
        and table_code = #{tableCode}

        <if test="pageCode!=null and pageCode   !=  0 ">
            and page_code = #{pageCode}
        </if>


        <if test="queryKey!=null and queryKey!=''">
            and query_key = #{queryKey}
        </if>
        and delete_flag=false
        LIMIT 1
    </select>


    <select id="queryPageUnfoldsByTableCodeAndQueryKeys" resultType="com.futurecraftsmen.pms.dp.api.domain.GlobalNumberUnfold">
        select *
        from ${dynamicTableNameProxy.globalNumberUnfold}
        where enterprise_Code = ${dynamicTableNameProxy.enterpriseCode}
        and table_code = #{tableCode}

        and query_key IN
        <foreach collection="queryKeys" close=")" open="(" item="i" separator=",">
            #{i}
        </foreach>
        and delete_flag=false
    </select>

</mapper>