<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dp.service.dao.ProcessAuthorizationDao">

    <insert id="processNodeMapPosts">
        INSERT INTO dp_base.t_dp_base_node_map_post (map_code, node_code, post_codes, enterprise_code)
        VALUES (#{mapCode}, #{nodeCode}, #{postCodes}, #{enterpriseCode}) ON CONFLICT(node_code, enterprise_code) DO
        UPDATE SET post_codes = EXCLUDED.post_codes
    </insert>


    <select id="getProcessNodeMapPostByNodes"
            resultType="com.futurecraftsmen.pms.dp.service.po.base.ProcessNodeMapPostModel">
        SELECT map_code, node_code, post_codes, enterprise_code
        FROM dp_base.t_dp_base_node_map_post
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND node_code IN
        <foreach collection="nodeCodes" index="index" item="nodeCode" open="(" separator="," close=")">
            #{nodeCode}
        </foreach>
    </select>

    <select id="getProcessNodeByPostCode" resultType="java.lang.Long">
        SELECT node_code
        FROM dp_base.t_dp_base_node_map_post
        WHERE enterprise_code = #{enterpriseCode}
          AND post_codes LIKE '%' || #{postCodeValue} || '%'
          AND delete_flag = false
    </select>
</mapper>