<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.invoiceorder.InvoiceOrderDao">


    <resultMap id="InvoiceOrderModel"
               type="com.futurecraftsmen.pms.pas.service.po.invoiceorder.InvoiceOrderModel">
        <result column="primary_key" property="invoiceOrderCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="invoice_order_number" property="invoiceOrderNumber"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="consignee_name" property="consigneeName"/>
        <result column="sender_time" property="senderTime"/>
        <result column="sender" property="sender"/>
        <result column="logistics_number" property="logisticsNumber"/>
        <result column="logistics_info" property="logisticsInfo" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="logistics_status" property="logisticsStatus"/>
        <result column="invoice_order_title" property="invoiceOrderTitle"/>
        <result column="package_info" property="packageInfo"/>
        <result column="temp_detail" property="tempDetail"/>
        <result column="user_codes" property="userCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="packaged" property="packaged"/>
        <result column="business_belong" property="businessBelong"/>
    </resultMap>


    <select id="page" resultMap="InvoiceOrderModel">
        SELECT primary_key, enterprise_code, invoice_order_number, receiver_name,consignee_name,
        sender_time, sender,logistics_number, logistics_info,
        logistics_status, invoice_order_title,package_info,temp_detail,user_codes,packaged, business_belong
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="invoiceOrderNumber != null and invoiceOrderNumber !=''">
            AND invoice_order_number LIKE '%'|| #{invoiceOrderNumber} ||'%'
        </if>
        <if test="receiverName != null and receiverName !=''">
            AND receiver_name LIKE '%'|| #{receiverName} ||'%'
        </if>
        <if test="consigneeName != null and consigneeName !=''">
            AND consignee_name LIKE '%'|| #{consigneeName} ||'%'
        </if>
        <if test="sender != null and sender.size() > 0">
            AND sender IN
            <foreach collection="sender" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>
        <if test="senderTimePreDate != null">
            AND sender_time &gt;= #{senderTimePreDate}
        </if>
        <if test="senderTimePostDate != null">
            AND sender_time &lt;= #{senderTimePostDate}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        <if test="logisticsNumber != null and logisticsNumber != ''">
            AND logistics_number LIKE '%'|| #{logisticsNumber} ||'%'
        </if>
        ORDER BY id DESC
    </select>


    <select id="invoiceOrderDetail" resultMap="InvoiceOrderModel">
        SELECT primary_key, enterprise_code, invoice_order_number, receiver_name,consignee_name,
        sender_time, sender,logistics_number, logistics_info,
        logistics_status, invoice_order_title,package_info,temp_detail,user_codes,packaged, business_belong
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key= #{invoiceOrderCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </select>


    <select id="invoiceOrderInnerDetail" resultMap="InvoiceOrderModel">
        SELECT primary_key,
               enterprise_code,
               invoice_order_number,
               receiver_name,
               consignee_name,
               sender_time,
               sender,
               logistics_number,
               logistics_info,
               logistics_status,
               invoice_order_title,
               package_info,
               temp_detail,
               user_codes,
               packaged,
               business_belong
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{invoiceOrderCode}
    </select>


    <update id="clearTempDetail">
        UPDATE ${tableName}
        SET temp_detail = NULL
        WHERE enterprise_code = #{model.enterpriseCode}
          AND primary_key = #{model.invoiceOrderCode}
          AND temp_detail IS NOT NULL
    </update>

    <update id="updateTempDetail">
        UPDATE ${tableName}
        SET temp_detail = #{model.tempDetail}
        WHERE enterprise_code = #{model.enterpriseCode}
          AND primary_key = #{model.invoiceOrderCode}
    </update>


    <update id="update">
        UPDATE ${tableName}
        SET invoice_order_number = #{model.invoiceOrderNumber},
            invoice_order_title  = #{model.invoiceOrderTitle},
            package_info         = #{model.packageInfo},
            packaged = #{model.packaged},
            temp_detail          = NULL
        WHERE enterprise_code = #{model.enterpriseCode}
          AND primary_key = #{model.invoiceOrderCode}
    </update>

    <select id="countByOrderNumber" resultType="int">
        SELECT COUNT(id)
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key != #{excludeInvoiceOrderCode}
          AND invoice_order_number = #{invoiceOrderNumber}
          AND delete_flag = 'f'
    </select>


</mapper>
