<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.file.service.dao.DirectUploadRecordsDao">
    <resultMap type="com.futurecraftsmen.pms.file.common.model.DirectUploadRecordModel" id="DirectUploadRecordsMap">
        <result property="directUploadId" column="direct_upload_id"/>
        <result property="userCode" column="user_code"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="objectLocation" column="object_location"/>
        <result property="expiration" column="expiration"/>
        <result property="fileId" column="file_id"/>
        <result property="originalFilename" column="original_filename"/>
        <result property="bussType" column="buss_type"/>
        <result property="addition" column="addition"/>
    </resultMap>


    <insert id="insert">
        insert into file_base.t_direct_upload_records(direct_upload_id, user_code, enterprise_code,
                                                      object_location, expiration, file_id, original_filename,
                                                      buss_type, addition)
        values (#{model.directUploadId}, #{model.userCode}, #{model.enterpriseCode},
                #{model.objectLocation}, #{model.expiration}, #{model.fileId}, #{model.originalFilename},
                #{model.bussType}, #{model.addition})
    </insert>


    <delete id="delete">
        delete
        from file_base.t_direct_upload_records
        where direct_upload_id = #{directUploadId}
          and user_code = #{userCode}
          and enterprise_code = #{enterpriseCode}
    </delete>


    <delete id="deleteBatch">
        delete
        from file_base.t_direct_upload_records
        where direct_upload_id IN
        (
        <foreach collection="entities" item="entity" separator=",">
            #{entity}
        </foreach>
        )
    </delete>


    <select id="select" resultMap="DirectUploadRecordsMap">
        select *
        from file_base.t_direct_upload_records
        where direct_upload_id = #{directUploadId}
        <if test="userCode != null">
            and user_code = #{userCode}
        </if>
        <if test="enterpriseCode != null">
            and enterprise_code = #{enterpriseCode}
        </if>
        and buss_type = #{bussType}
    </select>


    <select id="selectExpiredRecords" resultMap="DirectUploadRecordsMap">
        select *
        from file_base.t_direct_upload_records
        where expiration &lt; now()
        limit 100
    </select>
</mapper>