<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.file.service.dao.StorageSpaceDao">
    <resultMap type="com.futurecraftsmen.pms.file.common.model.StorageSpaceModel" id="StorageSpaceEntityMap">
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="usingAmount" column="using_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="serialNumber" column="serial_number"/>
    </resultMap>


    <!--新增容量变更记录-->
    <insert id="recordStorageChangeLog">
        insert into file_base.t_storage_change_log(serial_number, enterprise_code, amount, remark)
        values (#{serialNumber}, #{enterpriseCode}, #{changeAmountBytes}, #{remark})
    </insert>

    <select id="getByEnterpriseCode" resultMap="StorageSpaceEntityMap">
        select enterprise_code, using_amount, total_amount, serial_number
        from file_base.t_storage_space
        where enterprise_code = #{enterpriseCode}
    </select>


    <!--新增容量记录-->
    <insert id="insertStorageSpace">
        insert into file_base.t_storage_space(enterprise_code, using_amount, total_amount, serial_number)
        values (#{storageSpace.enterpriseCode}, #{storageSpace.usingAmount}, #{storageSpace.totalAmount},
                #{storageSpace.serialNumber})
    </insert>


    <update id="updateTotalAmount">
        update file_base.t_storage_space
        set total_amount  = #{totalAmountBytes},
            serial_number = #{serialNumber}
        where enterprise_code = #{enterpriseCode}
          and total_amount = #{rawTotalAmountBytes}
    </update>


    <!--    set using_amount = using_amount + usingBytes where  using_amount + usingBytes <= total_amount-->
    <update id="increaseUsingAmount">
        update file_base.t_storage_space
        set using_amount = using_amount + #{usingBytes}
        where enterprise_code = #{enterpriseCode}
          and using_amount + #{usingBytes} &lt;= total_amount
          and using_amount + #{usingBytes} &gt;= 0
    </update>


    <!--     set using_amount = using_amount - usingBytes where  using_amount - usingBytes >= 0-->
    <update id="releaseUsingAmount">
        update file_base.t_storage_space
        set using_amount = using_amount - #{usingBytes}
        where enterprise_code = #{enterpriseCode}
          and using_amount - #{usingBytes} &gt;= 0
    </update>
</mapper>