<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.feedback.FeedbackDao">

    <resultMap id="FeedBackModel"
               type="com.futurecraftsmen.pms.pas.service.po.feedback.FeedBackModel">
        <result column="primary_key" property="feedbackCode"/>
        <result column="contract_code" property="contractCode"/>
        <result column="buss_number" property="bussNumber"/>
        <result column="seller_enterprise" property="sellerEnterprise"/>
        <result column="seller_enterprise_code" property="sellerEnterpriseCode"/>
        <result column="seller_contract_code" property="sellerContractCode"/>
        <result column="seller_contact_name" property="sellerContactName"/>
        <result column="purchaser" property="purchaser"/>
        <result column="state" property="state"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>


    <select id="page" resultMap="FeedBackModel">
        SELECT
        primary_key,
        contract_code,
        buss_number,
        seller_enterprise,
        seller_enterprise_code,
        seller_contract_code,
        seller_contact_name,
        purchaser,
        state,
        business_belong,
        enterprise_code,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="bussNumber != null and bussNumber !=''">
            AND buss_number LIKE '%'|| #{bussNumber} ||'%'
        </if>
        <if test="sellerEnterprise != null and sellerEnterprise !=''">
            AND seller_enterprise LIKE '%'|| #{sellerEnterprise} ||'%'
        </if>
        <if test="purchasers != null and purchasers.size() > 0 ">
            AND purchaser in
            <foreach collection="purchasers" item="purchaser" open="(" close=")" separator=",">
                #{purchaser}
            </foreach>
        </if>
        <if test="state != null">
            AND state = #{state}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY id DESC
    </select>


    <select id="detail" resultMap="FeedBackModel">
        SELECT
        primary_key,
        contract_code,
        buss_number,
        seller_enterprise,
        seller_enterprise_code,
        seller_contract_code,
        seller_contact_name,
        purchaser,
        state,
        business_belong,
        enterprise_code,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key = #{feedbackCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </select>


    <update id="updateState">
        UPDATE ${tableName}
        SET state = #{state}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{feedBackCode}
    </update>

</mapper>