<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IDispatchTaskMapper">
  <resultMap id="BaseResultMap" type="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskModel">
    <!--@mbg.generated-->
    <!--@Table ${tableName}-->
    <id column="primary_key" property="dispatchTaskCode" />
    <result column="id" property="id" />
    <result column="contract_remark" property="contractRemark" />
    <result column="enterprise_code" property="enterpriseCode" />
    <result column="has_schedule" property="hasSchedule" />
    <result column="batch_number" property="batchNumber" />
    <result column="delivery_date" property="deliveryDate" />
    <result column="qutbound_task_code" property="qutboundTaskCode" />
    <result column="source" property="source" />
    <result column="mix_field_0" property="mixField0" />
    <result column="mix_field_1" property="mixField1" />
    <result column="mix_field_2" property="mixField2" />
    <result column="mix_field_3" property="mixField3" />
    <result column="mix_field_4" property="mixField4" />
    <result column="mix_field_5" property="mixField5" />
    <result column="mix_field_6" property="mixField6" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="delete_flag" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    primary_key, id, contract_remark, enterprise_code, has_schedule, batch_number, delivery_date, 
    qutbound_task_code, "source", mix_field_0, mix_field_1, mix_field_2, mix_field_3, 
    mix_field_4, mix_field_5, mix_field_6, create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where primary_key = #{primaryKey}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from ${tableName}
    where primary_key = #{primaryKey}
  </delete>

  <insert id="insertSelective" parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskModel">
    <!--@mbg.generated-->
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="primaryKey != null">
        primary_key,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="contractRemark != null">
        contract_remark,
      </if>
      <if test="enterpriseCode != null">
        enterprise_code,
      </if>
      <if test="hasSchedule != null">
        has_schedule,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="qutboundTaskCode != null">
        qutbound_task_code,
      </if>
      <if test="source != null">
        "source",
      </if>
      <if test="mixField0 != null">
        mix_field_0,
      </if>
      <if test="mixField1 != null">
        mix_field_1,
      </if>
      <if test="mixField2 != null">
        mix_field_2,
      </if>
      <if test="mixField3 != null">
        mix_field_3,
      </if>
      <if test="mixField4 != null">
        mix_field_4,
      </if>
      <if test="mixField5 != null">
        mix_field_5,
      </if>
      <if test="mixField6 != null">
        mix_field_6,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="primaryKey != null">
        #{primaryKey},
      </if>
      <if test="id != null">
        #{id},
      </if>
      <if test="contractRemark != null">
        #{contractRemark},
      </if>
      <if test="enterpriseCode != null">
        #{enterpriseCode},
      </if>
      <if test="hasSchedule != null">
        #{hasSchedule},
      </if>
      <if test="batchNumber != null">
        #{batchNumber},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate},
      </if>
      <if test="qutboundTaskCode != null">
        #{qutboundTaskCode},
      </if>
      <if test="source != null">
        #{source},
      </if>
      <if test="mixField0 != null">
        #{mixField0},
      </if>
      <if test="mixField1 != null">
        #{mixField1},
      </if>
      <if test="mixField2 != null">
        #{mixField2},
      </if>
      <if test="mixField3 != null">
        #{mixField3},
      </if>
      <if test="mixField4 != null">
        #{mixField4},
      </if>
      <if test="mixField5 != null">
        #{mixField5},
      </if>
      <if test="mixField6 != null">
        #{mixField6},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskModel">
    <!--@mbg.generated-->
    update ${tableName}
    <set>
      <if test="id != null">
        id = #{id},
      </if>
      <if test="contractRemark != null">
        contract_remark = #{contractRemark},
      </if>
      <if test="enterpriseCode != null">
        enterprise_code = #{enterpriseCode},
      </if>
      <if test="hasSchedule != null">
        has_schedule = #{hasSchedule},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate},
      </if>
      <if test="qutboundTaskCode != null">
        qutbound_task_code = #{qutboundTaskCode},
      </if>
      <if test="source != null">
        "source" = #{source},
      </if>
      <if test="mixField0 != null">
        mix_field_0 = #{mixField0},
      </if>
      <if test="mixField1 != null">
        mix_field_1 = #{mixField1},
      </if>
      <if test="mixField2 != null">
        mix_field_2 = #{mixField2},
      </if>
      <if test="mixField3 != null">
        mix_field_3 = #{mixField3},
      </if>
      <if test="mixField4 != null">
        mix_field_4 = #{mixField4},
      </if>
      <if test="mixField5 != null">
        mix_field_5 = #{mixField5},
      </if>
      <if test="mixField6 != null">
        mix_field_6 = #{mixField6},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag},
      </if>
    </set>
    where primary_key = #{primaryKey}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskModel">
    <!--@mbg.generated-->
    update ${tableName}
    set id = #{id},
      contract_remark = #{contractRemark},
      enterprise_code = #{enterpriseCode},
      has_schedule = #{hasSchedule},
      batch_number = #{batchNumber},
      delivery_date = #{deliveryDate},
      qutbound_task_code = #{qutboundTaskCode},
      "source" = #{source},
      mix_field_0 = #{mixField0},
      mix_field_1 = #{mixField1},
      mix_field_2 = #{mixField2},
      mix_field_3 = #{mixField3},
      mix_field_4 = #{mixField4},
      mix_field_5 = #{mixField5},
      mix_field_6 = #{mixField6},
      create_time = #{createTime},
      update_time = #{updateTime},
      delete_flag = #{deleteFlag}
    where primary_key = #{primaryKey}
  </update>


  <update id="deleteByBatchNumber" >
    <!--@mbg.generated-->
    update ${tableName}
    set
    delete_flag = true
    where batch_number = #{id}
  </update>
</mapper>