<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IDispatchLogDetailMapper">


    <!-- resultMap 定义 -->
    <resultMap id="DispatchLogDetailResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchLogDetailModel">

        <result column="primary_key" property="primaryKeyValue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>


        <result property="logMainId" column="log_main_id"/>
        <result property="globalNumber" column="global_number"/>
        <result property="monitorSource" column="monitor_source"/>
        <result property="monitorTable" column="monitor_table"/>
        <result property="monitorDataId" column="monitor_data_id"/>
        <result property="handleNum" column="handle_num"/>
        <result property="enterpriseCode" column="enterprise_code"/>
    </resultMap>

    <!-- 插入操作 -->
    <insert id="insertDispatchLogMain">



            INSERT INTO ${tableName} (
            log_main_id,
            global_number,
            monitor_source,
            monitor_table,
            monitor_data_id,
            handle_num,
            primary_key,
            enterprise_code
        )
        VALUES (
            #{data.logMainId},
            #{data.globalNumber},
            #{data.monitorSource},
            #{data.monitorTable},
            #{data.monitorDataId},
            #{data.handleNum},
            #{data.primaryKeyValue},
            #{data.enterpriseCode}
            )

    </insert>


</mapper>