<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IDispatchRecordMapper">

    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.dispatchrecord.DispatchRecordModel">
        <id property="dispatchRecordCode" column="primary_key" />
        <result property="productCode" column="product_code" />
        <result property="partCode" column="part_code" />
        <result property="tempPartName" column="temp_part_name" />
        <result property="totalSum" column="total_sum" />
        <result property="dispatchTime" column="dispatch_time" />
        <result property="itemCodes" column="item_codes"  jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler" />
        <result property="statisticCodes" column="statistic_codes"  jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler" />
        <result property="taskDetailCodes" column="task_detail_codes"  jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler" />
        <result property="dispatchRemark" column="dispatch_remark" />
        <result property="enterpriseCode" column="enterprise_code" />
    </resultMap>

    <!--所有的字段-->
    <sql id="columns">
        primary_key, product_code,part_code, temp_part_name, total_sum, dispatch_time,
                   item_codes,statistic_codes,task_detail_codes,dispatch_remark,enterprise_code
    </sql>

    <insert id="addDispatchRecords">
        INSERT INTO ${tableName} (primary_key, product_code,part_code, temp_part_name, total_sum, dispatch_time, item_codes,
                                  statistic_codes,task_detail_codes,dispatch_remark,enterprise_code)
        VALUES
        <foreach collection="models" index="index" item="model" separator=",">
            ( #{model.dispatchRecordCode}, #{model.productCode}, #{model.partCode},
            #{model.tempPartName}, #{model.totalSum},#{model.dispatchTime},
             #{model.itemCodes,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.statisticCodes,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.taskDetailCodes,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            #{model.dispatchRemark},
            #{model.enterpriseCode})
        </foreach>
    </insert>


    <select id="dispatchRecordPage" resultMap="resultMap">
        select <include refid="columns"/>
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
        and delete_flag = false
        <if test="filterMode == '1'.toString()">
            AND  part_code IN
                 <foreach collection="partCodes" index="index" item="partCode" open="(" separator="," close=")">
                    #{partCode}
                </foreach>
        </if>

        <if test="filterMode == '2'.toString()">
            AND  product_code IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>

        <if test="filterMode == '3'.toString()">
            AND temp_part_name = #{tempPartName}
        </if>

        <if test="filterMode == '4'.toString()">
            AND (
                part_code IN
            <foreach collection="partCodes" index="index" item="partCode" open="(" separator="," close=")">
                #{partCode}
            </foreach>
                OR product_code IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
                )
        </if>

        <if test="filterMode == '5'.toString()">
            AND (
            part_code IN
            <foreach collection="partCodes" index="index" item="partCode" open="(" separator="," close=")">
                #{partCode}
            </foreach>
            OR temp_part_name = #{tempPartName}
            )
        </if>

        <if test="filterMode == '6'.toString()">
            AND (
            product_code IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
            OR temp_part_name = #{tempPartName}
            )
        </if>

        <if test="dispatchRecordCodes != null">
            AND primary_key IN
            <foreach collection="dispatchRecordCodes" index="index" item="dispatchRecordCode" open="(" separator="," close=")">
                #{dispatchRecordCode}
            </foreach>
        </if>
        order by dispatch_time DESC
    </select>

</mapper>