<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IDispatchTaskProductMapper">
    <resultMap id="BaseResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskProductModel">
        <!--@mbg.generated-->
        <!--@Table ${tableName}-->
        <id column="primary_key" property="dispatchTaskProductCode"/>
        <result column="id" property="id"/>
        <result column="product_quantity" property="productQuantity"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="product_code" property="productCode"/>
        <result column="process_route_data_code" property="processRouteDataCode"/>
        <result column="product_deliver" property="productDeliver"/>
        <result column="dynamic_sort" property="dynamicSort"/>
        <result column="mix_field_0" property="mixField0"/>
        <result column="mix_field_1" property="mixField1"/>
        <result column="mix_field_2" property="mixField2"/>
        <result column="mix_field_3" property="mixField3"/>
        <result column="mix_field_4" property="mixField4"/>
        <result column="mix_field_5" property="mixField5"/>
        <result column="mix_field_6" property="mixField6"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="total_sum" property="totalSum"/>
        <result column="remain_quantity" property="remainQuantity"/>
        <result column="business_belong" property="businessBelong"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        primary_key, id, product_quantity, enterprise_code, batch_number, product_code, process_route_data_code,
        product_deliver, dynamic_sort, mix_field_0, mix_field_1, mix_field_2, mix_field_3,
        mix_field_4, mix_field_5, mix_field_6, create_time, update_time, delete_flag, total_sum,
        remain_quantity
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where primary_key = #{primaryKey}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from ${tableName}
        where primary_key = #{primaryKey}
    </delete>

    <insert id="insertSelective"
            parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskProductModel">
        <!--@mbg.generated-->
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="primaryKey != null">
                primary_key,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="productQuantity != null">
                product_quantity,
            </if>
            <if test="enterpriseCode != null">
                enterprise_code,
            </if>
            <if test="batchNumber != null">
                batch_number,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="processRouteDataCode != null">
                process_route_data_code,
            </if>
            <if test="productDeliver != null">
                product_deliver,
            </if>
            <if test="dynamicSort != null">
                dynamic_sort,
            </if>
            <if test="mixField0 != null">
                mix_field_0,
            </if>
            <if test="mixField1 != null">
                mix_field_1,
            </if>
            <if test="mixField2 != null">
                mix_field_2,
            </if>
            <if test="mixField3 != null">
                mix_field_3,
            </if>
            <if test="mixField4 != null">
                mix_field_4,
            </if>
            <if test="mixField5 != null">
                mix_field_5,
            </if>
            <if test="mixField6 != null">
                mix_field_6,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="totalSum != null">
                total_sum,
            </if>
            <if test="remainQuantity != null">
                remain_quantity,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="primaryKey != null">
                #{primaryKey},
            </if>
            <if test="id != null">
                #{id},
            </if>
            <if test="productQuantity != null">
                #{productQuantity},
            </if>
            <if test="enterpriseCode != null">
                #{enterpriseCode},
            </if>
            <if test="batchNumber != null">
                #{batchNumber},
            </if>
            <if test="productCode != null">
                #{productCode},
            </if>
            <if test="processRouteDataCode != null">
                #{processRouteDataCode},
            </if>
            <if test="productDeliver != null">
                #{productDeliver},
            </if>
            <if test="dynamicSort != null">
                #{dynamicSort},
            </if>
            <if test="mixField0 != null">
                #{mixField0},
            </if>
            <if test="mixField1 != null">
                #{mixField1},
            </if>
            <if test="mixField2 != null">
                #{mixField2},
            </if>
            <if test="mixField3 != null">
                #{mixField3},
            </if>
            <if test="mixField4 != null">
                #{mixField4},
            </if>
            <if test="mixField5 != null">
                #{mixField5},
            </if>
            <if test="mixField6 != null">
                #{mixField6},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag},
            </if>
            <if test="totalSum != null">
                #{totalSum},
            </if>
            <if test="remainQuantity != null">
                #{remainQuantity},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskProductModel">
        <!--@mbg.generated-->
        update ${tableName}
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="productQuantity != null">
                product_quantity = #{productQuantity},
            </if>
            <if test="enterpriseCode != null">
                enterprise_code = #{enterpriseCode},
            </if>
            <if test="batchNumber != null">
                batch_number = #{batchNumber},
            </if>
            <if test="productCode != null">
                product_code = #{productCode},
            </if>
            <if test="processRouteDataCode != null">
                process_route_data_code = #{processRouteDataCode},
            </if>
            <if test="productDeliver != null">
                product_deliver = #{productDeliver},
            </if>
            <if test="dynamicSort != null">
                dynamic_sort = #{dynamicSort},
            </if>
            <if test="mixField0 != null">
                mix_field_0 = #{mixField0},
            </if>
            <if test="mixField1 != null">
                mix_field_1 = #{mixField1},
            </if>
            <if test="mixField2 != null">
                mix_field_2 = #{mixField2},
            </if>
            <if test="mixField3 != null">
                mix_field_3 = #{mixField3},
            </if>
            <if test="mixField4 != null">
                mix_field_4 = #{mixField4},
            </if>
            <if test="mixField5 != null">
                mix_field_5 = #{mixField5},
            </if>
            <if test="mixField6 != null">
                mix_field_6 = #{mixField6},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="totalSum != null">
                total_sum = #{totalSum},
            </if>
            <if test="remainQuantity != null">
                remain_quantity = #{remainQuantity},
            </if>
        </set>
        where primary_key = #{primaryKey}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.futurecraftsmen.pms.technical.service.domain.technical.dispatch.DispatchTaskProductModel">
        <!--@mbg.generated-->
        update ${tableName}
        set id = #{id},
        product_quantity = #{productQuantity},
        enterprise_code = #{enterpriseCode},
        batch_number = #{batchNumber},
        product_code = #{productCode},
        process_route_data_code = #{processRouteDataCode},
        product_deliver = #{productDeliver},
        dynamic_sort = #{dynamicSort},
        mix_field_0 = #{mixField0},
        mix_field_1 = #{mixField1},
        mix_field_2 = #{mixField2},
        mix_field_3 = #{mixField3},
        mix_field_4 = #{mixField4},
        mix_field_5 = #{mixField5},
        mix_field_6 = #{mixField6},
        create_time = #{createTime},
        update_time = #{updateTime},
        delete_flag = #{deleteFlag},
        total_sum = #{totalSum},
        remain_quantity = #{remainQuantity}
        where primary_key = #{primaryKey}
    </update>

    <select id="queryDataByBatchNumberAndProductId" resultMap="BaseResultMap">

        select * from ${tableName} where enterprise_code = #{enterpriseCode} and
        product_code = #{productCode}
        and batch_number in
        <foreach collection="batchNumbers" item="batchNumber" open="(" close=")" separator=",">
            #{batchNumber}
        </foreach>
        and   delete_flag = false
    </select>

    <select id="queryDataByBatchNumberAndProductIdIn" resultMap="BaseResultMap">

        select * from ${tableName} where enterprise_code = #{enterpriseCode}
        and (batch_number , product_code) in
        <foreach collection="unions" item="u" open="(" close=")" separator=",">
            ( #{u.batchNumber} ,#{u.productId} )
        </foreach>
        and   delete_flag = false
    </select>


    <select id="queryDataByBatchNumber" resultMap="BaseResultMap">

        select *
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
          and batch_number = #{batchNumber}
          and   delete_flag = false

    </select>


    <select id="queryDataByBatchNumbers" resultMap="BaseResultMap">

        select *
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
        and batch_number in
        <foreach collection="batchNumbers" item="batchNumber" open="(" close=")" separator=",">
            #{batchNumber}
        </foreach>
        and delete_flag = false
    </select>


    <update id="upDateWaitNum">
    <![CDATA[
        update ${tableName}
        set remain_quantity = remain_quantity - #{remainQuantity},
            update_time=now()
        where batch_number =#{batchNumber}  and product_code =#{produceCode}

        ]]>
  </update>


    <update id="updateWaitNumById">
    <![CDATA[
        update ${tableName}
        set remain_quantity = remain_quantity - #{num},
            update_time=now()
        where  primary_key = #{id}
        and  remain_quantity - #{num}>=0
        ]]>
  </update>


    <update id="deleteByBatchNumber">
    <![CDATA[
        update ${tableName}
        set delete_flag = true
        where batch_number = #{batchNumber}

        ]]>
  </update>


    <insert id="batchAdd">
        INSERT INTO ${tableName} (primary_key, product_quantity, enterprise_code, contract_code, batch_number, contract_number, product_code,
                                  process_route_data_code, product_deliver, total_sum, remain_quantity, business_belong, product_remark)
        VALUES
        <foreach collection="models" index="index" item="model" separator=",">
            ( #{model.dispatchTaskProductCode}, #{model.productQuantity}, #{model.enterpriseCode},
                #{model.contractCode},#{model.batchNumber},#{model.contractNumber}, #{model.productCode},#{model.processRouteDataCode},
                #{model.productDeliver},
                #{model.totalSum}, #{model.remainQuantity}, #{model.businessBelong}, #{model.productRemark})
        </foreach>
    </insert>

    <update id="batchUpdate">
        UPDATE ${tableName}
        SET
        <trim prefix="product_quantity =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.dispatchTaskProductCode} then #{model.productQuantity}
            </foreach>
        </trim>,
        <trim prefix="total_sum =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.dispatchTaskProductCode} then #{model.totalSum}
            </foreach>
        </trim>,
        <trim prefix="remain_quantity =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.dispatchTaskProductCode} then #{model.remainQuantity}
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="models" index="index" item="model" separator="," open="(" close=")">
            #{model.dispatchTaskProductCode}
        </foreach>
    </update>


    <select id="queryByContractCodeAndProducts" resultMap="BaseResultMap">
        select * from ${tableName}
        where enterprise_code = #{enterpriseCode}
        and contract_code = #{contractCode}::varchar
        and product_code in
        <foreach collection="productCodes" item="productCode" open="(" close=")" separator=",">
            #{productCode}
        </foreach>
        and delete_flag = false
    </select>


</mapper>