<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IPartMapper">
    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.part.PartModel">
        <result column="primary_key" property="partCode"/>
        <result column="enterprise_code" property="ownedEnterpriseCode"/>
        <result column="part_type" property="partType"/>
        <result column="part_sign" property="specification"/>
        <result column="version" property="version"/>
        <result column="pcs" property="pcs"/>
        <result column="state" property="state"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="principal_person" property="principalPerson"/>
        <result column="creator" property="creator"/>
        <result column="enter_time" property="enterTime"/>
        <result column="remark" property="remark"/>
        <result column="default_route" property="defaultRoute"/>
        <result column="files" property="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="actual_check_items" property="actualCheckItems" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="inspection_item" property="inspectionItem" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="whether_test" property="whetherTest"/>
    </resultMap>

    <!--所有的字段-->
    <sql id="columns">
        primary_key, part_type, part_sign, version, pcs, state, contact_person, principal_person, creator, enter_time, remark,default_route,
        files::BIGINT[], actual_check_items::BIGINT[], enterprise_code,inspection_item::BIGINT[],whether_test
    </sql>

    <select id="existSpecifiedPartType" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM ${tableName}
        WHERE part_type = #{partTypeCode}
          and enterprise_code = #{enterpriseCode}
          AND delete_flag = false
    </select>

    <select id="page" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="specification != null and specification !=''">
            AND part_sign LIKE '%'|| #{specification} ||'%'
        </if>
        <if test="state != null ">
            AND state = #{state}
        </if>
        <if test="partTypeCodes != null and partTypeCodes.size() > 0">
            AND part_type IN
            <foreach collection="partTypeCodes" index="index" item="partType" open="(" separator="," close=")">
                #{partType}
            </foreach>
        </if>
        ORDER BY create_time DESC,id DESC
    </select>

    <select id="queryByPartCode" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key= #{partCode}
    </select>


    <select id="queryBySpecification" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND part_sign = #{specification}
    </select>

    <select id="queryBySpecifications" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="specifications != null and specifications.size() > 0">
            AND part_sign IN
            <foreach collection="specifications" index="index" item="specification" open="(" separator="," close=")">
                #{specification}
            </foreach>
        </if>
        <if test="specifications == null or specifications.isEmpty()">
            AND part_sign IS NULL
        </if>
        ORDER BY create_time DESC,id DESC
    </select>

    <select id="queryByPartTypesAndSpecification" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="partTypeCodes != null and partTypeCodes.size() > 0">
            AND part_type IN
            <foreach collection="partTypeCodes" index="index" item="partTypeCode" open="(" separator="," close=")">
                #{partTypeCode}
            </foreach>
        </if>
        <if test="specification != null and specification !=''">
            AND part_sign = #{specification}
        </if>
    </select>


    <select id="queryByPartCodes" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="partCodes != null and partCodes.size() > 0">
            AND primary_key IN
            <foreach collection="partCodes" index="index" item="partCode" open="(" separator="," close=")">
                #{partCode}
            </foreach>
        </if>
        <if test="partCodes == null or partCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
        ORDER BY create_time DESC,id DESC
    </select>

    <insert id="addPart">
        INSERT INTO ${tableName} (primary_key, part_type, part_sign, version, pcs, state, contact_person,
                                  principal_person, creator, enter_time, remark,
                                  files, actual_check_items, enterprise_code, inspection_item, whether_test)
        VALUES (#{partModel.partCode}, #{partModel.partType}, #{partModel.specification}, #{partModel.version},
                #{partModel.pcs}, #{partModel.state}, #{partModel.contactPerson},
                #{partModel.principalPerson}, #{partModel.creator}, #{partModel.enterTime}, #{partModel.remark},
                #{partModel.files}, #{partModel.actualCheckItems}, #{partModel.ownedEnterpriseCode},
                #{partModel.inspectionItem}, #{partModel.whetherTest})
    </insert>

    <update id="updateCheckItems">
        UPDATE ${tableName}
        SET actual_check_items = #{m.actualCheckItems},
            inspection_item    = #{m.inspectionItem},
            whether_test       = #{m.whetherTest}
        WHERE primary_key = #{m.partCode}
          and enterprise_code = #{m.ownedEnterpriseCode}
          and delete_flag = false
    </update>

    <update id="updateDefaultRoute">
        UPDATE ${tableName}
        SET default_route = #{processRouteCode}
        WHERE primary_key = #{partCode}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>

    <insert id="batchInsert">
        INSERT INTO ${tableName} (primary_key, enterprise_code, part_sign, part_type, version, pcs, state,
        remark, contact_person, principal_person, whether_test,creator, enter_time)
        VALUES
        <foreach collection="models" item="item" separator=",">
            (#{item.partCode}, #{item.ownedEnterpriseCode}, #{item.specification}, #{item.partType}, #{item.version},
            #{item.pcs}, #{item.state}, #{item.remark},#{item.contactPerson}, #{item.principalPerson}, false,
            #{item.creator}, #{item.enterTime})
        </foreach>
    </insert>

    <!--    <update id="batchUpdate">-->
    <!--        update ${tableName}-->
    <!--        set unit = #{req.unit},-->
    <!--        <if test="req.contact != null">-->
    <!--            contact = #{req.contact},-->
    <!--        </if>-->
    <!--        <if test="req.remark != null and req.remark.trim() != ''">-->
    <!--            remark = #{req.remark},-->
    <!--        </if>-->
    <!--        is_enable = #{req.isEnable}-->
    <!--        where primary_key in-->
    <!--        <foreach collection="primaryKeys" item="primaryKey" open="(" separator="," close=")">-->
    <!--            #{primaryKey}-->
    <!--        </foreach>-->
    <!--        and enterprise_code = #{enterpriseCode}-->
    <!--        and delete_flag = false-->
    <!--    </update>-->
</mapper>