<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProduceMissionMapper">


    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.product.ProduceMissionModel">
        <result column="primary_key" property="primaryKey"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="product_code" property="productCode"/>

        <result column="product_name" property="productName"/>
        <result column="product_deliver" property="productDeliver"/>
        <result column="process_name" property="processName"/>
        <result column="process_route_name" property="processRouteName"/>
        <result column="part_name" property="partName"/>

        <result column="part_code" property="partCode"/>
        <result column="process_route" property="processRoute"/>
        <result column="task_Num" property="taskNum"/>


        <result column="status" property="status"/>

        <result column="process_code" property="processCode"/>
        <result column="remark" property="remark"/>
    </resultMap>
</mapper>