<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProductPartMapper">
    <resultMap id="resultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        <id column="primary_key" property="productPartCode"/>
        <result column="state" property="state"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="inspection_item" property="inspectionItem" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="product_part_type" property="productPartTypeCode"/>
        <result column="enter_time" property="enterTime"/>
        <result column="name" property="name"/>
        <result column="pcs" property="pcs"/>
        <result column="creator" property="creator"/>
        <result column="version" property="version"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="attribute" property="attribute"/>
        <result column="update_count" property="updateCount"/>
        <result column="files" property="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="default_route" property="defaultRoute"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="model" property="model"/>
        <result column="whether_test" property="whetherTest"/>
        <result column="standard" property="standard"/>
        <result column="actual_check_items" property="actualCheckItems" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="product_part_sign" property="productPartSign"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="remark" property="remark"/>


        <result column="gx" property="gx"/>
        <result column="lx" property="lx"/>
        <result column="lj" property="lj"/>
        <result column="gx_name" property="gxName"/>

        <result column="procedure_code" property="procedureCode"/>

        <result column="unique_id" property="uniqueId"/>
        <result column="quantity" property="quantity"/>
        <result column="process_route_data_code" property="processRouteDataCode"/>
    </resultMap>
    <sql id="columns">
        primary_key
        ,
        "state",
        enterprise_code,
        inspection_item::BIGINT[], product_part_type,
        enter_time,
        "name",
        pcs,
        creator,
        version,
        sync_status,
        "attribute",
        update_count,
        files::BIGINT[], default_route,
        contact_person,
        model,
        whether_test,
        "standard",
        actual_check_items::BIGINT[], product_part_sign,
        create_time,
        update_time,
        delete_flag,
        remark
    </sql>

    <!--    <select id="page" resultMap="resultMap">-->
    <!--        SELECT-->
    <!--        <include refid="columns"/>-->
    <!--        FROM ${tableName}-->
    <!--        WHERE-->
    <!--        enterprise_code = #{enterpriseCode}-->
    <!--            AND delete_flag = 'f'-->
    <!--       <if test="name != null and name != ''">-->
    <!--            AND "name" LIKE '%'|| #{name} ||'%'-->
    <!--        </if>-->
    <!--        <if test="model != null and model != ''">-->
    <!--            AND model LIKE '%'|| #{model} ||'%'-->
    <!--        </if>-->
    <!--        <if test="state != null">-->
    <!--            AND state = #{state}-->
    <!--        </if>-->
    <!--        <if test="productPartTypeList != null and productPartTypeList.size() > 0">-->
    <!--            AND product_part_type IN-->
    <!--            <foreach collection="productPartTypeList" index="index" item="item" open="(" separator="," close=")">-->
    <!--                #{item}-->
    <!--            </foreach>-->
    <!--        </if>-->
    <!--        ORDER BY create_time DESC,id DESC-->
    <!--    </select>-->


    <select id="queryBodyDescByCode" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        SELECT product_part_sign as productPartSign,
               model             as model,
               primary_key       as productPartCode,
               unity_no          as unityNo,
               delete_flag       as deleteFlag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
          AND primary_key = #{productPartCode}
    </select>


    <select id="queryListByPartRoute" resultMap="resultMap">
        SELECT a.primary_key,
               a."state",
               a.enterprise_code,


               a.product_part_sign,
               a.product_part_type,

               a.enter_time,
               a.pcs,
               a.creator,
               a.version,
               a.sync_status,
               a."attribute",
               a.update_count,

               a.contact_person,
               a.model,
               a.whether_test,
               a."standard",

               a.create_time,
               a.update_time,
               a.delete_flag,
               a.remark,
               b.procedure_code,
               b.quantity,
               b.process_route_data_code
        FROM ${productPartTableName} a,
             ${productPartRouteRelationshipTableName} b
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          and a.primary_key = b.product_part_code
          and b.process_route_data_code = #{processRoute}
    </select>


    <select id="queryListByProductPartProcedure" resultMap="resultMap">
        SELECT a.primary_key,
        a."state",
        a.enterprise_code,


        a.product_part_sign,
        a.product_part_type,

        a.enter_time,
        a.pcs,
        a.creator,
        a.version,
        a.sync_status,
        a."attribute",
        a.update_count,

        a.contact_person,
        a.model,
        a.whether_test,
        a."standard",

        a.create_time,
        a.update_time,
        a.delete_flag,
        a.remark,
        b.procedure_code,
        b.quantity,
        b.process_route_data_code ,b.unique_id
        FROM ${productPartTableName} a, ${procedurePartRelationshipTableName} b
        WHERE a.enterprise_code = #{enterpriseCode}
        AND a.delete_flag = 'f'
        and b.delete_flag = 'f'
        and b.enterprise_code = #{enterpriseCode}
        and a.primary_key =b.product_part_code
        and ( b.unique_id ,b.procedure_code ) in
        <foreach collection="queryIds" index="index" item="item" open="(" separator="," close=")">
            (#{item.uniqueId},#{item.productPartProcedureCode})
        </foreach>

    </select>


    <select id="queryListByProcessRoutesAndPartCode" resultMap="resultMap">
        SELECT a.primary_key,
        a."state",
        a.enterprise_code,


        a.product_part_sign,
        a.product_part_type,

        a.enter_time,
        a.pcs,
        a.creator,
        a.version,
        a.sync_status,
        a."attribute",
        a.update_count,

        a.contact_person,
        a.model,
        a.whether_test,
        a."standard",

        a.create_time,
        a.update_time,
        a.delete_flag,
        a.remark,
        b.procedure_code,
        b.quantity,
        b.process_route_data_code
        FROM ${productPartTableName} a, ${procedurePartRelationshipTableName} b
        WHERE a.enterprise_code = #{enterpriseCode}
        AND a.delete_flag = 'f'
        and b.delete_flag = 'f'
        and b.enterprise_code = #{enterpriseCode}
        and a.primary_key =b.product_part_code
        and b.process_route_data_code in
        <foreach collection="processRoutes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and a.primary_key =#{partCode}

    </select>


    <resultMap id="resultAppend"
               type="com.futurecraftsmen.pms.technical.api.domain.technical.productpart.ProductAppendDTO">
        <result column="gx" property="gx"/>
        <result column="lx" property="lx"/>
        <result column="lj" property="lj"/>
        <result column="gx_name" property="gxName"/>
        <result column="quantity" property="quantity"/>
    </resultMap>

    <select id="queryAppendById" resultMap="resultAppend">
        select distinct lxTogx.procedure_code          gx
                      , lxTogx.process_route_data_code lx
                      , gxTolj.product_part_code       lj
                      , gxTolj.quantity
                      , gx.product_part_procedure_sign gx_name
        from ${procedureRouteRelationship} lxTogx
                 left join ${procedurePartRelationship} gxTolj
                           on lxTogx.unique_id = gxTolj.unique_id
                               and lxTogx.procedure_code = gxTolj.procedure_code
                 left join ${productPartProcedure} gx on lxTogx.procedure_code = gx.primary_key
        where lxTogx.enterprise_code = #{enterpriseCode}
          and lxTogx.product_part_code = #{id}
    </select>
    <resultMap id="allRelationship"
               type="com.futurecraftsmen.pms.technical.api.domain.technical.productpart.PartAllRelationship">

        <result column="procedure_code" property="procedureCode"/>
        <result column="unique_id" property="uniqueId"/>
        <result column="route_code" property="routeCode"/>
        <result column="product_code" property="productCode"/>
        <result column="part_code" property="partCode"/>
        <result column="quantity" property="quantity"/>

        <result column="procedure_name" property="procedureName"/>
        <result column="procedure_nature" property="procedureNature"/>

        <result column="part_pcs" property="partPcs"/>
        <result column="part_model" property="partModel"/>
        <result column="part_name" property="partName"/>
        <result column="part_type" property="partType"/>


        <result column="product_pcs" property="productPcs"/>
        <result column="product_model" property="productModel"/>
        <result column="product_name" property="productName"/>
        <result column="product_type" property="productType"/>
        <result column="product_Switch_route" property="productSwitchRoute"/>

        <result column="product_remark" property="productRemark"/>
        <result column="part_remark" property="partRemark"/>
        <result column="procedure_remark" property="procedureRemark"/>

        <result column="route_state" property="routeState"/>

        <result column="route_Bind_Procedure_Codes_base" property="routeBindProcedureCodesBase"/>

    </resultMap>

    <select id="queryAllRelationshipByIdAndRoute" resultMap="allRelationship">

        select distinct * from ( select a.procedure_code,
        c.unique_id,
        c.process_route_data_code route_code,
        c.product_part_code product_code,
        a.product_part_code part_code ,a.quantity,
        e.product_part_procedure_sign procedure_name,e.nature procedure_nature,
        d.pcs part_pcs,d.model part_model,d.product_part_sign part_name,d.product_part_type part_type,
        f.pcs product_pcs,f.model product_model,f.product_part_sign product_name,f.product_part_type product_type,
        f.default_route product_Switch_route , f.remark product_remark ,d.remark part_remark ,e.remark procedure_remark

        ,g.state route_state ,g.procedure_data route_Bind_Procedure_Codes_base

        from ${productPartRouteRelationshipTableName} c
        join ${partTableName} f on c.product_part_code = f.primary_key and f.delete_flag = 'f' and f.state=true
        <!--     left join ${procedureRouteRelationship} b on b.unique_id = c.unique_id
             and c.process_route_data_code = b.process_route_data_code
             AND b.delete_flag = 'f'  -->
        left join ${procedurePartRelationshipTableName} a on c.unique_id = a.unique_id
        <!--  and b.procedure_code =a.procedure_code   -->
        AND a.delete_flag = 'f'

        and exists ( select 1 from ${partTableName} aa
        where a.product_part_code=aa.primary_key

        and aa.attribute in
        <foreach collection="attributes" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

        and aa.delete_flag = 'f')

        left join ${partTableName} d on a.product_part_code = d.primary_key AND d.delete_flag = 'f' and d.state=true
        left join ${procedureTableName} e on a.procedure_code = e.primary_key AND e.delete_flag = 'f'

        left join ${routeTableName} g on g.primary_key=c.process_route_data_code and g.delete_flag = 'f'

        where
        c.product_part_code = #{productId}
        <if test="processRoute != null">
            and c.process_route_data_code = #{processRoute}
        </if>
        and c.enterprise_code = #{enterpriseCode}
        and c.product_part_code = f.primary_key
        and f.delete_flag = 'f'
        and c.delete_flag = 'f'
        and c.state=true

        ) as a

    </select>
    <select id="queryByProductByCode" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        SELECT
            id,
            state,
            enterprise_code,
            product_part_type,
            enter_time,
            pcs,
            remark,
            creator,
            version,
            sync_status,
            attribute,
            quality_code_list::BIGINT[],
            warehouse_person,
            update_count,
            files::BIGINT[],
            default_route,
            contact_person,
            model,
            whether_test,
            standard,
            product_part_sign,
            dynamic_sort,
            primary_key productPartCode,
            create_time,
            update_time,
            delete_flag
        FROM ${productPartTableName}
        WHERE
        enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        and primary_key = #{productPartCode}
    </select>

    <select id="queryDataByModel" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        SELECT id,
               state,
               enterprise_code,
               product_part_type,
               enter_time,
               pcs,
               remark,
               creator,
               version,
               sync_status,
               attribute,
               quality_code_list::BIGINT[], warehouse_person,
               update_count,
               files::BIGINT[], default_route,
               contact_person,
               model,
               whether_test,
               standard,
               product_part_sign,
               dynamic_sort,
               primary_key productPartCode,
               create_time,
               update_time,
               delete_flag
        FROM ${productPartTableName}
        WHERE
            enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
        <if test="models != null and models.size() > 0">
            AND model IN
            <foreach collection="models" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryNotExistsSchedule" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        SELECT product_part_type as productPartTypeCode,
        attribute,
        standard,
        product_part_sign as productPartSign,
        model as model,
        primary_key as productPartCode,
        unity_no as unityNo,
        delete_flag as deleteFlag
        FROM ${productPartTableName} AS p
        WHERE p.product_part_type = #{productPartType}
        AND p.delete_flag = false
        AND NOT EXISTS (SELECT 1
        FROM ${outboundOrderDetail} AS o
        WHERE o.product_or_part = p.primary_key
        AND o.delete_flag = false)
    </select>

    <select id="queryExistsSchedule" resultType="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        SELECT product_part_type as productPartTypeCode,
        attribute,
        standard,
        product_part_sign as productPartSign,
        model as model,
        primary_key as productPartCode,
        unity_no as unityNo,
        delete_flag as deleteFlag
        FROM ${productPartTableName} AS p
        WHERE p.product_part_type = #{productPartType}
        AND p.delete_flag = false
        AND NOT EXISTS (SELECT 1
        FROM ${outboundOrderDetail} AS o
        WHERE o.product_or_part = p.primary_key
        AND o.delete_flag = false)
    </select>


    <resultMap id="ProductPartResultMap" type="com.futurecraftsmen.pms.technical.service.domain.technical.productpart.ProductPartModel">
        <!-- 主键映射 -->
        <id property="id" column="id"/>

        <!-- 显式映射字段名不一致的属性 -->
        <result property="productPartCode" column="product_Part_Code"/>
        <result property="productPartTypeCode" column="product_Part_Type_Code"/>

        <!-- 数组类型字段需指定TypeHandler -->
        <result property="qualityCodeList" column="quality_code_list"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="files" column="files"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>

        <!-- 其他字段（开启驼峰映射可省略部分配置） -->
        <result property="state" column="state"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="enterTime" column="enter_time"/>
        <result property="productPartSign" column="product_part_sign"/>
        <result property="pcs" column="pcs"/>
        <result property="creator" column="creator"/>
        <result property="version" column="version"/>
        <result property="syncStatus" column="sync_status"/>
        <result property="attribute" column="attribute"/>
        <result property="updateCount" column="update_count"/>
        <result property="defaultRoute" column="default_route"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="model" column="model"/>
        <result property="whetherTest" column="whether_test"/>
        <result property="standard" column="standard"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_Flag"/>
        <result property="remark" column="remark"/>
        <result property="warehousePerson" column="warehouse_person"/>
        <result property="unityNo" column="unity_no"/>
        <result property="extra" column="extra"/>
    </resultMap>

    <select id="queryById" resultMap="ProductPartResultMap">
        SELECT a.id,
               primary_key product_Part_Code,
               state,
               enterprise_code,
               quality_code_list::BIGINT[], a.product_part_type product_Part_Type_Code,
               enter_time,
               product_part_sign,
               pcs,
               creator,
               version,
               sync_status,
               attribute,
               update_count,
               files::BIGINT[], default_route,
               contact_person,
               model,
               whether_test,
               standard,
               create_time,
               update_time,
               delete_Flag,
               remark,
               warehouse_person,
               unity_no,
               extra
        FROM ${dynamicTableNameProxy.productPart} a
        WHERE primary_key = #{id}
    </select>


    <select id="queryByCodes" resultMap="ProductPartResultMap">
        SELECT id,
        primary_key product_Part_Code,
        state,
        enterprise_code,
        quality_code_list::BIGINT[], product_part_type product_Part_Type_Code,
        enter_time,
        product_part_sign,
        pcs,
        creator,
        version,
        sync_status,
        attribute,
        update_count,
        files::BIGINT[], default_route,
        contact_person,
        model,
        whether_test,
        standard,
        create_time,
        update_time,
        delete_Flag,
        remark,
        warehouse_person,
        unity_no,
        extra
        FROM ${productPartTableName}
        WHERE primary_key IN
        <foreach collection="productPartCodes" index="index" item="productPartCode" open="(" separator="," close=")">
            #{productPartCode}
        </foreach>
        AND enterprise_code = #{enterpriseCode}
    </select>

</mapper>