<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.technical.IProductPartProcedureMapper">

    <!-- 定义结果映射 -->
    <resultMap id="ProductPartProcedureResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.technical.procedure.ProductPartProcedureModel">
        <id property="id" column="id"/>
        <result property="productPartProcedureCode" column="primary_key"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="nature" column="nature"/>
        <result property="creator" column="creator"/>
        <result property="principalPerson" column="principal_person"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state"/>
        <result property="files" column="files" typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
        <result property="equipments" column="equipments" typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
        <result property="enterTime" column="enter_time"/>
        <result property="productPartProcedureSign" column="product_part_procedure_sign"/>
        <result property="number" column="number"/>
        <result property="qualityCodeList" column="quality_code_list"
                typeHandler="org.apache.ibatis.type.ArrayTypeHandler"/>
        <result property="dynamicSort" column="dynamic_sort"/>
        <result property="mixField0" column="mix_field0"/>
        <result property="mixField1" column="mix_field1"/>
        <result property="mixField2" column="mix_field2"/>
        <result property="mixField3" column="mix_field3"/>
        <result property="mixField4" column="mix_field4"/>
        <result property="mixField5" column="mix_field5"/>
        <result property="mixField6" column="mix_field6"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="productPartCode" column="product_part_code"/>
        <result property="uniqueId" column="unique_id"/>

        <result property="processRouteDataCode" column="process_route_data_code"/>
    </resultMap>


    <select id="queryById"  resultMap="ProductPartProcedureResultMap">
        SELECT *
        FROM ${tableName}
        WHERE primary_key = #{id}
    </select>


    <select id="queryListByProcedureRouteRelationship" resultMap="ProductPartProcedureResultMap">
        select distinct d.* ,b.unique_id , b.process_route_data_code  ,c.product_part_code  from ${procedurePartRelationshipTableName} a , ${procedureRouteRelationship} b,
                        ${productPartRouteRelationshipTableName}  c  ,${tableName}   d
        where b. process_route_data_code = #{processRoute}  and  b.procedure_code=a.procedure_code and b.unique_id=a.unique_id
          and c.process_route_data_code=b.process_route_data_code and  c.product_part_code =#{productId}
          and b.enterprise_code = #{enterpriseCode}
          and c.unique_id=b.unique_id
          AND a.delete_flag = 'f'
          AND b.delete_flag = 'f'
          AND c.delete_flag = 'f'
          AND d.delete_flag = 'f'
          and d.primary_key = b.procedure_code

    </select>



    <select id="queryRouteUniqueIdByProcessRoute"  resultMap="ProductPartProcedureResultMap">
        SELECT unique_id, process_route_data_code, procedure_code primary_key
        FROM ${tableName} a
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          and process_route_data_code = #{processRoute}
          and unique_id is not null
    </select>



    <select id="queryListByProcedurePartRelationshipIn" resultMap="ProductPartProcedureResultMap">
        SELECT *
        FROM ${tableName} a
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f' and exists (
        select 1 from ${gyToGxTableName} b ,${partToGyTableName} c
        where a.primary_key=b.procedure_code
        and b.enterprise_code = #{enterpriseCode}
        AND b.delete_flag = 'f'
        and c.delete_flag = 'f'
        and c.enterprise_code = #{enterpriseCode}
        and c.process_route_data_code=b.process_route_data_code
        and c.product_part_code in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and c.unique_id = b.unique_id;
        )
    </select>


    <select id="queryAllListByProcedurePartRelationshipIn" resultMap="ProductPartProcedureResultMap">
        SELECT a.*,c.product_part_code  ,c.unique_id ,b.process_route_data_code
        FROM ${tableName} a ,${gyToGxTableName} b ,${partToGyTableName} c
        WHERE a.enterprise_code = #{enterpriseCode}
        AND a.delete_flag = 'f' and a.primary_key=b.procedure_code
        and b.enterprise_code = #{enterpriseCode}
        AND b.delete_flag = 'f'
        and c.delete_flag = 'f'
        and c.enterprise_code = #{enterpriseCode}
        and c.process_route_data_code=b.process_route_data_code
        and c.product_part_code in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and c.unique_id = b.unique_id;
    </select>


    <select id="queryListByIds"  resultMap="ProductPartProcedureResultMap">
        SELECT *
        FROM ${tableName} a
        WHERE primary_key in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>