<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IProductSeriesMapper">

    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.productseries.ProductSeriesModel">
        <id property="productSeriesCode" column="primary_key"/>
        <result property="productSeriesName" column="product_series_sign"/>
        <result property="superior" column="superior"/>
        <result property="synchronizeStatus" column="synchronize_status"/>
        <result property="remark" column="remark"/>
        <result property="creator" column="creator"/>
        <result property="hasChild" column="has_child"/>
        <result column="modified_times" property="modifiedTimes"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <sql id="columns">
        primary_key, product_series_sign, superior, synchronize_status,remark,creator,has_child,modified_times,enterprise_code
    </sql>


    <select id="querySeriesNameSameSuperior" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND product_series_sign = #{productSeriesName}
        <if test="excludeProductSeriesCode !=null">
            AND primary_key != #{excludeProductSeriesCode}
        </if>
        <if test="superior !=null and superior=='0'.toString()">
            AND superior IS NULL
        </if>
        <if test="superior !=null and superior!='0'.toString()">
            AND superior = #{superior}
        </if>
        <if test="superior ==null">
            AND superior IS NULL
        </if>
    </select>

    <select id="queryByCode" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND primary_key = #{productSeriesCode}
    </select>

    <select id="queryByProductSeriesCodes" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        <if test="productSeriesCodes != null and productSeriesCodes.size() > 0">
            AND primary_key IN
            <foreach collection="productSeriesCodes" index="index" item="productSeriesCode" open="(" separator="," close=")">
                #{productSeriesCode}
            </foreach>
        </if>
        <if test="productSeriesCodes == null or productSeriesCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>


    <insert id="addProductSeries">
        INSERT INTO ${tableName} (<include refid="columns"/>)
        VALUES (#{model.productSeriesCode}, #{model.productSeriesName}, #{model.superior}, #{model.synchronizeStatus},#{model.remark},#{model.creator},#{model.hasChild},#{model.modifiedTimes},#{model.enterpriseCode})
    </insert>


    <update id="updateProductSeries">
        UPDATE ${tableName}
        SET product_series_sign = #{model.productSeriesName},
            superior = #{model.superior},
            modified_times = CASE
                                 WHEN modified_times IS NOT NULL THEN (modified_times +1)
                                 ELSE 0
                            END,
            synchronize_status = CASE
                     WHEN synchronize_status =1 THEN 2
                     ELSE synchronize_status
             END
        WHERE primary_key = #{model.productSeriesCode}
              and enterprise_code = #{model.enterpriseCode}
              and delete_flag = false
              and synchronize_status != 4
    </update>

      <update id="updateHasChild">
        UPDATE ${tableName}
        SET
            has_child = #{model.hasChild},
            modified_times = CASE
                                 WHEN modified_times IS NOT NULL THEN (modified_times +1)
                                 ELSE 0
                END,
            synchronize_status = CASE
                     WHEN synchronize_status =1 THEN 2
                     ELSE synchronize_status
             END
        WHERE primary_key = #{model.productSeriesCode}
              and enterprise_code = #{model.enterpriseCode}
              and delete_flag = false
    </update>

    <delete id="deleteProductSeries">
        DELETE FROM ${tableName}
        WHERE primary_key = #{productSeriesCode}
            and enterprise_code = #{enterpriseCode}
            and has_child = false
            and synchronize_status = 0
            and delete_flag = false
    </delete>


    <update id="safeDeleteProductSeries">
        UPDATE  ${tableName}
        SET delete_flag = true,
            synchronize_status = 5
        WHERE primary_key = #{productSeriesCode}
          and enterprise_code = #{enterpriseCode}
          and has_child = false
          and synchronize_status > 0
          and delete_flag = false
    </update>


    <select id="findAll" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          ORDER BY create_time ASC
    </select>

    <select id="findDirectChildren" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
          AND enterprise_code = #{enterpriseCode}
          AND superior = #{productSeriesCode}
    </select>

    <select id="findWithChildren" resultMap="resultMap">
        WITH RECURSIVE ProductSeries AS (
            SELECT primary_key, product_series_sign, superior ,has_child
            FROM ${tableName}
            WHERE primary_key = #{productSeriesCode}
            UNION ALL
            SELECT t.primary_key, t.product_series_sign, t.superior,t.has_child
            FROM ${tableName} t
            INNER JOIN ProductSeries pt ON t.superior = pt.primary_key
        )
        SELECT * FROM ProductSeries
    </select>

    <select id="queryProductSeriesConfigurableForProducts" resultMap="resultMap">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE delete_flag = false
        AND enterprise_code = #{enterpriseCode}
        AND has_child = false
    </select>
</mapper>