<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IProductionTaskMergeDetailDao">

    <sql id="columns">
        primary_key, batch_number, own_product, own_part,total_delivery,deliver_date,
                   post_task_type,post_task_code,enterprise_code
    </sql>

    <insert id="addTaskMergeDetails">
        INSERT INTO ${tableName} (<include refid="columns"/>)
        VALUES

        <foreach collection="taskMergeDetails" index="index" item="model" separator=",">
            (
            #{model.productionTaskMergeDetailCode}, #{model.batchNumber}, #{model.ownProduct}, #{model.ownPart}, #{model.totalDelivery},
            #{model.deliverDate},
            #{model.postTaskType}, #{model.postTaskCode},#{model.enterpriseCode}
            )
        </foreach>
    </insert>



</mapper>