<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IProductMapper">
    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.product.ProductModel">
        <result column="primary_key" property="productCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="product_sign" property="model"/>
        <result column="product_name" property="name"/>
        <result column="pcs" property="pcs"/>
        <result column="series" property="series"/>
        <result column="standard" property="standard"/>
        <result column="version" property="version"/>
        <result column="state" property="state"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="creator" property="creator"/>
        <result column="enter_time" property="enterTime"/>
        <result column="remark" property="remark"/>
        <result column="synchronize_status" property="synchronizeStatus"/>
        <result column="default_route" property="defaultRoute"/>
        <result column="files" property="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="actual_check_items" property="actualCheckItems" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="inspection_item" property="inspectionItem" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="whether_test" property="whetherTest"/>
        <result column="modified_times" property="modifiedTimes"/>

    </resultMap>

    <sql id="columns">
        primary_key,enterprise_code, product_sign, product_name, pcs, series,standard, version, state, contact_person, creator,enter_time,
            remark,synchronize_status,default_route, files::BIGINT[],actual_check_items::BIGINT[],inspection_item::BIGINT[],whether_test,modified_times
    </sql>

    <select id="existSpecifiedProductSeries" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM ${tableName}
        WHERE series = #{productSeriesCode}
          and enterprise_code = #{enterpriseCode}
          AND delete_flag = false
    </select>

    <select id="page" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="name != null and name !=''">
            AND product_name LIKE '%'|| #{name} ||'%'
        </if>
        <if test="model != null and model !=''">
            AND product_sign LIKE '%'|| #{model} ||'%'
        </if>
        <if test="state != null ">
            AND state = #{state}
        </if>
        <if test="seriesCodes != null and seriesCodes.size() > 0">
            AND series IN
            <foreach collection="seriesCodes" index="index" item="series" open="(" separator="," close=")">
                #{series}
            </foreach>
        </if>
        ORDER BY create_time DESC,id DESC
    </select>


    <select id="queryByProductNameAndModel" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="name != null and name !=''">
            AND product_name = #{name}
        </if>
        <if test="model != null and model !=''">
            AND product_sign = #{model}
        </if>
        ORDER BY create_time DESC,id DESC
    </select>


    <select id="queryByProductCode" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key= #{productCode}
    </select>

    <select id="queryByProductCodes" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="productCodes != null and productCodes.size() > 0">
            AND primary_key IN
            <foreach collection="productCodes" index="index" item="productCode" open="(" separator="," close=")">
                #{productCode}
            </foreach>
        </if>
        <if test="productCodes == null or productCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
    </select>

    <select id="queryByModels" resultMap="resultMap">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="models != null and models.size() > 0">
            AND product_sign IN
            <foreach collection="models" index="index" item="model" open="(" separator="," close=")">
                #{model}
            </foreach>
        </if>
        <if test="models == null or models.isEmpty()">
            AND product_sign IS NULL
        </if>
        ORDER BY create_time DESC,id DESC
    </select>

    <insert id="addProduct">
        INSERT INTO ${tableName} (primary_key, enterprise_code, product_sign, product_name, pcs, series, standard,
                                  version, state, contact_person, creator, enter_time, remark, synchronize_status,
                                  files, actual_check_items,inspection_item,whether_test,modified_times)
        VALUES (#{productModel.productCode}, #{productModel.enterpriseCode}, #{productModel.model},
                #{productModel.name}, #{productModel.pcs}, #{productModel.series}, #{productModel.standard},
                #{productModel.version}, #{productModel.state}, #{productModel.contactPerson}, #{productModel.creator},
                #{productModel.enterTime}, #{productModel.remark}, #{productModel.synchronizeStatus},
                #{productModel.files}, #{productModel.actualCheckItems},#{productModel.inspectionItem},#{productModel.whetherTest},#{productModel.modifiedTimes})
    </insert>


    <update id="updateCheckItems">
        UPDATE ${tableName}
        SET actual_check_items = #{m.actualCheckItems},
            inspection_item = #{m.inspectionItem},
            whether_test = #{m.whetherTest},
            synchronize_status = CASE
                                     WHEN synchronize_status = 1 THEN 2
                                     ELSE synchronize_status
                END
        WHERE primary_key = #{m.productCode}
          and enterprise_code = #{m.enterpriseCode}
          and delete_flag = false
    </update>


    <update id="updateDefaultRoute">
        UPDATE ${tableName}
        SET default_route = #{processRouteCode}
        WHERE primary_key = #{productCode}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>

    <insert id="batchInsert">
        INSERT INTO ${tableName} (primary_key, enterprise_code, product_sign, product_name, pcs, series, standard,
        version, state, remark, contact_person, whether_test, creator, enter_time, synchronize_status,modified_times)
        VALUES
        <foreach collection="models" item="p" separator=",">
            (#{p.productCode}, #{p.enterpriseCode}, #{p.model},#{p.name}, #{p.pcs},#{p.series}, #{p.standard},
            #{p.version}, true, #{p.remark}, #{p.contactPerson}, false,#{p.creator}, #{p.enterTime}, #{p.synchronizeStatus},#{p.modifiedTimes})
        </foreach>
    </insert>
</mapper>