<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IPurchaseTaskDao">




    <insert id="addPurchaseTask">
        INSERT INTO ${tableName} (primary_key, task_source,task_code,product,
        part,process,buy_details ,required_num,mined_num,buyer,remark,pre_task_details, record_detail,inventory,
        applie_in_num,passe_num,product_or_part,status,enterprise_code)
        VALUES
            ( #{model.purchaseTaskRecordCode},#{model.taskSource}, #{model.taskCode}, #{model.product},
              #{model.part},
              #{model.process},
              #{model.buyDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
              #{model.requiredNum},
              #{model.minedNum},
              #{model.buyer},
              #{model.remark},
              #{model.preTaskDetails,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
              #{model.recordDetail},#{model.inventory},#{model.applieInNum},#{model.passeNum},#{model.productOrPart},
              #{model.status},
              #{model.enterpriseCode} )
    </insert>


</mapper>