<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.ISellOrderProductMapper">
    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.sellorder.SellOrderProductModel">
        <id property="sellOrderProductCode" column="primary_key"/>
        <result property="productGrade" column="product_grade"/>
        <result property="productName" column="product_name"/>
        <result property="publicModel" column="public_model"/>
        <result property="productRemark" column="product_remark"/>
        <result property="productQuantity" column="product_quantity"/>
        <result property="productCode" column="product_code"/>
        <result property="processRoute" column="process_route"/>
        <result property="sellOrderCode" column="sell_order_code"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="contractTime" column="contract_time"/>
        <result property="productDeliver" column="product_deliver"/>
        <result property="productDeliverStr" column="product_deliver_str"/>
        <result property="seller" column="seller"/>
        <result property="dynamicValues" column="dynamic_values"/>
        <result property="taskGenerated" column="task_generated"/>
        <result property="sellContractProduct" column="sell_contract_product"/>
        <result property="purchaseContractMaterial" column="purchase_contract_material"/>
        <result property="activelyScheduled" column="actively_scheduled"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="businessBelong" column="business_belong"/>
    </resultMap>
    <sql id="columns">
        primary_key
        , product_grade, product_name, public_model, product_remark,
        product_quantity, product_code, process_route, sell_order_code,
        contract_number,contract_time,product_deliver,product_deliver_str,seller,dynamic_values,task_generated,sell_contract_product,purchase_contract_material,actively_scheduled,enterprise_code, business_belong
    </sql>

    <select id="page" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where sell_order_code = #{dto.sellOrderCode}
        and delete_flag = false
        and enterprise_code = #{enterpriseCode}
        <if test="dto.productModel != null and dto.productModel != ''">
            AND (
            product_name LIKE CONCAT('%', #{dto.productModel}, '%')
            OR public_model LIKE CONCAT('%', #{dto.productModel}, '%')
            OR ${dynamicTableNameProxy.getProductPartKeywordCondition("product_code",dto.productModel)}
            )
        </if>

        <if test="dto.productModel == null">
            <if test="dto.productCodeList != null and dto.productCodeList.size() > 0 ">
                AND product_code IN
                <foreach collection="dto.productCodeList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        order by id
    </select>

    <select id="queryByCode" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where primary_key = #{sellOrderProductCode}
        and delete_flag = false
        and enterprise_code = #{enterpriseCode}
        order by id
    </select>


    <select id="notTaskGeneratedData" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where sell_order_code = #{sellOrderCode}
        and delete_flag = false
        and (task_generated = false OR task_generated IS null)
        and enterprise_code = #{enterpriseCode}
    </select>

    <select id="queryBySellOrderCode" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where sell_order_code = #{sellOrderCode}
        and delete_flag = false
        and enterprise_code = #{enterpriseCode}
        order by id
    </select>

    <update id="updateWhileSchedule">
        update ${tableName}
        set product_code  = #{model.productCode},
            process_route      = #{model.processRoute},
            actively_scheduled = #{model.activelyScheduled}
        where primary_key = #{model.sellOrderProductCode}
          and enterprise_code = #{model.enterpriseCode}
          and sell_order_code = #{model.sellOrderCode}
          and delete_flag = false
    </update>


    <update id="updateTaskGeneratedTrue">
        update ${tableName}
        set task_generated = true
        where primary_key IN
        <foreach collection="sellOrderProductCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enterprise_code = #{enterpriseCode}
        and task_generated = false
        and delete_flag = false
    </update>


    <update id="updateTaskGeneratedFalse">
        update ${tableName}
        set task_generated = false
        where sell_order_code = #{sellOrderCode}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>


    <select id="taskGeneratedData" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where sell_order_code = #{sellOrderCode}
        and delete_flag = false
        and task_generated = true
        and product_code IS NOT NULL
        and enterprise_code = #{enterpriseCode}
    </select>

    <delete id="deleteSellOrderProducts">
        DELETE
        FROM ${tableName}
        WHERE sell_order_code = #{sellOrderCode}
          AND enterprise_code = #{enterpriseCode}
    </delete>


    <select id="queryTaskGeneratedByProductCodes" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where
        delete_flag = false
        <if test="sellOrderCode != null">
            AND sell_order_code = #{sellOrderCode}
        </if>
        and task_generated = true
        and product_code IN
        <foreach collection="productCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enterprise_code = #{enterpriseCode}
        ORDER BY sell_order_code
    </select>


    <select id="queryTaskGeneratedBySellOrderCodes" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where
        delete_flag = false
        and task_generated = true
        and sell_order_code IN
        <foreach collection="sellOrderCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enterprise_code = #{enterpriseCode}
        ORDER BY sell_order_code
    </select>


    <select id="queryTaskGeneratedBySellOrderProductCodes" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where
        delete_flag = false
        and task_generated = true
        and primary_key IN
        <foreach collection="sellOrderProductCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enterprise_code = #{enterpriseCode}
        ORDER BY sell_order_code
    </select>
    <select id="queryProductDetails" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where
        delete_flag = false
        and task_generated = true
        and business_belong IN
        <foreach collection="contractCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and enterprise_code = #{enterpriseCode}
    </select>


    <select id="queryTaskGeneratedBySellOrderCodesAndProductCodes" resultMap="resultMap">
        select
        <include refid="columns"/>
        from ${tableName}
        where
        delete_flag = false
        and task_generated = true
        and product_code IN
        <foreach collection="productCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and sell_order_code IN
        <foreach collection="sellOrderCodes" index="index" item="sellOrderCode" open="(" separator="," close=")">
            #{sellOrderCode}
        </foreach>
        and enterprise_code = #{enterpriseCode}
        ORDER BY sell_order_code
    </select>

</mapper>