<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.ISellOrderMapper">
    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.sellorder.SellOrderModel">
        <id property="sellOrderCode" column="primary_key" />
        <result property="batchNumber" column="sell_order_sign" />
        <result property="contractNumber" column="contract_number" />
        <result property="productGrade" column="product_grade" />
        <result property="seller" column="seller" />
        <result property="productionTime" column="production_time" />
        <result property="deliverDate" column="deliver_date" />
        <result property="contractRemark" column="contract_remark" />
        <result property="productionStatus" column="production_status" />
        <result property="rejectReason" column="reject_reason" />
        <result property="sellContract" column="sell_contract" />
        <result property="purchaseContract" column="purchase_contract" />
        <result property="purchaseEnterprise" column="purchase_enterprise"/>
        <result property="collaborateLatestProcess" column="collaborate_latest_process"/>
        <result property="enterpriseCode" column="enterprise_code" />
        <result property="updateTime" column="update_time" />
        <result property="businessBelong" column="business_belong" />
    </resultMap>

    <sql id="columns">
        primary_key,
        enterprise_code,
        sell_order_sign,
        contract_number,
        product_grade,
        seller,
        production_time,
        deliver_date,
        production_status,
        contract_remark,
        deliver_date,
        reject_reason,
        sell_contract,
        purchase_contract,
        purchase_enterprise,
        collaborate_latest_process,
        delete_flag,
        update_time,
        business_belong
    </sql>


    <select id="queryBySellOrderCode" resultMap="resultMap">
            select <include refid="columns"/>
            from ${tableName}
            where primary_key = #{sellOrderCode}
                and delete_flag = false
                and enterprise_code = #{enterpriseCode}
    </select>

    <update id="updateProcessingProductionStatus">
        update ${tableName}
        SET
        <if test=" sellScheduleType !=null and sellScheduleType.name() == 'COLLABORATE' and currentCollaborateLatestProcess ==null">
            collaborate_latest_process = 'TO_BE_SCHEDULE',
        </if>
        production_status = '处理中',
            reject_reason = null
        where primary_key = #{sellOrderCode}
            and enterprise_code = #{enterpriseCode}
            and production_status = '未处理'
            and delete_flag = false
    </update>

    <update id="updateProcessedProductionStatus">
        update ${tableName}
        SET
        <if test=" sellScheduleType !=null and sellScheduleType.name() == 'COLLABORATE' and currentCollaborateLatestProcess ==null">
            collaborate_latest_process = 'TO_BE_SCHEDULE',
        </if>
        production_status = '已处理',
            reject_reason = null
        where primary_key = #{sellOrderCode}
            and enterprise_code = #{enterpriseCode}
            and (production_status = '未处理' OR production_status = '处理中')
            and delete_flag = false
    </update>

    <update id="updateAfterRejectDispatchSheet">
        update ${tableName}
        set production_status = '未处理',
            reject_reason = #{rejectReason},
            collaborate_latest_process = NULL
        where sell_order_sign = #{batchNumber}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>

    <update id="updateCollaborateLatestProcess">
        update ${tableName}
        set collaborate_latest_process = #{currentCollaborateLatestProcess}
        where primary_key = #{sellOrderCode}
          and enterprise_code = #{enterpriseCode}
          and delete_flag = false
    </update>

    <select id="queryBySellBatchNumber" resultMap="resultMap">
        select <include refid="columns"/>
        from ${tableName}
        where sell_order_sign = #{batchNumber}
        and delete_flag = false
        and enterprise_code = #{enterpriseCode}
    </select>


    <delete id="deleteSellOrderIgnoreStatus">
        DELETE
        FROM ${tableName}
        WHERE primary_key = #{sellOrderCode}
          AND enterprise_code = #{enterpriseCode}
    </delete>


    <select id="nonCollaborateScheduleOrderCount">
        SELECT COUNT(id)
        FROM ${tableName}
        where enterprise_code = #{enterpriseCode}
          and (production_status = '处理中' OR production_status = '已处理')
          and delete_flag = false
          and collaborate_latest_process = 'TO_BE_SCHEDULE'
    </select>


    <select id="nonScheduleProduceBatchCount">
        SELECT COUNT(id)
        FROM ${dynamicTableNameProxy.sellOrder} c
        where enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        and (production_status = '处理中' OR production_status = '已处理')
        and delete_flag = false
        and collaborate_latest_process = 'TO_BE_SCHEDULE'


        <if test="!flag">
            and exists( select 1 from ${dynamicTableNameProxy.collaborateProduceDistribute} b ,${dynamicTableNameProxy.collaborateScheduleItem} a
            where b.Bind_Code=a.primary_key
            and b.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
            and b.delete_flag = false
            and b.Manage_User_Code= ${dynamicTableNameProxy.currentCode}
            and c.primary_key=a.sell_order_code
            and a.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
            and a.delete_flag = false
            )
        </if>

    </select>

</mapper>