<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.IToolingEquipmentMapper">
    <resultMap id="resultMap" type="com.futurecraftsmen.pms.technical.service.domain.toolequipment.ToolingEquipmentModel">
        <id property="toolEquipmentCode" column="primary_key"/>
        <result property="id" column="id"/>
        <result property="devictype" column="devictype"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="meteringCycle" column="metering_cycle"/>
        <result property="equipmentManager" column="equipment_manager"/>
        <result property="manufacturerBrand" column="manufacturer_brand"/>
        <result property="qualityInspectionEquipmentStatus" column="quality_inspection_equipment_status"/>
        <result property="equipmentHistorys" column="equipment_historys" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="maintainCycle" column="maintain_cycle"/>
        <result property="specificationAndModel" column="specification_and_model"/>
        <result property="devicename" column="devicename"/>
        <result property="toolingEquipmentSign" column="tooling_equipment_sign"/>
        <result property="dynamicSort" column="dynamic_sort"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>


</mapper>