<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.system.service.dao.CaptchaBruteForceRecordsDao">
    <resultMap id="captchaBruteForceRecordsModel"
               type="com.futurecraftsmen.pms.system.service.po.CaptchaBruteForceRecordsModel">
        <result property="recordCode" column="record_code"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="scene" column="scene"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="attemptCount" column="attempt_count"/>
        <result property="lockCount" column="lock_count"/>
        <result property="readFlag" column="read_flag"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <insert id="addRecord">
        insert into ${tableName} (record_code, enterprise_code, scene, phone_number, attempt_count, lock_count,
                                  read_flag)
        values ( #{recordsModel.recordCode}, #{recordsModel.enterpriseCode}, #{recordsModel.scene}
               , #{recordsModel.phoneNumber}, #{recordsModel.attemptCount}, #{recordsModel.lockCount}
               , #{recordsModel.readFlag})
    </insert>

    <update id="markRead">
        UPDATE ${tableName}
        SET read_flag = true
        WHERE enterprise_code = #{enterpriseCode}
        AND record_code IN
        <foreach collection="recordCodes" index="index" item="recordCode" open="(" separator="," close=")">
            #{recordCode}
        </foreach>
    </update>

    <select id="getRecordPaging" resultMap="captchaBruteForceRecordsModel">
        SELECT id,
               record_code,
               enterprise_code,
               scene,
               phone_number,
               attempt_count,
               lock_count,
               read_flag,
               update_time,
               create_time,
               delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND phone_number LIKE CONCAT('%', #{phone}, '%')
        ORDER BY create_time DESC
    </select>

    <select id="getRecordByCodes" resultMap="captchaBruteForceRecordsModel">
        SELECT id,
        record_code,
        enterprise_code,
        scene,
        phone_number,
        attempt_count,
        lock_count,
        read_flag,
        update_time,
        create_time,
        delete_flag
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND record_code IN
        <foreach collection="recordCodes" index="index" item="recordCode" open="(" separator="," close=")">
            #{recordCode}
        </foreach>
        ORDER BY create_time DESC
    </select>
</mapper>