<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.system.service.dao.CaptchaBruteForceLockRecordsDao">
    <resultMap id="captchaBruteForceLockRecordsModel"
               type="com.futurecraftsmen.pms.system.service.po.CaptchaBruteForceLockRecordsModel">
        <result property="lockCode" column="lock_code"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>
    <insert id="addRecord">
        insert into system_base.t_system_base_captcha_brute_force_lock_records (lock_code, enterprise_code, phone_number)
        values (#{recordsModel.lockCode}, #{recordsModel.enterpriseCode}, #{recordsModel.phoneNumber})
    </insert>
    <select id="getRecordsByEnterprise" resultMap="captchaBruteForceLockRecordsModel">
        SELECT id,
               lock_code,
               enterprise_code,
               phone_number,
               update_time,
               create_time,
               delete_flag
        FROM system_base.t_system_base_captcha_brute_force_lock_records
        WHERE enterprise_code = #{enterpriseCode}
          AND phone_number LIKE CONCAT('%', #{phone}, '%')
        ORDER BY create_time DESC
    </select>
</mapper>