<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.system.service.dao.UnreadBruteForceCaptchaDao">
    <resultMap id="unreadBruteForceCaptchaModel"
               type="com.futurecraftsmen.pms.system.service.po.UnreadBruteForceCaptchaModel">
        <result property="numCode" column="num_code"/>
        <result property="enterpriseCode" column="enterprise_code"/>
        <result property="unreadNum" column="unread_num"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <insert id="setRecord">
        insert into system_base.t_system_base_unread_brute_force_captcha_nums (num_code, enterprise_code, unread_num)
        values (#{recordsModel.numCode}, #{recordsModel.enterpriseCode}, #{recordsModel.unreadNum})
        ON CONFLICT (num_code) DO UPDATE SET unread_num = EXCLUDED.unread_num
    </insert>

    <select id="getRecordByEnterprise" resultMap="unreadBruteForceCaptchaModel">
        SELECT id,
               num_code,
               enterprise_code,
               unread_num,
               update_time,
               create_time,
               delete_flag
        FROM system_base.t_system_base_unread_brute_force_captcha_nums
        WHERE enterprise_code = #{enterpriseCode}
        ORDER BY create_time DESC
    </select>

    <select id="getRecordsByEnterpriseCodes" resultMap="unreadBruteForceCaptchaModel">
        SELECT id,
        num_code,
        enterprise_code,
        unread_num,
        update_time,
        create_time,
        delete_flag
        FROM system_base.t_system_base_unread_brute_force_captcha_nums
        WHERE enterprise_code IN
        <foreach collection="enterpriseCodes" index="index" item="enterpriseCode" open="(" separator="," close=")">
            #{enterpriseCode}
        </foreach>
        ORDER BY create_time DESC
    </select>
</mapper>