<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.purchase.ShippingRecordFromSellMapper">

    <insert id="addRecords">
        INSERT INTO ${tableName}
            (primary_key, purchase_contract,purchase_contract_product,send_num,sender,send_time,enterprise_code)
        VALUES
        <foreach collection="shippingRecordFromSellModels" index="index" item="model" separator=",">
            ( #{model.recordCode}, #{model.purchaseContract},#{model.purchaseContractProduct}, #{model.sendNum},
            #{model.sender}, #{model.sendTime},#{model.enterpriseCode})
        </foreach>
    </insert>

</mapper>