<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.quality.IInspectFinishReportMapper">

    <!-- 插入新记录 -->
    <insert id="add">
        INSERT INTO ${tableName} (primary_key,
                                  enterprise_code,
                                  status,
                                  un_passed_deal,
                                  un_passed_remark,
                                  remark,
                                  dispatcher_remark,
                                  finish_date,
                                  inspect_user,
                                  passed_num,
                                  un_passed_num,
                                  inspect_type,
                                  inspect_ratio,
                                  should_inspect_num,
                                  inspect_num,
                                  check_items,
                                  finish_main_id,
                                  files,
                                  approved_flag,
                                  batch_no)
        VALUES (#{data.primaryKeyValue},
                #{data.enterpriseCode},
                #{data.status},
                #{data.unPassedDeal},
                #{data.unPassedRemark},
                #{data.remark},
                #{data.dispatcherRemark},
                #{data.finishDate},
                #{data.inspectUser},
                #{data.passedNum},
                #{data.unPassedNum},
                #{data.inspectType},
                #{data.inspectRatio},
                #{data.shouldInspectNum},
                #{data.inspectNum},
                #{data.checkItems},
                #{data.finishMainId},
                #{data.fileList},
                #{data.approvedFlag},
                #{data.batchNo})
    </insert>

    <select id="getCheckItems">
        select *
        from ${tableName} a
        where a.enterprise_code = #{enterpriseCode}
          and a.primary_key = #{primaryKey}
          and a.delete_flag = false
    </select>


    <select id="getUserTotalInspectNumByBatchNo">
        select sum(inspect_num)
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
          and batch_no = #{batchNo}
          and inspect_user = #{userCode}
          and delete_flag = false
    </select>

    <select id="getAllTotalInspectNumByMainId">
        WITH t as (select count(1)
                   from ${dispatcherTableName}
                   where finish_main_id = #{mainId}
                     and delete_flag = false),
             t1 as (select count(1)
                    from (select DISTINCT finish_main_id, inspect_user, status
                          from ${reportTableName}
                          where finish_main_id = #{mainId}
                            and delete_flag = false
                            and status = 50))
        select t.* = t1.*
        from t,
             t1
    </select>
    <update id="updateStatusByBatchNoAndInspectUser">
        update ${tableName}
        set status = #{status}
        where enterprise_code = #{enterpriseCode}
          and batch_no = #{batchNo}
          and inspect_user = #{userCode}

    </update>

    <select id="getReportDetail">
        with t as (select a.finish_main_id, a.batch_no, sum(a.inspect_num) as inspect_num
                   from ${reportTable} a
                   where a.finish_main_id = #{finishMainId}
                     and a.batch_no = #{batchNo}
                     and a.inspect_user = #{inspectUserCode}
                   GROUP BY a.finish_main_id, a.batch_no)
        select a.procedure_name,
               a.model,
               a.pcs_name,
               a.product_or_part,
               a.product_or_part_name,
               a.batch_num,
               a.check_items,
               b.inspect_type,
               b.inspect_ratio,
               b.allocation_num as should_inspect_num,
               b.finish_date,
               b.finish_main_id,
               b.batch_no,
               t.inspect_num,
               a.check_items
        from ${finishTable} a
                 LEFT JOIN ${dispatcherTable} b on a.primary_key = b.finish_main_id
                 LEFT JOIN t on t.finish_main_id = b.finish_main_id and t.batch_no = b.batch_no
        where b.finish_main_id = #{finishMainId}
          and b.batch_no = #{batchNo}
          and b.inspect_user_code = #{inspectUserCode}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
    </select>

    <select id="getReportsByMainId">
        select finish_main_id, un_passed_num, un_passed_deal
        from ${reportTable} a
        where a.finish_main_id = #{mainId}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
    </select>
</mapper>