<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.quality.IInspectUnqualifiedMapper">

    <resultMap id="queryPageResultMap"
               type="com.futurecraftsmen.pms.technical.service.domain.quality.unqualified.InspectUnqualifiedModel">
        <result property="reportFile" column="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>
    <!-- 批量插入新记录 -->
    <insert id="save">
        INSERT INTO ${tableName}
        (primary_key,
         enterprise_code,
         contract_code,
         buss_number,
         main_id,
         produce_main_id,
         report_main_id,
         inspect_origin_type,
         inspect_origin_name,
         procedure_code,
         procedure_name,
         product_or_part_code,
         product_or_part_name,
         related_name,
         related_code,
         model,
         pcs_name,
         inspect_num,
         un_pass_num,
         un_pass_deal_conclusion,
         un_pass_deal,
         inspect_user_code,
         inspect_user_name,
         files,
         batch,
         batch_global_code,
         product_flag,
         remark)
        VALUES (#{data.primaryKeyValue},
                #{data.enterpriseCode},
                #{data.contractCode},
                #{data.bussNumber},
                #{data.mainId},
                #{data.produceMainId},
                #{data.reportMainId},
                #{data.inspectOriginType},
                #{data.inspectOriginName},
                #{data.procedureCode},
                #{data.procedureName},
                #{data.productOrPartCode},
                #{data.productOrPartName},
                #{data.relatedName},
                #{data.relatedCode},
                #{data.model},
                #{data.pcsName},
                #{data.inspectNum},
                #{data.unPassNum},
                #{data.unPassDealConclusion},
                #{data.unPassDeal},
                #{data.inspectUserCode},
                #{data.inspectUserName},
                #{data.files},
                #{data.batch},
                #{data.batchGlobalCode},
                #{data.productFlag},
                #{data.remark})
    </insert>

    <select id="findByPage" resultMap="queryPageResultMap">
        with t as(
        select sum(submit_total_num) as submit_total_num,report_main_id
        from ${submitTable} a
        where a.status = 4
        and a.submit_num > 0
        and a.delete_flag = false
        GROUP BY a.report_main_id
        ),
        t1 as(
        select a.*,
        a.primary_key as primaryKeyValue,
        COALESCE(t.submit_total_num,0) as submit_total_num,
        c.report_main_id as batchNo
        from ${tableName} a
        LEFT JOIN t on a.report_main_id = t.report_main_id
        LEFT JOIN (select DISTINCT report_main_id from ${submitTable} where submit_num > 0) c
        on c.report_main_id = a.report_main_id
        where a.enterprise_code = #{enterpriseCode}
        and a.delete_flag = false
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <if test="data.bussNumber != null and data.bussNumber !='' ">
            and a.buss_number like concat('%',#{data.bussNumber}, '%')
        </if>
        <if test="data.name != null and data.name !='' ">
            and (
            a.procedure_name like concat('%',#{data.name}, '%')
            or
            a.product_or_part_name like concat('%',#{data.name}, '%')
            )
        </if>
        <if test="data.relatedName != null and data.relatedName !='' ">
            and COALESCE(a.related_name,'车间') like concat('%',#{data.relatedName}, '%')
        </if>
        <if test="data.model != null and data.model !='' ">
            and a.model like concat('%',#{data.model}, '%')
        </if>

        <if test="data.unPassedDeal != null and data.unPassedDeal !='' ">
            and a.un_pass_deal_conclusion = #{data.unPassedDeal}
        </if>

        <if test="data.inspectUserCode != null and data.inspectUserCode.size() > 0">
            AND a.inspect_user_code IN
            <foreach collection="data.inspectUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>

        <if test="data.partUnityNo != null and data.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("a.Product_Or_Part_Code","xihang",data.partUnityNo)}
        </if>

        and ${dynamicTableNameProxy.getProductPartSearchObj("a.product_or_part_code",data.searchName)}

        <if test="data.beginDate != null ">
            AND a.create_time >= #{data.beginDate}
        </if>

        <if test="data.endDate != null ">
            AND a.create_time &lt;= #{data.endDate}
        </if>

        <if test="data.originType != null and data.originType != '' ">
            AND a.inspect_origin_type = #{data.originType}
        </if>
        order by
        MAX(a.create_time) OVER (PARTITION BY a.main_id) DESC,
        a.main_id,
        a.create_time desc
        )
        select * from(
        select t1.* ,a.check_items from t1 ,${inspectIntoReportTable} a where t1.report_main_id = a.primary_key and
        t1.inspect_origin_type = 3
        union ALL
        select t1.* ,a.check_items from t1 ,${inspectProcessReportTable} a where t1.report_main_id = a.primary_key and
        t1.inspect_origin_type = 1
        union ALL
        select t1.* ,a.check_items from t1 ,${inspectFinishReportTable} a where t1.report_main_id = a.primary_key and
        t1.inspect_origin_type = 2
        ) tt order by tt.create_time desc
    </select>

    <select id="getReportDetail">
        with t as (select a.finish_main_id as main_id,
                          a.inspect_type,
                          a.inspect_ratio,
                          2                as originType,
                          '成品检'         as originTypeName
                   from ${finishDispatcherTable} a
                   where a.finish_main_id = #{mainId}
                     and a.delete_flag = false
                   union
                   select a.into_main_id, a.inspect_type, a.inspect_ratio, 3 as originType, '入库检' as originTypeName
                   from ${intoDispatcherTable} a
                   where a.into_main_id = #{mainId}
                     and a.delete_flag = false
                   UNION
                   select a.process_main_id,
                          a.inspect_type,
                          a.inspect_ratio,
                          1        as originType,
                          '过程检' as originTypeName
                   from ${processDispatcherTable} a
                   where a.process_main_id = #{mainId}
                     and a.delete_flag = false)
           , t1 as (select a.model, a.product_or_part_name as name, a.check_items as checkItemsStr
                    from ${finishTable} a
                    where primary_key = #{mainId}
                      and a.delete_flag = false
                    union
                    select a.model
                         , a.product_or_part_name as name
                         , a.check_items          as checkItemsStr
                    from ${intoTable} a
                    where primary_key = #{mainId}
                      and a.delete_flag = false
                    union
                    select a.model
                         , a.procedure_name as name
                         , a.check_items    as checkItemsStr
                    from ${processTable} a
                    where primary_key = #{mainId}
                      and a.delete_flag = false)

        select *
        from t,
             t1
    </select>

    <select id="getSubmittedUser">
        select t.submit_user_code as code, t1.staff_sign as name
        from (select submit_user_code
              from ${repairSubmitTable} a
              where a.report_main_id = #{reportMainId}
                and a.enterprise_code = #{enterpriseCode}
                and a.delete_flag = false
                and a.status = 4
                and a.submit_num > 0
              GROUP BY submit_user_code) t,
             ${staffTable} t1
        where t.submit_user_code = t1.primary_key
    </select>

</mapper>