<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.quality.IInspectApproveMapper">

    <resultMap id="queryTotalList"
               type="com.futurecraftsmen.pms.technical.service.domain.quality.approve.InspectApproveModel">
        <result property="fileList" column="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <insert id="batchSave">
        INSERT INTO ${tableName}
        (primary_key,
        enterprise_code,
        report_main_id,
        produce_main_id,
        inspect_main_id,
        inspect_type,
        batch_num,
        buss_number,
        contract_code,
        approve_user_code,
        inspect_num,
        passed_num,
        un_passed_num,
        un_passed_deal,
        un_passed_deal_desc,
        final_un_passed_deal,
        final_un_passed_deal_desc,
        un_passed_remark,
        status,
        final_status,
        check_items,
        remark,
        files,
        inspect_report_data,
        last_approve,
        report_user_code,
        dispatch_flag,
        self_receiving_detail,
        receiving_detail,
        procedure_name,
        product_or_part_name,
        model
        )
        VALUES
        <foreach collection="list" item="data" separator=",">
            (#{data.primaryKeyValue},
            #{data.enterpriseCode},
            #{data.reportMainId},
            #{data.produceMainId},
            #{data.inspectMainId},
            #{data.inspectType},
            #{data.batchNum},
            #{data.bussNumber},
            #{data.contractCode},
            #{data.approveUserCode},
            #{data.inspectNum},
            #{data.passedNum},
            #{data.unPassedNum},
            #{data.unPassedDeal},
            #{data.unPassedDealDesc},
            #{data.finalUnPassedDeal},
            #{data.finalUnPassedDealDesc},
            #{data.unPassedRemark},
            #{data.status},
            #{data.finalStatus},
            #{data.checkItems},
            #{data.remark},
            #{data.fileList ,typeHandler=org.apache.ibatis.type.ArrayTypeHandler},
            #{data.inspectReportData},
            #{data.lastApprove},
            #{data.reportUserCode},
            #{data.dispatchFlag},
            #{data.selfReceivingDetail},
            #{data.receivingDetail},
            #{data.procedureName},
            #{data.productOrPartName},
            #{data.model}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey">
        update ${tableName}
        set status = #{data.status},
        un_passed_deal = #{data.unPassedDeal},
        un_passed_deal_desc = #{data.unPassedDealDesc},
        final_un_passed_deal = #{data.finalUnPassedDeal},
        final_un_passed_deal_desc = #{data.finalUnPassedDealDesc}
        <if test="data.finalStatus != null">
            ,final_status = #{data.finalStatus}
        </if>
        <if test="data.approveUserCode != null">
            ,approve_user_code = #{data.approveUserCode}
        </if>
        where enterprise_code = #{enterpriseCode}
        and delete_flag = false
        and primary_key = #{data.primaryKeyValue}
    </update>

    <update id="updateStatusByReportMainId">
        update ${tableName}
        set final_status              = #{data.finalStatus},
            final_un_passed_deal      = #{data.finalUnPassedDeal},
            final_un_passed_deal_desc = #{data.finalUnPassedDealDesc}
        where enterprise_code = #{enterpriseCode}
          and delete_flag = false
          and report_main_id = #{data.reportMainId}
    </update>

    <select id="queryPageByCondition" resultMap="queryTotalList">
        select a.*,
        a.primary_key as primaryKeyValue,
        b.staff_sign as report_user_name
        from ${approveTable} a
        left join ${staffTable} b on a.report_user_code = b.primary_key
        where a.enterprise_code = #{enterpriseCode}
        and a.delete_flag = false
        <if test="isAllPermissionOwner == false">
            and a.approve_user_code = #{approveUserCode}
        </if>
        <if test="isAllPermissionOwner == true">
            and (a.approve_user_code = #{approveUserCode} or a.approve_user_code is null)
        </if>
        <if test="data.bussNumber != null and data.bussNumber != ''">
            and a.buss_number like concat('%', #{data.bussNumber}, '%')
        </if>
        <if test="data.status != null">
            AND a.status = #{data.status}
        </if>
        <if test="data.inspectType != null">
            AND a.inspect_type = #{data.inspectType}
        </if>
        order by a.create_time desc
    </select>

    <select id="getUnApproveCount">
        select count(1)
        from ${approveTable} a
        where a.enterprise_code = #{enterpriseCode}
        and a.delete_flag = false
        and a.final_status = #{finalStatus}
        <if test="isAllPermissionOwner == false">
            and a.approve_user_code = #{approveUserCode}
        </if>
        <if test="isAllPermissionOwner == true">
            and (a.approve_user_code = #{approveUserCode} or a.approve_user_code is null)
        </if>
    </select>

    <select id="getAllByReportMainId">
        select a.*, b.staff_sign as approve_user_name
        from ${approveTable} a
                 left join ${staffTable} b
                           on a.approve_user_code = b.primary_key
        where a.report_main_id = #{reportMainId}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
        order by a.id
    </select>
    <select id="getByPrimaryKey" resultMap="queryTotalList">
        select a.*,
               a.primary_key as primaryKeyValue
        from ${approveTable} a
        where a.primary_key = #{primaryKey}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
    </select>

    <select id="getAllByInspectMainId">
        select a.*
        from ${approveTable} a
        where a.inspect_main_id = #{inspectMainId}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
          and a.status = 1
    </select>
</mapper>