<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.quality.IInspectProcessMapper">

    <resultMap id="queryTotalList"
               type="com.futurecraftsmen.pms.technical.service.domain.quality.inspect.process.InspectProcessTotalModel">
        <id property="procedureName" column="procedure_name"/>
        <id property="batchNum" column="batch_num"/>
        <result property="operatorUserCode" column="operator_user_code"/>
        <result property="operatorUserName" column="operator_user_name"/>
        <result property="files" column="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result property="inspectType" column="inspect_type"/>
        <result property="inspectNum" column="inspect_num"/>
        <result property="inspectRatio" column="inspect_ratio"/>
        <result property="shouldInspectNum" column="should_inspect_num"/>
        <result property="passedNum" column="passed_num"/>
        <result property="unPassedNum" column="un_passed_num"/>
        <result property="unPassedDeal" column="un_passed_deal"/>
        <result property="unPassedRemark" column="un_passed_remark"/>
        <result property="remark" column="remark"/>
        <result property="inspectUserName" column="inspect_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="passRate" column="pass_rate"/>
        <result property="checkItems" column="check_items"/>
    </resultMap>

    <!-- 批量插入新记录 -->
    <insert id="save">
        INSERT INTO ${tableName} (primary_key,
                                  enterprise_code,
                                  procedure_code,
                                  procedure_name,
                                  product_or_part,
                                  product_or_part_name,
                                  model,
                                  pcs_code,
                                  pcs_name,
                                  operator_user_code,
                                  task_num,
                                  overdue_date,
                                  should_inspect_num,
                                  status,
                                  remark,
                                  main_id,
                                  batch_num,
                                  buss_number,
                                  contract_code,
                                  batch,
                                  batch_global_code,
                                  product_flag,
                                  check_items)
        VALUES (#{data.primaryKeyValue},
                #{data.enterpriseCode},
                #{data.procedureCode},
                #{data.procedureName},
                #{data.productOrPart},
                #{data.productOrPartName},
                #{data.model},
                #{data.pcsCode},
                #{data.pcsName},
                #{data.operatorUserCode},
                #{data.taskNum},
                #{data.overdueDate},
                #{data.shouldInspectNum},
                #{data.status},
                #{data.remark},
                #{data.mainId},
                #{data.batchNum},
                #{data.bussNumber},
                #{data.contractCode},
                #{data.batch},
                #{data.batchGlobalCode},
                #{data.productFlag},
                #{data.checkItems})
    </insert>

    <select id="queryMainPageByCondition">
        with a as(
        select DISTINCT aa.process_main_id ,aa.should_inspect_num
        from ${inspectProcessDispatcherTable} aa
        where aa.delete_flag = false
        GROUP BY aa.process_main_id ,aa.should_inspect_num
        ) ,
        b as(
        select a.process_main_id,sum(a.should_inspect_num) as should_inspect_num
        from a GROUP BY a.process_main_id
        ),
        c as(
        select cc.process_main_id, sum(cc.inspect_num) as inspect_num ,sum(cc.passed_num) as
        passed_num,sum(cc.un_passed_num) as un_passed_num
        from ${inspectProcessReportTable} cc
        GROUP BY cc.process_main_id
        ),
        d as(
        select aa.process_main_id,aa.inspect_type,string_agg(CAST(bb.staff_sign as TEXT),',') as inspectUserName
        from ${inspectProcessDispatcherTable} aa , ${staffTable} bb
        where aa.inspect_user_code = bb.primary_key
        GROUP BY aa.process_main_id,aa.inspect_type
        )
        select * from (
        select aa.main_id,aa.buss_number,aa.pcs_name,aa.create_time,aa.batch,aa.product_flag,
        aa.batch_num,aa.procedure_name,aa.procedure_code,aa.operator_user_code,aa.task_num,aa.overdue_date,aa.status,aa.remark,aa.primary_key
        as primaryKeyValue,aa.enterprise_code,aa.primary_key,
        b.should_inspect_num,c.inspect_num, c.passed_num , c.un_passed_num ,ROUND((c.passed_num/c.inspect_num) * 100,2)
        as
        passed_rate,d.inspectUserName,aa.check_items,d.inspect_type,e.status as approve_status
        from ${inspectProcessTable} aa
        LEFT JOIN b on aa.primary_key = b.process_main_id
        LEFT JOIN c on aa.primary_key = c.process_main_id
        LEFT JOIN d on aa.primary_key = d.process_main_id
        left join ${approveTable} e on aa.primary_key = e.inspect_main_id
        where aa.delete_flag = false
        ) t
        where t.enterprise_code = #{enterpriseCode}
        <if test="data.bussNumber != null and data.bussNumber != '' ">
            AND (t.buss_number like concat('%', #{data.bussNumber}, '%')
            or t.batch like concat('%',#{data.bussNumber}, '%')
            )
        </if>
        <if test="data.procedureName != null and data.procedureName != '' ">
            AND t.procedure_name like concat('%',#{data.procedureName}, '%')
        </if>

        <if test="data.status != null">
            AND t.status = #{data.status}
        </if>

        <if test="data.beginDate != null ">
            AND t.overdue_date >= #{data.beginDate}
        </if>

        <if test="data.endDate != null ">
            AND t.overdue_date &lt;= #{data.endDate}
        </if>

        <if test="data.operatorUserCode != null and data.operatorUserCode.size() > 0">
            AND t.operator_user_code IN
            <foreach collection="data.operatorUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>

        <if test="data.inspectUserCode != null and data.inspectUserCode.size() > 0">
            AND exists ( select 1 from ${inspectProcessDispatcherTable} b
            where
            b.inspect_user_code in
            <foreach collection="data.inspectUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
            and b.process_main_id=t.primary_key)
        </if>
        <if test="data.passRate != null ">
            AND t.passed_rate >= #{data.passRate}
        </if>

        order by t.create_time desc


    </select>

    <select id="queryStaffPageByCondition">
        WITH t as(
        select cc.process_main_id, batch_no,status, sum(cc.inspect_num) as inspect_num ,sum(cc.passed_num) as
        passed_num,sum(cc.un_passed_num) as un_passed_num
        from ${inspectProcessReportTable} cc
        where cc.inspect_user = #{data.inspectUserCode[0]}
        and cc.delete_flag = false
        GROUP BY cc.process_main_id,batch_no,status
        )
        select * from (
        select b.buss_number,b.pcs_name,b.batch,b.product_flag,
        b.batch_num,b.procedure_name,b.procedure_code,b.operator_user_code,b.task_num,a.finish_date as
        overdue_date,t.status,
        a.remark,b.enterprise_code,b.create_time,b.check_items,
        t.inspect_num,t.passed_num,t.un_passed_num,
        ROUND((t.passed_num/t.inspect_num) * 100,2) as passed_rate,
        a.primary_key as primaryKeyValue,a.allocation_num as should_inspect_num,a.batch_no,a.process_main_id as mainId,
        e.status as approve_status
        from ${inspectProcessDispatcherTable} a
        LEFT JOIN ${inspectProcessTable} b on a.process_main_id = b.primary_key
        LEFT JOIN t on t.process_main_id = a.process_main_id and t.batch_no = a.batch_no
        left join ${approveTable} e on b.primary_key = e.inspect_main_id
        where a.inspect_user_code = #{data.inspectUserCode[0]}
        and a.delete_flag = false
        )tt
        where tt.enterprise_code = #{enterpriseCode}
        <if test="data.bussNumber != null and data.bussNumber != '' ">
            AND (tt.buss_number like concat('%', #{data.bussNumber}, '%')
            or tt.batch like concat('%',#{data.bussNumber}, '%')
            )
        </if>
        <if test="data.procedureName != null and data.procedureName != '' ">
            AND tt.procedure_name like concat('%',#{data.procedureName}, '%')
        </if>

        <if test="data.status != null">
            <if test="data.status == 30">
                AND (tt.status is null or tt.status = 30)
            </if>
            <if test="data.status != 30">
                AND tt.status = #{data.status}
            </if>
        </if>
        <if test="data.beginDate != null ">
            AND tt.overdue_date >= #{data.beginDate}
        </if>

        <if test="data.endDate != null ">
            AND tt.overdue_date &lt;= #{data.endDate}
        </if>

        <if test="data.operatorUserCode != null and data.operatorUserCode.size() > 0">
            AND tt.operator_user_code IN
            <foreach collection="data.operatorUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>
        <if test="data.passRate != null ">
            AND tt.passed_rate >= #{data.passRate}
        </if>
        order by tt.create_time desc


    </select>


    <select id="queryMainTotalList" resultMap="queryTotalList">
        with t as (select process_main_id, a.should_inspect_num
                   from ${inspectProcessDispatcherTable} a
                   GROUP BY a.process_main_id, a.should_inspect_num)
        select b.procedure_name,
               b.batch_num,
               b.operator_user_code,
               d.staff_sign  as operator_user_name,
               a.inspect_type,
               a.inspect_ratio,
               a.create_time,
               t.should_inspect_num,
               a.inspect_num,
               a.passed_num,
               a.un_passed_num,
               a.un_passed_deal,
               a.un_passed_remark,
               a.remark,
               a.inspect_user,
               c.staff_sign  as inspect_user_name,
               a.primary_key,
               ROUND((a.passed_num / a.inspect_num) * 100, 2) as pass_rate,
               a.check_items,
               b.primary_key                                  as primaryKeyValue,
               a.primary_key as reportPrimaryKeyValue,
               a.files
        from ${inspectProcessReportTable} a
                 inner join t on t.process_main_id = a.process_main_id
                 inner join ${inspectProcessTable} b on a.process_main_id = b.primary_key
                 inner join ${staffTable} c on a.inspect_user = c.primary_key
                 inner join ${staffTable} d on b.operator_user_code = d.primary_key
        where a.process_main_id = #{mainId}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
        order by a.create_time desc
    </select>

    <select id="queryStaffTotalList" resultMap="queryTotalList">
        with t as (select process_main_id, sum(a.allocation_num) as should_inspect_num
                   from ${inspectProcessDispatcherTable} a
                   where a.process_main_id = #{mainId}
                     and a.enterprise_code = #{enterpriseCode}
                     and a.inspect_user_code = #{inspectUserCode}
                     and a.batch_no = #{batchNo}
                   GROUP BY process_main_id)
        select b.procedure_name,
               b.batch_num,
               b.operator_user_code,
               d.staff_sign  as operator_user_name,
               a.inspect_type,
               a.inspect_ratio,
               a.create_time,
               a.id,
               t.should_inspect_num,
               a.inspect_num,
               a.passed_num,
               a.un_passed_num,
               a.un_passed_deal,
               a.un_passed_remark,
               a.remark,
               a.inspect_user,
               c.staff_sign  as inspect_user_name,
               a.primary_key,
               ROUND((a.passed_num / a.inspect_num) * 100, 2) as pass_rate,
               a.check_items,
               b.primary_key                                  as primaryKeyValue,
               a.primary_key as reportPrimaryKeyValue,
               a.files
        from ${inspectProcessReportTable} a
                 inner join ${inspectProcessTable} b on a.process_main_id = b.primary_key
                 inner join ${staffTable} c on a.inspect_user = c.primary_key
                 inner join ${staffTable} d on b.operator_user_code = d.primary_key
                 inner join t on t.process_main_id = b.primary_key
        where a.process_main_id = #{mainId}
          and a.enterprise_code = #{enterpriseCode}
          and a.inspect_user = #{inspectUserCode}
          and a.batch_no = #{batchNo}
          and a.delete_flag = false
        ORDER BY a.create_time desc

    </select>

    <select id="getDetailPage">
        with t as (select process_main_id, a.should_inspect_num
        from ${inspectProcessDispatcherTable} a
        GROUP BY a.process_main_id, a.should_inspect_num)
        select * from(
        select b.batch_num,a.primary_key as primaryKeyValue,
        b.procedure_name,b.buss_number,b.batch,b.product_flag,
        b.operator_user_code,d.staff_sign as operatorUserName,
        b.task_num,
        b.overdue_date,
        t.should_inspect_num,
        a.finish_date,
        a.inspect_type,
        a.inspect_ratio,
        a.passed_num,
        a.inspect_num as inspectNum,
        a.un_passed_num,
        a.create_time,
        a.process_main_id as mainId,
        a.batch_no,
        a.inspect_user,c.staff_sign as inspectUserName,
        a.enterprise_code,
        a.remark,
        ROUND((a.passed_num/a.inspect_num) * 100,2) as pass_rate
        from ${inspectProcessReportTable} a
        inner join t on t.process_main_id = a.process_main_id
        LEFT JOIN ${inspectProcessTable} b on a.process_main_id = b.primary_key
        LEFT JOIN ${staffTable} c on a.inspect_user = c.primary_key
        LEFT JOIN ${staffTable} d on b.operator_user_code = d.primary_key
        where a.delete_flag = false
        )tt
        where tt.enterprise_code = #{enterpriseCode}
        <if test="data.bussNumber != null and data.bussNumber != '' ">
            AND (tt.buss_number like concat('%', #{data.bussNumber}, '%')
            or tt.batch like concat('%',#{data.bussNumber}, '%')
            )
        </if>
        <if test="data.procedureName != null and data.procedureName != '' ">
            AND tt.procedure_name like concat('%',#{data.procedureName}, '%')
        </if>

        <if test="data.beginDate != null ">
            AND tt.create_time >= #{data.beginDate}
        </if>

        <if test="data.endDate != null ">
            AND tt.create_time &lt;= #{data.endDate}
        </if>

        <if test="data.operatorUserCode != null and data.operatorUserCode.size() > 0">
            AND tt.operator_user_code IN
            <foreach collection="data.operatorUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>

        <if test="data.inspectUserCode != null and data.inspectUserCode.size() > 0">
            AND tt.inspect_user in
            <foreach collection="data.inspectUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>
        <if test="data.passRate != null ">
            AND tt.pass_rate >= #{data.passRate}
        </if>

        <if test="data.codes !=null and data.codes.size() > 0">
            AND primaryKeyValue IN
            <foreach collection="data.codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        order by
        MAX(tt.create_time) OVER (PARTITION BY tt.mainId) DESC,
        tt.mainId,
        tt.create_time desc
        <if test="data.pageSize != null and data.offset != null
              and data.pageSize > 0 and data.offset >=0">
            LIMIT #{data.pageSize} OFFSET #{data.offset}
        </if>
    </select>

    <select id="getStaffDetailPage">
        with t as (
        select process_main_id, sum(a.allocation_num) as should_inspect_num
        from ${inspectProcessDispatcherTable} a
        where a.enterprise_code = #{enterpriseCode}
        and a.inspect_user_code = #{data.inspectUserCode[0]}
        GROUP BY process_main_id
        )
        select * from(
        select b.batch_num,a.primary_key as primaryKeyValue,
        b.procedure_name,b.buss_number,b.batch,b.product_flag,
        b.operator_user_code,d.staff_sign as operatorUserName,
        b.task_num,
        b.overdue_date,
        t.should_inspect_num,
        a.finish_date,
        a.inspect_type,
        a.inspect_ratio,
        a.passed_num,
        a.inspect_num,
        a.un_passed_num,
        a.create_time,
        a.process_main_id as mainId,
        a.batch_no,
        a.inspect_user,c.staff_sign as inspectUserName,
        a.enterprise_code,
        a.remark,
        ROUND((a.passed_num/a.inspect_num) * 100,2) as pass_rate
        from ${inspectProcessReportTable} a
        inner join t on t.process_main_id = a.process_main_id
        LEFT JOIN ${inspectProcessTable} b on a.process_main_id = b.primary_key
        LEFT JOIN ${staffTable} c on a.inspect_user = c.primary_key
        LEFT JOIN ${staffTable} d on b.operator_user_code = d.primary_key
        where a.delete_flag = false
        )tt
        where tt.enterprise_code = #{enterpriseCode}
        and tt.inspect_user = #{data.inspectUserCode[0]}
        <if test="data.bussNumber != null and data.bussNumber != '' ">
            AND (tt.buss_number like concat('%', #{data.bussNumber}, '%')
            or tt.batch like concat('%',#{data.bussNumber}, '%')
            )
        </if>
        <if test="data.procedureName != null and data.procedureName != '' ">
            AND tt.procedure_name like concat('%',#{data.procedureName}, '%')
        </if>

        <if test="data.beginDate != null ">
            AND tt.create_time >= #{data.beginDate}
        </if>

        <if test="data.endDate != null ">
            AND tt.create_time &lt;= #{data.endDate}
        </if>

        <if test="data.operatorUserCode != null and data.operatorUserCode.size() > 0">
            AND tt.operator_user_code IN
            <foreach collection="data.operatorUserCode" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>

        <if test="data.passRate != null ">
            AND tt.pass_rate >= #{data.passRate}
        </if>

        <if test="data.codes !=null and data.codes.size() > 0">
            AND primaryKeyValue IN
            <foreach collection="data.codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        order by
        MAX(tt.create_time) OVER (PARTITION BY tt.mainId) DESC,
        tt.mainId,
        tt.create_time desc
        <if test="data.limitNum != null and data.limitNum > 0">
            limit #{data.limitNum}
        </if>
    </select>

    <update id="update">
        update ${tableName}
        set status = #{data.status}
        <if test="data.remark != null and data.remark != ''">
            , remark = #{data.remark}
        </if>
        where primary_key = #{data.mainId}
    </update>

    <select id="getDetailByMainId">
        select *
        from ${tableName}
        where primary_key = #{mainId}
          and delete_flag = false
    </select>

    <select id="getListByPrimaryKeys">
        select *
        from ${tableName}
        where delete_flag = false
        and primary_key in
        <foreach collection="primaryKeys" item="primaryKey" open="(" separator="," close=")">
            #{primaryKey}
        </foreach>
    </select>
</mapper>