<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.production.IProductionComponentMapper">

    <insert id="add">
        INSERT INTO ${tableName}
        (primary_key,
         enterprise_code,
         component_name,
         area,
         out_procedures,
         quantity,
         produce_sub_report,
         operator,
         contract_code,
         applied,
         report_date,
         send_sum,
         remark)
        VALUES (
                #{data.componentCode},
                #{data.enterpriseCode},
                #{data.componentName},
                #{data.area},
                #{data.outProcedures},
                #{data.quantity},
                #{data.produceSubReport},
                #{data.operator},
                #{data.contractCode},
                #{data.applied},
                #{data.reportDate},
                #{data.sendSum},
                #{data.remark}
                )
    </insert>



</mapper>