<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.right.service.dao.RightSortDao">
    <insert id="addRightSort">
        insert into right_base.t_right_base_right_sort (right_sort_code, right_sort_name, module_code,
                                                        main_table_code_list, global_description, remark)
        VALUES (#{rightSortModel.rightSortCode}, #{rightSortModel.rightSortName}, #{rightSortModel.moduleCode},
                #{rightSortModel.mainTableCodeList}, #{rightSortModel.globalDescription},
                #{rightSortModel.remark})
    </insert>
    <update id="updateRightSort">
        UPDATE right_base.t_right_base_right_sort
        SET
        delete_flag = false
        <if test="rightSortModel.rightSortName != null and rightSortModel.rightSortName != ''">
            , right_sort_name = #{rightSortModel.rightSortName}
        </if>
        <if test="rightSortModel.mainTableCodeList != null">
            , main_table_code_list = #{rightSortModel.mainTableCodeList}
        </if>
        <if test="rightSortModel.globalDescription != null and rightSortModel.globalDescription != ''">
            , global_description = #{rightSortModel.globalDescription}
        </if>
        <if test="rightSortModel.remark != null">
            , remark = #{rightSortModel.remark}
        </if>
        WHERE right_sort_code = #{rightSortModel.rightSortCode} AND delete_flag = false
    </update>
    <update id="deleteRightSort">
        UPDATE right_base.t_right_base_right_sort
        SET delete_flag = true
        WHERE right_sort_code = #{rightSortCode}
          AND delete_flag = false
    </update>
    <resultMap id="rightSortModel" type="com.futurecraftsmen.pms.right.service.po.RightSortModel">
        <result column="right_sort_code" property="rightSortCode"/>
        <result column="right_sort_name" property="rightSortName"/>
        <result column="module_code" property="moduleCode"/>
        <result column="main_table_code_list" property="mainTableCodeList" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="global_description" property="globalDescription"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>
    <select id="getAllRightSortModels" resultMap="rightSortModel">
        SELECT id,
               right_sort_code,
               right_sort_name,
               module_code,
               main_table_code_list::BIGINT[],
               global_description,
               remark,
               create_time,
               update_time,
               delete_flag
        FROM right_base.t_right_base_right_sort
        WHERE delete_flag = false
    </select>
    <select id="getRightSortsByCodes" resultMap="rightSortModel">
        SELECT id,
        right_sort_code,
        right_sort_name,
        module_code,
        main_table_code_list::BIGINT[],
        global_description,
        remark,
        create_time,
        update_time,
        delete_flag
        FROM right_base.t_right_base_right_sort
        WHERE delete_flag = false AND right_sort_code IN
        <foreach collection="rightSortCodes" item="rightSortCode" index="index" open="(" separator=","
                 close=")">
            #{rightSortCode}
        </foreach>
    </select>
</mapper>