<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.contract.ContractFinancingOperateDao">


    <resultMap id="ContractFinancingOperateModel"
               type="com.futurecraftsmen.pms.pas.service.po.newContract.ContractFinancingOperateModel">
        <result column="primary_key" property="operateCode"/>
        <result column="record_code" property="recordCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="signed_contract_code" property="signedContractCode"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="counterpart" property="counterpart"/>
        <result column="apply_type" property="applyType"/>
        <result column="applicant" property="applicant"/>
        <result column="apply_time" property="applyTime"/>
        <result column="apply_amount" property="applyAmount"/>
        <result column="apply_remark" property="applyRemark"/>
        <result column="op_staff" property="opStaff"/>
        <result column="operation_type" property="operationType"/>
        <result column="reject_reason" property="rejectReason"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="sameRecordLatestOperationPaging"
            resultMap="ContractFinancingOperateModel">
        SELECT *
        FROM (SELECT id,primary_key,
        record_code,
        enterprise_code,
        signed_contract_code,
        contract_number,
        counterpart,
        apply_type,
        applicant,
        apply_time,
        apply_amount,
        apply_remark,
        op_staff,
        operation_type,
        reject_reason,
        create_time,
        ROW_NUMBER() OVER (PARTITION BY record_code ORDER BY id DESC) as rn
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        <if test="contractNumber != null and contractNumber !=''">
            AND contract_number = #{contractNumber}
        </if>
        <if test="counterpart != null and counterpart !=''">
            AND counterpart LIKE '%'|| #{counterpart} ||'%'
        </if>
        <if test="applyType != null ">
            AND apply_type = #{applyType}
        </if>
        <if test="applicant != null and applicant.size()!=0">
            AND applicant IN
            <foreach collection="applicant" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="opStaff != null and opStaff.size()!=0">
            AND op_staff IN
            <foreach collection="opStaff" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="opTimePre != null">
            AND create_time &gt;= #{opTimePre}
        </if>
        <if test="opTimePost != null">
            AND create_time &lt;= #{opTimePost}
        </if>

        ) t
        WHERE rn = 1
        ORDER BY id DESC
    </select>


    <update id="updateContractNumberAndCounterpart">
        UPDATE ${tableName}
        SET contract_number = #{contractNumber},
            counterpart     = #{counterpart}
        WHERE signed_contract_code = #{signedContract}
          AND enterprise_code = #{enterpriseCode}
    </update>

</mapper>
