<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.enquiry.NewPurchaseEnquiryDao">


    <insert id="addInvisibleData">
        INSERT INTO ${tableName} (primary_key, enquiry_name,
                                  buyer, seller, vender_data_code, enterprise_code,
                                  user_code, user_name, language, payment_strategy, column_titles,
                                  amount_title, product_detail, remark, state, enquiry_time, temp_data, data_version,sell_enquiry,son_enterprise_code,
                                  delete_flag, business_belong, sign_areas)
        VALUES (#{model.enquiryCode}, #{model.enquiryName},
                #{model.buyer}, #{model.seller}, #{model.venderDataCode},
                #{model.ownedEnterpriseCode}, #{model.userCode}, #{model.userName}, #{model.language},
                #{model.paymentStrategy}, #{model.columnTitles}, #{model.amountTitle}, #{model.productDetail},
                #{model.remark}, #{model.state},
                #{model.enquiryTime}, #{model.tempData}, #{model.dataVersion}, #{model.sellEnquiry}, #{model.sonEnterpriseCode}, 't',
                #{model.businessBelong}, #{model.signAreas})
    </insert>

    <insert id="addVisibleData">
        INSERT INTO ${tableName} (primary_key, enquiry_number, enquiry_name,
                                  buyer, seller, vender_data_code, enterprise_code,
                                  user_code, user_name, language, payment_strategy, column_titles,
                                  amount_title, product_detail, remark, state, enquiry_time, temp_data, data_version,sell_enquiry,son_enterprise_code,
                                  delete_flag, business_belong, sign_areas)
        VALUES (#{model.enquiryCode}, #{model.enquiryNumber}, #{model.enquiryName},
                #{model.buyer}, #{model.seller}, #{model.venderDataCode},
                #{model.ownedEnterpriseCode}, #{model.userCode}, #{model.userName}, #{model.language},
                #{model.paymentStrategy}, #{model.columnTitles}, #{model.amountTitle}, #{model.productDetail},
                #{model.remark}, #{model.state},
                #{model.enquiryTime}, null, #{model.dataVersion}, #{model.sellEnquiry}, #{model.sonEnterpriseCode}, 'f',
                #{model.businessBelong}, #{model.signAreas})
    </insert>

    <select id="countByEnquiryNumberAndVenderCode" resultType="int">
        SELECT COUNT(id)
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND vender_data_code = #{venderDataCode}
          AND primary_key != #{excludedEnquiryCode}
          AND enquiry_number = #{enquiryNumber}
          AND delete_flag = 'f'
    </select>

    <select id="page">
        SELECT primary_key as enquiryCode, enquiry_number, enquiry_name,buyer,
        seller, vender_data_code, enterprise_code as ownedEnterpriseCode,
        user_code as userCode, user_name, language, payment_strategy, column_titles,
        amount_title,product_detail,state,enquiry_time, data_version,sell_enquiry,son_enterprise_code,business_belong,sign_areas
        FROM ${tableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND delete_flag= 'f'
        <if test="enquiryNumber != null">
            AND enquiry_number LIKE '%'|| #{enquiryNumber} ||'%'
        </if>
        <if test="venderDataCode != null">
            AND vender_data_code = #{venderDataCode}
        </if>
        <if test="userCodes != null and userCodes.size()!=0">
            AND user_code IN
            <foreach collection="userCodes" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>
        <if test="enquiryTimePre != null">
            AND enquiry_time &gt;= #{enquiryTimePre}
        </if>
        <if test="enquiryTimePost != null">
            AND enquiry_time &lt;= #{enquiryTimePost}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY create_time DESC
    </select>


    <select id="purchaseEnquiryDetail"
            resultType="com.futurecraftsmen.pms.pas.service.po.enquiry.NewPurchaseEnquiryModel">
        SELECT primary_key as enquiryCode, enquiry_number, enquiry_name,buyer,
        seller, vender_data_code, enterprise_code as ownedEnterpriseCode,
        user_code as userCode, user_name, language, payment_strategy, column_titles,
        amount_title,product_detail,remark,state,enquiry_time,temp_data,
        data_version,sell_enquiry,son_enterprise_code,business_belong,sign_areas
        FROM ${tableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND primary_key = #{enquiryCode}
        <if test="visibleAll == false">
            AND delete_flag= 'f'
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </select>

    <select id="purchaseEnquiryInnerDetail"
            resultType="com.futurecraftsmen.pms.pas.service.po.enquiry.NewPurchaseEnquiryModel">
        SELECT primary_key as enquiryCode, enquiry_number, enquiry_name,buyer,
        seller, vender_data_code, enterprise_code as ownedEnterpriseCode,
        user_code as userCode, user_name, language, payment_strategy, column_titles,
        amount_title,product_detail,remark,state,enquiry_time,temp_data,
        data_version,sell_enquiry,son_enterprise_code,business_belong,sign_areas
        FROM ${tableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND primary_key = #{enquiryCode}
        <if test="visibleAll == false">
            AND delete_flag= 'f'
        </if>
    </select>



    <update id="clearTempData">
        UPDATE ${tableName}
        SET temp_data = NULL
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.enquiryCode}
        AND temp_data IS NOT NULL
    </update>

    <update id="updateTempDataAndNumber">
        UPDATE ${tableName}
        SET temp_data      = #{model.tempData},
            enquiry_number = #{number}
        WHERE enterprise_code = #{model.ownedEnterpriseCode}
          AND primary_key = #{model.enquiryCode}
    </update>

    <update id="updateTempData">
        UPDATE ${tableName}
        SET temp_data = #{model.tempData}
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.enquiryCode}
        </update>

    <delete id="deleteDraftPurchaseEnquiry">
        DELETE FROM ${tableName}
        WHERE enterprise_code = #{currentEnterpriseCode}
        AND primary_key = #{enquiryCode}
        AND delete_flag = 'f'
        AND state = 'DRAFT'
    </delete>

    <update id="compareDataVersionAndUpdate">
        UPDATE  ${tableName}
        SET
        enquiry_number = #{model.enquiryNumber},
        enquiry_name = #{model.enquiryName},
        buyer = #{model.buyer},
        seller = #{model.seller},
        vender_data_code = #{model.venderDataCode},
        language = #{model.language},
        payment_strategy = #{model.paymentStrategy},
        column_titles = #{model.columnTitles},
        amount_title = #{model.amountTitle},
        product_detail = #{model.productDetail},
        remark = #{model.remark},
        state = #{model.state},
        enquiry_time = #{model.enquiryTime},
        temp_data = null,
        data_version = #{model.dataVersion},
        sell_enquiry = #{model.sellEnquiry},
        son_enterprise_code = #{model.sonEnterpriseCode},
        sign_areas = #{model.signAreas},
        delete_flag = 'f'
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.enquiryCode}
        AND data_version =  #{clientDataVersion}
    </update>


    <update id="updateBySellEnquiryFromPurchase">
        UPDATE  ${tableName}
        SET
        buyer = #{model.buyer},
        seller = #{model.seller},
        state = #{model.state},
        temp_data = NULL,
        data_version = #{model.dataVersion},
        son_enterprise_code = #{model.sonEnterpriseCode}
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.enquiryCode}
        AND data_version =  #{clientDataVersion}
    </update>


    <update id="updateWhilePurchaseContractFromPurchaseEnquiryDelete">
        UPDATE  ${tableName}
        SET
            state = #{model.state},
            enquiry_time = #{model.enquiryTime},
            temp_data = NULL,
            data_version = #{model.dataVersion},
            son_enterprise_code = #{model.sonEnterpriseCode}
            WHERE
            enterprise_code= #{model.ownedEnterpriseCode}
          AND primary_key = #{model.enquiryCode}
          AND data_version =  #{clientDataVersion}
    </update>


</mapper>
