<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.lackmaterial.OutPartDetailDao">

    <resultMap id="OutPartDetailModel"
               type="com.futurecraftsmen.pms.pas.service.po.lackmaterialtask.OutPartDetailModel">
        <result column="primary_key" property="outPartDetailCode"/>
        <result column="material" property="material"/>
        <result column="out_sum" property="outSum"/>
        <result column="send_sum" property="sendSum"/>
        <result column="schedule_outbound" property="scheduleOutbound"/>
        <result column="remark" property="remark"/>
        <result column="self_apply" property="selfApply"/>
        <result column="self_apply_data_apply_staff" property="selfApplyDataApplyStaff"/>
        <result column="create_time" property="createTime"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>


<!--    &lt;!&ndash;所有的字段&ndash;&gt;-->
    <sql id="columns">
        primary_key, material,out_sum,send_sum,schedule_outbound,
        remark,self_apply,self_apply_data_apply_staff,create_time,business_belong,enterprise_code,delete_flag
    </sql>

    <insert id="addTasks">
        INSERT INTO ${tableName} (primary_key, material,out_sum,send_sum,schedule_outbound,
        remark,self_apply,self_apply_data_apply_staff,business_belong,enterprise_code,delete_flag)
        VALUES
        <foreach collection="outPartDetailModels" index="index" item="model" separator=",">
            ( #{model.outPartDetailCode}, #{model.material}, #{model.outSum},
            #{model.sendSum}, #{model.scheduleOutbound},#{model.remark},
            #{model.selfApply},#{model.selfApplyDataApplyStaff},#{model.businessBelong},
            #{model.enterpriseCode}, 'f')
        </foreach>
    </insert>


    <select id="queryByCodes" resultMap="OutPartDetailModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key IN
        <foreach collection="outPartDetailCodes" index="index" item="outPartDetailCode" open="(" separator="," close=")">
            #{outPartDetailCode}
        </foreach>
    </select>


    <update id="batchUpdateSendSum">
        UPDATE ${tableName}
        SET
        <trim prefix="send_sum =case" suffix="end">
            <foreach collection="outPartDetailSendSumUpdaters" item="outPartDetailSendSumUpdater" index="index">
                <if test="outPartDetailSendSumUpdater.sendSumNeedAdd !=null">
                    when primary_key=#{outPartDetailSendSumUpdater.outPartDetailCode} then (send_sum + #{outPartDetailSendSumUpdater.sendSumNeedAdd})
                </if>
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="outPartDetailSendSumUpdaters" index="index" item="outPartDetailSendSumUpdater" separator="," open="(" close=")">
            #{outPartDetailSendSumUpdater.outPartDetailCode}
        </foreach>
    </update>

    <select id="queryByCode" resultMap="OutPartDetailModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key = #{outPartDetailCode}
    </select>

    <update id="updateOutSum">
        UPDATE ${tableName}
        SET out_sum = #{newOutSum}
        where enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{outPartDetailCode}
          AND out_sum = #{rawOutSum}
    </update>

</mapper>
