<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.lackmaterial.OutPartTaskSendDetailDao">

    <resultMap id="OutPartTaskSendDetailModel"
               type="com.futurecraftsmen.pms.pas.service.po.lackmaterialtask.OutPartTaskSendDetailModel">
        <result column="primary_key" property="outPartTaskSendDetailCode"/>
        <result column="out_part_task_code" property="outPartTaskCode"/>
        <result column="out_part_detail" property="outPartDetail"/>
        <result column="out_component" property="outComponent"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="contract_code" property="contractCode"/>
        <result column="buss_number" property="bussNumber"/>
        <result column="product_belong" property="productBelong"/>
        <result column="product_belong_value" property="productBelongValue"/>
        <result column="product_delivery" property="productDelivery"/>
        <result column="material" property="material"/>
        <result column="material_name" property="materialName"/>
        <result column="material_model" property="materialModel"/>
        <result column="out_sum" property="outSum"/>
        <result column="apply_sum" property="applySum"/>
        <result column="send_num" property="sendNum"/>
        <result column="arranger" property="arranger"/>
        <result column="vender" property="vender"/>
        <result column="vender_name" property="venderName"/>
        <result column="vender_contact" property="venderContact"/>
        <result column="vender_contact_name" property="venderContactName"/>
        <result column="sender" property="sender"/>
        <result column="remark" property="remark"/>
        <result column="send_time" property="sendTime"/>
        <result column="virtual_data" property="virtualData"/>
        <result column="applicant" property="applicant"/>
        <result column="out_part_send_order" property="outPartSendOrder"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>


<!--    &lt;!&ndash;所有的字段&ndash;&gt;-->
    <sql id="columns">
        primary_key, out_part_task_code,out_part_detail,out_component,batch_number,
        contract_code,buss_number,
        product_belong,product_belong_value,product_delivery,material,material_name,material_model,
        out_sum,apply_sum,send_num,arranger,vender,vender_name,vender_contact,vender_contact_name,sender,remark,send_time,virtual_data,applicant,out_part_send_order,business_belong,enterprise_code,delete_flag
    </sql>

    <insert id="addTaskSendDetails">
        INSERT INTO ${tableName} (primary_key, out_part_task_code,out_part_detail,out_component,batch_number,
        contract_code,buss_number,
        product_belong,product_belong_value,product_delivery,material,material_name,material_model,
        out_sum,apply_sum,send_num,arranger,vender,vender_name,vender_contact,vender_contact_name,sender,remark,send_time,virtual_data,applicant,out_part_send_order,business_belong,enterprise_code,delete_flag)
        VALUES
        <foreach collection="outPartTaskSendDetailModels" index="index" item="model" separator=",">
            ( #{model.outPartTaskSendDetailCode}, #{model.outPartTaskCode},#{model.outPartDetail},
            #{model.outComponent}, #{model.batchNumber},
            #{model.contractCode},#{model.bussNumber},
             #{model.productBelong},#{model.productBelongValue},
            #{model.productDelivery}, #{model.material},#{model.materialName}, #{model.materialModel},
            #{model.outSum},#{model.applySum}, #{model.sendNum},
            #{model.arranger}, #{model.vender},#{model.venderName},#{model.venderContact},#{model.venderContactName},
             #{model.sender},#{model.remark},#{model.sendTime},
            #{model.virtualData}, #{model.applicant}, #{model.outPartSendOrder},#{model.businessBelong},
            #{model.enterpriseCode}, 'f')
        </foreach>
    </insert>



    <select id="sendDetailPaging" resultMap="OutPartTaskSendDetailModel">
        SELECT     <include refid="columns"/>
        FROM ${tableName} as a
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="bussNumber != null and bussNumber !=''">
            AND buss_number LIKE '%'|| #{bussNumber} ||'%'
        </if>
        <if test="product != null and product !=''">
            AND product_belong_value  LIKE '%'|| #{product} ||'%'
        </if>
        <if test="part != null and part !=''">
            AND (material_name  LIKE '%'|| #{part} ||'%' OR material_model  LIKE '%'|| #{part} ||'%')
        </if>
        <if test="venderName != null and venderName !=''">
            AND vender_name LIKE '%'|| #{venderName} ||'%'
        </if>
        <if test="sender != null and sender.size() > 0">
            AND sender IN
            <foreach collection="sender" index="index" item="userCode" open="(" separator="," close=")">
                #{userCode}
            </foreach>
        </if>
        <if test="sendTimePreDate != null">
            AND send_time &gt;= #{sendTimePreDate}
        </if>
        <if test="sendTimePostDate != null">
            AND send_time &lt;= #{sendTimePostDate}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        <if test="outPartTaskCode != null">
            AND out_part_task_code = #{outPartTaskCode}
        </if>
        <if test="virtualData != null">
            AND virtual_data = #{virtualData}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>

        <if test="data.partUnityNo != null and data.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("a.material","xihang",data.partUnityNo)}
        </if>

        ORDER BY contract_code,out_part_task_code DESC,send_time DESC
    </select>


    <select id="queryAllByTaskCodes" resultMap="OutPartTaskSendDetailModel">
        SELECT     <include refid="columns"/>
        FROM  ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND out_part_task_code IN (
        <foreach collection="outPartTasks" index="index" item="outPartTask" separator=",">
            #{outPartTask}
        </foreach>
        )
    </select>



    <delete id="deleteVirtualData">
        DELETE
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND out_part_task_code IN (
        <foreach collection="outPartTasks" index="index" item="outPartTask" separator=",">
            #{outPartTask}
        </foreach>
        )
        AND virtual_data  = 't'
    </delete>


    <update id="updateApplicantByOutPartTaskCodes">
        UPDATE
            ${tableName}
        SET applicant = #{applicant}
        WHERE enterprise_code = #{enterpriseCode}
          AND out_part_task_code  IN (
        <foreach collection="outPartTaskCodes" index="index" item="outPartTaskCode" separator=",">
            #{outPartTaskCode}
        </foreach>
        )
    </update>


    <select id="queryByOutPartSendOrderCode" resultMap="OutPartTaskSendDetailModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND out_part_send_order = #{outPartSendOrderCode}
    </select>

    <update id="updateOutSumAndApplySumByTaskCode">
        UPDATE
            ${tableName}
        SET out_sum   = #{newApplyNum},
            apply_sum = #{newApplyNum}
        WHERE enterprise_code = #{enterpriseCode}
          AND out_part_task_code = #{outPartTaskCode}
          AND delete_flag = 'f'
    </update>

</mapper>
