<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.ProductGradeDao">
    <resultMap id="ProductGradeModel" type="com.futurecraftsmen.pms.pas.service.po.ProductGradeModel">
        <result column="primary_key" property="productGradeCode"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="product_grade_sign" property="productGradeName"/>
        <result column="price_factor" property="priceFactor"/>
        <result column="enable_flag" property="enableFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_staff" property="createStaff"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="columns">
        primary_key
        , product_grade_sign, price_factor, enable_flag, remark,create_staff, enterprise_code,create_time
    </sql>

    <select id="enabledProductGradeCount">
        SELECT COUNT(primary_key)
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND enable_flag = 't'
    </select>

    <select id="enabledProductGrade" resultMap="ProductGradeModel">
        SELECT primary_key,
               enterprise_code,
               product_grade_sign,
               price_factor,
               enable_flag,
               remark,
               create_staff,
               create_time
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND enable_flag = 't'
        ORDER BY create_time DESC
    </select>

    <select id="getProductGradeByCode" resultMap="ProductGradeModel">
        SELECT primary_key,
               enterprise_code,
               product_grade_sign,
               price_factor,
               enable_flag,
               remark,
               create_staff,
               create_time
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{productGradeCode}
          AND delete_flag = 'f'
          AND enable_flag = 't'
    </select>

    <select id="page" resultMap="ProductGradeModel">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND   delete_flag = 'f'
        <if test="productGradeName != null and productGradeName !=''" >
            AND product_grade_sign   LIKE '%'|| #{productGradeName} ||'%'
        </if>
        <if test="enableFlag != null" >
            AND enable_flag = #{enableFlag}
        </if>
        <if test="createStaffs != null and createStaffs.size() > 0 ">
            AND create_staff in
            <foreach collection="createStaffs" item="createStaff" open="(" separator="," close=")">
                #{createStaff}
            </foreach>
        </if>
        ORDER BY id DESC
    </select>

    <select id="queryByCodes" resultMap="ProductGradeModel">
        SELECT <include refid="columns"/>
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        <if test="productGradeCodes != null and productGradeCodes.size() > 0">
            AND primary_key IN
            <foreach collection="productGradeCodes" index="index" item="productGradeCode" open="(" separator="," close=")">
                #{productGradeCode}
            </foreach>
        </if>
        <if test="productGradeCodes == null or productGradeCodes.isEmpty()">
            AND primary_key IS NULL
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
