<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.ProductPiecesDao">

    <select id="queryByPrimaryKey"
            resultType="com.futurecraftsmen.pms.pas.service.po.ProductPieceModel">
        SELECT primary_key,
               pieces_sign as piecesSign,
               pcs_en      as pcsEn,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{primaryKey}
          AND delete_flag = 'f'
    </select>

    <select id="queryByPrimaryKeys"
            resultType="com.futurecraftsmen.pms.pas.service.po.ProductPieceModel">
        SELECT
        primary_key,
        pieces_sign as piecesSign,
        pcs_en as pcsEn,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        <if test="primaryKeys!=null and !primaryKeys.isEmpty()">
            AND primary_key IN
            <foreach collection="primaryKeys" index="index" item="primaryKey" open="(" separator="," close=")">
                #{primaryKey}
            </foreach>
        </if>
        AND delete_flag = 'f'
    </select>
</mapper>
