<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.PurchaseVenderStatisticsDao">


    <select id="venderPurchaseDetailPaging"
            resultType="com.futurecraftsmen.pms.pas.service.impl.report.innerInterface.purchaseDetailStatistics.VenderPurchaseDetail">
        SELECT
        historyPrice.opposite AS vender,
        SUM(historyPrice.product_rmb_total_price) AS total,
        SUM(historyPrice.product_quantity) AS received,
        COALESCE(SUM(contractMoneyRecord.record_amount), 0) AS paymentTotal
        FROM
        ${historyPriceTableName} historyPrice
        LEFT JOIN
        ${signedContractTableName} signedContract ON historyPrice.signed_contract = signedContract.primary_key
        LEFT JOIN
        ${contractMoneyRecordTableName} contractMoneyRecord ON signedContract.primary_key = contractMoneyRecord.signed_contract
        WHERE
        historyPrice.enterprise_code = #{enterpriseCode}
        AND historyPrice.type = 3
        <if test="startDate != null">
            AND historyPrice.record_time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND historyPrice.record_time &lt;= #{endDate}
        </if>
        GROUP BY
        historyPrice.opposite
        ORDER BY
        total DESC
    </select>

</mapper>
