<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.receiving.SelfReceivingDetailDao">

    <resultMap id="SelfReceivingDetailModel" type="com.futurecraftsmen.pms.pas.service.po.receiving.SelfReceivingDetailModel">
        <result column="primary_key" property="selfReceivingDetailCode"/>
        <result column="purchase_contract" property="purchaseContract"/>
        <result column="purchase_contract_product" property="purchaseContractProduct"/>
        <result column="name" property="name"/>
        <result column="model" property="model"/>
        <result column="material_code" property="materialCode"/>
        <result column="un_modifiable_material_code" property="unModifiableMaterialCode"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="delivery" property="delivery"/>
        <result column="contract_quantity" property="contractQuantity"/>
        <result column="seller_send_quantity" property="sellerSendQuantity"/>
        <result column="received_quantity" property="receivedQuantity"/>
        <result column="qualified_quantity" property="qualifiedQuantity"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="data_version" property="dataVersion"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="unity_no" property="unityNo"/>
        <result column="lack_procedure" property="lackProcedure"/>
    </resultMap>


    <insert id="addRecords">
        INSERT INTO ${tableName} (primary_key, purchase_contract,purchase_contract_product,
        name, model, material_code,un_modifiable_material_code, delivery_date, delivery,
        contract_quantity, seller_send_quantity,received_quantity, qualified_quantity,
        state, remark, data_version,business_belong,enterprise_code,unity_no,lack_procedure)
        VALUES
        <foreach collection="selfReceivingDetailModels" index="index" item="model" separator=",">
            ( #{model.selfReceivingDetailCode}, #{model.purchaseContract},#{model.purchaseContractProduct},
            #{model.name}, #{model.model}, #{model.materialCode},#{model.unModifiableMaterialCode}, #{model.deliveryDate},#{model.delivery},
            #{model.contractQuantity}, #{model.sellerSendQuantity},#{model.receivedQuantity},#{model.qualifiedQuantity},
            #{model.state}, #{model.remark},
            #{model.dataVersion},#{model.businessBelong},#{model.enterpriseCode},#{model.unityNo},#{model.lackProcedure})
        </foreach>
    </insert>


    <select id="queryDetailsByCodes" resultMap="SelfReceivingDetailModel">
        SELECT primary_key, purchase_contract,purchase_contract_product,
        name, model,un_modifiable_material_code, material_code, delivery_date, delivery,
        contract_quantity, seller_send_quantity,received_quantity, qualified_quantity,
        state, remark,data_version, lack_procedure,business_belong,enterprise_code
        FROM ${tableName}
        WHERE
            enterprise_code= #{enterpriseCode}
          AND delete_flag= 'f'
          AND purchase_contract = #{purchaseContract}
          AND primary_key IN
        <foreach collection="selfReceivingDetailCodes" index="index" item="selfReceivingDetailCode" open="(" separator="," close=")">
            #{selfReceivingDetailCode}
        </foreach>
    </select>

    <select id="queryAllHandledDetails" resultMap="SelfReceivingDetailModel">
        SELECT primary_key, purchase_contract,purchase_contract_product,
               name,
               model,
               material_code,
               un_modifiable_material_code,
               delivery_date,
               delivery,
               contract_quantity,
               seller_send_quantity,
               received_quantity,
               qualified_quantity,
               state,
               remark,
               data_version,
               lack_procedure,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND purchase_contract = #{purchaseContract}
        AND received_quantity > 0
    </select>

    <delete id="removeRecords">
        DELETE
        FROM ${tableName}
        WHERE purchase_contract = #{purchaseContract}
          AND enterprise_code = #{enterpriseCode}
    </delete>


    <select id="allDataSameContract" resultMap="SelfReceivingDetailModel">
        SELECT  primary_key, purchase_contract,purchase_contract_product,
        name, model,un_modifiable_material_code, material_code, delivery_date, delivery,
        contract_quantity, seller_send_quantity,received_quantity, qualified_quantity,
        state, remark,data_version, business_belong,enterprise_code,unity_no,lack_procedure
        FROM ${tableName} a
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND purchase_contract = #{purchaseContract}
        <if test="keyword != null and keyword !=''">
            AND ( name ILIKE '%'|| #{keyword} ||'%' OR model ILIKE '%'|| #{keyword} ||'%' )
        </if>
        <if test="data.partUnityNo != null and data.partUnityNo != '' ">
            and (${dynamicTableNameProxy.getXiHangPartQuery("a.material_code","xihang",data.partUnityNo)}
                or ${dynamicTableNameProxy.getXiHangPartQuery("a.un_modifiable_material_code","xihang",data.partUnityNo)}
                or ( unity_no ILIKE '%'|| #{data.partUnityNo} ||'%' )
                )
        </if>
        ORDER BY id
    </select>


    <select id="pageForReceive" resultMap="SelfReceivingDetailModel">
        SELECT primary_key, purchase_contract,purchase_contract_product,
        name, model, un_modifiable_material_code, delivery_date, delivery,
        contract_quantity, seller_send_quantity,received_quantity, qualified_quantity,
        state, remark, data_version,business_belong,enterprise_code,unity_no,lack_procedure
        FROM ${tableName} a
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND purchase_contract = #{purchaseContract}
        AND seller_send_quantity > 0
        <if test="keyword != null and keyword !=''">
            AND ( name LIKE '%'|| #{keyword} ||'%' OR model LIKE '%'|| #{keyword} ||'%' )
        </if>

        <if test="data.partUnityNo != null and data.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("a.un_modifiable_material_code","xihang",data.partUnityNo)}
        </if>

        ORDER BY id
    </select>


    <update id="batchUpdate">
        UPDATE ${tableName}
        SET
        <trim prefix="received_quantity =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.receivedQuantity}
            </foreach>
        </trim>
        ,
        <trim prefix="qualified_quantity =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.qualifiedQuantity}
            </foreach>
        </trim>
        ,
        <trim prefix="state =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.state}
            </foreach>
        </trim>
        ,
        <trim prefix="data_version =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.dataVersion}
            </foreach>
        </trim>
        ,
        <trim prefix="un_modifiable_material_code =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.unModifiableMaterialCode}::bigint
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="models" index="index" item="model" separator="," open="(" close=")">
            #{model.selfReceivingDetailCode}
        </foreach>
    </update>


    <select id="queryByCode" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
               purchase_contract,
               purchase_contract_product,
               name,
               model,
               material_code,
               un_modifiable_material_code,
               delivery_date,
               delivery,
               contract_quantity,
               seller_send_quantity,
               received_quantity,
               qualified_quantity,
               state,
               remark,
               lack_procedure,
               data_version,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{selfReceivingDetailCode}
    </select>

    <select id="queryByContractAndProductCode" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
               purchase_contract,
               purchase_contract_product,
               name,
               model,
               un_modifiable_material_code,
               delivery_date,
               delivery,
               contract_quantity,
               seller_send_quantity,
               received_quantity,
               qualified_quantity,
               state,
               remark,
               lack_procedure,
               data_version,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND purchase_contract = #{purchaseContract}
          AND purchase_contract_product = #{purchaseContractProduct}
    </select>


    <select id="queryByContractAndProductCodes" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
        purchase_contract,
        purchase_contract_product,
        name,
        model,
        un_modifiable_material_code,
        material_code,
        delivery_date,
        delivery,
        contract_quantity,
        seller_send_quantity,
        received_quantity,
        qualified_quantity,
        state,
        remark,
        lack_procedure,
        data_version,
        business_belong,
        enterprise_code
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND purchase_contract = #{purchaseContract}
        AND purchase_contract_product IN
        <foreach collection="contractProducts" index="index" item="contractProduct" open="(" separator="," close=")">
            #{contractProduct}
        </foreach>
    </select>


    <update id="updateQualifiedQuantity">
        UPDATE ${tableName}
        SET qualified_quantity = qualified_quantity + #{qualifiedQuantity}
        WHERE primary_key = #{selfReceivingDetailCode}
          AND enterprise_code = #{enterpriseCode}
    </update>


    <select id="deliveryDetailPaging" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
               purchase_contract,
               purchase_contract_product,
               unity_no,
               name,
               model,
               material_code,
               un_modifiable_material_code,
               delivery_date,
               delivery,
               contract_quantity,
               seller_send_quantity,
               received_quantity,
               qualified_quantity,
               state,
               remark,
               lack_procedure,
               data_version,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND purchase_contract = #{purchaseContract}
          AND received_quantity > 0
        ORDER BY id
    </select>


    <select id="queryByContractCodeAndDetailCode" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
               purchase_contract,
               purchase_contract_product,
               name,
               model,
               un_modifiable_material_code,
               delivery_date,
               delivery,
               contract_quantity,
               seller_send_quantity,
               received_quantity,
               qualified_quantity,
               state,
               remark,
               lack_procedure,
               data_version,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND purchase_contract = #{purchaseContract}
          AND primary_key = #{detailCode}
    </select>


    <select id="getPurchaseDetailList" resultType="com.futurecraftsmen.pms.pas.api.rpc.receiving.ProductTransitRpcDTO">
        SELECT receivingDetail.purchase_contract_product as purchaseContractProduct,
        purchaseContract.contract_number AS purchaseContract,
        purchaseContract.vender_data_code AS supplierCode,
        purchaseContract.seller_name AS supplierName,
        receivingDetail.contract_quantity AS purchaseNum,
        receivingDetail.purchase_contract AS purchaseContractCode,
        GREATEST(receivingDetail.contract_quantity - receivingDetail.received_quantity, 0.0) AS onWayNum,
        GREATEST(receivingDetail.received_quantity, 0.0) AS receivedQuantity,
        TO_CHAR(purchaseContract.contract_time, 'YYYY-MM-DD') AS contractTime,
        receivingDetail.remark,
        (select pcs from ${productPartTName} where primary_key = receivingDetail.material_code) as pcs,
        COALESCE(receivingDetail.un_modifiable_material_code, receivingDetail.material_code) as productPartCode,
        purchaseContract.product_detail as productDetailJson
        FROM ${receivingDetailTName} as receivingDetail
        LEFT JOIN ${purchaseContractTName} as purchaseContract
        ON receivingDetail.purchase_contract = purchaseContract.primary_key
        WHERE receivingDetail.enterprise_code = #{enterpriseCode}
        AND ( receivingDetail.contract_quantity - receivingDetail.received_quantity > 0)
        AND receivingDetail.delete_flag = 'f'
        AND purchaseContract.state != 'CANCELED'
        <if test="requestData.productPartCode != null and requestData.productPartCode != ''">
            AND (receivingDetail.material_code = #{requestData.productPartCode} OR
            receivingDetail.un_modifiable_material_code = #{requestData.productPartCode})
        </if>
        <if test="requestData.productPartCodeList != null and requestData.productPartCodeList.size() > 0">
            AND (
            receivingDetail.material_code IN
            <foreach collection="requestData.productPartCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR
            receivingDetail.un_modifiable_material_code IN
            <foreach collection="requestData.productPartCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
    </select>

    <select id="getNewPurchaseDetailList" resultType="com.futurecraftsmen.pms.pas.api.rpc.receiving.ProductTransitRpcDTO">
        SELECT receivingDetail.purchase_contract_product as purchaseContractProduct,
        purchaseContract.contract_number AS purchaseContract,
        purchaseContract.vender_data_code AS supplierCode,
        purchaseContract.seller_name AS supplierName,
        receivingDetail.contract_quantity AS purchaseNum,
        receivingDetail.purchase_contract AS purchaseContractCode,
        GREATEST(receivingDetail.contract_quantity - receivingDetail.received_quantity, 0.0) AS onWayNum,
        GREATEST(receivingDetail.received_quantity, 0.0) AS receivedQuantity,
        TO_CHAR(purchaseContract.contract_time, 'YYYY-MM-DD') AS contractTime,
        receivingDetail.remark,
        (select pcs from ${productPartTName} where primary_key = receivingDetail.material_code) as pcs,
        COALESCE(receivingDetail.un_modifiable_material_code, receivingDetail.material_code) as productPartCode,
        purchaseContract.product_detail as productDetailJson
        FROM ${receivingDetailTName} as receivingDetail
        LEFT JOIN ${purchaseContractTName} as purchaseContract
        ON receivingDetail.purchase_contract = purchaseContract.primary_key
        WHERE receivingDetail.enterprise_code = #{enterpriseCode}
        AND receivingDetail.delete_flag = 'f'
        AND purchaseContract.state != 'CANCELED'
        <if test="requestData.productPartCode != null and requestData.productPartCode != ''">
            AND (receivingDetail.material_code = #{requestData.productPartCode} OR
            receivingDetail.un_modifiable_material_code = #{requestData.productPartCode})
        </if>
        <if test="requestData.productPartCodeList != null and requestData.productPartCodeList.size() > 0">
            AND (
            receivingDetail.material_code IN
            <foreach collection="requestData.productPartCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR
            receivingDetail.un_modifiable_material_code IN
            <foreach collection="requestData.productPartCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
    </select>


    <update id="updateMaterialCodeWhileNotReceiving">
        UPDATE ${tableName}
        SET material_code = #{materialCode}
        WHERE enterprise_code = #{enterpriseCode}
          AND purchase_contract_product = #{purchaseContractProduct}
          AND purchase_contract = #{purchaseContract}
          AND state = 'TO_BE_RECEIVED'
          AND delete_flag = 'f'
    </update>

    <update id="updateUnModifiableMaterialCodeWhileNotReceiving">
        UPDATE ${tableName}
        SET un_modifiable_material_code = #{unModifiableMaterialCode}
        WHERE enterprise_code = #{enterpriseCode}
          AND purchase_contract_product = #{purchaseContractProduct}
          AND purchase_contract = #{purchaseContract}
          AND state = 'TO_BE_RECEIVED'
          AND delete_flag = 'f'
    </update>

    <select id="getContractAllReceivingDetailsByContractCode" resultMap="SelfReceivingDetailModel">
        SELECT primary_key, purchase_contract,purchase_contract_product,
        name, model,un_modifiable_material_code, material_code, delivery_date, delivery,
        contract_quantity, seller_send_quantity,received_quantity, qualified_quantity,
               state,
               remark,
               lack_procedure,
               data_version,
               business_belong,
               enterprise_code
        FROM ${receivingDetailTableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND delete_flag= false
        AND purchase_contract = #{contractCode}
    </select>

    <update id="batchUpdateRemark">
        UPDATE ${tableName}
        SET
        <trim prefix="remark =case" suffix="end">
            <foreach collection="models" item="model" index="index">
                when primary_key=#{model.selfReceivingDetailCode} then #{model.remark}
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="models" index="index" item="model" separator="," open="(" close=")">
            #{model.selfReceivingDetailCode}
        </foreach>
    </update>


    <select id="queryReceivingDetailForMaterials" resultMap="SelfReceivingDetailModel">
        SELECT primary_key,
        purchase_contract,
        purchase_contract_product,
        name,
        model,
        material_code,
        un_modifiable_material_code,
        delivery_date,
        delivery,
        contract_quantity,
        seller_send_quantity,
        received_quantity,
        qualified_quantity,
        state,
        remark,
        lack_procedure,
        data_version,
        business_belong,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        AND (
        material_code IN
        <foreach collection="materialCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        OR
        un_modifiable_material_code IN
        <foreach collection="materialCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
        <if test="procedureCodes != null and procedureCodes.size !=0">
            AND lack_procedure IN
            <foreach collection="procedureCodes" index="index" item="procedureCode" open="(" separator="," close=")">
                #{procedureCode}
            </foreach>
        </if>
        <if test="procedureCodes == null or procedureCodes.size ==0">
            AND lack_procedure IS NULL
        </if>
        <if test="createTimeCondition != null">
            AND create_time &gt;= #{createTimeCondition}
        </if>
        ORDER BY purchase_contract DESC, material_code,un_modifiable_material_code
    </select>


    <update id="updateWhileProductQuantityChangedAfterSigned">
        UPDATE ${tableName}
        SET contract_quantity = #{currentContractQuantity}
        WHERE enterprise_code = #{enterpriseCode}
          AND purchase_contract_product = #{purchaseContractProduct}
          AND purchase_contract = #{purchaseContract}
          AND delete_flag = 'f'
    </update>


    <delete id="updateWhileProductQuantityRemoveAfterSigned">
        DELETE
        FROM ${tableName}
        WHERE
        enterprise_code = #{enterpriseCode}
        AND purchase_contract = #{purchaseContract}
        AND purchase_contract_product IN
        <foreach collection="purchaseContractProducts" index="index" item="purchaseContractProduct" open="(" separator="," close=")">
            #{purchaseContractProduct}
        </foreach>
        AND delete_flag = 'f'
    </delete>

</mapper>
