<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.TempHistoryPriceDao">


    <select id="quotedSellQuotationDetails" resultType="com.futurecraftsmen.pms.pas.service.po.quotation.NewSellQuotationModel">
        SELECT  primary_key as quotationCode ,type , quotation_name, quotation_number,
        buyer, seller, customer_code, enterprise_code as ownedEnterpriseCode,
        sell_quotation_belong as userCode, user_name, language, payment_strategy,product_grade, column_titles,
        amount_title, product_detail,clauses_chs,clauses_en,quotation_time, temp_data,state,
        data_version,
        sell_enquiry,sell_filing,buyer_quotation,sign_areas,delete_flag
        FROM  ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND state = 'DEAL'
    </select>

    <select id="signedSellContractDetails" resultType="com.futurecraftsmen.pms.pas.service.po.newContract.SellContractModel">
        SELECT primary_key, source, contract_name, contract_number,contract_type,
        buyer,buyer_name, seller, customer_code, enterprise_code as ownedEnterpriseCode,
        user_code, user_name, language, payment_strategy,product_grade, column_titles,
        amount_title, product_detail, clauses_chs, clauses_en,
        state,contract_time, data_version,
        sign_areas,purchase_contract,sell_quotation,buyer_quotation,temp_data,signed_contract,
        cancel_reason,sell_order,attachments,delete_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
          AND( state = 'UNILATERAL_SIGN' OR STATE = 'MUTUAL_SIGN')
    </select>



    <select id="staffCode2DepartmentName" resultType="com.futurecraftsmen.pms.pas.service.base.StaffWithDept">
        SELECT  a.primary_key as staffCOde,b.department_sign as departmentName
        FROM  ${staffTableName}  a LEFT JOIN ${departmentTableName} b
        ON a.department = b.primary_key
        WHERE
           a.enterprise_code= #{enterpriseCode}
          AND a.department IS NOT NUll
          AND a.primary_key IN
        <foreach collection="staffCodes" index="index" item="staffCode" open="(" separator="," close=")">
            #{staffCode}
        </foreach>
    </select>



</mapper>
