<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.VenderDao">
    <resultMap id="VenderDataModel" type="com.futurecraftsmen.pms.pas.service.po.vender.VenderDataModel">
        <result column="primary_key" property="venderDataPrimaryKey"/>
        <result column="vender_data_sign" property="venderName"/>
        <result column="location" property="location"/>
        <result column="contacts" property="contacts" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="city_live" property="cityLive"/>
        <result column="unity_No" property="unityNo"/>
        <result column="unity_Config_Id" property="unityConfigId"/>
        <result column="remark" property="remark"/>
        <result column="delivery_address" property="address" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="buyer" property="buyer" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <select id="venderPaging"
            resultMap="VenderDataModel">
        SELECT *
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        <if test="venderFilterCondition.venderNameKeyword!=null and venderFilterCondition.venderNameKeyword!=''">
            AND vender_data_sign LIKE '%'|| #{venderFilterCondition.venderNameKeyword} ||'%'
        </if>
        <if test="venderFilterCondition.unityNo!=null and venderFilterCondition.unityNo!=''">
            AND unity_No LIKE '%'|| #{venderFilterCondition.unityNo} ||'%'
        </if>
        <if test="venderFilterCondition.supplyProduct!=null and venderFilterCondition.supplyProduct!=''">
            AND supply_product LIKE '%'|| #{venderFilterCondition.supplyProduct} ||'%'
        </if>

        <if test="venderFilterCondition.buyerList !=null and venderFilterCondition.buyerList.size() > 0">
            and
            <foreach item="value" collection="venderFilterCondition.buyerList" separator=" OR " open="(" close=")">
                #{value} = ANY(buyer)
            </foreach>
        </if>
        <if test="venderFilterCondition.contractList !=null and venderFilterCondition.contractList.size() > 0">
            and
            <foreach item="value" collection="venderFilterCondition.contractList" separator=" OR " open="(" close=")">
                #{value} = ANY(contacts)
            </foreach>
        </if>

        <if test="venderFilterCondition.cityLive!=null">
            AND city_live::varchar like CONCAT('%', #{venderFilterCondition.cityLive})
        </if>
        AND contacts IS NOT NULL
        AND delete_flag = 'f'
        ORDER BY create_time DESC
    </select>

    <select id="venderByPrimaryKey" resultMap="VenderDataModel">
        SELECT *
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND primary_key = #{primaryKey}
          AND delete_flag = 'f'
    </select>


    <select id="contactList"
            resultType="com.futurecraftsmen.pms.pas.service.po.vender.VenderContactModel">
        SELECT
        primary_key as venderContactPrimaryKey,
        vender_contact_sign as contactSign,
        contact_phone as contactPhone,
        contact_address as contactAddress,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND delete_flag = 'f'
        <if test="venderContactPrimaryKeyList!=null and !venderContactPrimaryKeyList.isEmpty()">
            AND primary_key IN
            <foreach collection="venderContactPrimaryKeyList" index="index" item="venderContactPrimaryKey" open="("
                     separator=","
                     close=")">
                #{venderContactPrimaryKey}
            </foreach>
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getAllContactList"
            resultType="com.futurecraftsmen.pms.pas.service.po.vender.VenderContactModel">
        SELECT primary_key         as venderContactPrimaryKey,
               vender_contact_sign as contactSign,
               contact_phone       as contactPhone,
               contact_address     as contactAddress,
               enterprise_code
        FROM ${venderContactsTableName}
        where primary_key in (select UNNEST(contacts)
                              from ${venderDataTableName}
                              where delete_flag = false
                                and enterprise_code = #{ownedEnterpriseCode})
          and delete_flag = false
          and enterprise_code = #{ownedEnterpriseCode}
        order by create_time desc
    </select>

    <select id="queryContact"
            resultType="com.futurecraftsmen.pms.pas.service.po.vender.VenderContactModel">
        SELECT
        primary_key as venderContactPrimaryKey,
        vender_contact_sign as contactSign,
        contact_phone as contactPhone,
        contact_address as contactAddress,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND delete_flag = 'f'
        <if test="venderContactPrimaryKeyList!=null and !venderContactPrimaryKeyList.isEmpty()">
            AND primary_key IN
            <foreach collection="venderContactPrimaryKeyList" index="index" item="venderContactPrimaryKey" open="("
                     separator=","
                     close=")">
                #{venderContactPrimaryKey}
            </foreach>
        </if>
        AND contact_phone = #{contactPhone}
    </select>


    <select id="queryContactByCode"
            resultType="com.futurecraftsmen.pms.pas.service.po.vender.VenderContactModel">
        SELECT primary_key         as venderContactPrimaryKey,
               vender_contact_sign as contactSign,
               contact_phone       as contactPhone,
               contact_address     as contactAddress,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{venderContactPrimaryKey}
    </select>


    <select id="queryByVenderName" resultMap="VenderDataModel">
        SELECT primary_key,
               vender_data_sign,
               location,
               contacts
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND vender_data_sign = #{venderName}
          AND delete_flag = 'f'
    </select>

    <select id="queryByVenderUnitNo" resultMap="VenderDataModel">
        SELECT primary_key,
               vender_data_sign,
               location,
               contacts
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND unity_no = #{unityNo}
          AND delete_flag = 'f'
    </select>


    <select id="queryByNameList"
            resultMap="VenderDataModel">
        SELECT
        primary_key,
        vender_data_sign,
        location,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND vender_data_sign IN
        <foreach collection="venderNameList" index="index" item="venderName" open="(" separator="," close=")">
            #{venderName}
        </foreach>
        AND delete_flag = 'f'
    </select>


    <select id="queryByCodeList"
            resultMap="VenderDataModel">
        SELECT
        primary_key,
        vender_data_sign,
        location,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND primary_key IN
        <foreach collection="venderCodeList" index="index" item="venderCode" open="(" separator="," close=")">
            #{venderCode}
        </foreach>
        AND delete_flag = 'f'
    </select>

    <insert id="addVenderContact">
        INSERT INTO ${tableName}
        (primary_key,
         enterprise_code,
         contact_address,
         permission,
         staff_type,
         contact_phone,
         allow_login,
         vender_contact_sign,
         addtime)
        VALUES (#{model.venderContactPrimaryKey},
                #{model.enterpriseCode},
                #{model.contactAddress},
                #{model.permission},
                #{model.staffType},
                #{model.contactPhone},
                #{model.allowLogin},
                #{model.contactSign},
                now())
    </insert>

    <insert id="saveVenderAllInfo">
        INSERT INTO ${tableName} (primary_key,
                                  enterprise_code,
                                  remark,
                                  location,
                                  city_live,
                                  buyer,
                                  contacts,
                                  supply_product,
                                  vender_data_sign,
                                  creationtime,
                                  delivery_address,
                                  unity_no,
                                  unity_config_id,
                                  tax_number,
                                  account_number,
                                  opening_bank,
                                  invoice_tel,
                                  remark_kp)
        VALUES (#{data.primaryKey},
                #{data.enterpriseCode},
                #{data.remark},
                #{data.location},
                #{data.cityLive},
                #{data.buyer, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.venderContactIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.supplyProduct},
                #{data.venderData_sign},
                now(),
                #{data.addressIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.unityNo},
                #{data.unityConfigId},
                #{data.taxNumber},
                #{data.accountNumber},
                #{data.openingBank},
                #{data.invoiceTel},
                #{data.remarkKp})
    </insert>

    <update id="updateVenderAllInfo">
        UPDATE ${tableName}
        <set>
            <if test="data.venderData_sign != null">
                vender_data_sign = #{data.venderData_sign},
            </if>
            <if test="data.cityLive != null">
                city_live = #{data.cityLive},
            </if>
            <if test="data.location != null">
                location = #{data.location},
            </if>
            <if test="data.venderContactIds != null and data.venderContactIds.length > 0">
                contacts =
                #{data.venderContactIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="data.buyer != null">
                buyer = #{data.buyer, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="data.supplyProduct != null">
                supply_product = #{data.supplyProduct},
            </if>
            <if test="data.addressIds != null">
                delivery_address =
                #{data.addressIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="data.unityNo != null">
                unity_no = #{data.unityNo},
            </if>
            <if test="data.unityConfigId != null">
                unity_config_id = #{data.unityConfigId},
            </if>
            <if test="data.taxNumber != null">
                tax_number = #{data.taxNumber},
            </if>
            <if test="data.accountNumber != null">
                account_number = #{data.accountNumber},
            </if>
            <if test="data.openingBank != null">
                opening_bank = #{data.openingBank},
            </if>
            <if test="data.invoiceTel != null">
                invoice_tel = #{data.invoiceTel},
            </if>
            <if test="data.remarkKp != null">
                remark_Kp = #{data.remarkKp},
            </if>
            remark = #{data.remark}
        </set>
        WHERE primary_Key = #{data.primaryKey}
    </update>

    <update id="updateAllVenderContact">
        UPDATE ${tableName}
        SET vender_contact_sign = #{model.contactSign},
            contact_address     = #{model.contactAddress},
            contact_phone       = #{model.contactPhone},
            allow_login         = #{model.allowLogin}

        WHERE primary_key = #{model.venderContactPrimaryKey}
    </update>


    <update id="deleteVenderContacts">
        UPDATE ${tableName}
        SET delete_flag = 't'
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        <if test="contactsCodesToDelete!=null and !contactsCodesToDelete.isEmpty()">
            AND primary_key IN
            <foreach collection="contactsCodesToDelete" index="index" item="contactPrimaryKey" open="(" separator=","
                     close=")">
                #{contactPrimaryKey}
            </foreach>
        </if>
    </update>
</mapper>
