<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.collaborate.StagingAreaMapper">


    <update id="batchUpdatePickNum">
        UPDATE ${tableName}
        SET
        <trim prefix="pick_num =case" suffix="end">
            <foreach collection="updaters" item="updater" index="index">
                <if test="updater.pickNumNeedAdd !=null">
                    when primary_key=#{updater.primaryKey} then (pick_num + #{updater.pickNumNeedAdd})
                </if>
            </foreach>
        </trim>
        where primary_key in
        <foreach collection="updaters" index="index" item="updater" separator="," open="(" close=")">
            #{updater.primaryKey}
        </foreach>
    </update>

</mapper>