<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.dpa.service.dao.PageDesignDao">
    <insert id="addPageDesign">
        insert into dpa_base.t_dpa_base_page_design (page_code, page_name_en, page_name_chn, page_detail,
                                                     module_code, icon, association_table_codes, coupling_table_codes,
                                                     coupling_field_codes, coupling_process_codes,
                                                     coupling_home_page_process_codes,
                                                     bubble_process_detail, create_user_code, page_state, remark,qr_code_belong_process,required,enable_belong_field)
        VALUES (#{pageDesignModel.pageCode}, #{pageDesignModel.pageNameEn}, #{pageDesignModel.pageNameChn},
                #{pageDesignModel.pageDetail}, #{pageDesignModel.moduleCode}, #{pageDesignModel.icon},
                #{pageDesignModel.associationTableCodes},
                #{pageDesignModel.couplingTableCodes}, #{pageDesignModel.couplingFieldCodes},
                #{pageDesignModel.couplingProcessCodes}, #{pageDesignModel.couplingHomePageProcessCodes},
                #{pageDesignModel.bubbleProcessDetail}, #{pageDesignModel.createUserCode},
                #{pageDesignModel.pageState}, #{pageDesignModel.remark},#{pageDesignModel.qrCodeBelongProcess,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},#{pageDesignModel.required},#{pageDesignModel.enableBelongField})
    </insert>
    <update id="updatePageDesign">
        UPDATE dpa_base.t_dpa_base_page_design
        SET
        delete_flag = false,
        required = #{pageDesignModel.required},
        enable_belong_field = #{pageDesignModel.enableBelongField}
        <if test="pageDesignModel.pageNameEn != null">
            , page_name_en = #{pageDesignModel.pageNameEn}
        </if>
        <if test="pageDesignModel.pageNameChn != null">
            , page_name_chn = #{pageDesignModel.pageNameChn}
        </if>
        <if test="pageDesignModel.pageDetail != null">
            , page_detail = #{pageDesignModel.pageDetail}
        </if>
        <if test="pageDesignModel.icon != null">
            , icon = #{pageDesignModel.icon}
        </if>
        <if test="pageDesignModel.associationTableCodes != null">
            , association_table_codes = #{pageDesignModel.associationTableCodes}
        </if>
        <if test="pageDesignModel.couplingTableCodes != null">
            , coupling_table_codes = #{pageDesignModel.couplingTableCodes}
        </if>
        <if test="pageDesignModel.couplingFieldCodes != null">
            , coupling_field_codes = #{pageDesignModel.couplingFieldCodes}
        </if>
        <if test="pageDesignModel.couplingProcessCodes != null">
            , coupling_process_codes = #{pageDesignModel.couplingProcessCodes}
        </if>
        <if test="pageDesignModel.couplingHomePageProcessCodes != null">
            , coupling_home_page_process_codes = #{pageDesignModel.couplingHomePageProcessCodes}
        </if>
        <if test="pageDesignModel.bubbleProcessDetail != null">
            , bubble_process_detail = #{pageDesignModel.bubbleProcessDetail}
        </if>
        <if test="pageDesignModel.remark != null">
            , remark = #{pageDesignModel.remark}
        </if>
        <if test="pageDesignModel.qrCodeBelongProcess != null">
            , qr_code_belong_process = #{pageDesignModel.qrCodeBelongProcess,jdbcType=ARRAY,typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        </if>
        WHERE page_code = #{pageDesignModel.pageCode} AND delete_flag = false
    </update>

    <update id="startAndStopPageDesign">
        UPDATE dpa_base.t_dpa_base_page_design
        SET page_state = CASE
                             WHEN page_state = true THEN false
                             WHEN page_state = false THEN true
            END
        WHERE page_code = #{pageDesignCode}
          AND delete_flag = false
    </update>

    <resultMap id="pageDesignModel" type="com.futurecraftsmen.pms.dpa.service.po.PageDesignModel">
        <result column="page_code" property="pageCode"/>
        <result column="page_name_en" property="pageNameEn"/>
        <result column="page_name_chn" property="pageNameChn"/>
        <result column="page_detail" property="pageDetail"/>
        <result column="module_code" property="moduleCode"/>
        <result column="icon" property="icon"/>
        <result column="association_table_codes" property="associationTableCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="coupling_table_codes" property="couplingTableCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="coupling_field_codes" property="couplingFieldCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="coupling_process_codes" property="couplingProcessCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="coupling_home_page_process_codes" property="couplingHomePageProcessCodes" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="bubble_process_detail" property="bubbleProcessDetail"/>
        <result column="create_user_code" property="createUserCode"/>
        <result column="page_state" property="pageState"/>
        <result column="remark" property="remark"/>
        <result column="qr_code_belong_process" property="qrCodeBelongProcess" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="required" property="required"/>
        <result column="enable_belong_field" property="enableBelongField"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>
    <select id="getAllPageDesigns" resultMap="pageDesignModel">
        SELECT id,
               page_code,
               page_name_en,
               page_name_chn,
               page_detail,
               module_code,
               icon,
               association_table_codes::BIGINT[],
               coupling_table_codes::BIGINT[],
               coupling_field_codes::BIGINT[],
               coupling_process_codes::BIGINT[],
               coupling_home_page_process_codes::BIGINT[],
               bubble_process_detail,
               create_user_code,
               page_state,
               remark,
               qr_code_belong_process::BIGINT[],
               required,
               enable_belong_field,
               create_time,
               update_time,
               delete_flag
        FROM dpa_base.t_dpa_base_page_design
        WHERE delete_flag = false
    </select>
    <select id="getPageDesignsByCodes" resultMap="pageDesignModel">
        SELECT id,
        page_code,
        page_name_en,
        page_name_chn,
        page_detail,
        module_code,
        icon,
        association_table_codes::BIGINT[],
        coupling_table_codes::BIGINT[],
        coupling_field_codes::BIGINT[],
        coupling_process_codes::BIGINT[],
        coupling_home_page_process_codes::BIGINT[],
        bubble_process_detail,
        create_user_code,
        page_state,
        remark,
        qr_code_belong_process::BIGINT[],
        required,
        enable_belong_field,
        create_time,
        update_time,
        delete_flag
        FROM dpa_base.t_dpa_base_page_design
        WHERE delete_flag = false AND page_code IN
        <foreach collection="pageDesignCodes" item="pageDesignCode" index="index" open="(" separator="," close=")">
            #{pageDesignCode}
        </foreach>
    </select>
</mapper>