<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.awaiting.IAwaitingTaskDetailsMapper">

    <resultMap id="resulMap"
               type="com.futurecraftsmen.pms.technical.service.domain.warehouse.awaiting.AwaitingTaskDetailsModel">
        <result column="files" property="files" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>
    <select id="selectLatestByRequestedDate"
            resultType="com.futurecraftsmen.pms.technical.service.domain.warehouse.awaiting.AwaitingTaskDetailsModel"
            resultMap="resulMap">
        WITH resultData AS (
        SELECT *,
        ROW_NUMBER() OVER (PARTITION BY awaiting_details_code ORDER BY requested_date) AS rn
        FROM ${tableName}
        WHERE delete_flag = false
        AND awaiting_details_code IN
        <foreach collection="awaitingDetailsCodeList" index="index" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f')
        SELECT *
        FROM resultData
        WHERE rn = 1
    </select>

    <select id="selectCountByContractCode">
        select a.awaiting_details_code,sum(this_count) as packageCount,count(1) as recordCount
        from ${awaitingTaskDetailsTableName} a
        INNER JOIN ${invoiceOrderTableName} b on a.invoice_order = b.primary_key
        where a.contract_code in
        <foreach collection="contractCodeList" index="index" item="contractCode" open="(" separator="," close=")">
            #{contractCode}
        </foreach>
        and a.delete_flag = false
        and a.enterprise_code = #{enterpriseCode}
        and b.packaged = true
        GROUP BY a.awaiting_details_code
    </select>

    <select id="recordPage">
        select a.*
        from ${awaitingTaskDetailsTableName} a
                 inner join ${invoiceOrderTableName} b on a.invoice_order = b.primary_key
            and a.delete_flag = false
            and b.packaged = true
            and a.awaiting_details_code = #{awaitingDetailsCode}
            and a.enterprise_code = #{enterpriseCode}
    </select>

    <select id="isComplete">
        with t as (select sum(tt.packageCount)
                   from (SELECT a.awaiting_details_code,
                                SUM(this_count) AS packageCount
                         FROM ${awaitingTaskDetailsTableName} a
                                  INNER JOIN ${invoiceOrderTableName} b
                                             ON a.invoice_order = b.primary_key
                         WHERE a.contract_code = #{contractCode}
                           AND a.delete_flag = FALSE
                           AND a.enterprise_code = #{enterpriseCode}
                           AND b.packaged = TRUE
                         GROUP BY A.awaiting_details_code) tt),

             t1 as (select sum(product_quantity)
                    from ${awaitingDetailsTableName} a
                    where a.contract_code = #{contractCode}
                      and a.delete_flag = FALSE
                      and a.enterprise_code = #{enterpriseCode}
                    GROUP BY contract_code)
        select t.* >= t1.*
        from t,
             t1
    </select>


</mapper>