<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.warehouse.awaiting.IAwaitingDetailsMapper">
    <select id="queryMainPage">
        WITH t AS (SELECT *,
        ROW_NUMBER() OVER (PARTITION BY contract_code ORDER BY id desc) AS rn
                   FROM ${tableName}
                   WHERE delete_flag = false
        and enterprise_code = #{enterpriseCode}),
        t1 as (SELECT contract_code,
        COALESCE(sum(allocation_count),0) as allocation_count,
        sum(product_quantity) as product_quantity,
        CASE
        WHEN bool_and(awaiting_status = 1) THEN '待交付'
        WHEN bool_or(awaiting_status = 2) THEN '交付中'
        WHEN bool_and(awaiting_status = 3) THEN '已完成'
        WHEN bool_and(awaiting_status = 4) THEN '已作废'
        ELSE '交付中'
        END AS status_desc,
        CASE
        WHEN bool_and(awaiting_status = 1) THEN 1
        WHEN bool_or(awaiting_status = 2) THEN 2
        WHEN bool_and(awaiting_status = 3) THEN 3
        WHEN bool_and(awaiting_status = 4) THEN 4
        ELSE 2
        END AS status
        FROM ${tableName}
        where delete_flag = false
        and enterprise_code = #{enterpriseCode}
        GROUP BY contract_code)
        SELECT t.*, t.primary_key AS awaitingDetailsCode,t1.status as awaitingStatus,
        t1.status_desc,t1.allocation_count as allocationCount,t1.product_quantity as productQuantity,
        t2.deliver_user_code
        FROM t
        join t1 on t.contract_code = t1.contract_code
        left join ${awaitingTaskTableName} t2 on t.primary_key = t2.awaiting_details_code

        WHERE t.rn = 1
        <if test="requestData.awaitingStatusList != null and requestData.awaitingStatusList.size() > 0">
            and t1.status in
            <foreach collection="requestData.awaitingStatusList" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
        <if test="requestData.contractNumber != null and requestData.contractNumber !=''">
            and t.contract_number ilike concat('%',#{requestData.contractNumber}, '%')
        </if>
        <if test="startDate != null ">
            and t.product_deliver >= #{startDate}
        </if>
        <if test="endDate != null ">
            and t.product_deliver &lt;= #{endDate}
        </if>
        and t1.status != 3
        order by t.id desc

    </select>

    <select id="queryEmployeePage">
        with t as (select c.*, a.allocation_remark,a.create_time as createTime,a.deliver_user_code, a.task_status
        from ${taskTableName} a
        inner JOIN ${detailsTableName} c
        on c.primary_key = a.awaiting_details_code
        where a.delete_flag = false
        and c.delete_flag = false
        and a.enterprise_code = #{enterpriseCode}
        and c.enterprise_code = #{enterpriseCode}
        ),
        t1 as (SELECT *,
        ROW_NUMBER() OVER (PARTITION BY contract_code ORDER BY id desc ) AS rn
        FROM t),
        t2 as (SELECT contract_code,
        CASE
        WHEN bool_and(awaiting_status = 1) THEN 1
        WHEN bool_or(awaiting_status = 2) THEN 2
        WHEN bool_and(awaiting_status = 3) THEN 3
        WHEN bool_and(awaiting_status = 4) THEN 4
        ELSE 2
        END AS awaiting_status,
        CASE
        WHEN bool_and(awaiting_status = 1) THEN '待交付'
        WHEN bool_or(awaiting_status = 2) THEN '交付中'
        WHEN bool_and(awaiting_status = 3) THEN '已完成'
        WHEN bool_and(awaiting_status = 4) THEN '已作废'
        ELSE '交付中'
        END AS status_desc
        FROM ${detailsTableName}
        where delete_flag = false
        and enterprise_code = #{enterpriseCode}
        GROUP BY contract_code),
        t3 as (
        select contract_code,
        CASE
        WHEN bool_and( task_status = 3 ) THEN false
        ELSE true
        END AS can_deliver_status
        from t
        GROUP BY contract_code
        )

        select
        t1.product_deliver,t1.contract_number,t1.contract_code,t1.allocation_remark,t1.deliver_user_code,
        t2.awaiting_status, t2.status_desc,
        t3.can_deliver_status
        from t1,
        t2,
        t3
        where t1.rn = 1
        and t1.contract_code = t2.contract_code
        and t1.contract_code = t3.contract_code
        and t1.enterprise_code = #{enterpriseCode}
        <if test="requestData.awaitingStatusList != null and requestData.awaitingStatusList.size() > 0">
            and t2.awaiting_status in
            <foreach collection="requestData.awaitingStatusList" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
        and t2.awaiting_status != 3
        <if test="requestData.contractNumber != null and requestData.contractNumber !=''">
            and t1.contract_number ilike concat('%',#{requestData.contractNumber}, '%')
        </if>
        <if test="startDate != null ">
            and t1.product_deliver >= #{startDate}
        </if>
        <if test="endDate != null ">
            and t1.product_deliver &lt;= #{endDate}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        order by t1.id desc
    </select>

    <select id="getAwaitingGoodsOverview">
        with t as(
        select a.awaiting_details_code,sum(a.shipped_count) as shipped_count
        from ${taskTableName} a
        where
        enterprise_code = #{enterpriseCode}
        and delete_flag = false
        <if test="startTime != null ">
            and a.requested_date >= #{startTime}
        </if>
        <if test="endTime != null ">
            and a.requested_date &lt;= #{endTime}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>

        GROUP BY awaiting_details_code
        ),
        t1 as(
        select sum(t.shipped_count) as deliverTotal,sum(product_quantity) as quantityTotal
        from t ,${detailsTableName} b
        where b.primary_key = t.awaiting_details_code
        and b.enterprise_code = #{enterpriseCode}
        and b.delete_flag = false
        ),
        t2 as(
        select sum(this_count) as todayTotal
        from ${taskDetailTableName}
        where requested_date::date = CURRENT_DATE
        and enterprise_code = #{enterpriseCode}
        and delete_flag = false
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        )

        select * from t1,t2
    </select>

    <select id="getAwaitingGoodsOverviewPage">
        select b.*, a.shipped_count
        from ${taskTableName} a
        inner join ${detailsTableName} b on a.awaiting_details_code = b.primary_key
        where a.task_status != 3
        and a.enterprise_code = #{enterpriseCode}
        and a.delete_flag = false
        and b.enterprise_code = #{enterpriseCode}
        and b.delete_flag = false
        <if test="startTime != null ">
            and b.create_time >= #{startTime}
        </if>
        <if test="endTime != null ">
            and b.create_time &lt;= #{endTime}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </select>

    <select id="getAwaitingGoodsOverviewNotCompleted">
        with t as(
        select a.awaiting_details_code,sum(a.shipped_count) as shipped_count
        from ${taskTableName} a
        where a.task_status != 3
        and enterprise_code = #{enterpriseCode}
        and delete_flag = false
        <if test="startTime != null ">
            and a.requested_date >= #{startTime}
        </if>
        <if test="endTime != null ">
            and a.requested_date &lt;= #{endTime}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>

        GROUP BY awaiting_details_code
        ),
        t1 as(
        select sum(t.shipped_count) as deliverTotal,sum(product_quantity) as quantityTotal
        from t ,${detailsTableName} b
        where b.primary_key = t.awaiting_details_code
        and b.enterprise_code = #{enterpriseCode}
        and b.delete_flag = false
        )

        select * from t1
    </select>

    <select id="getAwaitingDetailsByInvoiceOrderId">
        select b.contract_code,
               case when c.production_status = '已处理' then 3 else 2 end as awaitingStatus
        from ${invoiceOrderTableName} a
                 inner join ${awaitingTaskDetailsTableName} b
                            on a.primary_key = b.invoice_order
                 INNER JOIN ${sellOrderTableName} c on b.contract_code = c.sell_contract
        where a.primary_key = #{invoiceOrderCode}
          and a.enterprise_code = #{enterpriseCode}
          and a.delete_flag = false
    </select>
</mapper>