<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.DeliveryAddressDao">

    <resultMap id="DeliveryAddressModel"
               type="com.futurecraftsmen.pms.pas.service.po.DeliveryAddressModel">
        <result column="primary_key" property="deliveryAddressCode"/>
        <result column="owner" property="owner"/>
        <result column="consignee_name" property="consigneeName"/>
        <result column="consignee_phone" property="consigneePhone"/>
        <result column="address_region" property="addressRegion"/>
        <result column="address_detail" property="addressDetail"/>
        <result column="default_address" property="defaultAddress"/>
        <result column="customer" property="customer"/>
        <result column="vender" property="vender"/>
        <result column="enterprise_code" property="enterpriseCode"/>
    </resultMap>


    <insert id="addAddress">

        insert into ${ dynamicTableNameProxy.deliveryAddress} (primary_Key, enterprise_code,
                                                               owner, address_detail,
                                                               default_address, customer, vender, consignee_Name,
                                                               consignee_Phone, address_Region)
        values (#{data.primaryKey}, ${ dynamicTableNameProxy.enterpriseCode},
                #{data.owner}, #{data.addressDetail},
                #{data.defaultAddress}, #{data.customerCode},
                #{data.vender}, #{data.consigneeName}, #{data.consigneePhone}, #{data.addressRegion})

    </insert>


    <insert id="updateAddress">

        update ${ dynamicTableNameProxy.deliveryAddress}

        set update_time=now()

        <if test="data.addressDetail!=null">

            ,address_detail=#{data.addressDetail}
        </if>

        <if test="data.defaultAddress!=null">

            ,default_address=#{data.defaultAddress}
        </if>

        <if test="data.consigneeName!=null">

            ,consignee_Name=#{data.consigneeName}
        </if>

        <if test="data.consigneePhone!=null">
            ,consignee_Phone=#{data.consigneePhone}
        </if>

        <if test="data.addressRegion!=null">

            ,address_Region=#{data.addressRegion}
        </if>
        where primary_Key = #{data.primaryKey}
    </insert>


    <select id="queryByCodes" resultMap="DeliveryAddressModel">
        SELECT
        primary_key,
        owner,
        consignee_name,
        consignee_phone,
        address_region,
        address_detail,
        default_address,
        customer,
        vender,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND primary_key IN
        <foreach collection="deliveryAddressCodes" index="index" item="deliveryAddressCode" open="(" separator=","
                 close=")">
            #{deliveryAddressCode}
        </foreach>
        AND owner = #{owner}
    </select>


    <update id="setDefaultAddress">
        UPDATE ${tableName}
        SET default_address = true
        WHERE primary_key = #{deliveryAddressCode}
          AND enterprise_code = #{enterpriseCode}
    </update>


    <update id="resetDefaultAddressForCustomer">
        UPDATE ${tableName}
        SET default_address = false
        WHERE primary_key != #{excludeDeliveryAddressCode}
          AND customer = #{customer}
          AND owner = 0
          AND enterprise_code = #{enterpriseCode}
    </update>

    <update id="resetDefaultAddressForVender">
        UPDATE ${tableName}
        SET default_address = false
        WHERE primary_key != #{excludeDeliveryAddressCode}
          AND vender = #{vender}
          AND owner = 1
          AND enterprise_code = #{enterpriseCode}
    </update>


    <select id="venderDeliveryAddressPaging" resultMap="DeliveryAddressModel">
        SELECT primary_key,
               owner,
               consignee_name,
               consignee_phone,
               address_region,
               address_detail,
               default_address,
               customer,
               vender,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND vender = #{vender}
          AND owner = 1
        ORDER BY COALESCE(default_address, false) DESC, id DESC
    </select>

    <update id="deleteAddressByPrimaryKeyList">
        update ${ dynamicTableNameProxy.deliveryAddress}
        set delete_flag = true
        WHERE enterprise_code = #{ dynamicTableNameProxy.enterpriseCode}
        and primary_key IN
        <foreach collection="deliveryAddressCodes" index="index" item="deliveryAddressCode" open="(" separator=","
                 close=")">
            #{deliveryAddressCode}
        </foreach>
    </update>
    <delete id="deleteAddressByCustomerCodeNotInId">
        delete from ${ dynamicTableNameProxy.deliveryAddress}
        where customer=#{id}
        and primary_key not in
        <foreach collection="notId" index="index" item="deliveryAddressCode" open="(" separator="," close=")">
            #{deliveryAddressCode}
        </foreach>

    </delete>
    <update id="deleteAddressByPrimaryKeyList">
        update ${ dynamicTableNameProxy.deliveryAddress}
        set delete_flag = true
        WHERE enterprise_code = #{ dynamicTableNameProxy.enterpriseCode}
        and primary_key IN
        <foreach collection="deliveryAddressCodes" index="index" item="deliveryAddressCode" open="(" separator=","
                 close=")">
            #{deliveryAddressCode}
        </foreach>
    </update>

</mapper>