<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.NewCustomerDao">

    <resultMap id="CustomerModel" type="com.futurecraftsmen.pms.pas.service.po.customer.NewCustomerModel">
        <result column="primary_key" property="customerPrimaryKey"/>
        <result column="customers_sign" property="customerName"/>
        <result column="customers_belong" property="customersBelong" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="tax_number" property="taxNumber"/>
        <result column="location" property="location"/>
        <result column="invoice_tel" property="invoiceTel"/>
        <result column="price_factor" property="priceFactor"/>
        <result column="opening_bank" property="openingBank"/>
        <result column="account_number" property="accountNumber"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="contacts" property="contacts" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>

        <result column="visit_Logs" property="visitLogs" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>

        <result column="customer_Grade" property="customerGrade"/>
        <result column="country_Location" property="countryLocation"/>
        <result column="country" property="country"/>
        <result column="home_City" property="homeCity"/>
        <result column="remark" property="remark"/>
        <result column="unity_No" property="unityNo"/>
        <result column="unity_Config_Id" property="unityConfigId"/>

        <result column="address" property="address" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
    </resultMap>

    <select id="customerPaging"
            resultMap="CustomerModel">
        SELECT
        primary_key,
        customers_sign,
        customers_belong,
        tax_number,
        location,
        invoice_tel,
        opening_bank,
        account_number,
        price_factor,
        enterprise_code,
        contacts::BIGINT[]
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        <if test="customerNameKeyword!=null and customerNameKeyword!=''">
            AND customers_sign LIKE '%'|| #{customerNameKeyword} ||'%'
        </if>
        AND delete_flag = 'f'
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY create_time DESC
    </select>


    <select id="allCustomerNames" resultType="java.lang.String">
        SELECT
        customers_sign
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND delete_flag = 'f'
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="customerByPrimaryKey" resultMap="CustomerModel">
        SELECT
        *
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND primary_key = #{primaryKey}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        AND delete_flag = 'f'
    </select>


    <select id="innerQueryCustomerByPrimaryKey" resultMap="CustomerModel">
        SELECT *
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND primary_key = #{primaryKey}
          AND delete_flag = 'f'
    </select>


    <select id="contactList"
            resultType="com.futurecraftsmen.pms.pas.service.po.customer.NewCustomerContactModel">
        SELECT
        primary_key as contactPrimaryKey,
        customer_contact_sign as contactName,
        contact_phone as contactPhone,
        contact_email as contactEmail,
        contact_Job ,
        enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND delete_flag = 'f'
        <if test="contactPrimaryKeyList!=null and !contactPrimaryKeyList.isEmpty()">
            AND primary_key IN
            <foreach collection="contactPrimaryKeyList" index="index" item="contactPrimaryKey" open="(" separator=","
                     close=")">
                #{contactPrimaryKey}
            </foreach>
        </if>
        ORDER BY create_time DESC
    </select>


    <select id="findCustomerContactByPrimaryKey"
            resultType="com.futurecraftsmen.pms.pas.service.po.customer.NewCustomerContactModel">
        SELECT primary_key           as contactPrimaryKey,
               customer_contact_sign as contactName,
               contact_phone         as contactPhone,
               contact_email         as contactEmail,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{customerContactPrimaryKey}
    </select>


    <select id="queryByCustomerName" resultMap="CustomerModel">
        SELECT primary_key,
               customers_sign,
               customers_belong,
               tax_number,
               location,
               invoice_tel,
               opening_bank,
               account_number,
               price_factor,
               enterprise_code,
               contacts::BIGINT[]
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND customers_sign = #{customerName}
          AND delete_flag = 'f'
    </select>


    <insert id="addConsumer" >
        INSERT INTO ${tableName}
        (primary_key,
         customers_sign,
         customers_belong,
         tax_number,
         location,
         invoice_tel,
         opening_bank,
         account_number,
         enterprise_code,
         contacts, Unity_Config_Id, Unity_No)
        VALUES (#{model.customerPrimaryKey},
                #{model.customerName},
                #{model.customersBelong},
                #{model.taxNumber},
                #{model.location},
                #{model.invoiceTel},
                #{model.openingBank},
                #{model.accountNumber},
                #{model.enterpriseCode},
                #{model.contacts}, #{model.unityConfigId}, #{model.unityNo})
    </insert>

    <insert id="addConsumerContact" >
        INSERT INTO   ${tableName}
        (primary_key ,
         customer_contact_sign,
         contact_phone,
         contact_email ,
         contact_job,
         allow_login,
         permission,
         staff_type,
         enterprise_code, customer_contact_time)
        VALUES
            (
                #{model.contactPrimaryKey},
                #{model.contactName},
                #{model.contactPhone},
                #{model.contactEmail},
                #{model.contactJob},
                #{model.allowLogin},
                #{model.permission},
                #{model.staffType},
                #{model.enterpriseCode},
                now()
            )
    </insert>

    <update id="updateAllConsumerContact">
        UPDATE ${dynamicTableNameProxy.customerContact}
        SET customer_contact_sign = #{model.contactName},
            contact_phone         = #{model.contactPhone},
            contact_email         = #{model.contactEmail},
            contact_job           = #{model.contactJob},
            allow_login           = #{model.allowLogin}
        WHERE primary_key = #{model.contactPrimaryKey}
    </update>


    <update id="updateConsumerContact" >
        UPDATE     ${tableName}
        set contacts =  #{model.contacts}
        WHERE enterprise_code = #{model.enterpriseCode}
          AND primary_key = #{model.customerPrimaryKey}
    </update>



    <select id="innerQueryByNameList"
            resultMap="CustomerModel">
        SELECT
        primary_key,
        customers_sign,
        customers_belong::BIGINT[],
        tax_number,
        location,
        invoice_tel,
        opening_bank,
        account_number,
        price_factor,
        enterprise_code,
        contacts::BIGINT[]
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND customers_sign IN
        <foreach collection="customerNameList" index="index" item="customerName" open="(" separator="," close=")">
            #{customerName}
        </foreach>
        AND delete_flag = 'f'
    </select>

    <select id="queryByCodeList"
            resultMap="CustomerModel">
        SELECT
        primary_key,
        customers_sign,
        customers_belong,
        tax_number,
        location,
        invoice_tel,
        opening_bank,
        account_number,
        price_factor,
        enterprise_code,
        contacts::BIGINT[]
        FROM ${tableName}
        WHERE enterprise_code = #{ownedEnterpriseCode}
        AND primary_key IN
        <foreach collection="customerCodeList" index="index" item="customerCode" open="(" separator="," close=")">
            #{customerCode}
        </foreach>
        AND delete_flag = 'f'
    </select>


    <update id="updateShipCustomer">
        UPDATE ${dynamicTableNameProxy.customer}
        SET update_time=now()

        <if test="data.customerContactIds!=null  and  data.customerContactIds.length>0 ">
            ,contacts=#{data.customerContactIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        </if>

        <if test="data.addressIds!=null  and  data.addressIds.length>0 ">
            ,address=#{data.addressIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}
        </if>

        WHERE primary_key = #{data.customerPrimaryKey}
    </update>


    <insert id="saveCustomerAllInfo" parameterType="com.futurecraftsmen.pms.pas.api.rpc.customer.CustomerRequest">
        INSERT INTO ${ dynamicTableNameProxy.customer} (customers_sign,
                                                        customer_grade,
                                                        customers_belong,
                                                        country_location,
                                                        country,
                                                        location,
                                                        tax_number,
                                                        account_number,
                                                        opening_bank,
                                                        invoice_tel,
                                                        home_city,
                                                        remark, enterprise_code,
                                                        primary_Key, unity_No,
                                                        unity_Config_Id, contacts, address, remark_Kp)
        VALUES (#{data.customersSign},
                #{data.customerGrade},
                #{data.customersSale, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.countryLocation},
                #{data.country},
                #{data.location},
                #{data.taxNumber},
                #{data.accountNumber},
                #{data.openingBank},
                #{data.invoiceTel},
                #{data.homeCity},
                #{data.remark}, ${ dynamicTableNameProxy.enterpriseCode},
                #{data.primaryKey}, #{data.unityNo},
                #{data.unityConfigId},
                #{data.customerContactIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
                #{data.addressIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler}, #{data.remarkKp})
    </insert>

    <update id="updateCustomerAllInfo" parameterType="com.futurecraftsmen.pms.pas.api.rpc.customer.CustomerRequest">
        UPDATE ${ dynamicTableNameProxy.customer}
        <set>
            <if test="data.customersSign != null">
                customers_sign = #{data.customersSign},
            </if>
            <if test="data.customerGrade != null">
                customer_grade = #{data.customerGrade},
            </if>
            <if test="data.customersSale != null">
                customers_belong = #{data.customersSale, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="data.countryLocation != null">
                country_location = #{data.countryLocation},
            </if>
            <if test="data.country != null">
                country = #{data.country},
            </if>
            <if test="data.location != null">
                location = #{data.location},
            </if>
            <if test="data.taxNumber != null">
                tax_number = #{data.taxNumber},
            </if>
            <if test="data.accountNumber != null">
                account_number = #{data.accountNumber},
            </if>
            <if test="data.openingBank != null">
                opening_bank = #{data.openingBank},
            </if>
            <if test="data.invoiceTel != null">
                invoice_tel = #{data.invoiceTel},
            </if>
            <if test="data.homeCity != null">
                home_city = #{data.homeCity},
            </if>
            <if test="data.remark != null">
                remark = #{data.remark},
            </if>
            <if test="data.unityNo != null">
                unity_No = #{data.unityNo},
            </if>
            <if test="data.unityConfigId != null">
                unity_Config_Id = #{data.unityConfigId},
            </if>
            <if test="data.customerContactIds != null">
                contacts = #{data.customerContactIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            <if test="data.addressIds != null">
                address = #{data.addressIds, typeHandler=com.futurecraftsmen.pms.service.domain.ArrayTypeHandler},
            </if>
            remark_Kp = #{data.remarkKp}
        </set>
        WHERE primary_Key = #{data.primaryKey}
    </update>


    <update id="deleteCustomerContacts">
        UPDATE ${tableName}
        SET delete_flag = 't'
        WHERE enterprise_code = #{enterpriseCode}
        AND delete_flag = 'f'
        <if test="contactsCodesToDelete!=null and !contactsCodesToDelete.isEmpty()">
            AND primary_key IN
            <foreach collection="contactsCodesToDelete" index="index" item="contactPrimaryKey" open="(" separator=","
                     close=")">
                #{contactPrimaryKey}
            </foreach>
        </if>
    </update>

</mapper>