<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.lackmaterial.OutPartTaskDao">

    <resultMap id="OutPartTaskModel"
               type="com.futurecraftsmen.pms.pas.service.po.lackmaterialtask.OutPartTaskModel">
        <result column="primary_key" property="outPartTaskCode"/>
        <result column="lack_material_task" property="lackMaterialTask"/>
        <result column="batch_number" property="batchNumber"/>
        <result column="contract_code" property="contractCode"/>
        <result column="buss_number" property="bussNumber"/>
        <result column="product_belong" property="productBelong"/>
        <result column="product_belong_value" property="productBelongValue"/>
        <result column="product_delivery" property="productDelivery"/>
        <result column="material" property="material"/>
        <result column="material_name" property="materialName"/>
        <result column="material_model" property="materialModel"/>
        <result column="out_part_detail" property="outPartDetail"/>
        <result column="out_component" property="outComponent"/>
        <result column="out_sum" property="outSum"/>
        <result column="apply_sum" property="applySum"/>
        <result column="arranger" property="arranger"/>
        <result column="remark" property="remark"/>
        <result column="inbound_order_detail" property="inboundOrderDetail"/>
        <result column="applicant" property="applicant"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>


<!--    &lt;!&ndash;所有的字段&ndash;&gt;-->
    <sql id="columns">
        primary_key,lack_material_task, batch_number,contract_code,buss_number,
        product_belong,product_belong_value,product_delivery,material,material_name,material_model,
        out_part_detail,out_component,out_sum,apply_sum,arranger,remark,inbound_order_detail,applicant,business_belong,enterprise_code,delete_flag
    </sql>

    <insert id="addTasks">
        INSERT INTO ${tableName} (primary_key,lack_material_task, batch_number,contract_code,buss_number,product_belong,product_belong_value,product_delivery,material,material_name,material_model,
        out_part_detail,out_component,out_sum,apply_sum,arranger,remark,inbound_order_detail,applicant,business_belong,enterprise_code,delete_flag)
        VALUES
        <foreach collection="outPartTaskModels" index="index" item="model" separator=",">
            ( #{model.outPartTaskCode},#{model.lackMaterialTask}, #{model.batchNumber}, #{model.contractCode},#{model.bussNumber}, #{model.productBelong},#{model.productBelongValue},
            #{model.productDelivery}, #{model.material}, #{model.materialName}, #{model.materialModel},#{model.outPartDetail},
            #{model.outComponent},#{model.outSum}, #{model.applySum},
            #{model.arranger}, #{model.remark},#{model.inboundOrderDetail},
            #{model.applicant},#{model.businessBelong},
            #{model.enterpriseCode}, 'f')
        </foreach>
    </insert>

    <select id="innerQueryByCodes" resultMap="OutPartTaskModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key IN
        <foreach collection="outPartTaskCodes" index="index" item="outPartTaskCode" open="(" separator="," close=")">
            #{outPartTaskCode}
        </foreach>
    </select>

    <select id="queryByCodes" resultMap="OutPartTaskModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND primary_key IN
        <foreach collection="outPartTaskCodes" index="index" item="outPartTaskCode" open="(" separator="," close=")">
            #{outPartTaskCode}
        </foreach>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </select>

    <select id="queryByLackMaterials" resultMap="OutPartTaskModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND lack_material_task  =  #{lackMaterialTaskCode}
    </select>

    <update id="updateApplicantSameLackMaterialTask">
        UPDATE
            ${tableName}
        SET applicant = #{applicant}
        WHERE enterprise_code = #{enterpriseCode}
          AND lack_material_task  =  #{lackMaterialTaskCode}
    </update>


    <select id="latestData" resultMap="OutPartTaskModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        AND lack_material_task = #{lackMaterialTaskCode}
        AND out_part_detail = #{outPartDetailCode}
        ORDER BY update_time DESC LIMIT 1
    </select>

    <update id="updateOutSumAndApplySum">
        UPDATE ${tableName}
        SET out_sum   = #{newApplyNum},
            apply_sum = #{newApplyNum}
        where enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{model.outPartTaskCode}
          AND out_sum = #{model.outSum}
          AND apply_sum = #{model.applySum}
    </update>


    <select id="pagingQuery" resultMap="OutPartTaskModel">
        SELECT
        <include refid="columns"/>
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="bussNumber != null and bussNumber !=''">
            AND buss_number LIKE '%'|| #{bussNumber} ||'%'
        </if>
        <if test="product != null and product !=''">
            AND product_belong_value LIKE '%'|| #{product} ||'%'
        </if>
        <if test="part != null and part !=''">
            AND (material_name LIKE '%'|| #{part} ||'%' OR material_model LIKE '%'|| #{part} ||'%')
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        <if test="data.partUnityNo != null and data.partUnityNo != '' ">
            AND ${dynamicTableNameProxy.getXiHangPartQuery("a.material","xihang",data.partUnityNo)}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY contract_code DESC, id DESC

    </select>

</mapper>