<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.cost.ProductsPriceNewDao">

    <resultMap id="ProductsPriceNewModel"
               type="com.futurecraftsmen.pms.pas.service.po.cost.ProductsPriceNewModel">

        <result property="manageCost" column="manage_cost"/>
        <result property="valuationEn" column="valuation_en"/>

        <result column="primary_key" property="primaryKey"/>
        <result property="operateCode" column="operate_code"/>
        <result property="operateName" column="operate_name"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="formula" column="formula"/>
        <result property="sourceTable" column="source_table"/>
        <result property="sourceId" column="source_id"/>
        <result property="name" column="name"/>
        <result property="state" column="state"/>
        <result property="pcsCode" column="pcs"/>
        <result property="model" column="model"/>
        <result property="copyState" column="copy_State"/>


        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>

    </resultMap>


    <select id="queryListByCondition" resultMap="ProductsPriceNewModel">
        select *
        from (
        select product_part_sign name, primary_key, state, 'productPart' source_table, model, pcs, update_time ,remark
        from ${productPart} a
        where enterprise_code = #{enterpriseCode}
        and delete_flag = false

        <if test="condition.keyword != null and condition.keyword != ''">
            and product_part_sign like '%'|| #{condition.keyword} ||'%'
        </if>

        <if test="condition.model != null and condition.model != ''">
            and model like '%'|| #{condition.model} ||'%'
        </if>

        <if test="condition.state != null ">
            <if test="condition.state  ">

                and (

                not exists (
                select 1 from ${dynamicTableNameProxy.productsPriceNew} b
                where b.source_id = a.primary_key and b.source_table ='productPart'
                and b.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                and b.delete_flag = false
                )

                or

                exists(
                select 1 from (
                select Copy_State ,ROW_NUMBER() OVER (ORDER BY create_time DESC, id DESC) AS id
                from ${dynamicTableNameProxy.productsPriceNew} b
                where b.source_id = a.primary_key and b.source_table ='productPart'
                and b.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                and b.delete_flag = false
                order by create_Time desc ,id desc limit 1
                ) aa where aa.Copy_State=true and aa.id=1
                )

                )

            </if>


            <if test="!condition.state  ">
                and exists(
                select 1 from (
                select Copy_State ,ROW_NUMBER() OVER (ORDER BY create_time DESC, id DESC) AS id
                from ${dynamicTableNameProxy.productsPriceNew} b
                where b.source_id = a.primary_key and b.source_table ='productPart'
                and b.enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
                and b.delete_flag = false
                ) aa where aa.Copy_State=false and aa.id=1
                )
            </if>
        </if>

        <if test=" ( condition.personName != null and condition.personName != '' ) or condition.personCode!=null ">
            and exists(
            select 1 from ${productsPriceNewTable} b where a.primary_key = b.source_Id and b.source_table='productPart'

            <if test="condition.personName != null and condition.personName != ''">
                and b.operate_name like '%'|| #{condition.personName} ||'%'
            </if>

            <if test="condition.personCode != null and condition.personCode != ''">
                and b.operate_code = #{condition.personCode}
            </if>
            )
        </if>
        <if test="condition.partUnityNo != null and condition.partUnityNo != '' ">
            and ${dynamicTableNameProxy.getXiHangPartQuery("a.primary_key","xihang",condition.partUnityNo)}
        </if>

        and ${dynamicTableNameProxy.getProductPartSearchObj("a.primary_key",condition.searchName)}

        and attribute = 1
        ) as a

        where 1=1

        <if test="condition.ids != null and condition.ids.size!=0 ">
            and primary_key in
            <foreach collection="condition.ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

        order by update_time desc ,primary_key desc
    </select>


    <select id="selectRecordListByIdIn" resultMap="ProductsPriceNewModel">

        select * from ${productsPriceNewTable}
        where enterprise_code = #{enterpriseCode}
        and delete_flag = false
        and ( source_id,source_table ) in (
        <foreach collection="condition" item="id" separator=",">
            (#{id.code},#{id.name})
        </foreach>
        )
        order by create_Time desc ,id desc
    </select>


    <select id="selectRecordLastById" resultMap="ProductsPriceNewModel">
        select *
        from ${productsPriceNewTable}
        where enterprise_code = #{enterpriseCode}
          and delete_flag = false
          and source_id = #{condition.code}
          and source_table = #{condition.name}
        order by create_Time desc ,id desc  limit 1

    </select>
    <insert id="saveRecord">
        insert into ${productsPriceNewTable} (primary_key, operate_Code, operate_Name,
                                              remark, formula, source_Table, source_Id, create_time, update_time,
                                              enterprise_code, manage_Cost, formula_En, copy_state)
        values (#{record.id}, #{record.personCode}, #{record.personName}, #{record.remark},
                #{record.formula}, #{record.sourceTable}, #{record.sourceId}, now(), now(), #{enterpriseCode}
                   , #{record.manageCost}, #{record.formulaEn}, #{record.copyState})
    </insert>


    <update id="historyUpdate">
        update ${tableName}
        set remark      = #{record.remark},
            update_time = now()
        where primary_key = #{record.id}
    </update>


    <update id="updateAllFormulaEn">
        UPDATE ${tableName}
        SET formula_En = #{formulaEn}
        where primary_key = #{id}
    </update>


    <select id="findById" resultMap="ProductsPriceNewModel">
        select *
        from ${tableName}
        where enterprise_code = #{enterpriseCode}
          and primary_key = #{id}
        order by create_Time desc, id desc limit 1

    </select>


    <update id="historyUpdateStatus">
        update ${dynamicTableNameProxy.productsPriceNew}
        set copy_state = #{data.copyState}
        where primary_key = #{data.primaryKey}
    </update>


    <select id="historyModelList" resultMap="ProductsPriceNewModel">

        select *
        from (select a.*, rank() over (partition by source_id,source_table order by create_Time desc ,id desc ) rs
        from ${dynamicTableNameProxy.productsPriceNew} a
        where (source_id, source_table) in

        <foreach collection="ids" item="i" separator="," open="(" close=")">
            (#{i.sourceId},#{i.sourceTable})
        </foreach>
        and delete_flag = false
        and enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        )
        where rs = 1

    </select>

</mapper>