<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.cost.ProductPriceFollowDao">


    <select id="selectCurrentDateByIds" resultType="com.futurecraftsmen.pms.pas.api.rpc.contract.financing.ProductPriceFollow">
        select *
        from (select a.*, rank() over (partition by product_code order by create_time desc ,id desc ) as xh
        from ${dynamicTableNameProxy.getProductPriceFollow(enterpriseCode)} a
        where create_time >= CURRENT_DATE - INTERVAL '8 days'
        and delete_flag = false
        and product_code in
        <foreach collection="ids" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
        and enterprise_code = ${dynamicTableNameProxy.enterpriseCode}
        )
        where xh = 1

    </select>

</mapper>