<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.template.SellTemplateDao">


    <insert id="addInvisibleData">
        INSERT INTO ${tableName} (primary_key, template_name, type, order_value,
                                  buyer, seller, enterprise_code,
                                  sell_template_belong, user_name, language, payment_strategy,product_grade, column_titles,
                                  amount_title, state, clauses_chs, clauses_en, temp_data,
                                  data_version, delete_flag)
        VALUES (#{model.templateCode}, #{model.templateName}, #{model.type}, #{model.orderValue},
                #{model.buyer}, #{model.seller},
                #{model.ownedEnterpriseCode}, #{model.userCode}, #{model.userName}, #{model.language},
                #{model.paymentStrategy}, #{model.productGrade}, #{model.columnTitles}, #{model.amountTitle}, #{model.state},
                #{model.clausesChs}, #{model.clausesEn},  null, #{model.dataVersion}, 't')
    </insert>


    <insert id="addVisibleData">
        INSERT INTO ${tableName} (primary_key, template_name, type, order_value,
                                  buyer, seller, enterprise_code,
                                  sell_template_belong, user_name, language, payment_strategy,product_grade, column_titles,
                                  amount_title, state, clauses_chs, clauses_en, temp_data,
                                  data_version, delete_flag)
        VALUES (#{model.templateCode}, #{model.templateName}, #{model.type}, #{model.orderValue},
                #{model.buyer}, #{model.seller},
                #{model.ownedEnterpriseCode}, #{model.userCode}, #{model.userName}, #{model.language},
                #{model.paymentStrategy}, #{model.productGrade}, #{model.columnTitles}, #{model.amountTitle}, #{model.state},
                #{model.clausesChs}, #{model.clausesEn}, null, #{model.dataVersion}, 'f')
    </insert>

    <delete id="deleteTemplate">
        DELETE FROM ${tableName}
        WHERE enterprise_code = #{currentEnterpriseCode}
        AND primary_key = #{templateCode}
        AND delete_flag = 'f'
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </delete>

    <select id="countByUserCodeAndTemplateName" resultType="int">
        SELECT COUNT(id)
        FROM ${tableName}
        WHERE enterprise_code = #{currentEnterpriseCode}
          AND sell_template_belong = #{userCode}
          AND primary_key != #{templateCode}
          AND template_name = #{templateName}
          AND delete_flag = 'f'
    </select>


    <select id="sellTemplatePage"
            resultType="com.futurecraftsmen.pms.pas.service.po.template.SellTemplateModel">
        SELECT primary_key as templateCode,
        template_name,
        type,
        order_value,
        sell_template_belong as userCode,
        user_name,
        state,
        data_version,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND delete_flag= 'f'
        <if test="templateName!=null and templateName!=''">
            AND template_name LIKE '%'|| #{templateName} ||'%'
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="state!=null">
            AND state = #{state}
        </if>
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        ORDER BY order_value DESC,create_time DESC
    </select>

    <select id="sellTemplateDetail"
            resultType="com.futurecraftsmen.pms.pas.service.po.template.SellTemplateModel">
        SELECT primary_key as templateCode,
        template_name,
        type,
        order_value,
        buyer,
        seller,
        enterprise_code as ownedEnterpriseCode,
        sell_template_belong as userCode,
        user_name,
        language,
        payment_strategy,
        product_grade,
        column_titles,
        amount_title,
        state,
        clauses_chs,
        clauses_en,
        temp_data,
        data_version,
        create_time,
        update_time,
        delete_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{currentEnterpriseCode}
        AND primary_key = #{templateCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        <if test="visibleAll == false">
            AND delete_flag= 'f'
        </if>
    </select>

    <update id="updateOrderValue">
        UPDATE ${tableName}
        SET order_value = #{model.orderValue},
        data_version = #{model.dataVersion}
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.templateCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        AND data_version = #{clientDataVersion}
        AND delete_flag= 'f'
    </update>


    <update id="updateTempData">
        UPDATE ${tableName}
        SET temp_data = #{model.tempData}
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.templateCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </update>


    <update id="clearTempData">
        UPDATE ${tableName}
        SET temp_data = NULL
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.templateCode}
        AND temp_data IS NOT NULL
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
    </update>

    <update id="save">
        UPDATE ${tableName}
        SET
        template_name = #{model.templateName},
        buyer = #{model.buyer},
        seller = #{model.seller},
        language = #{model.language},
        payment_strategy = #{model.paymentStrategy},
        product_grade = #{model.productGrade},
        column_titles = #{model.columnTitles},
        amount_title = #{model.amountTitle},
        clauses_chs = #{model.clausesChs},
        clauses_en = #{model.clausesEn},
        state = #{model.state},
        temp_data = null,
        data_version = #{model.dataVersion},
        delete_flag = 'f'
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.templateCode}
        <if test="dataScopeParams.dataScope != null">
            ${dataScopeParams.dataScope}
        </if>
        AND data_version = #{clientDataVersion}
    </update>


</mapper>