<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.SellQuotationFilingDao">


    <insert id="addFilling">
        INSERT INTO ${tableName}
        (primary_key,
         enterprise_code,
         seller,
         customer,
         sell_quotation,
         buyer_name,
         quotation_number,
         filing_time,
         remark,
         payment_strategy,
         quotation_amount,
         deal_time,
         deal_amount,
         business_belong,
         read_flag)
        VALUES (#{model.filingCode},
                #{model.enterpriseCode},
                #{model.seller},
                #{model.customer},
                #{model.sellQuotation},
                #{model.buyerName},
                #{model.quotationNumber},
                #{model.filingTime},
                #{model.remark},
                #{model.paymentStrategy},
                #{model.quotationAmount},
                #{model.dealTime},
                #{model.dealAmount},
                #{model.businessBelong},
                false)
    </insert>


    <update id="updateFillingAfterSellQuotationUpdate">
        UPDATE ${tableName}
        SET customer =  #{model.customer},
            buyer_name =  #{model.buyerName},
         quotation_number = #{model.quotationNumber},
         payment_strategy = #{model.paymentStrategy},
         quotation_amount =  #{model.quotationAmount},
         deal_time =  #{model.dealTime},
         deal_amount = #{model.dealAmount}
        WHERE primary_key =#{model.filingCode}
          AND enterprise_code = #{model.enterpriseCode}
    </update>

    <update id="updateFillingAfterContractUpdate">
        UPDATE ${tableName}
        SET
            deal_amount = #{dealAmount}
        WHERE sell_quotation =#{sellQuotationCode}
          AND enterprise_code = #{enterpriseCode}
    </update>

    <update id="updateReadFlagByCode">
        UPDATE ${tableName}
        SET
            read_flag = true
        WHERE primary_key =#{filingCode}
          AND enterprise_code = #{enterpriseCode}
    </update>

    <select id="page">
        SELECT primary_key as filingCode,
        enterprise_code,
        buyer_name,
        seller,
        customer,
        sell_quotation,
        quotation_number,
        filing_time,
        remark,
        payment_strategy,
        quotation_amount,
        deal_time,
        deal_amount,
        business_belong,
        read_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND delete_flag= 'f'
        <if test="buyerName != null and buyerName !=''">
            AND buyer_name LIKE '%'|| #{buyerName} ||'%'
        </if>
        <if test="sellers != null and sellers.size()!=0">
            AND seller IN
            <foreach collection="sellers" index="index" item="seller" open="(" separator="," close=")">
                #{seller}
            </foreach>
        </if>
        <if test="paymentStrategy != null and paymentStrategy !=''">
            AND payment_strategy LIKE '%'|| #{paymentStrategy} ||'%'
        </if>
        <if test="filingTimePreDate != null">
            AND filing_time &gt;= #{filingTimePreDate}
        </if>
        <if test="filingTimePostDate != null">
            AND filing_time &lt;= #{filingTimePostDate}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        ORDER BY id DESC
    </select>


</mapper>