<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.comprehensive.staff.IStaffRecordMapper">


    <select id="getStaffRecordPageList" resultType="com.futurecraftsmen.pms.pas.api.rpc.comprehensive.staff.StaffRecordDTO">
        select
            stf.staff_sign as staffSign,
            stf.phone,
            stf.enable_flag as enableFlag,
            stf.primary_key as staffCode,
            stfr.primary_key as primaryKey,
            stfr.unity_no AS unityNo,
            coalesce(stfr.sex,r.sex) AS sex,
            stfr.age AS age,
            coalesce(stfr.id_card,r.id_number) AS idCard,
            d.department_sign AS departmentSign,
            p.post_sign AS postSign,
            stfr.contract_date AS contractDate,
            stfr.contract_allotted AS contractAllotted,
            stfr.address AS address,
            stfr.birth_date AS birthDate,
            stfr.remark AS remark,
            stfr.technical_level AS technicalLevel,
            stfr.degree AS degree,
            stfr.major AS major,
            stfr.speciality AS speciality,
            stfr.photo AS photo,
            stfr.graduate_school AS graduateSchool,
            r.education
        from
            ${staffTableName} stf
        left join ${staffRecordTableName} stfr on stf.primary_key = stfr.staff_code
        left join ${departmentTableName} d on stf.department = d.primary_key
        left join ${postTableName} p on stf.post = p.primary_key
        left join (WITH RankedResumes AS (
        SELECT *,
        ROW_NUMBER() OVER (PARTITION BY phone ORDER BY id DESC) AS rn
        FROM ${resumeTableName}
        WHERE delete_flag = false AND is_employed = true
        )
        SELECT *
        FROM RankedResumes
        WHERE rn = 1)  r on stf.phone = r.phone
        where stf.delete_flag = false
        and stf.enterprise_code = #{enterpriseCode}
        and stf.type in (1,3,5,7)
        <if test="requestData.staffSign != null and requestData.staffSign != ''">
            and stf.staff_sign like '%'|| #{requestData.staffSign} ||'%'
        </if>
        <if test="requestData.unityNo != null and requestData.unityNo != ''">
            and stfr.unity_no like '%'|| #{requestData.unityNo} ||'%'
        </if>
        <if test="requestData.phone != null and requestData.phone != ''">
            and stf.phone like '%'|| #{requestData.phone} ||'%'
        </if>
        <if test="requestData.sex != null">
            and (stfr.sex = #{requestData.sex} or r.sex = #{requestData.sex})
        </if>
        <if test="requestData.startYear != null">
            and stfr.contract_date is not null and stfr.contract_allotted is not null
            AND ( EXTRACT(YEAR FROM stfr.contract_date) &gt;= EXTRACT(YEAR FROM CAST(#{requestData.startYear} AS DATE)))
        </if>
        <if test="requestData.endYear != null">
            AND (EXTRACT(YEAR FROM stfr.contract_date +
            CASE WHEN stfr.contract_allotted IS NULL THEN '0 years'::interval
            ELSE (stfr.contract_allotted || ' years')::interval
            END) &lt;= EXTRACT(YEAR FROM CAST(#{requestData.endYear} AS DATE)))
        </if>
        <if test="requestData.codes !=null and requestData.codes.size() > 0">
            AND stf.primary_key IN
            <foreach collection="requestData.codes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        order by stf.id desc
        <if test="requestData.pageSize != null and requestData.offset != null
              and requestData.pageSize > 0 and requestData.offset >=0">
            LIMIT #{requestData.pageSize} OFFSET #{requestData.offset}
        </if>
    </select>

    <select id="getStaffRecordByPhoneList" resultType="com.futurecraftsmen.pms.pas.api.rpc.comprehensive.staff.StaffRecordDTO">
        select
            stf.staff_sign as staffSign,
            stf.phone,
            stf.enable_flag as enableFlag,
            stf.primary_key as staffCode,
            stfr.primary_key as primaryKey,
            stfr.unity_no AS unityNo,
            stfr.sex AS sex,
            stfr.age AS age,
            stfr.id_card AS idCard,
            d.department_sign AS departmentSign,
            p.post_sign AS postSign,
            stfr.contract_date AS contractDate,
            stfr.contract_allotted AS contractAllotted,
            stfr.address AS address,
            stfr.birth_date AS birthDate,
            stfr.remark AS remark,
            stfr.technical_level AS technicalLevel,
            stfr.degree AS degree,
            stfr.major AS major,
            stfr.speciality AS speciality,
            stfr.photo AS photo,
            stfr.graduate_school AS graduateSchool
        from
            ${staffTableName} stf
                left join ${staffRecordTableName} stfr on stf.primary_key = stfr.staff_code
                left join ${departmentTableName} d on stf.department = d.primary_key
                left join ${postTableName} p on stf.post = p.primary_key
        where stf.delete_flag = false
          and stf.enterprise_code = #{enterpriseCode}
          and stf.type in (1,3,5,7)
        <if test="list !=null and list.size() > 0">
            AND stf.phone IN
            <foreach collection="list" item="phone" open="(" separator="," close=")">
                #{phone}
            </foreach>
        </if>
    </select>

    <update id="updateBatchByPrimaryKey">
        <foreach collection="upList" item="item" index="index" separator=";">
            UPDATE ${staffRecordTableName}
            SET
            technical_level = #{item.technicalLevel},
            sex = #{item.sex},
            degree = #{item.degree},
            major = #{item.major},
            age = #{item.age},
            speciality = #{item.speciality},
            contract_allotted = #{item.contractAllotted},
            address = #{item.address},
            unity_no = #{item.unityNo},
            remark = #{item.remark},
            birth_date = #{item.birthDate},
            contract_date = #{item.contractDate},
            photo = #{item.photo},
            graduate_school = #{item.graduateSchool},
            id_card = #{item.idCard},
            update_time = now()
            WHERE primary_key = #{item.primaryKey}
        </foreach>
    </update>

</mapper>