<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.quotation.TempCustomerQuotationDao">

    <insert id="addVisibleData">
        INSERT INTO ${tableName} (primary_key, type, quotation_name, quotation_number,
                                  buyer, seller, enterprise_code,customer_code,customer_contact,
                                  user_code, language, payment_strategy, column_titles,
                                  amount_title, product_detail, clauses_chs, clauses_en,
                                  quotation_time, state, data_version,
                                  sell_quotation, sign_areas, delete_flag)
        VALUES (#{model.quotationCode}, #{model.type}, #{model.quotationName}, #{model.quotationNumber},
                #{model.buyer}, #{model.seller},
                #{model.ownedEnterpriseCode}, #{model.customerCode}, #{model.customerContactCode}, #{model.userCode},
                #{model.language},
                #{model.paymentStrategy}, #{model.columnTitles}, #{model.amountTitle},
                #{model.productDetail},
                #{model.clausesChs}, #{model.clausesEn}, #{model.quotationTime}, #{model.state}, #{model.dataVersion},
                #{model.sellQuotation}, #{model.signAreas}, 'f')
    </insert>


        <select id="tempCustomerQuotationDetail" resultType="com.futurecraftsmen.pms.pas.service.po.quotation.TempCustomerQuotationModel">
            SELECT  primary_key as quotationCode ,type , quotation_name, quotation_number,
            buyer, seller, enterprise_code as ownedEnterpriseCode,customer_code,customer_contact as customerContactCode,
            user_code as userCode, language, payment_strategy, column_titles,
            amount_title, product_detail,clauses_chs,clauses_en,quotation_time, state,
            data_version,
            sell_quotation,sign_areas,delete_flag
            FROM ${tableName}
            WHERE
            enterprise_code= #{enterpriseCode}
            AND primary_key = #{quotationCode}
            AND user_code = #{userCode}
        </select>

        <update id="compareDataVersionAndUpdate">
            UPDATE ${tableName}
            SET quotation_name   = #{model.quotationName},
                buyer            = #{model.buyer},
                seller           = #{model.seller},
                language         = #{model.language},
                payment_strategy = #{model.paymentStrategy},
                column_titles    = #{model.columnTitles},
                amount_title     = #{model.amountTitle},
                clauses_chs       = #{model.clausesChs},
                clauses_en        = #{model.clausesEn},
                product_detail   = #{model.productDetail},
                state            = #{model.state},
                quotation_time   = #{model.quotationTime},
                sign_areas       = #{model.signAreas},
                data_version     = #{model.dataVersion},
                delete_flag      = 'f'
            WHERE enterprise_code = #{model.ownedEnterpriseCode}
              AND primary_key = #{model.quotationCode}
              AND data_version = #{clientDataVersion}
        </update>

    <select id="page" resultType="com.futurecraftsmen.pms.pas.service.po.quotation.TempCustomerQuotationModel">
        SELECT  primary_key as quotationCode ,type , quotation_name, quotation_number,
        buyer, seller, enterprise_code as ownedEnterpriseCode,customer_code,customer_contact as customerContactCode,
        user_code as userCode, language, payment_strategy, column_titles,
        amount_title, product_detail,clauses_chs,clauses_en,quotation_time, state,
        data_version,
        sell_quotation,sign_areas,delete_flag
        FROM  ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND user_code = #{userCode}
        AND delete_flag= 'f'
        <if test="quotationNumber != null and quotationNumber !=''">
            AND quotation_number LIKE '%'|| #{quotationNumber} ||'%'
        </if>
        <if test="state != null ">
            AND state = #{state}
        </if>
        <if test="quotationTimePreDate != null">
            AND quotation_time &gt;= #{quotationTimePreDate}
        </if>
        <if test="quotationTimePostDate != null">
            AND quotation_time &lt;= #{quotationTimePostDate}
        </if>
        ORDER BY create_time DESC
    </select>





    <delete id="deleteWhileReturnQuotation">
        DELETE FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{quotationCode}
          AND data_version = #{clientDataVersion}
    </delete>


    <update id="updateState">
        UPDATE ${tableName}
        SET state = #{model.state}
        WHERE enterprise_code = #{model.ownedEnterpriseCode}
          AND primary_key = #{model.quotationCode}
          AND data_version = #{clientDataVersion}
    </update>


</mapper>