<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.contract.TempVenderContractDao">


    <resultMap id="TempVenderContractModel"
               type="com.futurecraftsmen.pms.pas.service.po.newContract.TempVenderContractModel">
        <result column="primary_key" property="contractCode"/>
        <result column="source" property="source"/>
        <result column="contract_name" property="contractName"/>
        <result column="contract_number" property="contractNumber"/>
        <result column="contract_type" property="contractType"/>
        <result column="buyer" property="buyer"/>
        <result column="seller" property="seller"/>
        <result column="enterprise_code" property="ownedEnterpriseCode"/>
        <result column="vender_code" property="venderCode"/>
        <result column="vender_contact" property="venderContact"/>
        <result column="user_code" property="userCode"/>
        <result column="language" property="language"/>
        <result column="payment_strategy" property="paymentStrategy"/>
        <result column="column_titles" property="columnTitles"/>
        <result column="amount_title" property="amountTitle"/>
        <result column="state" property="state"/>
        <result column="clauses_chs" property="clausesChs"/>
        <result column="clauses_en" property="clausesEn"/>
        <result column="product_detail" property="productDetail"/>
        <result column="contract_time" property="contractTime"/>
        <result column="data_version" property="dataVersion"/>
        <result column="sign_areas" property="signAreas"/>
        <result column="purchase_contract" property="purchaseContract"/>
        <result column="sell_quotation" property="sellQuotation"/>
        <result column="buyer_quotation" property="buyerQuotation"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="attachments" property="attachments" jdbcType="ARRAY"
                typeHandler="com.futurecraftsmen.pms.service.domain.ArrayTypeHandler"/>
        <result column="temp_data" property="tempData"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="qrcode_generated_flag" property="qrcodeGeneratedFlag"/>
    </resultMap>

    <insert id="addVisibleData">
        INSERT INTO ${tableName} (primary_key, source, contract_name, contract_number, contract_type,
                                  buyer, seller, vender_code,vender_contact, enterprise_code,
                                  user_code,  language, payment_strategy, column_titles,
                                  amount_title, state, clauses_chs, clauses_en, product_detail,
                                  contract_time, data_version,
                                  sign_areas, purchase_contract, sell_quotation, buyer_quotation, temp_data,
                                  attachments,delete_flag,business_belong)
        VALUES (#{model.contractCode}, #{model.source}, #{model.contractName}, #{model.contractNumber},
                #{model.contractType},
                #{model.buyer}, #{model.seller}, #{model.venderCode},#{model.venderContact},
                #{model.ownedEnterpriseCode}, #{model.userCode},  #{model.language},
                #{model.paymentStrategy},  #{model.columnTitles}, #{model.amountTitle},
                #{model.state},
                #{model.clausesChs}, #{model.clausesEn},
                #{model.productDetail}, #{model.contractTime}, #{model.dataVersion},
                #{model.signAreas}, #{model.purchaseContract}, #{model.sellQuotation}, #{model.buyerQuotation}, null,
                #{model.attachments}, 'f',#{model.businessBelong})
    </insert>



    <select id="page" resultMap="TempVenderContractModel">
        SELECT primary_key, source, contract_name, contract_number,contract_type,
        buyer,seller, vender_code,vender_contact, enterprise_code,
        user_code, language, payment_strategy, column_titles,
        amount_title, product_detail,
        state,contract_time, data_version,
        sign_areas,purchase_contract,sell_quotation,buyer_quotation,cancel_reason,
        delete_flag,business_belong
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND user_code = #{userCode}
        AND delete_flag= 'f'
        <if test="contractNumber != null and contractNumber !=''">
            AND contract_number LIKE '%'|| #{contractNumber} ||'%'
        </if>
        <if test="contractTimePreDate != null">
            AND contract_time &gt;= #{contractTimePreDate}
        </if>
        <if test="contractTimePostDate != null">
            AND contract_time &lt;= #{contractTimePostDate}
        </if>
        <if test="businessBelong != null and businessBelong !=''">
            AND business_belong = #{businessBelong}
        </if>
        ORDER BY create_time DESC
    </select>



    <select id="detail" resultMap="TempVenderContractModel">
        SELECT primary_key, source, contract_name, contract_number, contract_type,
        buyer, seller, vender_code,vender_contact, enterprise_code,
        user_code,  language, payment_strategy, column_titles,
        amount_title, state, clauses_chs, clauses_en, product_detail,
        contract_time, data_version,
        sign_areas, purchase_contract, sell_quotation, buyer_quotation, temp_data,
        attachments,business_belong,qrcode_generated_flag
        FROM ${tableName}
        WHERE
        enterprise_code= #{enterpriseCode}
        AND user_code= #{userCode}
        AND primary_key= #{contractCode}
    </select>

    <select id="detailForInner" resultMap="TempVenderContractModel">
        SELECT primary_key, source, contract_name, contract_number, contract_type,
               buyer, seller, vender_code,vender_contact, enterprise_code,
               user_code,  language, payment_strategy, column_titles,
            amount_title, state, clauses_chs, clauses_en, product_detail,
            contract_time, data_version,
            sign_areas, purchase_contract, sell_quotation, buyer_quotation, temp_data,
            attachments
        FROM ${tableName}
        WHERE
            enterprise_code= #{enterpriseCode}
          AND primary_key= #{contractCode}
    </select>

<!--    <select id="queryByContractCodes">-->
<!--        SELECT primary_key as contractCode, state,sell_order-->
<!--        FROM ${tableName}-->
<!--        WHERE-->
<!--        enterprise_code= #{enterpriseCode}-->
<!--        <if test="visibleAll == false">-->
<!--            AND delete_flag= 'f'-->
<!--        </if>-->
<!--        AND primary_key  IN-->
<!--        <foreach collection="contractCodes" index="index" item="contractCode" open="(" separator="," close=")">-->
<!--            #{contractCode}-->
<!--        </foreach>-->
<!--    </select>-->


<!--    <select id="sellContractDetailForInner" resultMap="SellContractModel">-->
<!--        SELECT primary_key,-->
<!--               source,-->
<!--               contract_name,-->
<!--               contract_number,-->
<!--               contract_type,-->
<!--               buyer,-->
<!--               buyer_name,-->
<!--               seller,-->
<!--               customer_code,-->
<!--               enterprise_code,-->
<!--               user_code,-->
<!--               user_name, language, payment_strategy, column_titles,-->
<!--               amount_title, product_detail, clauses_chs, clauses_en, state,-->
<!--               contract_time, data_version, sign_areas, purchase_contract, sell_quotation,-->
<!--               buyer_quotation, temp_data, signed_contract, cancel_reason,sell_order,attachments, delete_flag-->
<!--        FROM ${tableName}-->
<!--        WHERE-->
<!--            enterprise_code= #{enterpriseCode}-->
<!--          AND delete_flag= 'f'-->
<!--          AND primary_key= #{contractCode}-->
<!--    </select>-->


<!--    <update id="clearTempData">-->
<!--        UPDATE ${tableName}-->
<!--        SET temp_data = NULL-->
<!--        WHERE-->
<!--            enterprise_code= #{model.ownedEnterpriseCode}-->
<!--          AND primary_key = #{model.contractCode}-->
<!--          AND temp_data IS NOT NULL-->
<!--        <if test="dataScopeParams.dataScope != null">-->
<!--            ${dataScopeParams.dataScope}-->
<!--        </if>-->
<!--    </update>-->


<!--    <delete id="deleteSellContract">-->
<!--        DELETE FROM ${tableName}-->
<!--        WHERE-->
<!--        enterprise_code= #{enterpriseCode}-->
<!--        AND primary_key = #{contractCode}-->
<!--        <if test="dataScopeParams.dataScope != null">-->
<!--            ${dataScopeParams.dataScope}-->
<!--        </if>-->
<!--    </delete>-->

<!--    <update id="updateTempData">-->
<!--        UPDATE ${tableName}-->
<!--        SET temp_data = #{model.tempData}-->
<!--        WHERE-->
<!--        enterprise_code= #{model.ownedEnterpriseCode}-->
<!--        AND primary_key = #{model.contractCode}-->
<!--        <if test="dataScopeParams.dataScope != null">-->
<!--            ${dataScopeParams.dataScope}-->
<!--        </if>-->
<!--    </update>-->

<!--    <select id="countByContractNumberAndCustomerCode" resultType="int">-->
<!--        SELECT COUNT(id)-->
<!--        FROM ${tableName}-->
<!--        WHERE enterprise_code = #{enterpriseCode}-->
<!--        <if test="customerCode != null">-->
<!--            AND customer_code = #{customerCode}-->
<!--        </if>-->
<!--          AND primary_key != #{excludeContractCode}-->
<!--          AND contract_number = #{contractNumber}-->
<!--          AND delete_flag = 'f'-->
<!--    </select>-->

    <update id="compareDataVersionAndUpdate">
        UPDATE ${tableName}
        SET
        contract_name = #{model.contractName},
        contract_number = #{model.contractNumber},
        buyer= #{model.buyer},
        seller = #{model.seller},
        language = #{model.language},
        payment_strategy = #{model.paymentStrategy},
        column_titles = #{model.columnTitles},
        amount_title= #{model.amountTitle},
        clauses_chs = #{model.clausesChs},
        clauses_en = #{model.clausesEn},
        product_detail = #{model.productDetail},
        contract_time = #{model.contractTime},
        temp_data = null,
        state= #{model.state},
        sign_areas = #{model.signAreas},
        purchase_contract = #{model.purchaseContract},
        sell_quotation = #{model.sellQuotation},
        buyer_quotation = #{model.buyerQuotation},
        cancel_reason = #{model.cancelReason},
        attachments = #{model.attachments},
        data_version = #{model.dataVersion},
        delete_flag = 'f'
        WHERE
        enterprise_code= #{model.ownedEnterpriseCode}
        AND primary_key = #{model.contractCode}
        AND data_version = #{clientDataVersion}
    </update>


<!--    <update id="compareDataVersionAndUpdateInner">-->
<!--        UPDATE ${tableName}-->
<!--        SET contract_name     = #{model.contractName},-->
<!--            contract_number   = #{model.contractNumber},-->
<!--            buyer= #{model.buyer},-->
<!--            buyer_name= #{model.buyerName},-->
<!--            seller            = #{model.seller},-->
<!--            customer_code     = #{model.customerCode},-->
<!--            user_code         = #{model.userCode},-->
<!--            user_name         = #{model.userName},-->
<!--            language          = #{model.language},-->
<!--            payment_strategy  = #{model.paymentStrategy},-->
<!--            column_titles     = #{model.columnTitles},-->
<!--            amount_title= #{model.amountTitle},-->
<!--            clauses_chs       = #{model.clausesChs},-->
<!--            clauses_en        = #{model.clausesEn},-->
<!--            product_detail    = #{model.productDetail},-->
<!--            contract_time     = #{model.contractTime},-->
<!--            temp_data         = null,-->
<!--            state= #{model.state},-->
<!--            sign_areas        = #{model.signAreas},-->
<!--            purchase_contract = #{model.purchaseContract},-->
<!--            sell_quotation    = #{model.sellQuotation},-->
<!--            buyer_quotation   = #{model.buyerQuotation},-->
<!--            signed_contract   = #{model.signedContract},-->
<!--            cancel_reason     = #{model.cancelReason},-->
<!--            sell_order        = #{model.sellOrder},-->
<!--            attachments = #{model.attachments},-->
<!--            data_version      = #{model.dataVersion},-->
<!--            delete_flag       = 'f'-->
<!--        WHERE enterprise_code = #{model.ownedEnterpriseCode}-->
<!--          AND primary_key = #{model.contractCode}-->
<!--          AND data_version = #{clientDataVersion}-->
<!--    </update>-->

    <delete id="deleteWhileReturnContract">
        DELETE
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{contractCode}
          AND data_version = #{clientDataVersion}
    </delete>

    <update id="updateQrcodeGeneratedFlag">
        UPDATE ${tableName}
        SET qrcode_generated_flag = #{qrcodeGeneratedFlag}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{contractCode}
    </update>

    <delete id="delete">
        DELETE
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND primary_key = #{contractCode}
          AND data_version = #{clientDataVersion}
    </delete>


    <update id="updateWhileProductDetailChangedAfterSigned">
        UPDATE ${tableName}
        SET product_detail = #{model.productDetail},
            data_version   = #{model.dataVersion}
        WHERE enterprise_code = #{model.ownedEnterpriseCode}
          AND primary_key = #{model.contractCode}
    </update>

</mapper>