<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.WarehouseStockDao">



    <resultMap id="WarehouseStockModel" type="com.futurecraftsmen.pms.pas.service.po.WarehouseStockModel">
        <result column="primary_key" property="stockCode"/>
        <result column="product_part_code" property="productPartCode"/>
        <result column="total_inventory" property="totalInventory"/>
        <result column="lock_in_inventor" property="lockInInventor"/>
        <result column="stock_limit" property="stockLimit"/>
        <result column="safe_inventory" property="safeInventory"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="queryEnableStocks" resultMap="WarehouseStockModel">
        SELECT
        primary_key,
        product_part_code,
        total_inventory,
        lock_in_inventor,
        stock_limit,
        safe_inventory,
        state
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        AND state = 't'
        AND product_part_code IN
        <foreach collection="productPartCodes" index="index" item="productPartCode" open="(" separator="," close=")">
            #{productPartCode}
        </foreach>
    </select>


</mapper>