<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Zhongzao Software Co. LTD 2022-2062 All rights reserved
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.pas.service.dao.WarehouseInventoryDao">



    <resultMap id="WarehouseInventoryModel" type="com.futurecraftsmen.pms.pas.service.po.WarehouseInventoryModel">
        <result column="primary_key" property="inventoryRecordCode"/>
        <result column="product" property="product"/>
        <result column="part" property="part"/>
        <result column="total_inventory" property="totalInventory"/>
        <result column="lock_in_inventor" property="lockInInventor"/>
    </resultMap>

    <select id="queryMaterialInventories" resultMap="WarehouseInventoryModel">
        SELECT
        primary_key,
        product,
        part,
        total_inventory,
        lock_in_inventor
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
        <if test="productMaterial == true">
            AND product IN
            <foreach collection="materialCodes" index="index" item="materialCode" open="(" separator="," close=")">
                #{materialCode}
            </foreach>
        </if>
        <if test="productMaterial == false">
            AND part IN
            <foreach collection="materialCodes" index="index" item="materialCode" open="(" separator="," close=")">
                #{materialCode}
            </foreach>
        </if>
        <if test="productMaterial == null">
            AND (
            product IN
            <foreach collection="materialCodes" index="index" item="materialCode" open="(" separator="," close=")">
                #{materialCode}
            </foreach>
            OR part IN
            <foreach collection="materialCodes" index="index" item="materialCode" open="(" separator="," close=")">
                #{materialCode}
            </foreach>
            )
        </if>
    </select>


</mapper>