<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.feedback.IFeedbackDetailMapper">


    <!--    <resultMap id="FeedBackModel"-->
    <!--               type="com.futurecraftsmen.pms.technical.service.domain.feedback.FeedBackModel">-->
    <!--        <result column="primary_key" property="feedbackCode"/>-->
    <!--        <result column="contract_code" property="contractCode"/>-->
    <!--        <result column="buss_number" property="bussNumber"/>-->
    <!--        <result column="purchaser" property="purchaser"/>-->
    <!--        <result column="state" property="state"/>-->
    <!--        <result column="enterprise_code" property="enterpriseCode"/>-->
    <!--    </resultMap>-->


    <insert id="addFeedbackDetail">
        INSERT INTO ${tableName}
        (primary_key,
         feedback_code, purchase_contract, contract_product, name, model, material_code, receive, inspection, feedback_num, pcs_in_contract,
         conclusion, demand, feedback_time, result, handle_time, enterprise_code, inspect_id)
        VALUES (#{model.feedbackDetailCode}, #{model.feedbackCode}, #{model.purchaseContract}, #{model.contractProduct},
                #{model.name},
                #{model.model}, #{model.materialCode}, #{model.receive}, #{model.inspection}, #{model.feedbackNum}, #{model.pcsInContract},
                #{model.conclusion}, #{model.demand},
                #{model.feedbackTime}, #{model.result}, #{model.handleTime}, #{model.enterpriseCode},
                #{model.inspectId})

    </insert>


    <insert id="addFeedbackDetails">
        INSERT INTO ${tableName}
        (primary_key,
        feedback_code,purchase_contract,contract_product,name,model,material_code,receive,inspection,feedback_num,pcs_in_contract,conclusion,demand,feedback_time,result,handle_time,enterprise_code)
        VALUES
        <foreach collection="models" index="index" item="model" separator=",">
            ( #{model.feedbackDetailCode}, #{model.feedbackCode},#{model.purchaseContract}, #{model.contractProduct},
            #{model.name},
            #{model.model},#{model.materialCode},#{model.receive},#{model.inspection},#{model.feedbackNum},#{model.pcsInContract},#{model.conclusion},#{model.demand},
            #{model.feedbackTime},#{model.result},#{model.handleTime},#{model.enterpriseCode})
        </foreach>
    </insert>

</mapper>