<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurecraftsmen.pms.technical.service.dao.feedback.IFeedbackMapper">


    <resultMap id="FeedBackModel"
               type="com.futurecraftsmen.pms.technical.service.domain.feedback.FeedBackModel">
        <result column="primary_key" property="feedbackCode"/>
        <result column="contract_code" property="contractCode"/>
        <result column="buss_number" property="bussNumber"/>
        <result column="seller_enterprise" property="sellerEnterprise"/>
        <result column="seller_enterprise_code" property="sellerEnterpriseCode"/>
        <result column="seller_contract_code" property="sellerContractCode"/>
        <result column="seller_contact_name" property="sellerContactName"/>
        <result column="purchaser" property="purchaser"/>
        <result column="state" property="state"/>
        <result column="business_belong" property="businessBelong"/>
        <result column="enterprise_code" property="enterpriseCode"/>
    </resultMap>

    <select id="queryFeedBackByContractCode" resultMap="FeedBackModel">
        SELECT primary_key,
               contract_code,
               buss_number,
               seller_enterprise,
               seller_enterprise_code,
               seller_contract_code,
               seller_contact_name,
               purchaser,
               state,
               business_belong,
               enterprise_code
        FROM ${tableName}
        WHERE enterprise_code = #{enterpriseCode}
          AND contract_code = #{contractCode} LIMIT 1
    </select>


    <insert id="addFeedback">
        INSERT INTO ${tableName}
        (primary_key,
         contract_code,
         buss_number,
         seller_enterprise,
         seller_enterprise_code,
         seller_contract_code,
         seller_contact_name,
         purchaser,
         state,
         business_belong,
         enterprise_code)
        VALUES (#{model.feedbackCode},
                #{model.contractCode},
                #{model.bussNumber},
                #{model.sellerEnterprise},
                #{model.sellerEnterpriseCode},
                #{model.sellerContractCode},
                #{model.sellerContactName},
                #{model.purchaser},
                #{model.state},
                #{model.businessBelong},
                #{model.enterpriseCode})
    </insert>


    <update id="updateState">
        UPDATE ${tableName}
        SET state = #{state}
        WHERE enterprise_code = #{enterpriseCode}
          AND delete_flag = 'f'
          AND primary_key = #{feedBackCode}
    </update>

</mapper>